[2019-05-14 17:11] rbradford opened #2 "Add support for multiple disks"
In order to be able to configure with `cloud-init` we need to be able to support specifying multiple disks at start time.

[2019-05-14 17:25] rbradford opened #3 "Consider making virtio-rng on by default"
The number of situations where you don't want `virtio-rng` turned on are quite low. Maybe we should consider making it on by default.

[2019-05-14 22:29] sboeuf opened #4 "Add VFIO support"
As described in the goals for this project, we want cloud-hypervisor VMM to support direct device assignment that's achieved through VFIO.

Tracked through PR #60

TODO

* [x] Add VFIO bindings crate
* [x] Add VFIO API wrappers
* [x] Add VFIO PCI support
* [x] Map device memory regions into the guest
* [x] Remap host interrupts to guest ones
* [x] Add VFIO integration test
* [x] Add VFIO documenta

[2019-05-14 22:32] sboeuf opened #5 "Add control client to interact with VMM"
In order to update existing VMM resources, cloud-hypervisor needs to support a way to receive updates about those resources.

[2019-05-14 22:36] sboeuf opened #6 "Add support for Hardware-Reduced ACPI"
ACPI is not mandatory for every use cases, but depending on the guest OS that cloud-hypervisor will run, or depending on the need for supporting hotplug of CPU, memory and devices, ACPI will be mandatory.
That's why cloud-hypervisor should implement a way to provide ACPI tables to the guest.

[2019-05-14 22:38] sboeuf opened #7 "Add support for vhost-user"
This is a generic issue to globally track the work to support multiple vhost-user devices (backends).

Subtasks references:
- [x] vhost-user-net #8
- [x] vhost-user-fs #9
- [x] vhost-user-blk #130

[2019-05-14 22:40] sboeuf opened #8 "Add support for vhost-user-net"
In order to let users of cloud-hypervisor plug their own network backend, the VMM should support `vhost-user-net` daemons through a global `vhost-user-net` device.

[2019-05-14 22:40] sboeuf commented on #8
Subtask from #7

[2019-05-14 22:44] sboeuf opened #9 "Add support for virtio-fs"
In order to provide filesystem sharing available between host and guest, cloud-hypervisor needs to implement the `virtio-fs` device that will soon land in the virtio specification.

[2019-05-14 22:49] sboeuf opened #10 "Add support for virtio-serial"
`virtio-serial` can allow the cloud-hypervisor to remove the dependency on the legacy serial device, which would allow the VMM not to rely on legacy pin based interrupts.
Indeed, virtio-serial would be emulated over virtio-pci, which means we could rely on MSI/MSI-X.

[2019-05-14 22:50] sboeuf opened #11 "Add support for virtio-console"
Depends on #10

[2019-05-14 22:52] sboeuf opened #12 "Add MSI/MSI-X support to virtio-pci"
In order to rely on MSI/MSI-X interrupts instead of legacy pin based ones, cloud-hypervisor should support it.

[2019-05-14 22:54] sboeuf opened #13 "Move IOAPIC/PIC emulation to userspace"
When cloud-hypervisor VMM is used in conjunction with devices that require pin based interrupts, let's make sure the security of the VM is increased by providing the IOAPIC/PIC emulation through userspace components.

[2019-05-14 22:57] sboeuf opened #14 "Sandbox the VMM"
To increase the security of the VMM process and threads, it needs to be properly isolated. This can happen through several mechanisms, where seccomp can be one of them.

[2019-05-14 23:21] sameo opened #15 "kvm-ioctls does not point to crates.io"
The `kvm-ioctls` crates.io crate is stable and we should switch to it.

[2019-05-15 04:59] #15 closed

[2019-05-15 09:19] zhenyw commented on #4
FYI. We're trying to add VFIO support for crosvm. https://chromium-review.googlesource.com/c/chromiumos/platform/crosvm/+/1580455/1
Original purpose is to be used for VFIO mdev device e.g Intel vGPU. Hopefully that work could be picked into cloud-hypervisor or rust-vmm as well. Note that current support is still considered as experimental.

[2019-05-15 14:46] sboeuf commented on #4
@zhenyw oh this is great, thanks for pointing us to your code. Of course, this should be part of `rust-vmm`, so that both crosvm and cloud-hypervisor can benefit from it.

[2019-05-15 17:11] sameo commented on #4
@zhenyw Yes, we'd love for VFIO to be a rust-vmm crate that we could consume from cloud-hypervisor. I opened a rust-vmm community issue for that:
https://github.com/rust-vmm/community/issues/57

Could you describe the design of your current crosvm patchset there?
As rust-vmm lacks a PCI crate, I think we could initially start by working on adding the content of your `vfio.rs` there.

[2019-05-15 17:40] sboeuf commented on #12
Probably worth looking at this: https://chromium-review.googlesource.com/c/chromiumos/platform/crosvm/+/1581142/2 as an example/reference.

[2019-05-16 16:01] sboeuf opened #19 "Add a test framework"
The project needs CI, but this CI should rely on a test framework so that we can validate cloud-hypervisor is functional and any new code will not introduce any regression.
Each new feature should add the associated tests to the framework so that this feature gets tested from the beginning.

[2019-05-17 21:59] sameo opened #22 "unneeded 32-bit hole"
We're keeping a 768MB gap at the end of the 32-bit address space.
This is unneeded as we're not planning to support legacy 32-bit only devices (through a PCI hole).

[2019-05-18 16:13] bonzini commented on #22
What about VFIO-assigned devices that only have 32-bit BARs?

[2019-05-20 07:32] xiongzha commented on #4
When we implement VFIO in crosvm, we meet the following dependent feature which isn't supported in existing crates, so we should consider it in cloud-hypervisor early.
1. mmio space allocation, as crosvm doesn't reserve enough mmio and doesn't scan pci devices before resource allocation,  large mmio allocation is hard in crosvm.
2. MSI/MSI-x support
3. VFIO call KVM service at runtime. this means

[2019-05-20 11:46] terenceli opened #23 "suggestion: be compatible with qemu's interactive interface (command line/qmp)"
I think it will be more convenient if cloud-hypervisor can be compatible with qemu's interactive interface, such as the command line and qmp and so on. So the openstack/libvirt/qemu solution be replaced openstack/libvirt/cloud-hypervisor transparently.

Thanks,
Li Qiang

[2019-05-20 12:13] sameo commented on #23
@terenceli I'd rather add support to cloud-hypervisor into libvirt rather than trying to follow the QEMU command line.
And for an equivalent of QMP, we'll eventually have a rust-vmm REST interface, hopefully based on a rust-vmm driven definition.

[2019-05-20 13:56] rbradford opened #24 "cloud-hypervisor doesn't recognise Fedora QCOW (add support for QCOW2.)"
[code]

[2019-05-21 05:40] terenceli commented on #23
@sameo Also a good point.

[2019-05-21 14:41] sameo commented on #22
@bonzini Do you have examples of recent PCI devices that do only 32-bit BARs? For some sort of definition of `recent` :) ...

[2019-05-21 15:48] bonzini commented on #22
I would have to check, but isn't your new memory map covering the local APIC at 0xFEE00000 with RAM.

[2019-05-21 15:55] sboeuf commented on #22
Good point. Can we change this address?

[2019-05-21 16:02] bonzini commented on #22
There is an APIC base register (I don't remember how functional it is in KVM) but you cannot change the IOAPIC address, which is also under 4GB.

[2019-05-21 16:14] sboeuf commented on #22
I found some things in KVM:
[code]
So it should be interesting to try this out.

On the IOAPIC side of things, who's picking the address? Is it KVM?
I'm asking because if we can move the IOAPIC emulation to the VMM, we could decide about the address :)

[2019-05-21 17:09] bonzini commented on #22
Hmm, I remembered correctly:

[code]

The apic_base register also contains other things such as enable/disable, which is why it is there in `struct kvm_sregs`, but the address is fixed at `0xfee00000`. I don't remember offhand where the OS finds the address.

The IOAPIC address is in the MPTable IOAPIC struct, but the base address field in the struct is 32-bit only.

[2019-05-21 17:26] sameo opened #27 "Add resources freeing API for vm-allocator"
We should be able to free IO resources from the vm-allocator. Device hotplug and unplug is one use case for that.

[2019-05-22 05:44] #27 closed

[2019-05-22 16:47] #2 closed

[2019-05-22 22:37] sboeuf opened #31 "Improve command line parsing"
Instead of performing the command line parsing from the `DeviceManager`, the parsing of the options and their validity should happen as soon as possible, hence this should be done right after the parameters have been retrieved.

This will allow us to build a structure containing all the configurations that can be needed by the `Vm` and the `DeviceManager`. One example of this, the `Vm` needs to kn

[2019-05-22 22:38] sboeuf commented on #31
/cc @sameo @rbradford

[2019-05-23 16:36] fabiand opened #32 "Add support for SLIRP based networking"
I wonder if support for slipr (like through [libslirp](https://gitlab.freedesktop.org/slirp/libslirp) as used by [rootless-containers](https://github.com/rootless-containers/)) can be added in order to support mode which does not require CAP_NET_ADMIN capabilities.

[2019-05-23 20:03] sameo commented on #31
@sboeuf Could you elaborate on *performing the command line parsing from the DeviceManager* ?

[2019-05-23 20:30] sboeuf commented on #31
@sameo yes the problem is that we should parse and validate what is passed by the user as the first thing. If you look at https://github.com/intel/cloud-hypervisor/blob/master/vmm/src/vm.rs#L462 for instance, well we parse the input from the user too late.
We should decouple the part where the user input is parsed from the part where we provide the config to the Vm.
I'm working on this right now,

[2019-05-23 23:40] sboeuf commented on #32
Hi @fabiand,

Just to clarify, the CAP_NET_ADMIN caps is only needed when you expect the VMM to create the TAP interface for you. But in real life use case, I would expect the user to create the TAP interface so that our VMM does not need the mentioned caps.

Worth to mention that we're working on the support of network (and other devices) based on `vhost-user`. So we could definitely interface th

[2019-05-24 00:05] sboeuf commented on #4
@xiongzha oh thanks for raising this, I agree it's important if we can anticipate potential design issues that would prevent us from supporting VFIO.

I think this one should be easily solved by `cloud-hypervisor` as the `SystemAllocator` has a large address space (currently 64GiB). The scanning part needs to be done obviously before to call into the `SystemAllocator`.

Of course, we want to suppo

[2019-05-24 02:00] xiongzha commented on #4
Vfio call vmfd->create_device(), set_user_memory_region(), add_irq_route()  during guest is running,  when other device call vmfd->set_user_memory_region(), it should call vfio->MemMap() which add this memory region into iommu table also.  This means &mut vmfd should be passed into vfio, and &vfio fd should be passed into kvm(this is hard).  When sandbox is enabled, vfio device mode runs in child

[2019-05-24 03:14] ktian1 commented on #22
0xfee00000 is defined by SDM.

Also in the future if we plan to support ACPI, some BIOS/ACPI stuff also resides under 4G. I'm not sure whether this one is architecturally required, and whether OS imposes any limitation on that.

[2019-05-24 08:40] fabiand commented on #32
Great - I'm a little libvirt-biased and there this flow is not possible :) But yes, +1

That is crazy just to think about :)

[2019-05-24 16:08] #31 closed

[2019-05-27 05:13] liujing2 opened #35 "PIO resource alignment"
https://github.com/intel/cloud-hypervisor/blob/e5e651895b73c0fb74f649c182285d63cf97aeb3/vm-allocator/src/system.rs#L65

@sameo
What is the reason to set alignment as 0x400? When allocating PIO resource (e.g. 0xcf8), `available_range()`  got the `request_address != aligned_address` so return Err.

[2019-05-27 09:23] sameo commented on #35
@liujing2 That is a bug indeed. Probably a copy paste from crosvm, but crosvm does not use the IO addresses allocator API at all.

Please send a PR for this.

[2019-05-27 10:38] liujing2 commented on #35
Sure. It needs to be aligned as 0x4, right?

[2019-05-27 11:15] liujing2 commented on #35
https://github.com/intel/cloud-hypervisor/pull/36 is submitted

[2019-05-31 22:08] sboeuf commented on #13
Depends on completion of #12, as it will be easier to move the IOAPIC from kernel to userspace once the only thing using the IOAPIC will be the serial device.

[2019-06-04 15:03] rbradford opened #42 "Investigate APIC message"
When booting with multiple vcpus the following message reported by the kernel:

`[    0.002961] [Firmware Bug]: CPU1: APIC id mismatch. Firmware: 1 APIC: 3`

Let's investigate this whether this is a serious issue or not (the kernel still reports both vcpus in `/proc/cpuinfo`)

[2019-06-04 15:18] andreeaflorescu commented on #42
We had the same problem in Firecracker.
Issue: https://github.com/firecracker-microvm/firecracker/issues/222
and PR: https://github.com/firecracker-microvm/firecracker/pull/223

[2019-06-04 16:31] rbradford opened #43 "Long term integration testing"
Long term the integration tests need to do:

- [x] Create the cloud-config in Rust
- [x] Pick sequential IP addresses
- [x] Enable parallel testing
- [x] Direct kernel boot

[2019-06-04 16:33] rbradford commented on #35
This was fixed by #36

[2019-06-04 16:33] #35 closed

[2019-06-04 16:34] rbradford commented on #3
As a side effect of the changes in #31 virtio-rng is on all the time now.

[2019-06-04 16:34] #3 closed

[2019-06-05 01:20] chao-p commented on #42
No worry, it's not serious. I knew the issue long time ago and the reason is we miss some CPUID leaves for 0BH.

[2019-06-06 14:27] #12 closed

[2019-06-07 22:46] sboeuf commented on #42
@chao-p if you have some bandwidth, please assign the issue to yourself and fix it :)
Otherwise I can have a look, just let me know.

[2019-06-10 16:15] sboeuf opened #54 "Add test to check tsc deadline timer"
We should add a test to validate that CPUID feature `tsc_deadline_timer` has been enabled from inside our cloud-hypervisor VM. The problem we need to solve is to find how this feature can be enabled on Azure instances because unfortunately the Azure VM does not expose it.

[2019-06-10 16:18] sboeuf opened #55 "Add test to check presence of PIT"
We should add a test to verify if the Programmable Interval Timer (PIT) is present from a guest perspective. The problem is that Linux always expect to see either a PIT or an HPET, but does not consider that none of those will be present. And even if the guest does not use the PIT at all, Linux will always expose that a PIT is present.

[2019-06-13 02:27] sboeuf opened #58 "Create a do-not-merge label that prevents PR from being merged by mistake"
I think we should look into the existing Github plugins that would allow us to prevent PRs to be merged if someone set the `do-not-merge` label.

We also need to create the label but this is trivial.

[2019-06-13 02:28] sboeuf commented on #58
/cc @rbradford @sameo

[2019-06-13 05:06] #42 closed

[2019-06-13 14:43] konradwilk opened #59 "Slack"
Your invite link in the README.md has expired:

https://join.slack.com/t/cloud-hypervisor/shared_invite/enQtNjE5MzU2OTU2NjU5LTllNzIzYzNmYTc2ZjA4Mjg2YWQ2M2Q0MzE3ZDk2NTVhMjIwZGIwYjE4NGY3YTI2MzU3NTBjNDJhYTNlMjdiMmM

[2019-06-13 19:07] sboeuf commented on #59
Oh thanks for noticing. But I guess if we renew it, it's going to expire again at some point...
@sameo do you know if we can get some non-expiring slack invitation?

[2019-06-14 14:27] sameo opened #61 "Switch to the rust-vmm device model"
From https://github.com/rust-vmm/vm-device/pull/3

[2019-06-16 09:25] sameo opened #62 "Missing networking setup documentation"
We should document how to configure guest networking, up to having external connectivity from the guest.

[2019-06-16 09:28] sameo opened #63 "Add ioport based boot time measurement"
A la Firecracker, but extended:

- Use ioport 0x80
- Use "standard" debug values for taking various boot process timestamps.

[2019-06-16 09:29] sameo opened #64 "Measure cloud-hypervisor memory overhead"

[2019-06-17 10:19] sameo commented on #59
PR  #65 uses a permanent link.

[2019-06-17 13:19] #59 closed

[2019-06-17 14:10] sboeuf commented on #10
There's no such thing as virtio-serial, the only thing we need is virtio-console.

[2019-06-17 14:10] #10 closed

[2019-06-19 22:18] sboeuf opened #68 "Add support for virtio-pmem"
We need to add support for `virtio-pmem` if we want to expose some persistent memory to the guest, without using any ACPI.

[2019-06-20 11:04] bjzhjing commented on #8
Here is a high-level design picture shows how vhost-user-net will work with DPDK + OVS.
![vhost-user-net](https://user-images.githubusercontent.com/46661806/59844669-0df04500-938e-11e9-9060-d8b815ed454f.jpg)

[2019-06-20 14:37] sboeuf opened #70 "Support size suffix K,M,G"
For every input related to a size item (through the command line), we should support the notation K, M and G.
For instance, `1K` is `1024`, `1M` is `1048576` and `1G` is `1073741824`.

[2019-06-20 14:44] sboeuf opened #71 "Support multiple entries of the same device through the command line"
We want to be able to create multiple network interface, multiple pmem devices, etc... For this reason, we need to support multiple entries of the same device (`--net` for instance) through our command line.

[2019-06-21 08:09] #13 closed

[2019-06-21 21:18] sboeuf opened #72 "Add support for BAR reprogramming"
It would be interesting to assess how complicated it is to implement the BAR reprogramming mechanism.
The PCI specification states that the BARs of a PCI device can be reprogrammed to fit the needs from the software (can be firmware or guest OS in our case).

[2019-06-21 21:29] sboeuf opened #73 "Hypervisor trait"
In order to provide some abstraction over the type of hypervisor (KVM/hyper-v) being used, we should create an Hypervisor trait. This trait has to live into its own crate, and it would provide some implementation for KVM and Hyper-V I guess.

Just to clarify, we don't really need this trait/crate from a cloud-hypervisor perspective since we're not trying to support Hyper-V, but the goal is to be a

[2019-06-21 21:29] sboeuf commented on #73
/cc @sameo @chao-p @rbradford

[2019-06-24 01:04] yisun-git commented on #73
Hi, Sebastien,

I have done this on rust-vmm. Please refer below link.
https://github.com/rust-vmm/community/issues/50

BRs,
Sun Yi

On 19-06-21 14:29:55, Sebastien Boeuf wrote:

[2019-06-24 15:43] sboeuf commented on #73
@yisun-git nice! I think that's what's needed long term.
Did you get some progress on the rust-vmm side of things?
I think once you get something merged into rust-vmm, we should port it to cloud-hypervisor.

[2019-06-24 18:55] sboeuf commented on #61
#39 takes care of this

[2019-06-25 00:35] yisun-git commented on #73
On 19-06-24 08:43:27, Sebastien Boeuf wrote:

I have finished draft codes based on Firecracker and uploaded the codes
to my personal github repo. Hypervisor crate depends on Vcpu crate which
was refused by community because Hyper-V and KVM have much different
vcpu exit reasons. So Hypervisor crate and Vcpu crate are pending issues
on rust-vmm now. Andreea was interesting to both crates. She asked

[2019-06-25 14:48] yisun-git opened #75 "Live Migration"
Crate Name
==========================================================================
vm-live-migration

Short Description
==========================================================================
vm-live-migration crate abstracts the components used for live migration,
provides the interfaces to control the live migration and defines the flows
of live migration.

The upper layer which can respon

[2019-06-26 18:50] sboeuf opened #77 "Use bitflags for clearer code"
Whenever possible (thinking about MSI-X and IOAPIC right now), we should maybe use the `bitflags` Rust crate to simplify the code.

[2019-06-27 17:53] sboeuf opened #78 "Identify where unit tests can be added"
As the code base keeps growing, we need to take a moment to write some unit tests for the existing code.
I would expect this issue to stay opened long term, and instead please create some more fine granularity issues to explain which areas you tackled with the unit tests that you have implemented.

[2019-06-27 17:56] sboeuf commented on #78
/cc @sameo @rbradford @chao-p @liujing2 @bjzhjing @yangzhon

[2019-06-27 19:46] #9 closed

[2019-06-28 05:47] liujing2 opened #80 "clippy broken for latest commit"

[2019-06-28 05:47] liujing2 commented on #80
Commit c0336e8

[2019-06-30 13:20] sameo opened #81 "Add virtual IOMMU support"
A bare metal hypervisor should be able to run nested VMs with direct device assignments.
Also need for running our VFIO CI with cloud hypervisor only.

[2019-07-01 13:38] #68 closed

[2019-07-01 13:45] rbradford commented on #80
Travis is reporting all builds have been clean for sometime...https://www.travis-ci.com/intel/cloud-hypervisor/builds

[2019-07-01 13:45] #80 closed

[2019-07-02 13:56] sameo opened #83 "Fix the virtio PCI devices class and subclass values"
We are setting them to some constants while they should reflect the actual class of the device.

[2019-07-02 15:37] #83 closed

[2019-07-02 22:17] sameo opened #85 "Guest kernel complains about PCI class and header mismatch"
It seems our PCI bridge emulation is wrongly configured:

[code]

[2019-07-02 23:03] sameo opened #87 "Bus devices can not support multiple IO regions per device"
When registering a `Bus` device on either the MMIO or the PIO bus, we give it a start address and a size (i.e. a `BusRange`). We can insert several ranges per device, and typically a PCI device may want to register all its BARs on the MMIO bus.

Then, on a VM exit we resolve the address into a device, and call the device read/write handler for the exit with the **offset** of the exited address aga

[2019-07-08 05:39] #87 closed

[2019-07-08 22:17] sboeuf opened #90 "Disk option should not be mandatory"
Now that we have support for `virtio-pmem`, we can boot a VM directly from virtual persistent memory, hence `--disk` is not mandatory.

[2019-07-09 08:47] sameo commented on #75
I think this is ready to be sent to rust-vmm for a wider review there.
@rbradford @sboeuf @chao-p WDYT?

[2019-07-09 12:36] liujing2 opened #94 "vm-pci crate"
# Crate Name
vm-pci

# Short Description
vm-pci acts as a base crate focusing on PCI mechanism in rust-vmm. It follows 'vm-device' crate as the high level device interface, and defines common traits and structures to describe the behavior of PCI buses and devices.
vm-pci crate can be used by any PCI device implementation as well as devices using PCI as transportation mechanism, like virtio-pci.

#

[2019-07-09 13:56] chao-p commented on #75
Agree, we should post it to rust-vmm to get more reviews.

[2019-07-09 13:58] sboeuf commented on #75
To be honest, I didn't get the time to look through it yet, but I agree it'd be nice to have feedback from the community rather sooner than later.

[2019-07-09 14:22] #70 closed

[2019-07-09 17:55] #71 closed

[2019-07-09 17:57] rbradford opened #95 "Update README.md"
There have been a lot of changes to the command line behaviour we should check that the README is still correct.

[2019-07-09 19:05] sboeuf commented on #95
Yes that's true, here are a few things that comes to mind:
- multiple disks, networks, ... are supported and we should show how to use them
- memory and pmem `size=` now supports `K`, `M`, `G` suffixes
- add a dedicated doc for `pmem`, and show how to use it

[2019-07-09 19:58] #90 closed

[2019-07-09 20:00] sameo commented on #95
And a networking setup document as well. Maybe under `docs`, as a separate piece of documentation.

[2019-07-10 01:14] yisun-git commented on #75
Ok, I will post it to rust-vmm. Thanks!

[2019-07-10 02:29] yisun-git commented on #75
A crate addition request has been submitted on rust-vmm:
https://github.com/rust-vmm/community/issues/67

[2019-07-10 06:06] sameo opened #96 "Default memory size parameter is incorrect"
When booting without a `--memory` parameter, we get the following error:

[code]

[2019-07-10 06:08] rbradford commented on #96
Also shows we need test coverage for "default" behaviour.

[2019-07-10 06:35] #96 closed

[2019-07-10 07:53] #85 closed

[2019-07-11 10:54] rbradford opened #100 "Investigate using a single kernel in integration tests"
Currently we build two kernels in our integration tests. We should investigate if we can just build one kernel and use it for all the tests and see if that has a positive impact on our test run time. We're currently trending towards 30 minutes for a single test run.

[2019-07-11 14:34] sboeuf commented on #100
Moving forward, I hope we can have only one kernel, once both virtio-pmem and virtio-fs gets merged upstream.

[2019-07-12 09:33] valliscooper opened #102 "Add support for virtio-vsock"
To facillitate CH integration with the kata-runtime a vsock based communication path between the kata proxy running on the hypervisor host and the agent running inside the cloud hypervisor instance has to be supported. This implies virtio-vsock support in the cloud-hypervisor.

[2019-07-16 09:33] rbradford opened #105 "Investigate add_capability() test failing"
The test is in pci/src/configuration.rs and is currently marked as `#[ignore]`

[2019-07-16 11:24] rbradford commented on #100
Based on #107. Building the custom kernel is 1m9s for the checkout and 1m32s for the build. For a total of 2m41s approximately.

At 161s that is roughly the equivalent of running 3 of the tests (usually they report out at taking 50-60s before rebooting.)

This is probably not the right direction to be looking at for improving the CI time and instead should look at how to improve the individual tes

[2019-07-18 16:25] rbradford commented on #43
With #109 merged this is complete.

[2019-07-18 16:25] #43 closed

[2019-07-19 15:21] #24 closed

[2019-07-19 23:02] sboeuf opened #112 "Warning about how to reproduce integration tests locally"
I spent a lot of time debugging the integration tests today, trying to understand why on `master` I was not able to run successfully the tests on my machine.
The reason was very simple, the `clear-29810-cloud.img` located in my `$HOME/workloads` directory was already there from some previous testing, and I had used this image for some manual testing in the meantime associated with a `cloudinit.img

[2019-07-22 13:45] rbradford commented on #112
@sboeuf I think @sameo had the same problem with not realising a cloudinit runs at most once.

We could check the sha1sum of the images to make sure that they are "untainted". We'd probably want to distribute the raw version of the image if we do that in the azure bucket as qemu-img *might* not be deterministic.

[2019-07-24 09:57] sameo commented on #4
Closed with PR #60

[2019-07-24 09:57] #4 closed

[2019-07-24 09:58] sameo commented on #11
Closed with PR #79

[2019-07-24 09:58] #11 closed

[2019-07-24 10:04] sameo opened #116 "console and serial changes are not reflected in the README"
kernel command line is not accurate.

[2019-07-24 10:05] sameo opened #117 "VFIO support is not documented"

[2019-07-24 14:16] #116 closed

[2019-07-24 14:17] #117 closed

[2019-07-24 14:26] #100 closed

[2019-07-24 14:36] sameo opened #121 "Logger implementation"
The current logger for our `log` crate is `noop`, which means all our `warn!`, `error!`, etc macro calls are sent to `/dev/null`.

We need to implement or re-use a logger with the following requirements:

- Timestamp logging
- Module tags added to each log
- All logs could be streamed to stderr, stdout, or a log file.

[2019-07-24 14:37] sameo commented on #121
cc @rbradford

[2019-08-01 12:21] sameo opened #130 "Add support for vhost-user-blk"
In order to let cloud-hypervisor user select their virtio blk backend, we need to support vhost-user-blk.

Subtask from #7

[2019-08-01 13:38] sameo opened #131 "Support PVH boot"
See https://github.com/rust-vmm/linux-loader/issues/3 and https://xenbits.xen.org/docs/unstable/misc/pvh.html

[2019-08-01 13:41] sameo opened #132 "Windows guest support study"
2 high level steps:

* [ ] Define which windows we want to support
* [ ] Explore both the rust-hypervisor-firmware and the cloud-hypervisor consequences

[2019-08-01 13:41] sameo commented on #132
cc @rbradford @sboeuf @chao-p

[2019-08-01 13:46] sameo opened #133 "Initial live migration support"
See #75

[2019-08-02 08:38] rbradford opened #145 "vmm-sys-util needs a manual update"
Automatic bumping of this dependency is failing as it looks like cloud-hypervisor needs some changes to reflect the update.

[2019-08-02 08:39] rbradford commented on #145
@liujing2 please can you look into this.

[2019-08-02 12:34] sameo commented on #8
@bjzhjing @rbradford

Although this is a correct design, and likely one to be used in several production environments, we need something simpler for our default cloud-hypevisor networking setup and testing environment.

The current virtio implementation relies on a TAP interface for sending and receiving packets to and from the kernel. This is currently implemented in the virtio-net device itself.

[2019-08-02 12:45] sameo commented on #130
I have a similar comment as in https://github.com/intel/cloud-hypervisor/issues/8#issuecomment-517682967 :

We want to have our own, Rust based, vhost-user-blk backend and not use SPDK by default.

[2019-08-02 13:18] sameo commented on #130
cc @yangzhon

[2019-08-02 14:42] #145 closed

[2019-08-02 15:02] sboeuf commented on #8
@sameo

I have one concern, this assumes the user will have to run the `vhost-user` daemon to be able to run the default configuration, which is not ideal.
And I don't think having our VMM spawning the daemon is a good idea since some daemons might require to be run as root while our VMM don't need those privileges.

I don't think that's true in the case of our `virtio-net` implementation since it

[2019-08-02 15:17] sboeuf commented on #132
That sounds like an interesting task :)

[2019-08-02 15:37] sameo commented on #8
That's correct, yes.
But the more we offload the device implementations, the less privileged the VMM process can become. Ideally, it should only need to be on the KVM group and that's it. Right now since we support virtio-net, the cloud-hypervisor binary needs NET_ADMIN. We would remove that when offloading to vhost-user-net. And only the vhost-user-net backend would need this cap. That's what we

[2019-08-02 15:52] sboeuf commented on #8
Oh I see but that's because we decided to have the default `--net` creating the TAP if not provided. The real case should be the user creating the TAP and providing it. This means the `virtio-net` implementation has nothing to do with the needs for special caps.

[2019-08-02 17:03] rbradford commented on #8
@sboeuf If we can move work into a separate process then we can use seccomp filters to ensure each process only has access to what it needs.

Further by always using vhost-user-net (even for the simple case currently provided by --net) we can remove the virtio-net code. Likewise for block.

[2019-08-02 17:10] sboeuf commented on #8
So you're thinking cloud-hypervisor process would spawn all the daemons along with the actual VMM process, right?

That's true and pretty nice if we can reach this state. But I expect the virtio-net and virtio-blk code should be compiled out with some Rust feature, right?

[2019-08-03 07:43] #105 closed

[2019-08-04 07:51] sameo commented on #8
There's an obvious difference between shipping a binary with virtio-net and virtio-blk disabled and something more dynamic where *only* if you don't add `--net` to your command line, the VMM binary  runs without virtio networking.

[2019-08-07 08:47] bjzhjing commented on #8
@sameo @rbradford @sboeuf @chao-p @yangzhon

Regarding the proposal Samule wrote down, it could bring security benefit by workload offload. However, I guess there will be no performance improvement since we use Tap backend.

For Tap backend, vhost-net could obain better performance. But, as talked with Chao, vhost-net is a good solution to improve performance, but not a good choice regarding secur

[2019-08-07 09:24] rbradford commented on #8
@bjzhjing Security takes priority over performance. The design of vhost-user-net should support both:

a.) a TAP backend by default (with similar performance as virtio-net)
b.) The ability for advanced users to switch to something else, i.e. OVS+DPDK

[2019-08-07 09:25] rbradford commented on #8
TAP w/ vhost-net is out-of-scope for cloud-hypervisor.

[2019-08-07 10:50] bjzhjing commented on #8
@rbradford yes, while has vhost-user-net as default, it brings similar performance like virtio-net while backend is Tap, but will gain performance improvement while OVS+DPDK as backend.

[2019-08-07 14:08] rbradford opened #156 "Investigate MSI related issue shown up by logs"
`
cloud-hypervisor: 681.634076ms: WARN:vmm/src/vm.rs:1009 -- failed to deliver MSI message, blocked by guest
`

This appears when the firmware does virtio-block operations. It's doesn't use interrupts at all and instead is polling driven.

[2019-08-07 14:10] sboeuf commented on #156
Thanks for reporting this, I'll take a look once I'm done with virtio-fs improvements.

[2019-08-07 14:48] #121 closed

[2019-08-08 07:10] rbradford commented on #156
Are both halves fixed or only 2.) ?

[2019-08-08 13:00] sboeuf commented on #156
2) is fixed for sure, but I'm not sure about 1)
Have you tried to reproduce with the patch?

[2019-08-08 13:01] rbradford commented on #156
@sboeuf Yes, 1.) is still present.

[2019-08-08 16:38] #156 closed

[2019-08-08 18:59] sboeuf opened #163 "Slow boot when serial=off and kernel command line contains console=ttyS0"
When running the VMM with the default options (that is `--console tty --serial off`) along with the kernel option `console=ttyS0`, it takes around 15 seconds for the kernel to complete booting.

This is an important bug since the CL image has both `console=ttyS0` and `console=hvc0` part of its kernel command line.

After some debugging, the root cause of the issue has been identified as being the

[2019-08-08 19:00] sboeuf commented on #163
/cc @rbradford

[2019-08-09 16:04] #163 closed

[2019-08-10 06:36] sboeuf opened #165 "Document the flow of the VFIO implementation"
It would be very nice to create an architectural/technical document about how VFIO works behind the scene, how it is tied to KVM for some use cases, and how the VMM implementation leverages both VFIO and KVM APIs in practice.

[2019-08-12 08:04] ericooper opened #166 "hypervisor virto_net thread panics during increased network traffic"
When transferring larger files between the cloud-hypervisor instance and the cloud-hypervisor host with ftp or using iperf the hypervisor virtio net driver panics.

An example using iperf with RUST_BACKTRACE=full:

[code]

a similar test using scp transferring larger files the ssh based transfer gets aborted with a

_pls note: whether this is related or represents a separate issue due to nic offlo

[2019-08-12 14:19] rbradford commented on #166
With the fix in #169 I see
[code]

[2019-08-12 14:24] sboeuf commented on #166
Yes me too!

@ericooper thanks for spotting this issue :)

[2019-08-12 14:35] #166 closed

[2019-08-12 15:55] ericooper commented on #166
Excellent and thanks for following-up on this swiftly. Appreciate it.

[2019-08-15 07:58] rbradford opened #182 "Many CI failures due to integration tests crashing out on SIGILL"
Many CI failures in the last few days due to the integration tests failing with SIGILL:

e.g.

https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/job/cloud-hypervisor/view/change-requests/job/PR-180/1/console
https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/job/cloud-hypervisor/view/change-requests/job/PR-179/1/console
https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/jo

[2019-08-15 08:43] rbradford opened #183 "tests::test_virtio_fs_dax_on_default_cache_size can stall"
[code]

May or may not be related to #182

[2019-08-15 09:34] rbradford commented on #182
I was able to debug further:

[code]

So a panic within a panic triggers intrinsics::abort() which

Unix-like platforms causes the process to be killed with SIGILL.  A more
appropriate way to kill the process would be SIGABRT; this indicates
better that the runtime has explicitly aborted, rather than some kind of
compiler bug or architecture mismatch that SIGILL might indicate.

AFAICT this is the

[2019-08-15 10:03] rbradford commented on #182
This is due to the way credibility works, so we're getting a panic after an `aver_eq!` macro has failed:

e.g.

[code]

Gives
[code]

But making the `aver_eq!` pass (so we're not in a panic handler)

[code]

Gives

[code]

[2019-08-15 11:20] rbradford commented on #182
I think we need to switch all code that runs after an `aver(,_eq,_ne})!` macro to return a `Result<?, Error>` and propagate that where appropriate rather than panicking or use default values with `.unwrap_or()`

That will at least allow us to identify the test that is triggering this and the situation that is causing it.

[2019-08-15 14:06] #63 closed

[2019-08-15 21:26] sboeuf commented on #183
Fixed by #184

[2019-08-15 21:26] #183 closed

[2019-08-16 01:54] sboeuf commented on #75
@yisun-git
Following our conversation from this morning, the question was, why do we need `MigrationStateArray` to be static as defined below:
[code]

My understanding so far is that we are trying to send a list of `MigrationState` structures (each specific to a component) to the target VMM so that it can recreate those states for the target VM.
Why can't we create the `MigrationStateArray` struct

[2019-08-16 10:05] ericooper opened #192 "CH seems to not boot at all when started with --console off AND --serial off"
I've observed a few times that when starting CH with --console off and --serial off (and console hvc0 as only console related kernel parameter) CH cpu load goes to 100 % and the boot process is stuck somewhere.

When repeating this with -vvv (debug)  results in thousands of
``
cloud-hypervisor: 41.831058789s: DEBUG:vm-virtio/src/net.rs:377 -- RX_TAP_EVENT received
``
being printed but monitoring t

[2019-08-16 12:11] rbradford commented on #192
Why are you specifying --console off and also putting "console=hvc0" in the kernel command line?

[2019-08-16 12:20] ericooper commented on #192
I think when using an uefi root file system the kernel & the cmdline of the kernel is set by the boot entries on the uefi partition and not by the CH kernel cli parameter which seems to be ignored in that case or do you seen this differently? This can lead to this situation. Do you think this is simply unavoidable and a consequence of wrong usage of CH or could this scenario be prevented/checked s

[2019-08-16 12:47] rbradford commented on #192
If you specify the Linux kernel on the command line that is the kernel that will be loaded and that is the command line that will be used. Only if you use hypervisor-firmware and a full disk image will the bootloader come into force.

Does it boot fine / performance restored if you use "null" instead of "off" ?

[2019-08-16 12:54] ericooper commented on #192
I'll check and try to better locate this. I am using indeed the firmware + uefi approach at the moment for different reasons and keep you posted in case I have more specific information.

[2019-08-16 12:58] ericooper commented on #192
--console null indeed looks better again!

[2019-08-16 13:12] rbradford commented on #192
@ericooper In which case the command line to CH is ignored and whatever in the bootloader files is used. They probably have console=ttyS0 which causes a very very slow boot when you have no serial enabled. This is why #164 was added.

[2019-08-16 17:01] sboeuf commented on #192
In case you use CH with `hypervisor-fw`, the kernel command line included in ClearLinux images includes `console=ttyS0`, which means the kernel will try to use the serial PIO that are actually not handled by CH since we're not emulating the serial device (because you specified `--serial off`).
The whole issue is explained [here](https://github.com/intel/cloud-hypervisor/issues/163#issue-478636916)

[2019-08-18 10:15] ericooper commented on #192
I actually do not use a clear image but use my own image without serial kernel command line option: only hvc0. I do understand that the CH executable can't check or take responsibility for how the kernel finally is booted in case the command line comes from the disk partition but I'm still a bit worried about the 100% CPU consumption and the thousands of RX tap receive events. Could it be that the

[2019-08-19 03:11] yisun-git commented on #75
Thanks for comments!

Before migration thread starts, some struct instances are created, e.g. Vmm/Vm/Vcpu/Devices (migration thread is started by external command during source VM running). Migration thread cannot directly get these instances to get/load values for some fields. So we need a global static array to make all these instances can register itself into it. Then, migration thread can iter

[2019-08-19 04:42] sboeuf commented on #192
Oh I see, sorry I didn't follow this issue from the beginning. I'll reopen it so that we can try to investigate when we get some spare time!

[2019-08-19 07:42] ericooper commented on #192
I've been applying the perf tool in order to better trace this. It's not perfect but at least shows something like a hotspot in the virtio_net epoll handler causing the 100% CPU utilization I guess:

[code]

[2019-08-19 19:22] sboeuf commented on #75
@yisun-git
Ok so there are two aspects in this discussion:

First one is about being able to share the same instance between multiple threads, since you expect the migration code to run in a dedicated thread. I think more generally, we're gonna need the VMM to run a dedicated thread for a server taking care of things like migration, hotplug, etc...
Now, based on the fact that we might need to pass

[2019-08-20 05:15] yisun-git commented on #75
Hi, Sebastien,

You analysis is correct. I upload my draft codes to [private repo](https://github.com/yisun-git/cloud-hypervisor_migration). Please check it.

Sorry for late because I was busy working on SIOV project.

[2019-08-20 06:37] fazlamehrab commented on #75
I understand the presented structures which are necessary to represent VM state and for migration. However, I was wondering about a few things for which you already have thoughts of, I guess.

1. Described three different stages indicate how the data are going to be transferred. However, it is not clear what algorithm we are going to use for live-migration. Is it going to be pre-copy or post-copy

[2019-08-20 11:10] rbradford commented on #182
Still an issue:

https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/job/cloud-hypervisor/job/master/200/
https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/job/cloud-hypervisor/job/master/199/
https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/job/cloud-hypervisor/view/change-requests/job/PR-199/1/
https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/job/cloud-hypervi

[2019-08-21 01:15] Apokleos opened #206 "how to logout vm with cmd line or keyboard shortcut"
Hi
I have running a VM according to the official guide with clearlinux， and I can enter the system successfully.
But  I have no idea how to quit/logout the VM with keyboard shortcuts or some special command lines.
Is there some description for operating  in CLOUDH Environment?

Thx!!!

[2019-08-21 01:19] sboeuf commented on #206
Hi @Apokleos, since we don't have ACPI shutdown/reboot implemented yet, the only way to shutdown the VM is to issue the following command:
[code]
The reboot has the effect to trigger a write on the emulated port IO (8042 device), which the VMM interpret as a shutdown.

[2019-08-21 01:25] yisun-git commented on #75
Per plan, pre-copy first. Post-copy will be implemented after it.

The states values are stored in MigrationState::fields. Through the callback function, load_fn, defined in 'trait MigrationStateFn', the values can be restored on target machine.

This is an interesting idea. In fact, pre-copy/post-copy defines some checkpoints and restore them. We may do some investigations on CRIU to see if anyth

[2019-08-21 02:26] Apokleos commented on #206
@sboeuf
Yeah, it does work for me.
Thank you.
/close

[2019-08-21 02:27] #206 closed

[2019-08-21 02:58] yisun-git commented on #75
Hi,

I missed one source file to upload to the repo. Just fixed it. Please pull again if you have cloned it yesterday. Sorry for that.

[2019-08-21 03:48] sboeuf commented on #75
@yisun-git

No worries :)

[2019-08-21 03:48] sboeuf commented on #206
Great :+1:

[2019-08-21 12:15] rbradford opened #208 "Busy loop spinning in virtio-net thread"
This is observed if you just enable network with CH. (CH appears in top with 100% CPU.)

We keep getting woken up because there is something to read on the tap device and then do not read it as we think we shouldn't.

[2019-08-21 12:16] rbradford commented on #192
There is a bug in the virtio-net poll handling that I am looking at however it is unrelated to anything to do with the console/serial configuration. See #208 for the work to address this issue.

[2019-08-21 12:16] #192 closed

[2019-08-21 12:30] rbradford commented on #208
The CPU usage disappears once the network interface is brought up inside the guess. The issue is that the queue runs out of available descriptors so stops reading from the TAP device which then means the epoll_wait keeps returning.

When the network interface is brought up in the guest, the packets are then consumed resulting in available descriptors becoming available resulting in the CPU load re

[2019-08-21 12:52] rbradford commented on #208
CC @ericooper

[2019-08-21 14:41] sboeuf commented on #208
@rbradford very nice finding :+1:

[2019-08-21 15:41] #208 closed

[2019-08-21 19:12] fazlamehrab commented on #75
Thanks @yisun-git

Could you please share more detail on when the load_fn is going to be called and how this function is going to work? Is it like we are going to launch a new VM on the target machine with the similar configuration from the source machine, and stop the execution at some point to restore the VM state from  MigrationState::fields? Or, is it like the application memory will be unmapp

[2019-08-22 07:17] ericooper commented on #208
@rbradford very good indeed. thanks.

[2019-08-27 10:40] vmsearch commented on #75
@yisun-git  the private repo can not open

[2019-08-27 13:43] yisun-git commented on #75
Yes, it is private, only for internal work so far. :)

[2019-08-27 16:50] sboeuf opened #214 "Factorize vm-virtio duplicated code"
List of expected factorizations:
- [x] Code between all virtio devices for the virtio features handling
- [x] Epoll handler can be shared across virtio/vhost-user implementations

[2019-08-28 00:54] vmsearch commented on #75
Thanks your relply

[2019-08-28 07:07] rbradford commented on #182
Still reoccurs:

https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/job/cloud-hypervisor/job/master/314/
https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/job/cloud-hypervisor/job/master/294/

[2019-08-29 03:01] #182 closed

[2019-08-30 14:00] #8 closed

[2019-08-30 14:51] rbradford opened #221 "Setup MMCONFIG region in ACPI"
#180 added enough ACPI support to support reboot & shutdown, but it doesn't yet cover access to larger PCI config spaces:

[code]

Not critical as we don't yet have any devices that use it, but might be useful for more complex VFIO devices.

[2019-08-30 14:55] rbradford opened #222 "Make the 64-bit PCI hole explicit"
#180 added enough ACPI support to support reboot & shutdown, but made an assumption about hardcoded 64-bit PCI region from 32GiB to 64GiB.

One option to is to communicate the top of RAM into the ACPI function and have it patch the DSDT table. However I think it would be better to start having more RAM after 64GiB if the user needs it but keep the 64-bit PCI hole between 32GiB to 64GiB. This would

[2019-08-30 14:55] sboeuf commented on #221
Yes the whole point of having PCI extended config space is to expose information from real devices which actually supports PCIe config.

[2019-08-30 17:29] rbradford opened #223 "Resource leaks that make reboot dangerous right now"
We leak vcpu threads (which also leak the virtio devices) and the signal handler thread.

The memory `mmap()`ed by virtio-pmem and virtio-fs is also leaked.

For now we should not reboot when requested and instead continue to shutdown until we can be sure this is safe.

[2019-09-02 16:25] rbradford opened #229 "Need a way to kick vcpu out of KVM_RUN"
Whilst looking into #223 I tried various approaches (channels and pthread_cancel) and none of them helped as we end up stuck in the KVM_RUN ioctl.

We need a way to get the kernel to return from the ioctl() with EINTR and then we can check a channel, FD or AtomicBool.

Our current signal handler interruption code appears to have no effect (e.g) that function never gets called even if you call `phr

[2019-09-03 09:13] rbradford commented on #229
I have a solution

[2019-09-03 09:13] rbradford commented on #223
I've got solutions to the leaked threads but that still leaves us needed to check mmap() (and possibly other) leaks.

[2019-09-03 17:18] #229 closed

[2019-09-04 12:46] yangzhon opened #232 "The MSG_WAITALL setting will block get_config() call to backend"
@sameo @sboeuf @rbradford

The commit, b2f85cbdc44bb5c97a94f23409c41a33aefb2b54, which changed the recvmsg() to block mode, but this change make get_config() failed to get info from backend in user blk.

diff --git a/vhost_rs/src/vhost_user/sock_ctrl_msg.rs b/vhost_rs/src/vhost_user/sock_ctrl_msg.rs
index be9ba32..76d760f 100644
--- a/vhost_rs/src/vhost_user/sock_ctrl_msg.rs
+++ b/vhost_rs/src/vho

[2019-09-04 17:06] sboeuf commented on #232
@yangzhon
The issue is too generic, I don't know where to start to help you with this. Could you rebase your PR #173 on top of master, now that both vhost-user fixes and vhost-user-net have been merged.
Once this is done, this will give us a sane basis to start investigating from.

Also, it seems to me the blocking behavior is caused by the amount of data sent through the socket compared to what i

[2019-09-05 02:13] yangzhon commented on #232
@sboeuf ,

In fact, the test i did yesterday was on the latest rebase, let me renew #173 today, thanks.

[2019-09-05 08:29] yangzhon commented on #232
@sboeuf

one patch try to fix this issue, https://github.com/yangzhon/cloud-hypervisor/commit/9bf759e0ce6ea57015850d8472792dab2a5d7a56, please review it, thanks.

[2019-09-05 09:38] #223 closed

[2019-09-05 09:40] rbradford opened #240 "Nicely handle munmap()ing virtio-pmem/fs regions"
Currently we accumulate a list of regions to munmap() that need to be dropped to cleanly reboot the VM: https://github.com/intel/cloud-hypervisor/blob/master/vmm/src/vm.rs#L638

Ideally we would do it some other way, probably by using rust-vmm/vm-memory#43 to have the regions "owned" by vm-memory.

[2019-09-05 10:00] rbradford commented on #6
Addressed by #180

[2019-09-05 10:00] #6 closed

[2019-09-05 10:01] rbradford commented on #19
I think we've got a pretty good test framework in place now for unit and integration tests.

[2019-09-05 10:01] #19 closed

[2019-09-05 13:37] sameo opened #242 "Implement a TAP based vhost-user-net backend"
The current virtio implementation relies on a TAP interface for sending and receiving packets to and from the kernel. This is currently implemented in the virtio-net device itself. For example, when the guest tries to send a networking packet through its virtio networking interface, the virtio-net device reads it from the virtio Tx queue and then writes it to the TAP interface.

For vhost-user-net

[2019-09-05 13:39] sameo opened #243 "Support MMIO as a virtio transport layer"
In addition to PCI, we want to be able to support a simpler virtio device model based on MMIO.
The choice between PCI and MMIO would be a build time option.

[2019-09-05 14:27] sboeuf commented on #102
Working on porting the hybrid version from Firecracker.

[2019-09-05 14:41] sboeuf commented on #240
rust-vmm/vm-memory#42 and  rust-vmm/vm-memory#43 will allow `virtio-pmem` and `virtio-fs` memory mapped regions to be handled by `vm-memory`.

[2019-09-05 15:19] sameo opened #244 "Add a RESTful API"
* Compatible with the Firecracker one
* Build time optional (opt-in)
* Run time enabled through a command line switch

[2019-09-06 17:51] #102 closed

[2019-09-06 18:08] sboeuf opened #252 "Multiple reboots are failing"
Based on latest master, I realized the reboot of the VM works only one time. After a successful reboot, if I try to reboot again, or if I try to shutdown the VM, the last log I get is:
[code]
And after this, nothing happens.

I checked the cloud-hypervisor process and its associated threads. I can see that vcpu threads have terminated but the virtio ones are still running. So the problem is that o

[2019-09-06 18:08] sboeuf commented on #252
/cc @rbradford

[2019-09-07 07:13] sboeuf commented on #232
@yangzhon sorry I couldn't look at it since I've been very busy with `virtio-vsock`. I'll make sure to spend some time on it on Monday as I really want to review your code :)

[2019-09-08 02:32] terenceli opened #258 "can't boot in host kernel 4.4.161"
Hello,
I can't boot with the main page's example in a host 4.4.1651 kernel. I didn't see any host kernel required, so I open issue.
Using top -H -p $pid, I got following output.

top - 19:25:49 up  8:13,  1 user,  load average: 0.23, 0.35, 0.67
Threads:   4 total,   1 running,   3 sleeping,   0 stopped,   0 zombie
%Cpu(s): 10.9 us,  2.7 sy,  0.0 ni, 86.4 id,  0.0 wa,  0.0 hi,  0.0 si,  0.0 st
KiB

[2019-09-09 12:49] rbradford commented on #258
Please give the console output and the full command line you used to invoke cloud-hypervisor.

[2019-09-09 13:31] terenceli commented on #258
@rbradford All of the output is following:

root@ubuntu:~/cloud-hypervisor/target/debug# ./cloud-hypervisor --kernel ./hypervisor-fw --disk ./clear-29160-kvm.img --cpus 1 --memory size=1024M --net "tap=,mac=,ip=,mask=" --rng
Cloud Hypervisor Guest
	vCPUs: 1
	Memory: 1024 MB
	Kernel: "./hypervisor-fw"
	Kernel cmdline:
	Disk(s): Some([DiskConfig { path: "./clear-29160-kvm.img" }])

[2019-09-09 13:42] #252 closed

[2019-09-09 14:03] sameo commented on #258
@terenceli Trying to reproduce that on top of a Fedora host kernel, I can't. Are you running this with Ubuntu as a host?

[2019-09-09 14:11] terenceli commented on #258
@sameo No, once upon a time I just compile myself 4.4.161 kernel（at that time, this is the 4.4 stable tree）, so I test this on that. Maybe we can test current 4.4 table tree 4.4.191?

[2019-09-09 14:31] sameo commented on #258
@terenceli Yes, we should try. Can you also please run with the `-vvv` option and paste the console output here?

[2019-09-09 14:48] terenceli commented on #258
@sameo
root@ubuntu:~/cloud-hypervisor/target/debug#  ./cloud-hypervisor --kernel ./hypervisor-fw --disk ./clear-29160-kvm.img --cpus 1 --memory size=1024M --net "tap=,mac=,ip=,mask=" --rng -vvv
Cloud Hypervisor Guest
	vCPUs: 1
	Memory: 1024 MB
	Kernel: "./hypervisor-fw"
	Kernel cmdline:
	Disk(s): Some([DiskConfig { path: "./clear-29160-kvm.img" }])
cloud-hypervisor: 199.013121ms: DEBUG:vm-virtio/s

[2019-09-09 15:30] rbradford commented on #258
@terenceli add `--console off --serial tty` to your command line

[2019-09-09 15:31] rbradford commented on #258
e.g. `./cloud-hypervisor --kernel ./hypervisor-fw  --console off --serial tty --disk ./clear-29160-kvm.img --cpus 1 --memory size=1024M --net "tap=,mac=,ip=,mask=" --rng -vvv`

[2019-09-09 16:50] terenceli commented on #258
root@ubuntu:~/cloud-hypervisor/target/debug# ./cloud-hypervisor --kernel ./hypervisor-fw --console off --serial tty --disk ./clear-29160-kvm.img --cpus 1 --memory size=1024M --net "tap=,mac=,ip=,mask=" --rng -vvv
Cloud Hypervisor Guest
	vCPUs: 1
	Memory: 1024 MB
	Kernel: "./hypervisor-fw"
	Kernel cmdline:
	Disk(s): Some([DiskConfig { path: "./clear-29160-kvm.img" }])
Starting..
Page tables setup
F

[2019-09-09 16:54] rbradford commented on #258
@terenceli try this firmware: https://github.com/intel/rust-hypervisor-firmware/releases/download/0.2.0/hypervisor-fw

[2019-09-09 23:27] terenceli commented on #258
@rbradford almost the same:

root@ubuntu:~/cloud-hypervisor/target/debug# ./cloud-hypervisor --kernel ./another/hypervisor-fw --console off --serial tty --disk ./clear-29160-kvm.img --cpus 1 --memory size=1024M --net "tap=,mac=,ip=,mask=" --rng -vvv
Cloud Hypervisor Guest
	vCPUs: 1
	Memory: 1024 MB
	Kernel: "./another/hypervisor-fw"
	Kernel cmdline:
	Disk(s): Some([DiskConfig { path: "./clear-2916

[2019-09-10 06:09] terenceli opened #265 "Consideration of the interrupt model"
Hi all,
I want to know what's the consideration for using userspace ioapic(irqsplit) model as default?
IIRC, the qemu/kvm will always try to put the irqchip in kernel. Isn't it more efficient putting the irqchip in kernel?

Thanks,
Li Qiang

[2019-09-10 06:37] sameo commented on #265
It's a security concern. The IOAPIC code is not used very often, basically at device setup time. It's not on the hot path, so moving it away from the kernel removes potential security concerns while having very minimal (if any) performance impact.

An interesting read:
http://events17.linuxfoundation.org/sites/events/files/slides/Performant%20Security%20Hardening_0.pdf

[2019-09-10 07:45] ericooper commented on #102
very good indeed. Thanks.

[2019-09-10 09:37] terenceli commented on #258
@rbradford It seems that using 0.2 version hypervisor firmware doesn't address this issue. I missed anything?

[2019-09-10 12:09] rbradford commented on #258
Oh, I don't think it should be closed. I didn't realise that PR closed this. I'm guessing you're using Xenial as you've got an old kernel so I will try and create a VM running that and see if I can reproduce this issue.

[2019-09-10 13:13] rbradford commented on #258
I used ccloudvm to create a xenial VM running the stock xenial 4.4.0-161-generic kernel. And I was able to follow the instructions and boot into an image. Is it possible you have a corrupted image?

[code]

[2019-09-10 13:32] terenceli commented on #258
@rbradford I don't think this is the issue. My system has several kernel version. Once it's in 4.15, it works as expected, But once reboot and it's in 4.4.161 it hangs. Could you please compile a separated alone kernel if you have a powerful server.

[2019-09-10 13:42] rbradford commented on #258
@terenceli It works with the Ubuntu Xenial 4.4.0-161  kernel. If you've build your own kernel with your own configuration there is probably something missing. Do you need to continue to use this custom kernel?

[2019-09-10 14:44] terenceli commented on #258
@rbradford In fact I'm just curious about what's the problem. It can boot qemu with no problem.

[2019-09-13 11:30] #243 closed

[2019-09-13 11:32] rbradford opened #274 "Cleanup .map_err() usage that loses inner error"
[code]

[2019-09-13 11:32] rbradford commented on #274
CC @sboeuf

[2019-09-13 11:33] rbradford opened #275 "Increase virtio-mmio testing coverage"
Ideally we want to fully exercise all devices with both transports.

[2019-09-16 14:18] sboeuf opened #282 "Remove legacy interrupt support from any PCI related code"
Because MSI has been introduced a fairly long time ago, we can assume all PCI devices we care about will support MSI, and we can assume the associated drivers will also support MSI.
That's why any PCI specific code should only care about MSI interrupts, and not try to handle legacy pin based interrupts. This will simplify the code and reduce attack surface.

[2019-09-17 17:09] rbradford opened #286 "Address memory layout issues"
Currently guest memory and devices all share the same 64GiB limit. This is bad as it limits the size of guest memory and what we can do with our devices. It would be nice to increase that possibly up to the 256TiB limit per 48-bit physical addresses.

Issues:

- [x] The firmware can't identity map that huge area in order to find the PCI bars for the virtio block device it wants to boot from. A log

[2019-09-18 04:58] sameo commented on #286
@rbradford

48-bit is for the *virtual* address space, the physical one is smaller. Each CPU typically defines both its physical and virtual address space size, and this is readable through CPUID 0x80000008. `/proc/cpuinfo` is also displaying it under the `address sizes` entry. My Kaby Lake host provides 48 bits for the virtual address space and 39 for the physical one.

By default, the kernel use

[2019-09-18 16:04] rbradford commented on #286
I've learnt that you do not what to mark the device region or the hole as E820_RESERVED

[2019-09-19 07:58] rbradford opened #289 "E820/ACPI table generation code assumes GuestMemoryMmap is RAM"
This currently holds but will not hold when we fix #240. Ideally we should generated the E820 table from the `arch_memory_regions()` call which already had details of the gaps so that is it not necessary to calculate that again.

This call can also be used to provide the calculate the start of the device area for the ACPI tables.

[2019-09-19 09:43] #286 closed

[2019-09-19 09:45] rbradford commented on #222
Rather than make it explicit the details of the device area are instead passed into the ACPI table generation in #286

[2019-09-19 09:45] #222 closed

[2019-09-20 13:29] bonzini commented on #242
It would be great to have a vhost-user-net backend that is also a reference implementation for vhost-user-rs!

[2019-09-20 13:37] sboeuf commented on #242
@bonzini is `vhost-user-rs` the rust-vmm crate https://github.com/rust-vmm/vhost ?
FYI, we have under development an equivalent of `libvhost-user` with the PR #276
And this wrapper basically relies on the `vhost` crate from rust-vmm (even if not totally true for now since the code is not there yet on rust-vmm).
On top of this, anybody should be able to implement their own backend (net, blk, virtio

[2019-09-20 13:40] bonzini commented on #242
See jiangliu/vhostuser_rs, I don't think it's been formally proposed as a rust-vmm crate because @jiangliu wanted to combine vhost-user and vhost-kernel into a unified rust-vmm/vhost crate.

[2019-09-20 13:44] sboeuf commented on #242
Oh yeah we're talking about the same one then. The crate from Jiang Liu is great as it fully implements the vhost-user protocol. But we wanted to have some common code (like libvhost-user) to handle together the virtqueues and the vhost-user interaction through the socket.

[2019-09-20 13:45] bonzini commented on #242
Should that also be part of rust-vmm/vhost? Possibly through a feature flag.

[2019-09-20 13:45] jiangliu commented on #242
I have posted the latest implementation of vhost crate at https://github.com/rust-vmm/vhost/pull/2 , which implements both vhost-user and vhost-kernel, also includes some fixes from cloud-hypervisor.

[2019-09-20 13:48] sboeuf commented on #242
@bonzini that's a good question. I think the feature flag is the best way to go since it will allow users to avoid pulling the virtqueue specific part if they don't want to use it.
Also this makes sense, as having a separate crate for this libvhost-user code would be a bit too much since the amount of code is really not that big.

[2019-09-20 13:49] sboeuf commented on #242
@jiangliu great!

[2019-09-20 13:52] jiangliu commented on #242
We have also developed a test suite for vhost-user spec, that's another space for cooperation. But some comments are in Chinese:(

[2019-09-20 14:04] sboeuf commented on #242
@jiangliu can you point us to this code? I definitely don't want us to duplicate efforts.

[2019-09-20 14:15] jiangliu commented on #242
It hasn't been posted to public yet, but I do think this is an area for cooperation.

[2019-09-20 14:18] jiangliu commented on #242
Suggest to merge the PR  https://github.com/rust-vmm/vhost/pull/2 first, then we could cooperate to improve it with better doc and tests.

[2019-09-20 14:18] sboeuf commented on #242
Oh I see! Do you think you could have the people who worked on it looking at #276 to provide some comments?

Sounds good.

[2019-09-23 05:57] yangzhon commented on #232
This issue has been fixed in 927148dd3cfc677861d19aaad23935854b736f6a, close this issue, thanks.

[2019-09-23 05:57] #232 closed

[2019-09-23 16:51] sameo opened #298 "Convert all VM configuration to owned fields"
Most of our VM configuration structure hols string references. With the API server implementation, the whole `VmConfig` structure ought to be moved between threads (from the API server to the VMM control loop).
To do that without adding a lot of complexity to the code, we need to convert `str` and `Path` references to `String` and `PathBuf` respectively.

[2019-09-24 07:39] #298 closed

[2019-09-25 08:20] sameo opened #303 "Cloud Hypervisor control loop is bound to the VM lifecycle"
Currently, the main control loop is bound to the VM being started or not.
That works fine when we can only atomically create and start a VM from the `cloud-hypervisor` CLI, but if we want to asynchronously be able to control the whole VM lifecycle (from creation to shutdown) with e.g. an HTTP API, this is not flexible enough.

In order to support a more flexible architecture, we need to decouple t

[2019-09-25 08:21] sameo commented on #303
cc @sboeuf @rbradford @chao-p

[2019-09-25 09:39] terenceli opened #305 "What's the purpose of setting the tss"
Hi, I want to know what's the purpose of setting the tss register in creating VM:

        fd.set_tss_address(arch::x86_64::layout::KVM_TSS_ADDRESS.raw_value() as usize)
            .map_err(Error::VmSetup)?;

BTW: I don't want to open an issue for this small question. but the slack channel in the main page is invalid. Is there a new slack channel to discuss like this issue?

Thanks

[2019-09-25 11:24] rbradford commented on #305
This is needed when executing a vmlinux binary as the Linux assembly code to configure the TSS (and setup other things such as the GDT, long mode, etc) is not run when booting from the vmlinux.

https://elixir.bootlin.com/linux/latest/source/arch/x86/boot/compressed/head_64.S#L195

Notice that it jumps to `startup_64` (which is the entry point we use for vmlinux boots) shortly after configuring th

[2019-09-25 11:44] #305 closed

[2019-09-25 11:45] rbradford commented on #258
If you care you'll need to bisect your kernel configuration against the stock Ubuntu one (which works) to find out which change in your personal configuration is needed. However that is out of scope for this project as a whole.

[2019-09-25 11:45] #258 closed

[2019-09-25 12:00] sameo commented on #305
Could you please check if the new link from PR #306 works for you?

[2019-09-25 13:30] chao-p commented on #303
Agree. This is basically VMM loop vs VM loop. There is an open that do we plan to support multiple VMs in one VMM? In another word, do we really want to intercept VM events (stdin, shutdown, reset, etc) triggered from guest in VMM loop as well?

[2019-09-25 13:42] sameo commented on #303
For now, I'd like to keep it simple and only support the VM <-> VMM bijection.
I think supporting multiple VMs per VMM is a bigger task than only adding a VM specific control loop, so it should be a task/effort of its own.

[2019-09-26 01:01] terenceli commented on #305
@sameo Yes, it works!

[2019-09-26 03:17] terenceli commented on #305
@rbradford as far as I can find, this set tss is to call ioctl(KVM_CAP_SET_TSS_ADDR). From the kernel doc:

4.36 KVM_SET_TSS_ADDR

Capability: KVM_CAP_SET_TSS_ADDR
Architectures: x86
Type: vm ioctl
Parameters: unsigned long tss_address (in)
Returns: 0 on success, -1 on error

This ioctl defines the physical address of a three-page region in the guest
physical address space.  The region must be wit

[2019-09-26 14:21] #303 closed

[2019-09-27 06:41] yisun-git commented on #75
Investigated possible migration states and list them here for discussion.

Basically, the states can be classified to two types.
1. External states: need interact with external components, e.g. KVM, to get/set states.
2. Internal states: maintained by cloud-hypervisor.

**External states**
![image](https://user-images.githubusercontent.com/22880141/65747225-7724e880-e133-11e9-84fd-c3c74f257840.png

[2019-09-30 17:00] #221 closed

[2019-10-02 07:11] sameo opened #312 "Integration tests unconditionally build QEMU"
Running them twice will trigger 2 builds, even though all artifacts are already built

[2019-10-02 07:21] sboeuf commented on #7
This issue can be closed now.

[2019-10-02 07:21] #7 closed

[2019-10-02 07:29] sboeuf opened #314 "Add virtio-iommu support"
The goal of supporting virtio-iommu is to expose a virtual IOMMU to the guest and attach both virtio and VFIO devices to it.
The point is to increase security regarding those devices, but also to be able to pass a real device (VFIO) through multiple layers of virtualization.

__TODO:__
- [x] Implement `virtio-iommu` device
- [x] Implement for `virtio-pci`
- [x] Implement for `virtio-mmio`
  - Actu

[2019-10-02 07:39] #312 closed

[2019-10-04 06:29] sameo opened #318 "Document the Cloud Hypervisor IPC"
And its interaction with the HTTP API and the CLI:

* [ ] Document the internal API, based on the code documentation
* [ ] Document how the IPC is handled through the VMM control loop
* [ ] Document how both the HTTP API and the cli exclusively use the IPC

[2019-10-04 06:30] sameo commented on #318
cc @sboeuf

[2019-10-04 07:36] #244 closed

[2019-10-04 12:30] sameo commented on #242
Fixed with commit f6d1a9d9

[2019-10-04 12:30] #242 closed

[2019-10-07 08:12] #314 closed

[2019-10-08 09:23] sameo opened #321 "Booting after shutdown does not work"
When calling the `vm.boot` after a `vm.shutdown`, we're trying to re-use the exisiting VM object, which does not work at the moment.

[2019-10-08 15:24] #321 closed

[2019-10-09 00:54] sboeuf opened #326 "PCI BAR reprogramming"
Based on the PCI specification, we cannot expect the PCI BARs to be accessed by the software (firmware or OS) at the address provided through the configuration space.
It is very uncommon and unlikely to happen, but we identified one case where this is happening.

Let's say we run a VM with a PCI device being a `virtio-rng` on slot `0000:00:04.0`. If we remove this device by running:
[code]
and the

[2019-10-09 00:54] sboeuf commented on #326
/cc @sameo

[2019-10-10 15:34] sameo opened #333 "Implement VM pause and resume"
In order to implement a very basic migration, we want to be able to pause and dump a VM. Then resume it.

[2019-10-11 00:13] #333 closed

[2019-10-11 08:38] sameo opened #337 "Define a VM state payload"
In order to support migration and live migration, we need to work on 2 things:

1) Identify which part of a VM should define its state, with the goal of being able to restore it based on that state.
2) Define a JSON payload that would carry that VM state

The VM state payload should also contain the VM config structure, in order to be able to reboot a restored VM.

[2019-10-11 08:40] sameo opened #338 "Implement VM state dumping"
Add a VM  `/api/v1/vm.dump` HTTP endpoint that would return a VM complete state.
Calling `PUT` on this endpoint will fail if the VM is not in the `Paused` state.

This HTTP request response body will be a VM state JSON payload (See #337). It's up to the caller to decide what to do with that HTTP body (store it on a filesystem, etc).

[2019-10-11 08:48] sameo commented on #337
cc @yisun-git

[2019-10-11 08:52] sameo opened #339 "Implement VM restoring"
As a very basic form of migration, we want to be able to restore a VM from a [dumped VM](#338).

Restoring a VM could be done from both the command line (`--restore <VM state file>` and the HTTP API (`PUT /api/v1/vm.restore`, taking the [VM state JSON payload](#337) as the request body).

[2019-10-11 15:42] sameo opened #341 "Fix potential virtio deadlock when resuming a VM"
From @rbradford https://github.com/intel/cloud-hypervisor/pull/334#pullrequestreview-300726469:

[2019-10-11 15:44] sameo commented on #341
Quick thoughts from @rbradford and myself: Either we try to pause the virtio threads as well, or we collect and coalesce interrupts and then deliver them at resume time.

[2019-10-12 02:49] yisun-git commented on #337
Hi,

On 19-10-11 01:38:34, Samuel Ortiz wrote:

I have listed the states and corresponding data structures in #75.
Please check it.

I have implemented infrastructure of MigrationDataFile which supports
read/write buffer under multi-thread condition. I think it can be the
payload to carry VM state. The buffer is Vec<u8> now and it is easy
to save JSON payload.

[2019-10-12 03:15] yisun-git commented on #338
Hi,

On 19-10-11 01:40:31, Samuel Ortiz wrote:

What DYM complete state? Does it like snapshot which contains all states
and ram data?

[2019-10-14 04:59] sameo commented on #337
On Fri, Oct 11, 2019 at 07:49:23PM -0700, yisun-git wrote:

Yes, I saw that. It looks good to me.

It's hard to tell without seeing the code. Could you please share it?

[2019-10-14 05:10] sameo commented on #338
Hi Yi,

On Fri, Oct 11, 2019 at 08:15:20PM -0700, yisun-git wrote:

Pretty much, yes. Something simpler that assumes the migrated VM is
paused, and something local. No transport implementation, etc. Just a
snapshot that you can re-use and e.g. call `cloud-hypervisor --vm-state
<vm-state.json>` or `curl -X PUT http://localhost/api/v1/vm.restore -d {vm-state} \`
to locally create an identical VM.

[2019-10-14 14:17] yisun-git commented on #337
Please refer prototype codes: https://github.com/intel/cloud-hypervisor/pull/347

[2019-10-15 16:02] rbradford opened #352 "Generate ACPI DSDT table programatically"
Currently we generate the ACPI DSDT table by patching an already generated table. As we start to have bigger expectations from our ACPI support (such as supporting hotplug) we need be able to generate the ACPI DSDT table from out code.

[2019-10-15 16:02] rbradford opened #353 "Add support for ACPI based PCI hotplug"
Implement PCI hotplug using ACPI. Depends on: #352

[2019-10-15 16:04] rbradford opened #354 "Add support for CPU hotplug"
Depends upon #352.

[2019-10-15 16:05] rbradford opened #355 "Add support for memory hotplug"
Depends upon #352

Also #289 needs to be addressed.

[2019-10-15 16:26] sboeuf commented on #341
Pausing the virtio threads looks to me like the right approach. I wonder if the vcpu thread should be paused first or if the virtio threads ones. Cause in one case we might miss some events/data.

[2019-10-16 16:54] rbradford commented on #352
Started here: https://github.com/rbradford/cloud-hypervisor/tree/basic-aml

[2019-10-18 03:12] bjzhjing opened #362 "Add virtio multiple queue support for net"
Add the multiple queue support to enable packet sending/receiving process to scale with the number of vcpus of guest.

[2019-10-18 08:54] rbradford opened #367 "Improve command line error reporting"
Currently our error reporting on the comandline doesn't really help the user.

Some examples:

If you fail to provide the new "path=" for disk (i.e. 0.2.0 syntax):

[code]

If you don't specify `size=` for `--mem`:

[code]

If you don't do `file=/dev/shm` for vhost-user:
[code]

If you don't provide any of the required parameter to vhost-user-net daemon:

[code]

[2019-10-18 08:57] rbradford opened #368 "Unify virtio-net and vhost-user-net code"
The code in the vhost-user-net code is mostly a duplicate of the virtio-net code with the exception that the `Vring` is passed into the functions rather than accessed through a member.

This might well require refactoring of the generic virtio code to have the ring external but that will also accelerate the implementation of #173 as it will also be derived from the virtio-blk code.

[2019-10-18 08:58] rbradford commented on #362
#368 should be done before this.

[2019-10-18 09:35] rbradford opened #369 "Analyse performance gaps with QEMU's virtio-net implementation"
Non-vhost, not-multiqeue QEMU:

[code]

iperf3 result:

[code]

vs CH with virtio-net:

[code]

[code]

i.e. Cloud Hypervisor's peformance is ~ 35% of QEMU.

[2019-10-18 13:50] bjzhjing commented on #368
[Factorize vm-virtio duplicated code #214 ]( #214 )

[2019-10-18 14:43] bjzhjing commented on #362
Yes, the performance dropped too much, I will do investigation on this.

[2019-10-18 16:37] sameo commented on #341
Yes, pausing makes sense, especially since we're going to dump the virtio threads as well.

[2019-10-22 05:29] sameo opened #377 "Evaluate rust-vmm vfio-ioctls initial PR"
See:
https://github.com/rust-vmm/vfio-ioctls/pull/1

We need to verify that those changes still work with our implementation.

[2019-10-22 17:01] mythi opened #379 "fails to boot with initrd"
my (built-in) device needs firmware blobs from initrd but when adding `initrd ...` to `systemd-boot`s config file the guest fails to boot:

[code]

after removing the `initrd` line it boots again.

[2019-10-22 18:41] ZideChen0 commented on #369
Probably you can try target/release/cloud-hypervisor. In my setup, it's iperf throughput is closed to QEMU.

[2019-10-23 02:51] bjzhjing commented on #369
Awesome! I run the same case, and yes, the release version will gain better performance result. Refer to the following link https://doc.rust-lang.org/book/ch14-01-release-profiles.html, it seems to be caused by the compiler optimization level while compile code. For the debug version, the default opt-level is 0, while for release version, it's 3.

[2019-10-23 05:34] jiangliu commented on #75
The MigrationTransport trait should only provide interfaces to transport vmm state, not methods to create the channel (bind, connect etc).

[2019-10-23 10:02] bjzhjing commented on #369
Start 2 VMs with vhost-user-net device, connecting to vhost-user ports provided by OVS + DPDK, run iperf3 -s and iperf3 -c respectively on each of them, not-multiple queue. cloud-hypervisor is running with release version. Here is the result:

qemu (server) - qemu (sender)
[ ID] Interval           Transfer     Bitrate         Retr
[  5]   0.00-10.00  sec  16.7 GBytes  14.3 Gbits/sec  107778

[2019-10-24 09:55] #352 closed

[2019-10-24 11:38] bjzhjing commented on #369
Change rx/tx queue_size to be 1024 in both qemu and cloud-hypervisor. Do the same simple test with iperf3, get the following performance result.

[code]

[code]
get a similar performance, there is ~7% performance gap.

[2019-10-24 14:09] sboeuf commented on #369
@bjzhjing @rbradford we might need to change the default queue size. 256 is not enough IMO. And I'm thinking we should add some option so that the user can specify the queue size.

[2019-10-24 22:53] sboeuf commented on #379
@mythi what do you mean by (built-in) device? Do you have some specific HW that you're trying to test?
Just asking because if that's the case I would expect that you would use the direct kernel boot to try it out with your custom kernel. And along with this, you would need to pass your device through the VM with VFIO. I might be completely off track here, but please provide more context :)

[2019-10-25 01:17] yisun-git commented on #75
Thanks! It is for convenience to test in prototype codes. In formal codes, the non-common interfaces will not exist in the trait.

[2019-10-25 02:16] bjzhjing commented on #369
@sboeuf Change rx/tx queue_size to be 1024 is for vhost-user-net, not for virtio-net, virtio-net is still with 256. The interesting thing I noticed is that the change for queue_size has no effect on qemu with vhost-user-net, but increase the performance of cloud-hypervisor with vhost-user-net. Not sure if it's related the language itself, or caused by memory handling, or any other element.

[2019-10-25 06:12] sameo commented on #379
`cloud-hypervisor: 1.011984678s: ERROR:vm-virtio/src/block.rs:363 -- Failed to parse available descriptor chain: DescriptorChainTooShort`clt

I suspect this happens when we're trying to read from the initrd image. Have you verified that you can correctly read the image when manually mounting your CL image boot partition?

[2019-10-25 08:09] rbradford commented on #379
@sameo the initrd image is loaded into memory by the firmware.

This looks like it is failing when it tries to run the init from the actual rootfs.

@mythi can you add `--console off --serial stdout` so we get some more boot messages.

[2019-10-25 08:38] sameo commented on #379
Ah you're right. It's not going to be managed by the virtio driver, so the error message I was pointing at is coming from the rootfs, yes...

[2019-10-25 08:55] mythi commented on #379
Some updates from my side and sorry for not being very clear first time.

@sboeuf

built-in device driver. I'm using QAT and Clear Linux 'vanilla' images.

[code]

My PF device is bound to vfio-pci.

The image has two modifications

1. `swupd bundle-add linux-firmware-qat`
2. `clr-boot-manager update`

This results in (all the image partitions are readable from the host from a loop back device):

[2019-10-25 09:01] rbradford commented on #379
@mythi oops, `--console off --serial tty`

[2019-10-25 09:10] mythi commented on #379
I saw my silly user error after I submitted my comment. Here's the log:

[code]

[2019-10-25 09:17] mythi commented on #379
@rbradford

[code]

looks like `systemd-boot` is not run?

[2019-10-25 09:18] rbradford commented on #379
@mythi If using FreeDesktop based loading then the firmward loads the bzImage/cmdline/initrd directly

[2019-10-25 09:21] rbradford commented on #379
Looking at that output I can see VFIO errors and initramfs errors.

[2019-10-25 14:51] sboeuf commented on #379
@mythi
The following trace is not important, it happens all the time:
[code]
But this log is more interesting as it seems something is going wrong:
[code]

Could you avoid enabling the virtiual IOMMU by removing `iommu=on`, because this will cause some issues as you don't have the right patches in your kernel to support it.

[2019-10-25 14:53] rbradford opened #389 "On-demand TAP device creation creates a new device after reboot"
If doing `--net tap=,mac=,ip=` then the first device created is `vmtap0` but then after a reboot you get a `vmtap1`. We should work out if this a bug or desired behaviour

[2019-10-25 15:16] mythi commented on #379
@sboeuf leaving `--device path=/sys/bus/pci/devices/0000\:4e\:00.0/,iommu=on` out does not change the result.

Only if I manually drop the `initrd` line out makes it to boot again.

[2019-10-25 18:44] sboeuf commented on #369
@bjzhjing ok but I think @rbradford was trying with `virtio-net`, so it'd be interesting to look at the gain if we were bumping to 1024 as the default.
And actually I think we should bump to 1024 by default for all virtio devices.

[2019-10-25 20:49] sboeuf commented on #379
@rbradford I'm not familiar with systemd-boot but it is a firmware basically, and I simply don't think `hypervisor-fw` is able to run it, right?

@mythi this is probably unrelated to this issue, but I would really recommend that you never use `iommu=on` option, otherwise you will end up with bad performances for your device.

[2019-10-25 20:55] sboeuf commented on #379
@mythi also one more thing reading about `initrd`, it seems like it's usually part of the kernel command line. Could try adding it to the list of options?
[code]

[2019-10-25 20:58] sboeuf commented on #379
But globally, you should try getting this to work without the firmware (direct kernel boot), so that you validate you can make it work.

[2019-10-28 09:35] mythi commented on #379
@rbradford

One observation: I tried with two different initrds and with qemu and it looks that initrd size is reported wrong by one page.

[code]

With cloud-hypervisor+hypervisor-fw I get

`[    0.312304] Freeing initrd memory: 12K` and `[    0.312304] Freeing initrd memory: 136K`

(qemu/OVMF gives 16K and 140K).

[2019-10-28 16:02] mythi commented on #379
@sboeuf I don' think the VFIO/`--device` related errors are relevant to this issue. I also found a documentation related gap when using --device (related to how much memory a user is allowed to lock).  I can file a separate issue to track those if you think it makes sense .

FYI, I've verified my QAT device works with cloud-hypervisor. It's just that the firmware fails to load from initrd (this is

[2019-10-28 16:16] sboeuf commented on #379
@mythi

Yes I think you're right.

Yes please, this way we can keep track of it.

Oh okay great :)

[2019-10-28 16:43] rbradford commented on #379
@mythi i'll look into the firmware loading issue

[2019-10-29 11:02] mythi commented on #165
Additional "end user" feedback: I ran into a problem that my user `LimitMEMLOCK` was not enough for VFIO/device assignment to work correctly. The driver init printed an error and host dmesg had an entry
`[  365.159219] vfio_pin_pages_remote: RLIMIT_MEMLOCK (4194304) exceeded`

It'd be nice to have notes/pointers about:
- how to estimate the needed limit (per device?)
- usage of hugepages for this(

[2019-10-29 11:05] mythi opened #397 "VFIO errors/warnings"
As discussed in #379 , I'm opening another issue about the VFIO related errors/warnings I'm seeing:

[code]

[2019-10-29 11:07] mythi commented on #379
@sboeuf

Created #397 and added some feedback in #165

[2019-10-29 13:18] sboeuf commented on #379
Thanks @mythi

[2019-10-29 13:23] sboeuf commented on #165
@mythi it's about how much RAM you allocate to your VM, as the entire guest RAM is pinned for each device. And by default, if you're not using hugepages, you get a bunch of 4k mappings. Lowering the amount of RAM can solve that (just as a test of course), but the long term solutions are:
- Using hugepages with the following option in the CH CLI `--memory size=16G,file=/dev/hugepages` (of course ma

[2019-10-29 16:45] ZideChen0 opened #399 "virtio-block VIRTIO_BLK_T_FLUSH implementation"
Currently Cloud-hypervisor call disk.flush for guest VIRTIO_BLK_T_FLUSH request:

 RequestType::Flush => match disk.flush() {
 }

Which actually doesn't nothing:
https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/fs.rs#L791
pub fn flush(&self) -> io::Result<()> { Ok(()) }

Probably this is not compliant with virtio spec:
"If the device is backed by persistent storage, the device MUS

[2019-10-29 16:47] rbradford commented on #399
No dependency on nix please. Use libc directly: https://docs.rs/nix/0.11.0/src/nix/sys/aio.rs.html#827

[code]

[2019-10-29 17:06] sboeuf commented on #399
@ZideChen0 yes feel free to open a PR to tackle this issue, and follow @rbradford advice about `nix`.

[2019-10-29 17:18] ZideChen0 commented on #399
@rbradford Thanks for the comment! Yes, this makes sense.
@sboeuf Sure, I can cook a patch for that.

[2019-11-04 15:56] rbradford opened #407 "CPU hotplug"
Implementation notes:

- [ ] Add CPUs to ACPI table:
[code]
- [ ] Add command line to add maximum number CPUs (create disabled CPU objects for those not in use)
- [ ] Add I/O port (CPU device) to report status / allow ejection
[code]
and
[code]
- [ ] Add HTTP api to enable addition/removal of CPUs (update internal state of running CPUs)
- [ ] Add GED object with interrupt
[code]
- [ ] Add support

[2019-11-05 13:41] sameo commented on #389
Closed with PR #406

[2019-11-05 13:41] #389 closed

[2019-11-06 03:47] Cordius opened #414 "failed to start while using clear-29160-service-os.img"
I tried to use the following cmdline to start a vm:
[code]
but failed with a error:
[code]

It works well with clear-29160-kvm.img, I'm wondering what difference between the two images.

[2019-11-06 07:14] sameo commented on #414
Thanks for the issue @Cordius
Where did you get clear-29160-service-os.img  from?

[2019-11-06 09:39] Cordius commented on #414
[code]

[2019-11-06 10:34] sameo commented on #414
So that's a legacy boot image, we don't support that at the moment. Any specific reason why you need the CL service OS image?

[2019-11-07 12:52] Cordius commented on #414
No specific reason. I see the doc said that the project has been tested with clear linux, so I just download a image.
Thanks for you explanation.
BTW, does this project support assign Nvidia gpu to the guest by vfio?

[2019-11-07 12:57] sameo commented on #414
We've mostly tested device pass-through with NICs and virtio PCI devices, not yet with GPUs. There's nothing in the code preventing us from working, please open an issue if it does not work for you.

[2019-11-07 13:05] rbradford commented on #414
@Cordius We have pretty advanced VFIO support but cannot test every device option. If it doesn't work then we can work together to identify why. Here is a CL image that is known to work:  https://download.clearlinux.org/image/clear-31520-kvm.img.xz (the 'kvm' variant is easier to work with than the cloud version as it doesn't require cloud-init to setup.)

[2019-11-07 14:27] #414 closed

[2019-11-08 22:09] sameo opened #423 "Fail handling large HTTP bodies"
When sending HTTP requests that are larger than 1024 bytes, the HTTP server crashes and resets the client connection.

[2019-11-10 13:51] #423 closed

[2019-11-12 15:41] sameo opened #431 "The vm.info response payload is incorrectly described in cloud-hypervisor.yaml"
We want to return a state and a config, not a state and a version.

Reported by @ericooper

[2019-11-12 16:39] #431 closed

[2019-11-13 12:49] sameo opened #433 "virtiofs documentation is not up to date"
From the [virtiofs document](https://github.com/intel/cloud-hypervisor/blob/master/docs/fs.md#the-daemon):

[code]

That's no longer the case, we do support DAX caching now.

Reported by @ericooper

[2019-11-13 12:50] sameo commented on #433
@sboeuf Could you please have a look at that one?

[2019-11-13 15:19] sboeuf commented on #433
Oh yes let me take care of this one :)

[2019-11-14 09:49] Cordius opened #434 "VFIO issues with NVIDIA T4 card"
I am reading the code in the vfio library and I'm curious about I can't find anywhere to handle intx type interrupts.
Can anyone help me understand how the interrupt worked with vfio here?

In addition, I feel we need a new field in struct VfioPciDevice to indicate the current interrupt type we used as below:
[code]
Then we update the field eachtime we disable/enable msi/msix/intx. Finally we can

[2019-11-14 10:33] ericooper commented on #433
The mount syntax has also changed in virtiofs 0.3: mount TAG /mnt

[2019-11-14 15:41] sboeuf commented on #434
Hi @Cordius
Thanks for looking at the code related to MSI.

Can anyone help me understand how the interrupt worked with vfio here?

It's simple, we decided not to support INTx for VFIO, and we're not planning to do so because we think that all recent PCI devices support MSI or MSI-X.

If you feel there's something that need to fixed, please go ahead and send a PR, it'll be easier for the team to r

[2019-11-14 15:43] sboeuf commented on #433
Yes it did, I'll update it too.

[2019-11-15 02:55] Cordius commented on #434
Well, it seems that NVIDIA GPUs use the INTx instead of MSI/MSI-X currently.

[2019-11-15 06:32] sboeuf commented on #434
@Cordius

Really? Oh that's interesting then. Do you know why they actually do that?

Do you have some example of PCI cards?

[2019-11-15 06:38] sboeuf opened #436 "Mark guest memory pages as mergeable"
If someone wanted to use KSM along with Cloud Hypervisor, this would not work at the moment since the VMM does not mark any page as mergeable. Cloud-Hypervisor (or the vm-memory crate, this needs to be discussed) must advise the Linux kernel about the range of pages corresponding to the guest memory so that it can potentially let KSM merge them.

[2019-11-15 07:25] egernst opened #437 "Docs: Add device model summary"
A summary document of supported paravirt devices and their backend implementation details would be very helpful for folks who are new to the project, or evaluating the VMM.

[2019-11-15 17:02] sboeuf commented on #437
@rbradford @sameo
I can tackle this one as I agree with @egernst it is important to clearly state what is supported by the VMM. Basically we need a place to kind of summarize what has been added by each release.
Where should I post this documentation? Should it be part of the README as a dedicated section `Device Model`, or a separate doc living under `docs/`?

[2019-11-15 17:30] sameo commented on #437
On Fri, Nov 15, 2019 at 09:02:18AM -0800, Sebastien Boeuf wrote:

Probably as a standalone doc under docs/ and have it referenced from the
README.

[2019-11-15 18:19] sboeuf commented on #437
Ok sounds good :+1:

[2019-11-15 18:51] #433 closed

[2019-11-18 13:07] sameo opened #441 "DeviceManager's new() routine is too long"
The `DeviceManager`'s `new()` routine is 300 lines long, making it a complex and hard to read piece of code.
We should move specific devices creation into their own routines to simplify the code flow.

[2019-11-19 03:28] sboeuf commented on #436
@sameo @rbradford where do you think this should be handled? `cloud-hypervisor` or `rust-vmm/vm-memory`?
IMO, it actually makes sense to do it from `cloud-hypervisor` since we can get all the information we need from the `vm-memory` but we don't want to force `vm-memory` users on how pages should be advertised to the kernel.

[2019-11-19 03:29] sboeuf commented on #326
Closing as this was solved by https://github.com/intel/cloud-hypervisor/pull/385

[2019-11-19 03:29] #326 closed

[2019-11-19 03:31] sboeuf commented on #434
@Cordius any chance you could tackle the `MSI`/`MSI-X` error/warning messages? It'd be nice to have a PR from you since you have a pretty good idea on how to solve those.

[2019-11-19 03:50] sboeuf opened #445 "Assess and improve design regarding Arc<Mutex<>> instances"
It'd be worth taking the time to assess the code as it recently grown a bunch of `Arc<Mutex<>>` and `Arc<RwLock<>>` instances. There are some cases where it is absolutely needed, but for some other cases, it is only there because at some point we need two different threads to have access to the same piece of information, given that only one of the two will need this to be mutable.
There might be r

[2019-11-19 03:50] sboeuf commented on #445
/cc @sameo @rbradford

[2019-11-19 04:34] Cordius commented on #434
I have a Tesla T4 card. Command `lspci` shows that the card uses the INTx irq, but when I use the card with cloud hypervisor, I find the irq isn't registered.
However, I don't know why NV vstill uses the INTx.

[2019-11-19 04:40] Cordius commented on #434
Sorry, I have been attending a trainning these days, and have not try to handle the messages.

[2019-11-19 15:10] sboeuf commented on #434
@Cordius

I found some Nvidia documentation about the T4 card [here](https://www.nvidia.com/content/dam/en-zz/Solutions/Data-Center/tesla-t4/t4-tensor-core-product-brief.pdf). On page 8, it says `MSI-X Supported` and `MSI Not Supported`, so I would expect `MSI-X` to be present.
Could you dump the output of the `lspci` command you get on the host regarding the T4 card?
I'd like to take a look at th

[2019-11-19 21:36] #441 closed

[2019-11-19 22:10] #437 closed

[2019-11-20 01:44] Cordius commented on #434
[code]

[2019-11-20 02:47] sboeuf commented on #434
@Cordius oh great!
So you see, your card support MSI-X because of what is listed here:
[code]
It does support 6 vectors, and it's located on the BAR0 of this device.

Now the question is, why is it not working with `cloud-hypervisor`. Looking into the document I provided earlier, it says the card supports SR-IOV, and we can see that from `lspci` too.
But we don't support passing the physical funct

[2019-11-20 04:00] Cordius commented on #434
@sboeuf

So I just don't need to care about the `pin A` ?
[code]
Do you mean that it's no matter whether we register a handler for pin A or not ?

Sorry I didn't get a PF driver, so I can't create a virtual function.

[2019-11-20 04:54] sboeuf commented on #434
@Cordius

Exactly, because there's MSI-X, `cloud-hypervisor` will use it for interrupts.

The host kernel might have chosen to register INTx, it's not going to affect how `cloud-hypervisor` behaves since the device supports MSI-X.

What do you mean? Aren't you able to create a VF out of the PF?
Try something like:
[code]
This should create 3 VFs out of your card, and you should be able to see them

[2019-11-20 09:27] Cordius commented on #434
To create a VF out of  the PF, I need a proper PF driver otherwise I will only get a error like that:
[code]
The driver I get from NVIDIA's site don't support SRIOV configuration.

[2019-11-20 16:23] sboeuf commented on #434
Ok I understand.

So what happens when you pass the PF device directly into `cloud-hypervisor`? Maybe post some logs here.

[2019-11-21 03:03] Cordius commented on #434
Just some warnings/errors mentioned by ![another issue](https://github.com/intel/cloud-hypervisor/issues/397)

I think we don't handle the VGA region correctly because most of the devices don't have the VGA region. And for these devices with UEFI ROMs (which is an industry trend), we shouldn't try to access the VGA region. In the view of me, I prefer to omit this region.

I have pushed 2 patches t

[2019-11-21 16:08] rbradford opened #452 "test_serial_file is flaky"
I've had to restart several builds because this test has flaked out. Might just be the case that the timeouts need tweaking.

[2019-11-21 18:34] sboeuf commented on #72
Fixed by https://github.com/cloud-hypervisor/cloud-hypervisor/pull/385

[2019-11-21 18:34] #72 closed

[2019-11-21 18:36] sboeuf commented on #5
We have this now. This is what we called the HTTP API, which allows a user to interact with the VMM after it's been started.

[2019-11-21 18:36] #5 closed

[2019-11-21 18:37] sboeuf commented on #23
Closing this issue as this has been solved by adding HTTP API, similarly to the way Firecracker works.

[2019-11-21 18:37] #23 closed

[2019-11-21 18:39] sboeuf commented on #62
Closing as this is solved by the documentation here: https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/docs/networking.md

[2019-11-21 18:39] #62 closed

[2019-11-21 18:41] sboeuf commented on #81
Closing as it's been solved by #293 and #325

[2019-11-21 18:41] #81 closed

[2019-11-21 18:43] sboeuf commented on #95
@sameo @rbradford do you think we can close this one? Or do we still expect more updates?

[2019-11-21 18:46] sboeuf commented on #130
This has been solved, with the support of vhost-user-blk to cloud-hypervisor, and additionally with the introduction of a Rust based vhost-user-blk daemon.

[2019-11-21 18:46] #130 closed

[2019-11-21 18:47] sboeuf commented on #132
@rbradford I know you started looking into this a few weeks ago.
Could you please summarize what you gathered from your researches on this topic?

[2019-11-21 18:50] #265 closed

[2019-11-21 18:54] sboeuf commented on #397
`Could not disable MSI` and `Could not disable MSI-X` error messages should have been fixed by #449

[2019-11-21 18:55] sboeuf commented on #354
Closing as superseded by https://github.com/cloud-hypervisor/cloud-hypervisor/issues/407

[2019-11-21 18:55] #354 closed

[2019-11-21 18:57] sboeuf commented on #434
@Cordius I changed the title of the current Github issue as the goal is to identify what is not working with the NVIDIA T4 card.

[2019-11-22 02:09] Cordius commented on #434
@sboeuf

Well the T4 card passthrough works well except some warnings/errors mentioned above, I just didn't understand why you didn't handle the INTx before your explanation.

[2019-11-22 02:28] sboeuf commented on #434
@Cordius

Oh I'm sorry I thought you had some trouble passing the card through since you mentioned it was only supporting INTx.
So you can confirm the card is working correctly when you pass it through the VM with `cloud-hypervisor`?
I'm curious what kind of test are you running inside the VM to validate the card works?

[2019-11-22 09:19] Cordius commented on #434
@sboeuf

I ran some cuda samples inside the vm and the samples passed.

[2019-11-22 12:24] rbradford opened #455 "Rate limit tests by tmpfs storage"
On the CI we use a /tmp mounted a tmpfs which uses 1/2 the available RAM (currently 192GiB -> 96GiB.) If the `prepare_files()` step detects a `-ENOSPC` error then it should sleep for 60s and try again upto a reasonable limit (5 or 10)

This would have the effect of throttling the tests as the disk images used by the tests do get cleaned up as the tests finish.

[2019-11-22 13:47] sboeuf commented on #434
@Cordius

Oh great :)

Do you think we can close this issue now?

[2019-11-22 15:28] #436 closed

[2019-11-22 19:15] jcvenegas opened #456 "Kernel panic on nested virtualization `BUG: unable to handle page fault for address` on virtio-pci device enabling"
Running in a nested environment in a ubuntu clould sever instance cloud hypervisor instance goes to panic.

[code]

The command to start qemu is:
[code]

Note: the instance is created by using https://github.com/govm-project/govm a project that creates VMs in containers - I am able to run nested qemu intances without issues

The qemu instance uses kernel verison:
[code]

On the VM instance describ

[2019-11-22 19:27] sboeuf commented on #456
Thanks for opening the issue @jcvenegas.

@sameo @rbradford Something is really weird here. The kernel, when enumerating what's on the PCI bus, finds the virtio device at `[0xfffff80000 - 0xffffffffff]`, but for some reasons, when virtio tries to access the device, it tries to reach the address `0xffffc9000002d014`.
The `0x14` in this address is supposed to be the offset in the BAR to retrieve som

[2019-11-22 20:00] rbradford commented on #456
@jcvenegas does it work if you tell QEMU to do Q35 machine type rather than the default PC?

[2019-11-22 21:30] sameo commented on #456
Could the guest kernel do PCI BAR reprogramming and we miss it?

[2019-11-22 21:31] sameo commented on #456
@jcvenegas Is that reproducable with mmio only?

[2019-11-22 22:05] jcvenegas commented on #456
build with mmio enabled  also panics:
[code]

[2019-11-25 03:25] #434 closed

[2019-11-25 04:09] sboeuf opened #460 "Investigate VFIO/MSI disable issues"
The PR #449 should have nicely fixed/improved the way VFIO would disable MSI, but for some reasons it broke the VFIO MSI support, which needs to be investigated.

[2019-11-25 11:10] Cordius commented on #460
Could you share the detail in this case?

[2019-11-25 22:29] likebreath opened #472 "HTTP API call hangs on undefined endpoints"
It is may not be a bug, but it is not what @jcvenegas and I assumed how CLH responses to HTTP API calls with undefined endpoint. The API call simply hangs and never return, while we assumes it should return with error code.

Easy to reproduce with `curl`:
`  $ .../cloud-hypervisor --api-socket=/tmp/clh-api-server `
` $ curl --unix-socket /tmp/clh-api-server -i -X GET 'undefined'`

The `curl` comma

[2019-11-26 00:53] sboeuf commented on #460
Well I found out there's some sort of undefined behavior if we disable the interrupt range from VFIO but don't remove it from the KVM_GSI_ROUTING. One simple way to prevent from issues is to mask the interrupts right before we disable them. And also, right after we enable interrupts, it's a good practice to unmask them.

[2019-11-26 02:10] sboeuf opened #474 "Remove virtio-fs patches from custom branch"
`virtio-fs` is now part of the Linux kernel 5.4. We need to try it out and validate it works without any extra patch. This way, the custom kernel will only carry `virtio-iommu` patches :)

[2019-11-26 02:10] sboeuf commented on #474
/cc @sameo @rbradford

[2019-11-26 02:14] sboeuf opened #475 "Write some real VFIO integration tests"
In anticipation of having some dedicated machine where we would have some physical NICs that we can directly passthrough, we should write some simple tests making sure the communication between host and guest works.
The setup needs to be two cards on the same physical machine, with a loopback cable between those cards, which then allows a simple connectivity test to be run.

[2019-11-26 09:10] rbradford opened #478 "Rethink reboot methodology"
Currently for reboot we tear down large parts of the VMM: in particular DeviceManager and CpuManager. This design decision was made to avoid issues with resetting the devices (in particular needing to implement VIRTIO device reset.) However as we look towards implementing hotplug of devices it would be better to be able to just destroy the vCPU threads and preserve the rest of the state.

[2019-11-26 09:13] rbradford commented on #456
@jcvenegas Apologies if you've already answered this above: Does this only happen when nested under QEMU?

[2019-11-26 15:15] crab2313 commented on #456
@jcvenegas @rbradford Same problem here without nested under QEMU. My OS is archlinux with kernel version 5.3.13. I believe the problem is related to my CPU (AMD Ryzen 3700U/1600X) and the 64-bit PCI Bar. Every virtio device except virtio-block are broken since they are using 64-bit PCI Bar by default. The problem can be solved by forcing cloud-hypervisor to use 32-bit PCI Bar. I think the problem

[2019-11-26 16:14] sboeuf commented on #474
Discussed with `virtio-fs` maintainers, but unfortunately the DAX support is not part of the merged series. So for a fully performant `virtio-fs` solution, we'll have to wait until next kernel release.
In the meantime, I still think we should bump our custom kernel to 5.4, and apply remaining patches.

[2019-11-26 16:17] sameo commented on #474
Agreed.

[2019-11-27 02:59] crab2313 commented on #456
More information about my issue. Ryzen 3700U has a 48-bit physical address bus according to CPUID[0x80000008] but lscpu shows that is should be 43. Linux kernel think it should be 43 because the SEV feature is enabled by BIOS. I can also fix my issue by patching CPUID manually.

[code]

[2019-11-27 07:19] bjzhjing opened #479 "Refactor interrupt framework for multiple queue enablement"
Under the current interrupt framework, with interrupt_cb setup, there are two types of interrupt for devices to notify guest kernel, one is with ISR, the other one is through PCI-MSI, however, virtio devices can only be assigned one of them depends on whether msix is enabled. The current implementation is not flexible to support the scenario that control queue is enabled for virtio devices. For ex

[2019-11-27 12:44] rbradford commented on #456
@crab2313 So to summarise the problem the CPUID *inside* the guest is reporting a different physical address range compared to the CPUID on the *host*. The latter of which is used to determine where to put the VIRTIO devices however inside the guest those are seen to be outside the valid range?

[2019-11-27 15:36] crab2313 commented on #456
@rbradford CPUID[0x80000008] report same physical address range in host and guest (48-bit). But output of lscpu is different (host: 43-bit, guest: 48-bit). Host kernel think physical address should be 43-bit due to SEV is enabled (detecting CPUID[0x8000001F]) as I said before. I just reduce physical address range  of guest by one bit and the issue is solved.  There may be a limit of physical addre

[2019-11-27 17:32] sboeuf commented on #456
I kind of agree that something is wrong regarding the physical address range, but I'm not sure about the explanation though.
If the VMM finds an address space of 43bits on the host, then we should be fine as the guest address space won't be set for more than 43bits, right?

The explanation might be that our VMM, because reading the wrong information, thinks the system has 48 bits of addressable ra

[2019-11-27 17:35] rbradford commented on #456
We calculate the host address space ourselves from the cpuid as there is no way to query the kernel. Our calculation is just: https://github.com/cloud-hypervisor/cloud-hypervisor/blob/3d6b5459effc8fceaba960b029d63b3885680c6f/vmm/src/vm.rs#L211

This might not be sufficient.

[2019-11-27 17:40] sboeuf opened #481 "virtio-fs: Implement SLAVE_REQ support"
Implement missing DAX support. This means we need to add support for `VHOST_USER_PROTOCOL_F_SLAVE_REQ` to the vhost_user_backend crate, as we need to support some slave driven events.

[2019-11-28 03:08] crab2313 commented on #456
@rbradford QEMU set physical address to 40 bit unless a command line parameter is specified.

[code]

I think it is enough to fix the issue.

[2019-11-28 08:47] sameo commented on #456
@crab2313 QEMU uses the host CPU physical bits *unless* either a) the user passes a corresponding parameter or b) QEMU runs in TCG mode. 40 bits is the default TCG setting, but I don't think we should go with that default setting for now.
Would you be kind enough to check what QEMU uses as the number of guest physical bits when running on top of your CPU? I'm curious to see if it fallbacks to 40 b

[2019-11-28 11:45] crab2313 commented on #456
@sameo Yes, I have checked that. It is 40 bits at least on my two machines:

* intel i7-8809G host: 39 bits, guest: 40 bits
* amd 3700U    host: 43 bits, guest: 40 bits

I have searched the code carefully and can not find compat_props setting phys_bits to 40 bits.

[2019-11-30 03:16] joshtriplett opened #491 "virtiofsd instructions download binary from nonexistent location"
The documentation on https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/docs/fs.md include instructions to download a virtiofsd binary, and those instructions reference an outdated URL.

Perhaps suggest how to build the daemon from source?

[2019-12-02 04:22] crab2313 commented on #456
@sameo Could cloud-hypervisor provide a command line argument to let the user specify the physical address range?

[2019-12-02 07:57] sboeuf commented on #456
@crab2313 I would prefer if we could find a solution that does not involve making the CLI more complex. Especially for this use case, I don't think this is really something the user should have to decide himself.
It seems to me the right approach is to find the host addressable space and to apply it for the guest. We cannot end up with a guest address space larger than the host.

[2019-12-02 13:49] #407 closed

[2019-12-02 17:29] sboeuf commented on #491
@joshtriplett Thanks for raising the issue. I will update the documentation as you suggested (explaining how to build it from source) since this is exactly what our CI does every day.

[2019-12-03 12:16] #491 closed

[2019-12-03 17:22] rbradford commented on #478
tl;dr I recommend we continue with our current approach and work out how to update our internal state from hotplugged devices

Currently when rebooting we destroy the `DeviceManager` and `CpuManager` and the whole VM (from KVM's perspective) too. Upon reboot we reuse the configuration and boot again as if it was a clean boot. The motivation behind this bug was to look into a less destructive solut

[2019-12-04 11:33] sboeuf opened #503 "VFIO: Add a test verifying that multiple devices can be passed through"
We need to validate that multiple devices can be passed through the VM with VFIO, and validate they are fully functional.

[2019-12-04 13:02] crab2313 commented on #456
@sboeuf You are right. #504 is the fix of my issue. There is a bit called C-bit in the page table entry when AMD Secure Memory Encryption is enabled. It is usually the bit 47 of the original physical address bits in page table entry. The current implementation of cloud-hypervisor put a 64-bit bar at the end of guest physical address space. The C-bit in the page table entry will be set when the gue

[2019-12-04 14:47] #460 closed

[2019-12-04 16:33] jcvenegas commented on #456
Hey Folks sorry for the dalay in my reponse I was focused in other things.

Yes, but even with #504 - I still see the issue, but trying the patches you commented I see that - https://github.com/cloud-hypervisor/cloud-hypervisor/issues/456#issuecomment-558676318 mitigates the problem so in a way is similar error

@rbradford  yes, this is only happening with nested at the moment.

[2019-12-04 20:10] jcvenegas opened #508 "fs: Document values for dax enabled"
In Kata Configuration the is a configuration there is an config:
[code]

This is used by clh implmenetation to enable via cli options, in the case of http api there is no a option but this should is possible to modify virtiofs guest values,  this values could be choose via benchmark and documented or just provide a flag to enable via http api.

[2019-12-05 06:36] sboeuf commented on #478
@rbradford

Well this sounds reasonable, as this will be the less intrusive method to support rebooting with the right amount of vCPU, memory, etc...

As discussed offline, one question remains for the vhost-user case, as a reboot will cause the socket to be destroyed, hence the communication with any vhost-user daemon will be closed.

[2019-12-05 07:53] sboeuf commented on #508
@jcvenegas could you clarify what's the issue is and what would be the right approach to fix it?
I thought that you could translate `virtio_fs_cache = "always"` into `dax=on,cache_size=8G` and `virtio_fs_cache = "none"` into `dax=off`?

[2019-12-05 13:49] sboeuf opened #511 "Simplify irqchip election"
In the idea of simplifying the codebase, @rbradford and I discussed about removing the complex `if/else` statement trying to determine if `split_irqchip` can be used, leading to the usage of userspace `IOAPIC` or not.
The point is, if we agree that cloud-hypervisor users are running recent KVM and recent CPUs, the code logic will always find out that `TSC_DEADLINE_TIMER` is supported by the CPU, a

[2019-12-05 13:50] sboeuf commented on #511
/cc @sameo

[2019-12-06 11:34] #282 closed

[2019-12-06 11:34] #511 closed

[2019-12-06 11:53] #503 closed

[2019-12-06 15:26] sboeuf commented on #508
@jcvenegas I think #515 fixed the issue that you described here. Please close the issue if that's the case, otherwise please clarify what's missing.

[2019-12-09 06:08] sameo opened #521 "Use a more recent kernel for the default kernel configs"
`resources/linux-5.0-config` is (as its name implies) 5.0 based while `resources/linux-virtio-fs-virtio-iommu-config` is 5.3-rc1` based.
5.5-rc1 just got released, so we should at least switch to 5.4 for our kernel configs.

[2019-12-09 07:31] sboeuf commented on #521
@sameo I agree but our current 5.3 custom kernel branch carries both `virtio-fs` and `virtio-iommu` patches. This means we have to wait for the maintainers to update the series of patches, otherwise we will loose support for these virtio features by moving to 5.4.

[2019-12-09 09:15] sameo commented on #521
I agree re the `virtio-iommu-config` one, but I think we should move our 5.0 config to either a 5.4 or ideally a 5.5-rc1, which contains the evged Makefile change.

[2019-12-09 09:19] sboeuf commented on #521
Oh yes that's actually a good idea. But what's the plan from a CI perspective, do you want to build 2 different kernels and then choose the right one based on each test?

[2019-12-09 09:47] sameo commented on #521
No, I'd definitely prefer to have one kernel for all our CI. Once the virtio-fs and virtio-iommu patches are updated against 5.5-rc1, we could at least have both our configs be based on that version?

[2019-12-09 16:16] rbradford commented on #379
@mythi I have a fix: https://github.com/cloud-hypervisor/rust-hypervisor-firmware/pull/29

[2019-12-09 16:35] rbradford commented on #379
@mythi New firmware is released so please try this again if you can.

[2019-12-09 17:00] rbradford commented on #54
Superseded by #512 as tsc_deadline_timer is always required now.

[2019-12-09 17:00] #54 closed

[2019-12-09 21:59] sboeuf opened #527 "Validate OpenAPI generation is not broken"
As fixed by https://github.com/cloud-hypervisor/cloud-hypervisor/pull/525, the definition of the OpenAPI can be broken with some subtle changes. It would be interesting to validate the YAML is never broken through our CI.
The easiest way would be to install `docker` in order to run openAPI generator in a docker container.

[2019-12-09 21:59] sboeuf commented on #527
/cc @rbradford @sameo WDYT?

[2019-12-10 06:06] sameo commented on #527
I agree we should be running that check.

[code]

Which container image does the generator need? Why does it need to be running in a container?

[2019-12-10 07:12] sboeuf commented on #527
From the [list](https://github.com/OpenAPITools/openapi-generator#1---installation) of ways to build/install the open API generator, it seems Docker is the easiest because they published a specific image `openapitools/openapi-generator-cli` on Docker Hub.
Thanks to the containerization, we wouldn't need to install a bunch of utilities specific to this binary, which means we wouldn't increase our C

[2019-12-10 07:42] #508 closed

[2019-12-10 08:15] sameo commented on #527
This is a 133MB docker image, so it should be a quick download. We should try adding this to our travis steps, yes.

[2019-12-10 08:57] rbradford commented on #527
Our Travis build is already pretty slow (mostly due to installing cargo audit). Perhaps we could do it in parallel or use the new GitHub actions?

[2019-12-10 12:30] sboeuf commented on #527
Ok, so I will add Docker, and as suggested by @rbradford I'll take a look at how we can leverage Github actions to do so.

[2019-12-10 14:32] #479 closed

[2019-12-10 14:32] bjzhjing commented on #479
Refer to #495

[2019-12-10 21:49] sboeuf commented on #527
As discussed offline with @rbradford, the idea behind Github action is to avoid putting more burden on Travis since it's running pretty slow already.
But an even more efficient solution would be to run the script run by Travis on each Azure VM run by Jenkins. This way, when the build fails because of these checks, we don't run the integration tests for no reason (save some build time). And in case

[2019-12-11 12:53] #527 closed

[2019-12-11 18:11] sboeuf opened #535 "Validate behavior between CLI and HTTP API"
The main goal here is to come up with some proper tests to ensure the behavior we get from a JSON payload (HTTP API) matches the expected behavior from the CLI.

If we look at the current codebase, we need two layers of unit testing:
- Create some tests that would use one JSON payload and one `VmParams` structure, so that after a `serde.Deserialize()` and a `VmConfig::parse()`, we would obtain the

[2019-12-11 18:11] sboeuf commented on #535
/cc @rbradford

[2019-12-11 18:14] sboeuf opened #536 "virtiofsd: Move to the virtio-fs-dev branch from maintainers"
Now that virtio-fs maintainers updated the `virtiofsd` daemon through the branch `virtio-fs-dev` of their official repo https://gitlab.com/virtio-fs/qemu, we should not have any trouble using it directly for cloud-hypervisor since it includes some patches we were carrying on our internal branch.
This new branch needs to be tested, and if nothing breaks, we can switch our CI to it.

[2019-12-12 07:38] sameo commented on #95
We should close that one.

[2019-12-12 07:38] #95 closed

[2019-12-12 07:50] #341 closed

[2019-12-12 10:09] #536 closed

[2019-12-12 11:19] rbradford commented on #535
I think @sameo's proposal sounds good, it might be a blit slower but not on any critical path. The consolidated testing would be a big win.

[2019-12-12 14:45] sameo opened #541 "virtio code factorizing"
TBD

[2019-12-13 14:42] rbradford opened #550 "CPU un-plug"
Add support for reducing the number of active vCPUs.

[2019-12-13 15:43] #455 closed

[2019-12-16 15:49] #535 closed

[2019-12-16 16:48] rbradford opened #555 "Warnings from CPU hotplug"
As we notify on all devices even if they haven't changed we get a kernel warning:

[code]

[2019-12-16 22:57] #555 closed

[2019-12-17 06:58] yangzhon commented on #481
@sboeuf

In docs/fs.md,

By default, DAX is enabled with a cache window of 8GiB. You can specify a custom size (let's say 4GiB for this example) for the cache by explicitly setting DAX and the cache size:
--fs tag=virtiofs,sock=/tmp/virtiofs,num_queues=1,queue_size=512,dax=on,cache_size=4G

In fact, DAX is not supported, right? so we do not support cache=always mode in backend.

From our test in K

[2019-12-18 07:03] sboeuf commented on #481
@yangzhon DAX (which introduces a shared memory region) is definitely supported by cloud-hypervisor. There might be some settings set wrong somewhere in the stack since Kata is another layer on top of it, but we do have support for proper shared memory region, which improves greatly the performances compared to using `cache=none` with DAX disabled.

Now of course you need to use `virtiofsd` from R

[2019-12-18 08:23] #550 closed

[2019-12-24 08:09] vmsearch opened #568 "virtio block linux AIO support"
there is iops  performance gap between  cloud-hypervisor and qemu. The root case is qemu use the linux aio.So when the cloud-hyervisor can support the linux aio?

[2019-12-24 15:45] renzhengeek commented on #481
Hi,

IIUC, DAX is used to bypass host pagecache, while cache=always is how the server (virtiofsd) requires client to do IO in guest, they are independent options.

I tested DAX+cache=none combination months ago, compared with 9p, one impressed result is the rand-read IOPS is much lower than 9p.

Your testing finding is interesting. Would you mind to share which IO pattern is worse and its numbers?

[2019-12-25 01:09] yangzhon commented on #481
@renzhengeek

We only checked simple command like "ls" and "top" command in the backend filesystem from guest, and the command run very slowly in cache=always mode, which is worse than cache=none mode.

[2019-12-27 09:30] #568 closed

[2019-12-27 09:42] renzhengeek commented on #568
@vmsearch
hi, why close? did you find something different from your first comment?

[2019-12-27 16:55] bjzhjing opened #570 "network is not normal while run 2 iperf3 sessions with default queue size 256"
Start guest with 1 virtio-net device,1 single queue pair is defined, the queue size is with the default value, 256. Then, ssh from host, there will be two consoles opened for the guest, run the following iperf3 sessions on each of them.

[code]

Once the second session is started, one console is hang, and the throughput on the other one is zero. While if change the queue size to be 1024, both of t

[2019-12-30 01:27] yangzhon opened #571 "Mutiple-thread support issue for vhost-user backend"
@sboeuf @rbradford @bjzhjing

When we enable multiple-thread for multiple-queue in the vhost device and backend, we found we need to change vhost_user_backend crate, which will impact among blk, net and fs backend. What's more, those three virtio devices have different virt-queue definitions. So, if we want to enable MQ in vhost user device and backend, we had better look for a better solution. th

[2019-12-30 16:06] sboeuf commented on #570
That's really weird things get blocked with 256 while it works with 1024.
Could you try to reproduce the same thing without using `ssh`?
Just trying to eliminate potential issues coming from ssh using the same network interface.
BTW, do you create a dedicated virtio-net device for the ssh communication?

[2019-12-30 16:31] sboeuf commented on #570
Just tried on my machine (based on `master` branch, which means queue size is `256` and num queues is 2 (1 pair)), and I cannot reproduce the issue.

Here are the steps for me:

Boot the VM:
[code]
Assign an IP address for the network interface `enp0s3`, which allows me to ping the `vmtap0` created on the host by the VMM:
[code]
Create a script in the guest `net_test.sh`:
[code]
From the host, sta

[2019-12-30 16:35] sboeuf commented on #571
@yangzhon I'm sure there are plenty of improvements to bring to `vhost_user_backend` crate, and since you identified some blockers, would you mind sending a PR to fix the crate?

[2019-12-31 00:46] bjzhjing commented on #570
No, I do not create a dedicated virito-net device for ssh, it just shared the same one with iperf3 session. The same thing for 1024 buffer size.

[2019-12-31 03:15] bjzhjing commented on #571
@sboeuf I have code draft to add multi-thread support for vhost-user-net backend, and have discussed with @yangzhon last week, there are some changes needed to make it work for all backends sharing the lib code, this is also one reason I do not add multi-thread for vhost-user-net backend in PR #409, we agree it's better to open a new PR for backend. I will open it later once code ready.

[2019-12-31 15:43] sboeuf commented on #570
@bjzhjing could you try creating a dedicated `virtio-net` device for the ssh communication? And also could you try the setup I described as it works fine for me?

[2019-12-31 15:47] sboeuf commented on #571
@bjzhjing

Yes I understand that, that's why I'm suggesting that you or @yangzhon send a PR to update the `vhost_user_backend` crate so that we can properly support multi-threads when using multiple queues.

[2019-12-31 16:47] sboeuf commented on #452
Does this still occurs?

[2019-12-31 16:49] sboeuf commented on #445
Just a note that using `ArcSwap<T>`, which is equivalent to `Atomic<T>` is a good solution for use cases where we know the Object `T` is very rarely updated.

[2020-01-02 01:24] yangzhon commented on #571
@bjzhjing ,

https://github.com/cloud-hypervisor/cloud-hypervisor/pull/409/commits/d9e50f2ea2032f67cd62baf4a658ff9de000813a

This patch did not add multiple-thread support, please update it. thanks.

[2020-01-02 09:21] bjzhjing commented on #570
@sboeuf  I know why the error happens in my local test environment, since I use a relatively old linux kernel image for the test, version 5.0. I try the latest one, the error does not appear again. If no other comment, I think we could close this issue.

[2020-01-02 18:39] rbradford opened #576 "Some vhost_rs tests fail"
Some of the tests in vhost_rs fail and are marked with `#[ignore]" they should be investigated and either fixed or removed.

[2020-01-06 04:45] #570 closed

[2020-01-06 23:54] renzhengeek commented on #481
Hi, the last words in doc/fs.md seems easy to confuse people:

thought `the VMM` were cloud-hypervisor;)

[2020-01-07 14:50] sboeuf opened #590 "Convert all KVM_SIGNAL_MSI into KVM_SET_GSI_ROUTING"
In order to unify the whole codebase, using `KVM_SET_GSI_ROUTING` instead of `KVM_SIGNAL_MSI`, we would allow the `vhost-user` backends to be fully independent from the VMM once initialized as they wouldn't need the support from the VMM to trigger the interrupt into the guest (through KVM).

By using `KVM_SET_GSI_ROUTING`, we would have to use `KVM_IRQFD` to define an eventfd to trigger the MSI ve

[2020-01-09 10:27] sboeuf commented on #590
Just taking the time to describe the plan to address this issue.
- Make `gsi_msi_routes` a global list that can be shared across multiple components
- Make `set_kvm_routes()` a global function, by defining a trait in `vm-device`. And then provide the trait implementation to all components that might need it.
- Update `write_table()` in `pci/src/msix.rs` to call into `set_kvm_routes()`. This way, w

[2020-01-09 23:53] renzhengeek commented on #481
So, I guess you used the rust-version virtiofsd, right?

I test with your options below:

and mount:

group_id=0,dax

and put qemu source tree in the shared dir, `ls` the source finishes quickly here.

[2020-01-10 02:04] yangzhon commented on #481
Yes, cloud-hypervisor like Qemu, which is not only device model, but also VM monitor.

[2020-01-10 02:09] yangzhon commented on #481
In that time, we used the virtiofsd from Qemu tree.

Oh, we can try this again, thanks for reminder.

[2020-01-12 09:59] rbradford opened #611 "Kernel update issues with CI"
The VFIO and virtio-fs tests are failing on the CI: https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/job/cloud-hypervisor/job/PR-608/1/consoleFull

This looks like it is due to the kernel update.

@sboeuf can you investigate?

[2020-01-13 06:13] mythi commented on #379
@rbradford

works without crashes now (v0.2.6 firmware), thanks!

[2020-01-13 06:13] #379 closed

[2020-01-13 06:59] sboeuf commented on #611
@rbradford virtio-fs maintainers updated the virtiofsd's CLI, which is why both virtio-fs and VFIO tests were failing. #614 should fix this!

[2020-01-13 15:55] #611 closed

[2020-01-15 00:08] liubogithub commented on #481
While I tried to implemented such a thing, I couldn't figure out how to make Server/PassthroughFs to access vhost_user slave side functions, can you please suggest?

[2020-01-15 07:32] sboeuf commented on #481
@liubogithub

I haven't looked into the details yet (got busy with other things), but the general idea is to modify the `vhost_user_backend` crate so that it can support receiving a slave fd that we can use from any vhost-user backend. Did you identify some blockers there?

[2020-01-15 19:21] #355 closed

[2020-01-15 19:34] liubogithub commented on #481
Thanks for the reply.
OK, I can add a `slave_sock` in `vhost_user_backend` and make `VhostUserHandler` receive the slave fd from `master` and create a `Endpoint`, but `Server` is taking `Reader` and `Writer` from `Vring` directly, if I add a `VhostUserBackend` pointer to Server::handle_message(), it kind of breaks the current design, IOW, how do we expose `VhostUserBackend` to `Server` in a proper

[2020-01-16 16:15] sboeuf commented on #481
@liubogithub
First thing, you need to implement [`VhostUserMasterReqHandler`](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/vhost_rs/src/vhost_user/master_req_handler.rs#L17) trait.

Once you got that implemented with your own structure, you will be able from `vhost_user_backend` to provide it to `src/bin/vhost_user_fs.rs`.

The last step is to let the Server be able to trigger

[2020-01-17 11:39] rbradford opened #628 "Add multithreading MQ to vhost-user-net backend"
With #409 merged we now support MQ in virtio-net and vhost-user-net (device side) but the backend needs to have MQ multithreading enabled.

[2020-01-17 13:18] xianghaohyman opened #629 "Unable to start virtual guest according to the steps described in the document"
Here is the command  lines to start the virtual guest:
./cloud-hypervisor/target/release/cloud-hypervisor \
	--kernel ./linux-cloud-hypervisor/arch/x86/boot/compressed/vmlinux.bin \
	--console off \
	--serial tty \
	--disk path=clear-31890-kvm.img \
	--cmdline "console=ttyS0 reboot=k panic=1 nomodules i8042.noaux i8042.nomux i8042.nopnp i8042.dumbkbd root=/dev/vda3" \
	--cpus boot=4 \
	--memory si

[2020-01-17 14:24] rbradford commented on #629
I just tested and this works for me.

What git revision are you using?
What's your host OS and kernel version?
What's your host CPU? (/proc/cpuinfo)

[2020-01-17 15:29] rbradford commented on #629
The most similar panic I could find was this QEMU bug: https://bugs.launchpad.net/qemu/+bug/1750229

I've validated the instructions on both F31 baremetal and Ubuntu 16.04 Azure.

[2020-01-17 15:39] rbradford commented on #629
Also your kernel seems to have taken 414 (!) seconds to get to this point which looks kinda bad.

[2020-01-17 15:55] rbradford opened #630 "vhost-user-{net/block} easy activation"
Using vhost-user gives security improvements over virtio with in-process (with scope of lots more)

- [x] Unify vhost-user-net and vhost-user-block binary commandline style so that it does not conflict with cloud-hypervisor
- [x] Refactor backends into their own crates
- [x] Pull "main" functions for vhost-user-block and vhost-user-net into cloud-hypervisor main binary
- [x] Unify --vhost-user-blk

[2020-01-17 15:56] #362 closed

[2020-01-17 17:29] rbradford opened #631 "virtio-blk O_DIRECT support"
vhost-user-blk has it. It would be nice to make sure that virtio-blk has the same set of features.

CC: @slp

[2020-01-17 22:43] #590 closed

[2020-01-18 11:50] xianghaohyman commented on #629
Hi,  thank you for your reply
OS runs inside a VMware virtual machine
git version： 1.8.3.1
kernel version:   Linux  3.10.0-957.21.3.el7.x86_64
OS ： CentOS Linux release 7.6.1810 (Core)
cpu  model name	: Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz

[2020-01-18 11:53] xianghaohyman commented on #629
and...
Must it run on a physical host?

[2020-01-19 02:13] bjzhjing commented on #628
Actually, @yangzhon has opened issue #571 days ago, sorry, I forgot to mention that in the meeting. I think we could close the previous one, and track the open issue with this number.

[2020-01-19 02:14] bjzhjing commented on #571
@yangzhon I think we could close this one since issue #628 is opened for the same thing.

[2020-01-19 08:05] xianghaohyman commented on #629
hi，
Does cloud-hypervisor support nested virtualization?
Failed to run cloud-hypervisor on vmware virtual machine and kvm virtual machine？
Finally, cloud-hypervisor Runs successfully on a physical machine...

[2020-01-19 21:09] sameo commented on #629
@xianghaohyman Cloud Hypervisor supports nested virtualization, but we only ever tested the kvm on kvm use case. Do you have more details on the vmware version you're using?

[2020-01-20 07:54] rbradford commented on #629
@xianghaohyman Please run "lscpu" inside your VMWare guest and on your host (to verify that the address space of the guest cpu is no larger than that of the host.)

[2020-01-20 14:01] rbradford opened #636 "Add virtio-blk MQ support"
virtio-net has MQ support but not virtio-blk.

[2020-01-20 14:32] sameo commented on #630
Looks good overall. I wonder about one thing, though: When we say:

are we also saying that the vhost-user-{net/block} binaries won't be usable as standalone components? i.e. will they only be runnable through the `cloud-hypervisor` binary?

[2020-01-20 15:01] rbradford commented on #630
There will be a single "cloud-hypervisor" binary. You could run them as they are currently run (with the new binary name and slightly different parameter), or through self activation.

[2020-01-20 15:24] rbradford commented on #630
@sameo I'm also taking this opportunity to refactor the backends into their own crates which will make it very straightforward for someone to use the backends outside of the Cloud Hypervisor project.

[2020-01-20 15:38] sameo commented on #630
That's what I was worried about, thanks. I see that you added this to the TODO list, so this all looks fine to me.

[2020-01-20 15:52] sameo commented on #630
cc @slp

[2020-01-21 13:39] #631 closed

[2020-01-22 09:35] sboeuf commented on #369
@rbradford @bjzhjing FYI, I opened #646 to increase the default queue size to 1024.

[2020-01-22 09:37] sboeuf commented on #397
@mythi could you give this another run with the latest cloud-hypervisor version. I expect most of these error messages to be fixed/gone.

[2020-01-22 09:40] sboeuf commented on #32
Closing this for now, feel free to reopen.

[2020-01-22 09:40] #32 closed

[2020-01-22 09:44] sboeuf commented on #55
We don't have a way to properly test this. Worth to mention that because we recently simplified the codebase, we always use the split irqchip, which means we don't need to emulate the PIT as we know we have the support for TSC_DEADLINE_TIMER.
Anyway, let's close this!

[2020-01-22 09:44] #55 closed

[2020-01-22 09:46] sboeuf commented on #58
This has been implemented. We have Jenkins checking for `[DNM]` or `[WIP]`, which results in preventing the CI from running. And because the CI didn't run, the PR cannot be merged.

[2020-01-22 09:46] #58 closed

[2020-01-22 09:48] sboeuf commented on #64
@sameo could you provide a description about how you want this to be measured? Also, should we post results here?
Or do you think this can be closed?

[2020-01-22 09:50] sboeuf commented on #94
This can be closed as it is handled on rust-vmm directly.

[2020-01-22 09:50] #94 closed

[2020-01-22 09:56] sboeuf commented on #541
Closing since duplicate of #214

[2020-01-22 09:56] #541 closed

[2020-01-22 10:00] sboeuf commented on #240
Just a note that rust-vmm/vm-memory#42 and rust-vmm/vm-memory#43 have been closed.
The way to handle this issue is to define an extra GuestMemoryMmap for `virtio-fs` and another one for `virtio-pmem`. This way, when the object will be dropped, the unmap will happen automatically.

[2020-01-22 10:03] sboeuf commented on #289
@rbradford I think we could close this one since we now know that we won't have different types of memory. So as long as we're providing the GuestMemoryMmap instance corresponding to RAM only, I think the code is safe.

[2020-01-22 10:09] sboeuf commented on #456
@jcvenegas what's the status on this? Can we close the issue?

[2020-01-22 10:13] sboeuf commented on #628
@bjzhjing let's not close #571 as it's the generic issue that will track we add the MT/MQ support to `vhost_user_backend` crate.
But we still need specific issues for `vhost-user`/`-net`/`-blk`/`-fs`.

[2020-01-22 10:52] mythi commented on #397
@sboeuf I can confirm they're gone. Thanks!

[2020-01-22 10:57] mythi commented on #397
I closed too early. With proper log levels I see:
[code]

the errors upon shutdown are gone.

[2020-01-22 11:09] sboeuf commented on #397
Thanks @mythi
Here's a summary:
- `WARN:vfio/src/vfio_device.rs:440 -- Could not get region #8 info` is expected, that's why it does not appear as an ERROR, just a WARN.
- `WARN:vfio/src/vfio_device.rs:818 -- region write with invalid parameter, add: 4294967295, size: 4` needs some further investigation.
- `WARN:vmm/src/memory_manager.rs:152 -- Unexpected offset for accessing memory manager device

[2020-01-22 12:47] rbradford opened #647 "Cleanup "fixed" device I/O port allocations"
Currently we have GED, ACPI, MemoryManager and CpuManager on fixed I/O port locations throughout the range. There's no canonical list of free I/O port ranges but we should try and put these into a sane range (potentially sequentially) from each other so as avoid conflicts like the one shown up in #644.

[2020-01-22 13:14] sboeuf commented on #647
But how can we ever be sure we won't end up with the same case, where a driver assumes an I/O port should be at a specific address.
Unfortunately there's no mechanism like PCI BAR reprogramming with I/O ports.

[2020-01-22 13:16] rbradford commented on #289
@sboeuf - ACK!

[2020-01-22 13:16] #289 closed

[2020-01-22 13:30] rbradford commented on #647
We can't :-( The other option is to move from I/O ports to MMIO addresses and then we can allocate them like we allocate other MMIO devices (or MMIO regions for PCI devices.) MMIO doesn't have as a good performance an I/O ports and it slightly more work but it would resolve this issue.

[2020-01-22 13:35] sboeuf commented on #647
I think the performance of PIO vs MMIO is not a problem here, as these devices (GED, cpu and memory hotplug) won't be triggered on the "hotpath", therefore I wouldn't take this argument into account here.
And since we can pick any range we want on MMIO (which will solve the issue long term), I think you spotted the right solution to the problem here.

[2020-01-22 13:46] rbradford commented on #647
For a 5% latency cost what throughput % do we see? I'm not sure that a "one-size" fits all queue size is necessary though...

[2020-01-22 13:55] sameo commented on #647
I guess this one was meant to be for #646 ?

[2020-01-22 13:59] sboeuf commented on #397
@mythi about the issue that needs further investigation, I cannot reproduce it with the device I have. Could you run the following test for me:
- Apply the following patch
[code]
- Run the VM again and post the result. It'll help narrow down the problem.

[2020-01-22 13:59] sameo commented on #647
Since we fully control the MMIO range and since the IO port address space is filled with non standardized ranges, moving to MMIO sounds sane to me. And I agree with @sboeuf, performance does not really matter for those devices.

[2020-01-22 14:58] mythi commented on #397
[code]

[2020-01-22 15:15] sboeuf commented on #397
Thanks @mythi!
I think it's obvious there's a mistake with the check `else if addr + size > stub.size`, which should be `else if addr + size > stub.offset + stub.size`. Let me fix that :)

[2020-01-22 16:22] sboeuf commented on #397
Yes I confirm the `addr` should not be as big as `0xFFFFFFFF`. The address is the offset in the region, there's no reason to have such huge offset.
It'd be easier if I could have access to your machine to do some further debugging.

[2020-01-22 16:34] sboeuf commented on #73
I'm going to close this issue because the previous comment I left:

was suggesting I wanted to get rid of any KVM dependency from the IOAPIC implementation. Now that we have the InterruptManager, I can implement the IOAPIC without the explicit KVM dependency.

Let's close this issue, I'll take care of introducing the InterruptManager to the IOAPIC with a follow up PR.

[2020-01-22 16:34] #73 closed

[2020-01-23 00:34] bjzhjing commented on #628
@sboeuf  Sure, I see.

[2020-01-23 10:33] rbradford commented on #521
I was thinking about this the other day. We should just ship the one config, the one we test, which is currently the 5.5rc1 one.

[2020-01-23 11:56] #521 closed

[2020-01-23 12:12] sboeuf commented on #397
@mythi ok so now that both #653 (fixing `WARN:vfio/src/vfio_device.rs:818 -- region write with invalid parameter, add: 4294967295, size: 4`) and #644 (fixing `WARN:vmm/src/memory_manager.rs:152 -- Unexpected offset for accessing memory manager device: 12`) have been merged, the only warning message left should be `WARN:vfio/src/vfio_device.rs:440 -- Could not get region #8 info` (which is expected

[2020-01-23 12:36] mythi commented on #397
@sboeuf yes, I can confirm!

[code]

[2020-01-23 12:36] #397 closed

[2020-01-23 15:51] rbradford opened #656 "Look at VM top level architecture"
We have some relatively components such as CpuManager, DeviceManager and MemoryManager. They've been added organically and often have relatively tight coupling. It would be a good idea to take a look at the top-level architecture of the VM and try and see if some of this tight coupling could be reduced and the code overall simplified.

[2020-01-23 15:57] rbradford opened #657 "GED device ACPI table generation is in DeviceManager"
We can delegate it to the device itself by implementing the Aml trait there.

[2020-01-23 16:05] #647 closed

[2020-01-23 17:05] sboeuf commented on #452
@rbradford does this still happen? Do you have reference logs of failures too?

[2020-01-24 06:40] sboeuf opened #660 "CI is broken on test_serial_off"
CI is now fully broken as it's consistently failing on the integration test `test_serial_off`. With a quick bisect, I identified that `03108fb88b0ae1afd9b6b0f65f92e4b424c89c3e` was the commit introducing the regression.

I could reproduce the problem locally by simply running:
[code]

[2020-01-24 06:43] sboeuf commented on #274
Latest run of `git grep map_err\(\|_`:
[code]

[2020-01-24 10:38] sboeuf commented on #274
I addressed almost all of them. The remaining are:
[code]
There's too much complexity involved when fixing these ones as they would need to handle some Rust lifetime that would get propagated to many `Error` definitions across multiple files.

[2020-01-24 11:42] #274 closed

[2020-01-24 13:02] #112 closed

[2020-01-24 16:56] #240 closed

[2020-01-28 08:26] #636 closed

[2020-01-28 12:45] rbradford opened #678 "Post 0.5 deprecated cleanup"
- [ ] "Lazy" cpu syntax
- [ ] `--vhost-user-blk` and related code
- [ ] `--vhost-user-net` and related code
- [ ] ~~Remove `vhost_user_blk` backend binary~~
- [ ] ~~Remove `vhost_user_net` backend binary~~

[2020-01-28 16:10] rbradford opened #680 "virtio-block wce control"
We have WCE control support for vhost-user-block it it something we should look into for virtio-block.

[2020-01-29 03:53] egernst opened #682 "I want to build CLH but don't rust good"
To facilitate building the latest cloud-hypervisor, it would be helpful to have an option to build the VMM from within a container environment, to avoid the need to create a rust development environment and aid in reproducible builds.

Is this on the roadmap?

For my particular scenario, I want to quickly make a dev build (not --release, which AFAIU includes debug symbols).

Thanks folks!

[2020-01-29 03:58] egernst commented on #682
/cc @sboeuf @rbradford @sameo

[2020-01-29 08:35] sameo commented on #682
I am working on a container for building the project, but (more importantly to me at least) running our integration and unit tests.

[2020-01-29 08:54] sameo opened #684 "Containerized build and tests"
Reproducing our CI locally can be painful and erratic as it's designed to be running on top of a specific version of Ubuntu.
We should build and maintain a dedicated container for that purpose.

## Goals

* Use the container to build the cloud-hypervisor artifacts (cloud-hypervisor binaries and CI dependencies)
* Use the container to run the CI locally

### Longer term
 * Run the CI through this c

[2020-01-29 08:55] sameo commented on #684
cc @egernst

[2020-01-29 15:27] egernst commented on #684
FYI: https://github.com/kata-containers/packaging/blob/master/static-build/cloud-hypervisor/docker-build/build.sh

[2020-01-31 06:41] liubogithub commented on #481
After fighting with rust gramma and compiler for a few days, now I got `target/release/vhost_user_fs` work with the dax mode.

Thanks for the input!
I added a `SlaveFsCacheReq` in `vhost_rs/src/vhost_user/slave_fs_cache.rs` instead because it seems all master/slave negotiation parts have been put in `vhost_rs`.

[2020-01-31 07:59] sboeuf commented on #481
@liubogithub oh nice!! I can't wait for the PR :)

[2020-01-31 11:42] #684 closed

[2020-01-31 11:42] #682 closed

[2020-02-01 02:17] liubogithub commented on #481
@sboeuf FYI, I've just submitted a PR, this is probably a RFC version since I'm too new to writing rust code.

please let me know if any comments.

[2020-02-04 09:23] #64 closed

[2020-02-06 14:27] sboeuf opened #716 "vfio: Support PCI extended configuration space"
We need to investigate how complex it would be to support exposing the Extended Capabilities from PCI configuration space.
Right now, if passing a PCI device with extended caps like these:
[code]
we cannot find them from the guest.

I observed the guest is not even trying to access the PCI config space over `0x100` which is the start of the extended caps list. This might mean that Linux won't even

[2020-02-06 14:31] sameo opened #717 "Check that all commits have a SOB"
Our CI should check that all commits from any given PR have a SOB.

[2020-02-06 14:40] rbradford opened #719 "Implement MQ in vhost-user-block backend"
vhost-user-block in the VMM contains support for MQ but our backend doesn't support it.

[2020-02-06 15:36] rbradford opened #720 "Document vhost-user-net with DPDK/OpenVSwitch"
Add manual test documentation on how to use Cloud Hypervisor with DPDK/OpenVSwitch

[2020-02-06 15:38] rbradford opened #721 "Document vhost-user-block with SPDK"
Add manual testing documentation

[2020-02-07 10:26] #318 closed

[2020-02-07 20:04] jcvenegas opened #729 "Provide commit ID version information"
When using `cloud-hypervisor` in master branch would be great to know what is the version that I am using specially because I will see always the same version (the last in the bump) but actually is the latest release + an offset

What I would like to see is:
[code]

[2020-02-10 15:05] rbradford opened #732 "vhost-user backends should relisten"
After losing the connection between the VMM and the backend the backend should relisten unless `exit_on_disconnect=true` is provided to the backend.

[2020-02-11 08:48] sameo commented on #729
@likebreath Do you think you could look at that issue?

[2020-02-11 09:38] sboeuf opened #735 "Port codebase over latest vm-memory refactor"
Move Cloud-Hypervisor code to rely onto the latest vm-memory PR: https://github.com/rust-vmm/vm-memory/pull/68

[2020-02-11 15:46] likebreath commented on #729
Of course. Thanks for letting me know. @sameo

[2020-02-11 18:44] sameo opened #738 "Can not use an already created TAP"
When starting Cloud Hypervisor, we may want to pass it an already created TAP interface:

[code]

And then:

[code]

That fails with:

[code]

[2020-02-11 18:45] jsastriawan commented on #738
Thanks for accommodating our request. Joko

[2020-02-12 02:56] chao-p commented on #716
To enable guest to access >0x100 bytes, MMCFG needs to be presented.

[2020-02-12 07:32] sboeuf commented on #716
@chao-p could you elaborate on that?

FYI, we already have an MCFG table allowing for MMIO access of the PCI config space.

[2020-02-12 07:41] chao-p commented on #716
OK, I'm not aware that. Extended caps reside in space>0x100 and can only be accessed through MMIO.

[2020-02-12 07:59] sboeuf commented on #738
I investigated this issue and here is the explanation.
First thing, if your tap interface does not have the `multi_queue` option:
[code]
the VM starts properly as expected.

Second thing, in case you do want `multi_queue` for your tap interface, it is a matter of letting the device know that you created a multiqueue TAP with the following option:
[code]
In this case I took the simple example of 4

[2020-02-12 08:05] sboeuf commented on #716
Yes I know they are placed after the offset `0x100`, but I traced the MMIO traps and I don't see the guest trying to access the PCI config space after `0x100`.
That's why I think something is missing from a guest perspective. Is it because we don't use a RootComplex (we have a PCI host bridge) that the guest won't even try to access potential extended caps?

[2020-02-12 08:30] chao-p commented on #716
Different caps have different condition check before performing the configuration access. If it's AER capability as showed above, I see no condition, but you say you did not see the trap, that sounds interesting. Is it because we wrongly set not to trap MMIO for MCFG?

[2020-02-12 09:14] sboeuf commented on #716
Well I can see MMIO accesses to the PCI config space, but it never goes past 0x100. That's why I'm thinking the guest is not even trying.

[2020-02-12 10:01] bonzini commented on #735
Do you have a corresponding `vm-virtio` issue already? In the last version of rust-vmm/vm-memory#68 I have also added GuestMemoryBackend which should also make all the generics in virtio more concise.

[2020-02-12 10:29] sboeuf commented on #735
No I don't but the point is to showcase this is gonna work with CH, and then we'll try to push this to vm-virtio.

[2020-02-12 12:53] rbradford opened #742 "vhost-user-net backend needs to support using existing tap interface"
And we need to do the same checks that the virtio-net backend does: #741

[2020-02-12 12:58] rbradford commented on #742
I just tested this and this does work so I simply misread the code.

[2020-02-12 13:00] rbradford commented on #742
I was wrong again, it just silently accepts the argument and then ignores it and creates a new interface with it's own name.

[2020-02-12 13:05] jsastriawan commented on #738
Would you update the documentation on pre-configured tap for both multi_queue and without multi_queue too? Just to make sure end user will be able to use the correct tap instatiation options for the right --net options.

[2020-02-12 13:17] sboeuf commented on #738
@jsastriawan yes let me add that to the PR.

[2020-02-12 18:05] #738 closed

[2020-02-13 12:10] rbradford opened #750 "virtiofs does not work with virtio-mmio"
We should just reject attempts to use this configuration option with a virtio-mmio build.

[2020-02-13 12:10] rbradford opened #751 "vfio/virtio-iommu doesn't work with virtio-mmio"
We should reject attempts to use this configuration early.

[2020-02-13 12:52] rbradford opened #752 "dev_cli.sh is still creating files owned by root"
This is preventing the Jenkins server from cleaning up when a workspace is no longer needed.

[code]

[2020-02-13 13:46] rbradford opened #753 "test_vfio test stability and performance"
This test was moved from the main test run to being run on it's own afterwards with the result being ignored (see #749) as it was proving flaky when run on the agents.

It currently takes 5m32 to run which is very long (for context the rest of the tests take 7m35 to complete.)

Need to look at ways to improve the test performance and reliability.

[2020-02-13 13:51] rbradford commented on #753
Currently the tests use a DAX virtiofs filesystem to store the rootfs in ~/workloads/vfio (which on Azure happens to be a slow disk vs the tmpfs.)

We should try moving the vfio workloads directory to /tmp and see if that improves things.

If it does we could go one step further and add a second disk to the L1 and then pass that block device through as a block device. We could even go even further

[2020-02-13 13:55] sboeuf commented on #753
@rbradford one way I know to improve this test is by using `hugepages`. This highly improves the boot time, especially for the L2 VM.

[2020-02-13 16:52] #752 closed

[2020-02-14 07:34] sboeuf opened #759 "vhost_user::connection::tests::create_listener randomly fails"
Based on https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/job/cloud-hypervisor/job/PR-756/4/ and https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/job/cloud-hypervisor/job/PR-756/6/, we can see the unit test vhost_user::connection::tests::create_listener randomly, causing the CI to fail (even when the PR has nothing to do with this).

[2020-02-14 07:36] sboeuf opened #760 "tests::test_memory_overhead randomly failed"
Based on https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/job/cloud-hypervisor/job/PR-756/7/, we can see the integration test tests::test_memory_overhead randomly failed.

[2020-02-14 09:00] #729 closed

[2020-02-14 15:29] aljimenezb commented on #131
Have working patches for this issue and https://github.com/rust-vmm/linux-loader/issues/3. ETA early next week

[2020-02-14 15:30] sboeuf commented on #131
Oh that's cool :)

[2020-02-14 18:53] liubogithub opened #763 "Risk of memory overcommit"
The current `make_virtio_fs_devices` is using `MmapRegion` to provide a mmap, but `MmapRegion` is using `PROT_READ|PROT_WRITE`, which means guest could fault in pages whenever they want.

[make_virtio_fs_devices](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/vmm/src/device_manager.rs#L1095)
[code]

However, this is different from how qemu handles it, [vuf_device_realize](https:/

[2020-02-17 08:51] sboeuf commented on #763
@liubogithub you're right, using `PROT_NONE` would be safer. And it's only when the guest ask for reading some files that the VMM (on behalf of the backend) would `mmap()` some specific pages as `PROT_READ` and/or `PROT_WRITE`.

The fix has to be submitted to the `rust-vmm/vm-memory` repo. Do you want to take care of this?

[2020-02-17 09:01] sboeuf commented on #763
@liubogithub I opened https://github.com/rust-vmm/vm-memory/issues/74 to get some feedback before we decide to proceed further.

[2020-02-17 14:03] #763 closed

[2020-02-17 17:56] sboeuf commented on #753
@rbradford I think we can close this now.

[2020-02-18 14:15] sboeuf commented on #759
Ok so basically the first thing is that we run our unit tests multi-threaded since this is the default for `cargo test` . Based on this, we have both `create_listener()` and `accept_connection()` tests being run in parallel. They don't use the same socket path, so no problem there, the issue is way more sneaky than that. Because these two tests run through two threads from the same process, they s

[2020-02-18 14:16] sboeuf commented on #759
Now, if my understanding is correct, that means we can simply remove the part where the fd is closed manually. But I wanted some feedback because it seems this is the kind of issue we might run into in the future and I'd like to make sure we don't spend too much time doing that since it's "only" unit tests. So I think it'd be better if we were running these tests single threaded it is barely slowe

[2020-02-18 14:21] rbradford commented on #759
I would recommend just deleting this bit of the test, not sure it is really that interesting or valuable: https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/vhost_rs/src/vhost_user/connection.rs#L519-L524

[2020-02-18 14:30] rbradford opened #775 "Make "vhost_user=true" default for --net/--disk/--fs"
At some point in the future we should turn this on by default.

[2020-02-18 14:31] rbradford commented on #630
I'm closing this issue as i've opened #775 to handle making it a default.

[2020-02-18 14:31] #630 closed

[2020-02-18 14:33] sboeuf commented on #775
@rbradford I agree but we need to be on parity with virtio-net/blk backends.
We can already do it for `--fs`.

[2020-02-18 14:35] rbradford opened #776 "virtio-fs easy activation"
Add support to `--fs` for self spawning like `--net` and `--disk`

- [ ] Add `--fs-backend` to cloud-hypervisor binary to start virtio-fs backend
- [ ] Implement easy activation like `--net`

[2020-02-18 14:43] rbradford commented on #775
Yes there are lots of feature gaps so this is just to track to remember to do it in the future.

[2020-02-18 14:46] rbradford opened #777 "Replace all use of RwLock with Mutex"
On Linux (release builds) `Mutex<T>`  always outperforms `RwLock<T>`:

See https://www.slideshare.net/mitsunorikomatsu/performance-comparison-of-mutex-rwlock-and-atomic-types-in-rust slide 13

[2020-02-18 15:20] sboeuf opened #779 "virtio-fs: Fill gaps for vhost-user-fs backend in Rust"
As part of Cloud-Hypervisor project, we started implementing vhost-user backends in Rust. In case of virtio-fs (vhost-user-fs), the official backend maintained by the maintainers is `virtiofsd`, and there are still some gaps before we can switch to the new Rust backend as the default.

List of gaps to address:
- [x] Implement DAX support with `map()`/`unmap()` (will be merged soon with #698)
- [x]

[2020-02-18 15:59] #759 closed

[2020-02-18 19:26] liubogithub commented on #763
Thanks for fixing it promptly.

[2020-02-19 08:30] sboeuf opened #781 "test_memory_mergeable_on is flaky"
`test_memory_mergeable_on` integration is sometimes making the build of other non-related PR fail.

[2020-02-19 12:36] #781 closed

[2020-02-19 13:48] #735 closed

[2020-02-19 16:32] rbradford opened #783 "VM reboots twice"
Most clearly visible with the firmware:

[code]
And with extra debugging added:
[code]

The problem is that the kernel does an i8042 reset after doing an ACPI reset (despite the ACPI spec saying that you should not do that) this results in two events being written to the reset EventFd. The first is consumed and causes the VM to be rebooted but whilst the VM is still running the EventFd gets writte

[2020-02-19 17:51] #783 closed

[2020-02-19 17:58] rbradford commented on #753
Yup i'm pretty happy things are stable now!

[2020-02-19 17:58] #753 closed

[2020-02-19 18:01] sboeuf commented on #660
Let's close as this has been merged by simply reverting the faulty PR.

[2020-02-19 18:01] #660 closed

[2020-02-19 18:02] sboeuf commented on #571
@bjzhjing what's the status on this? Any progress?

[2020-02-20 00:35] bjzhjing commented on #571
@sboeuf Yes, I think it's good, for I've seen throughput improvement for vhost-user-net backend, I will push the code today.

[2020-02-20 08:49] rbradford opened #786 "Add EVENT_IDX support to virtio-block"
Our virtio-user-block backend  (see #774) now has support for using EVENT_IDX with some managed polling to improve performance. This could be extended to virtio-block.

[2020-02-20 08:49] rbradford commented on #786
CC @slp

[2020-02-20 08:51] rbradford opened #787 "Add "poll_queue" to --disk"
For `vhost_user=true` this should be passed through to the backend being invoked otherwise it should be used for virtio-block. Depends on #786

[2020-02-20 08:51] rbradford commented on #787
CC @slp

[2020-02-20 08:53] rbradford opened #788 "Use EVENT_IDX in virtio-net"
Add support for interrupt suppression (need benchmark to validate.)

[2020-02-20 08:53] rbradford opened #789 "Use EVENT_IDX in vhost-user-net backend"
Add support for interrupt suppression (need benchmark to validate.)

[2020-02-20 10:45] sameo opened #790 "The open API disk config is incomplete"
It's missing a few recently added `DiskConfig` options.

[2020-02-20 11:17] #790 closed

[2020-02-20 11:40] rbradford opened #793 "Lockup in vhost-user-block backend based boot"
Not always reproducible. Boot hangs when the disk is first accessed:

[code]

Thread backtraces:

For CH:
[code]

For block backend process:

[code]

[2020-02-20 11:46] rbradford commented on #793
Disregard, the hypervisor-fw I was using was an old version that didn't have this fix in: https://github.com/cloud-hypervisor/rust-hypervisor-firmware/pull/15 so the firmware was trying to do the new virtio EVENT_IDX feature without actually supporting it.

[2020-02-20 11:46] #793 closed

[2020-02-20 12:06] rbradford commented on #452
Bump! Here is a failure on the master branch today: https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/job/cloud-hypervisor/job/master/2330/consoleFull

[2020-02-20 12:11] rbradford commented on #678
@slp Are you okay with us removing the old binaries? You've been doing a lot of work around vhost-user-block so I thought you might be using that one.

[2020-02-20 14:24] slp commented on #678
@rbradford Yes, we're using vhost_user_blk and vhost_user_fs (not vhost_user_net, at least for the moment), so it'd be really nice to be able to keep them.

[2020-02-20 14:30] rbradford commented on #678
@slp okey dokey i've updated the items here.

[2020-02-20 14:50] slp commented on #678
@rbradford Thanks!

[2020-02-20 14:53] slp commented on #787
@rbradford I'm looking into this. Which properties from `DiskConfig` should appear in `cloud-hypervisor.yaml`? I see some of them are there while others don't, but can't find a pattern...

[2020-02-20 14:57] rbradford commented on #787
@slp they should carry the same see #791 ?

[2020-02-20 14:58] slp commented on #786
@rbradford I thought this couldn't be done because all CH's internal devices were polled from a single event loop, but now I see each queue gets its own thread (not sure if this single event loop thing I had in my head comes from an earlier CH version or Firecracker, though).

Is there any circumstance in which a virtio-block queue would be polled from a non-dedicated thread? From a quick look at

[2020-02-20 15:01] rbradford commented on #786
@slp I'm pretty certain that that can't happen.

[2020-02-20 15:55] slp commented on #786
@rbradford OK, then this should be easy.

[2020-02-20 17:06] #787 closed

[2020-02-21 00:14] uMartinXu opened #803 "15M (0x100000 - 0x1000000) Guest memory may be wasted when running customer kernel"
When running Cloud-hypervisor with the customized Linux kernel according to Cloud-hypervisor readme, the kernel image was loaded to 0x1000000 by default, which means the 15M (0x100000 - 0x1000000) Guest memory may be wasted. Since Cloud-hypervisor doesn't support the traditional x86 ISA device which uses the memory for DMA.

According to the comments in code
https://github.com/rust-vmm/linux-loade

[2020-02-21 11:57] rbradford commented on #803
I agree that the kernel gets loaded at 16MiB. But i've compared the contents of /proc/meminfo and see no difference so why is this a problem?

[2020-02-21 12:16] rbradford commented on #803
Even with a kernel with a start address of 0x1000000 the kernel relocates itself and runs from 0x100000

See /proc/iomem

[code]

[2020-02-21 16:18] rbradford commented on #717
I've turned this on using DCO probot

[2020-02-21 16:18] #717 closed

[2020-02-21 16:25] rbradford commented on #481
@sboeuf @liubogithub is this fixed now?

[2020-02-21 16:49] sboeuf commented on #481
@rbradford yes! let's close it

[2020-02-21 16:49] #481 closed

[2020-02-21 21:55] uMartinXu commented on #803
It is still 16M. :)

[2020-02-21 22:58] uMartinXu commented on #803
I also checked again and my kernel is not relocated to 1M, still 16M. :)

The potential problem is:
If you boot the kernel with limited memory, it may fail, since the bottom 15m memory is not used.

Besides, I am afraid that this area of memory may not actually be used by Kernel as other normal memory.  According to
https://lwn.net/Articles/753273/
Looks like this area of memory was used by DMA op

[2020-02-22 09:53] rbradford commented on #803
Oh yeh :-)

[2020-02-22 09:54] rbradford commented on #803
So the problem statement is that you're trying to use a VM with <= 16MiB ram?

[2020-02-24 01:54] uMartinXu commented on #803
You are right. Actually, I am trying to evaluate the memory overhead of Cloud Hypervisor. And try to figure what is the smallest Guest memory the VM needs to boot a Kernel. I worked out a small kernel Image(vmlinux.bin) which is about 2-3M and found that if I set the Guest Memory less then 16M, it always fail when loading the image into Guest memory. Since the boottom 15M memory is not used. :)

[2020-02-24 06:26] #678 closed

[2020-02-24 09:58] eryugey opened #814 "vhost_rs: SlaveFsCacheReq is not under vhost-user-slave feature control"
In vhost_rs/src/vhost_user/mod.rs we have

[code]
the mod is controlled by vhost-user-slave feature, but not SlaveFsCacheReq.

[2020-02-24 13:21] sameo opened #816 "The VMM shutdown endpoint does not work on paused VMs"
When calling `/vmm/shutdown` on a paused VM, we never get a reply.

[2020-02-24 13:25] sameo opened #817 "Calling /vmm/shutdown on a paused VM freezes all subsequent API calls"
Steps to reproduce:

1. `PUT 'http://localhost/api/v1/vm.create'`
1. `PUT 'http://localhost/api/v1/vm.boot'`
1. `PUT 'http://localhost/api/v1/vm.pause'`
1. `PUT 'http://localhost/api/v1/vmm.shutdown'`

The last step fails, i.e. the VMM does not seem to be down (The process is still running).
However the VMM will not reply to any subsequent API call.

[2020-02-24 14:20] sboeuf commented on #803
@rbradford is there a technical reason why we don't specify the default kernel start address as `0x100000`?
Just asking because if that's something easy and doable, sounds like we should do it.

[2020-02-24 14:49] rbradford commented on #803
@sboeuf We can easily change the .config. Changing the address we use in the VMM needs linux-loader being fixed: https://github.com/rust-vmm/linux-loader/issues/12

[2020-02-24 14:59] sboeuf commented on #803
@rbradford can you think of a single reason why we shouldn't go with 1M as the default?

[2020-02-24 15:11] rbradford commented on #803
@sboeuf I think our default kernel configuration should have "normal" or even "recommended" defaults. As I look through I this I see we don't have KASLR on which is something we should actually turn on.

If someone wants to run CH with a tiny amount of ram for the VM (like 16MiB) they're going to have to tweak not only the CH defaults (1024 entry virtio queues will use up a lot of RAM) but also th

[2020-02-24 16:05] #716 closed

[2020-02-24 16:42] sboeuf commented on #803
@uMartinXu based on @rbradford 's feedback, do you think we can now close this issue?

[2020-02-24 20:08] uMartinXu commented on #803
Actually, using the customer kernel, the user can adjust CONFIG_PHYSICAL_START to decide the start address. So I am OK to close it.

But I am still not persuaded by the reason why we have to use 16M as the default start address.
Even after I go through the kernel configure comments about CONFIG_PHYSICAL_START.

Anyway, thanks for your comments. :)

[2020-02-25 08:32] #657 closed

[2020-02-25 09:48] #814 closed

[2020-02-25 14:42] sboeuf commented on #353
Just summarizing the offline discussion:
- As a first step, we want to support hotplug of `vfio-pci` devices as this should be more straightforward.
  - [ ] Implement ACPI missing parts (update DSDT table and GED device)
  - [ ] Update OpenAPI with `add-device` command, which will trigger the creation of a new VFIO device
- As a second step, and once the validation that hotplugging VFIO devices wo

[2020-02-25 14:49] sameo opened #825 "Consider switching to github actions to replace travis"
Over the past few days, we've seen Travis blocking some of our PRs without actually triggering any CI build.
We should consider switchihg to github actions instead:

- Use the cloud-hypervisor Docker container to run the build
- Use https://github.com/actions/upload-release-asset to upload our assets when tagging.

[2020-02-25 17:27] rbradford opened #827 "Add readonly mode to virtio-pmem"
It would be nice to be able to open the backing file for virtio-pmem read only. This need CLI and config struct changes as well as opening the file read only.

[2020-02-25 17:32] rbradford commented on #827
There is no "readonly" flag in virtio-pmem itself so for correct functioning the filesystem that is mounted from pmem would need to be "ro"

[2020-02-25 18:29] sboeuf commented on #827
@rbradford

Yes exactly, I checked on my side too, but there's no virtio `readonly` feature... So we really need to make sure our virtio-pmem backend opens the backing file as read only.
I mean to say, we need the kernel command line to include `ro`, but this is not enough if we think the guest can take control of the kernel, so we should ensure that our backend also doesn't open the file with inc

[2020-02-25 18:30] sboeuf commented on #827
/cc @likebreath

[2020-02-25 22:20] sameo opened #828 "Factorize internal API code"
We mostly handle 3 sort of internal API commands:

1. No payload for both input and output, this is the so-called VM action commands (e.g. `VmBoot`, `VmPause`, etc).
2. Single input payload, no output payload, e.g. `VmCreate` or `VmResize`.
3. No input, single payload output, e.g. `VmInfo`

For each of those 3 patterns, we should have e.g. macros to factorize all the common code.

[2020-02-27 02:47] crystaldust opened #831 "[not a 'issue', but discussion]Any plans or tracks on ARM support?"
Hi, community, I see there are some commits about ARM, is there any plans or tracks like what rust-vmm did on ARM support(https://github.com/rust-vmm/kvm-ioctls/issues/8)? We've got some ARM servers and would like to try cloud-hypervisor on them. If there is something track on 'what is missing on ARM', that would be helpful for us to make some implementations and maybe contribute it back to the co

[2020-02-27 07:46] sboeuf commented on #831
Hi @crystaldust , thanks for you interest in cloud-hypervisor! We don't have a clear roadmap regarding the support for ARM, but you're more than welcome to contribute some patches to make this happen :)

[2020-02-28 16:14] bjzhjing commented on #742
I add patches in local branch, but cargo build could not complete for it's failed to connect to github.com, network error, will try it tomorrow or next week.

[2020-03-02 10:43] crystaldust commented on #831
Thanks @sboeuf I'll first try to build cloud-hypervisor on ARM devices and see what is missing, then maybe we can figure out a list or plan on ARM support, closing the issue.

[2020-03-02 10:43] #831 closed

[2020-03-02 17:16] #803 closed

[2020-03-02 17:19] rbradford commented on #452
I think I addressed the flakiness by waiting for the hypervisor process to cleanly shutdown in #833

[2020-03-02 17:19] #452 closed

[2020-03-03 07:42] liubin opened #841 "Generated API `/vm.info` not work"
Generated API models by openapi-generator(ver: 4.2.3) is not work with server side response.

When calling `/vm.info` from rust code will lead unmarshal response failed:

[code]

These code changes may not synchronized to open api manifest:

- https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/vmm/src/config.rs#L797
- https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/v

[2020-03-03 08:34] #841 closed

[2020-03-03 11:12] arronwy opened #844 "Use the right start position of configuration space for vhost_user blk device"
The device configuration space in virtio devices is started from 0x100 to 0x1000, current implementation for blk device is started from 0 by default:
vm-virtio/src/vhost_user/blk.rs :
         let (_, config_space) = vhost_user_blk
             .get_config(
                 0,

[2020-03-03 12:27] #844 closed

[2020-03-03 13:53] rbradford opened #847 "Add a cloud-hypervisor cli"
We have increasing amount of services being exposed over the API socket (which if of course used by Kata.)

I think we should add a CLI for controlling a remote cloud-hypervisor over the API socket. This could be in the same binary but probably I think it should be in it's own.

[2020-03-03 14:32] rbradford commented on #456
I think we can close this issue as there's not been any activity for over a month.

[2020-03-03 14:32] #456 closed

[2020-03-03 16:01] rbradford opened #848 "Check that memory is backed by hugepages or shm with virtio-fs"
Otherwise you get a cryptic error message during boot.
[code]

[2020-03-04 08:40] #750 closed

[2020-03-05 10:49] rbradford opened #862 "Default to backing memory with "/dev/shm""
i.e. always pass the equivalent of `--mem file=/dev/shm`. This is necessary for anything using vhost-user to work and it's not immediately obvious why we wouldn't do it?

@sboeuf I know you have some thoughts on that, can you capu

[2020-03-05 10:58] sboeuf commented on #862
The problem is that we still want a way to be able to run the VM without sharing its memory space with other processes on the host (other than the VMM's process). And I wonder how you're gonna be able to do so if you apply file=/dev/shm by default.
Do you expect that someone would run a VM with `--memory file=` to indicate that they don't want any backing file? The logic seems a bit reversed IMO.

[2020-03-05 11:08] rbradford commented on #862
Why? Is there a performance / security issue?

Wouldn't `file=/dev/zero` be okay to turn it off?

[2020-03-05 11:13] sboeuf commented on #862
Well you're using a different `mmap` flags (`MAP_SHARED` vs `MAP_PRIVATE`), and in some contexts, some people might find some security issue with the fact that `MAP_SHARED` let other processes on the system get access to the VM's memory. That's why I still think we want to be able to let the user choose between the type of `mmap` involved.

[2020-03-05 11:33] rbradford commented on #862
AFAIK `MAP_SHARED` requires the other process have the file descriptor so I don't really see the security implications?

[2020-03-05 12:33] rbradford opened #863 "api.md needs updating for device hotplug"
Missing new API details.

[2020-03-05 15:09] #742 closed

[2020-03-05 16:41] #863 closed

[2020-03-06 11:06] rbradford opened #869 "Pausing and resuming VM makes virtio-blk/net/rng threads spin"
With a simple boot:
[code]

And then pausing and resuming the VM using the API the virtio loops go into a tight spin

[2020-03-06 11:08] rbradford commented on #869
![image](https://user-images.githubusercontent.com/588224/76078583-dae0f680-5f9a-11ea-94f7-917dbaceb98a.png)

[2020-03-06 16:43] rbradford opened #871 "Test named tap but that doesn't exist"
#868 shows that we need a test where we ask for tap device with a particular name but which doesn't already exist (virtio-net/vhost-user-net backend.)

[2020-03-08 18:09] milindtheengineer opened #872 "Support for macvtap/ macvlan"
Is there any planned support for macvtap/ macvlan type of network devices instead of traditional tap devices?

[2020-03-09 07:38] sboeuf commented on #872
Hi @milindtheengineer, this is not in the roadmap yet but this could be interesting for the project. Contributions are very welcomed :)

[2020-03-09 18:01] #869 closed

[2020-03-10 16:52] sboeuf opened #881 "cli: Add id field to --device"
Now that `DeviceConfig` has a dedicated field if the user wants to specify a special `id` for the device, the CLI should match this by adding an extra option to the `--device` parameter.

[2020-03-11 08:59] sameo opened #885 "load_kernel() cleanup"
The `load_kernel()` function loads the kernel and its commandline, but also calls into `configure_system()` for setting a few platform specific items (zero page, e820 table, mptable, etc).
It would be cleaner if we could decouple the system configuration part from the kernel+cmdline loading one. It would allow us e.g. to load initramfs images without having to embed it into `load_kernel()` as thos

[2020-03-11 09:12] andreeaflorescu commented on #885
This seems related to: https://github.com/rust-vmm/linux-loader/issues/15

[2020-03-11 13:10] #881 closed

[2020-03-12 07:29] eryugey opened #892 "vhost-user-fs: implement method to handle VHOST_USER_SLAVE_FS_IO request"
As described in https://github.com/cloud-hypervisor/vhost/issues/10 , currently vhost-user-fs device is unable to handle VHOST_USER_SLAVE_FS_IO request.

This is the qemu commit that implements this function
https://gitlab.com/virtio-fs/qemu/commit/6a1016b7d2253e8f2f5f62e0b845b2389be22bd2

[2020-03-12 07:35] sboeuf commented on #892
Thanks for opening this issue @eryugey
If you're working on it, please let me know, I'll assign the issue to you.

[2020-03-12 08:18] #825 closed

[2020-03-12 11:18] bjzhjing opened #894 "vhost-user-blk: backend does not exit while guest shutdown"
Trying with master branch, start guest by connecting to vhost_user_blk backend. Then, issue command: shutdown -h now, guest quit, but the vhost_user_blk backend process is still running there.

[2020-03-12 14:10] rbradford commented on #894
I just tested this with master works for me.

[2020-03-12 15:18] rbradford opened #898 "--block-backend and --disk parameters are slightly inconsistent"
image vs path, sock vs socket (latter is preferable)

[2020-03-12 15:19] rbradford opened #899 "cloud-hypervisor --help has some weird wrapping issues"
[code]

[2020-03-12 16:22] bjzhjing commented on #894
I pull to the latest master, try it again, the issue still there.
Here is the command I used to start vhost_user_blk backend.
[code]
Here is the disk parameter to start guest
[code]

[2020-03-12 17:30] rbradford commented on #894
You didn't specify the socket so it's spawning it's own. Your backend is never shutdown because it's never connected to.

[2020-03-12 18:03] #899 closed

[2020-03-13 00:56] liubogithub commented on #892
I'll look into it.

[2020-03-13 06:09] bjzhjing commented on #894
Ah, yes, sorry, I wrongly paste the command which I used to re-create the spawning case failure. But once I add the socket back, it's failed to start the guest with message "VMM thread failed VmReboot(DeviceManager(CreateVhostUserBlk(VhostUserCreateMaster(VhostUserProtocol(SocketConnect(Os { code: 2, kind: NotFound, message: "No such file or directory" }))))))". I will close this one later once I

[2020-03-13 09:45] rbradford commented on #894
That's the expected behaviour. If the VM reboots it closes the connection which causes the backend to exit (this is also the behaviour you said you were expecting in the initial version of this issue.)

See #732  for the option that needs to be implemented to make it relisten.

[2020-03-13 10:14] bjzhjing commented on #894
While start guest with socket and vhost-user enabled, I need to specify clear image in vhost-user-blk backend, which I'm not aware of it. Thanks @rbradford for telling me this.
Verify and close it.

[2020-03-13 10:14] #894 closed

[2020-03-13 10:35] rbradford opened #908 "Improve config validation"
Currently we do a bunch of configuration validation in the `.parse()` we should move that to a dedicated `validate()` function for each type so that we can also apply the same validation to API based requests.

`VmConfig.validate()` would then call `validate()` on all the individual members. The top level validation could be done as part of the vm boot allowing us to ensure consistency between API

[2020-03-13 10:52] sameo opened #909 "Update dev container's Rust toolchain"
The latest stable toolchain is 1.42.0.

[2020-03-13 12:26] #909 closed

[2020-03-13 13:13] sboeuf opened #911 "Hotplug VFIO device attached to virtio-iommu"
The hotplug/hotunplug of a VFIO PCI device through ACPI is now working but there's still a limitation regarding `virtio-iommu`.

If we want to hotplug a VFIO device and attach it to the virtual IOMMU emulated by `virtio-iommu`, this means the topology, passed at boot time to the `virtio-iommu` driver, must include the __b/d/f__ related to the future location of the device. This is mandatory since

[2020-03-13 13:13] sboeuf commented on #911
/cc @sameo @rbradford

[2020-03-13 15:57] sboeuf commented on #911
Just a note that we agreed offline to put this on hold as there's not a strong use case for it, and additionally we want to see the virtio-iommu land upstream before we spend more time on this.

[2020-03-13 16:44] slp commented on #777
The paper is interesting, but I'd say its conclusion only applies when the critical section is extremely small, as it is in the paper's benchmark. When the critical section is significant in length, and especially if it contains syscalls, the cost of lock management should be mostly irrelevant in comparison. The pressure on the lock and the proportion of reader vs. writers should also be considere

[2020-03-13 17:29] #131 closed

[2020-03-15 23:58] liubogithub commented on #892
the pr #916 is only for vhost-user-fs backend, FS_IO support for virtiofs rust daemon will be a separate one.

[2020-03-17 07:23] #892 closed

[2020-03-17 17:30] sameo opened #918 "Bootloader type may not be set"
On x86, the Linux kernel checks for the bootparams loader type to be set before loading ramdisks. If `type_of_loader` is unset, it won't load ramdisk.

When loading bzImage kernels, we copy the provided bootparams header without verifying if `type_of_loader` is set, causing ramdisks loading failures.

[2020-03-17 18:11] #918 closed

[2020-03-18 12:38] sboeuf opened #925 "Apply seccomp filters"
This issue is a sub-issue from #14, specific to using seccomp in order to harden the VMM's security.
Seccomp filters must be applied on each and every thread managed by the VMM. In case of Cloud-Hypervisor, this means the VMM main thread, every vCPU thread, and every virtio device thread must be assessed and filtered accordingly.

Both crosvm and Firecracker have their own way to apply seccomp, an

[2020-03-18 12:38] sboeuf commented on #925
/cc @jiangliu @rbradford @sameo

[2020-03-18 12:57] andreeaflorescu commented on #925
Firecracker also wants to apply different filters on different threads. This is not the reason why we use none, basic and advanced. We have some improvements in mind. You can check them all here: https://github.com/firecracker-microvm/firecracker/issues/1177

FYI, the file approach is actually super nice and it helps when running in production. If you forgot to whitelist something, you don't need

[2020-03-18 14:07] sboeuf commented on #925
@andreeaflorescu

Nice!

I agree this is very convenient, but as a first step, and since CH doesn't support any seccomp right now, I would like something simple. And I think relying on external files can come as a second step, where the file could override the default filters usually applied by the VMM.

Cool!

Yes exactly, that's the hard part because we're talking in terms of threads for seccomp

[2020-03-18 14:53] bjzhjing opened #928 "vhost_user_blk: failed to boot from vhost_user_blk backend while event_idx enabled"
While run test for PR #887 ,  there is one problem noticed that it would fail to boot from vhost_user_blk backend with event_idx enabled, that is to say, the CI test cases test_boot_from_vhost_user_blk and test_vhost_user_blk_self_spawning keeps failed. If event_idx is disabled for vhost_user_blk backend, those two test cases will pass.

Here is how the problem reproduced in local.

1. git clone t

[2020-03-18 14:54] bjzhjing commented on #928
cc @slp @rbradford

[2020-03-18 14:54] andreeaflorescu commented on #925
I thought a bit about this problem (really, just a bit :)) ). We could find a way for components to declare their used syscalls and have some sort of "collector" at a higher level that also applies the filters.

[2020-03-18 15:00] sboeuf commented on #925
Yes the idea of collecting is good, but the question is about who should be collecting? Because if you look at Firecracker, the VMM thread should collect to apply the right filters in case `virtio-blk` is used for instance. But in case of CH, the `virtio-blk` dedicated thread should collect and apply those.

[2020-03-19 09:56] bjzhjing commented on #928
@slp @rbradford  While add event_idx support in vhost_user_block backend, should we update src/block.rs in hypervisor-firmware accordingly ?

[2020-03-19 09:58] rbradford commented on #928
@bjzhjing it's an optional feature and we don't need to support it there, it should only be turned on if both sides have negotiated it.

[2020-03-19 14:33] #847 closed

[2020-03-19 14:36] rbradford opened #936 "Inconsistencies in CLI syntax on|off vs true|false"
Some command line options take a boolean as on|off and some true|false. We should support all versions in all cases.

[2020-03-19 14:47] #720 closed

[2020-03-20 22:22] sboeuf opened #941 "Fix vhost-user when hotplugging memory"
Whenever hotplugging memory, the vhost-user backend needs to be provided with the new file descriptor referencing the new memory region.

[2020-03-20 22:25] sboeuf opened #942 "Fix VFIO when hotplugging memory"
Whenever hotplugging memory, we need to update the IOMMU DMAR for each and every VFIO device currently used by the running VM. Without this patch, the guest might refer some memory that the device won't be able to access as not part of the IOMMU tables.

[2020-03-20 22:25] sboeuf commented on #941
/cc @jcvenegas

[2020-03-23 11:49] eryugey opened #949 "Fix return value of vhost-user-fs FS_IO"
The new fs_slave_io() method doesn't return the number of bytes read/written, but always returns 0 back to virtio-fs daemon in send_ack_message(), so userspace app in guest gets 0 from write(2) and believes nothing has been read/written and may retry forever.

A simple test program:

[code]

[code]

See https://github.com/cloud-hypervisor/vhost/issues/15 for the vhost issue and pull request https:

[2020-03-23 15:15] sameo opened #953 "Automatically generate a new Docker image when a PR changes our Dockerfile"
And push it to dockerhub.

[2020-03-24 09:23] andreeaflorescu commented on #953
Can we also have this in rust-vmm? :laughing:

[2020-03-24 13:55] #949 closed

[2020-03-25 11:28] eryugey opened #961 "vhost-user-fs: fix unchecked fs_slave_io request len"
We checked the start of the I/O (gpa) in fs_slave_io() and made sure it's in dax window range, but don't check the end (gpa + len), this may lead to guest memory corruption or even vmm crash.

[code]

[2020-03-25 11:31] eryugey commented on #961
cc @liubogithub

[2020-03-25 12:12] #961 closed

[2020-03-25 14:00] sboeuf commented on #941
Fixed by #951

[2020-03-25 14:00] #941 closed

[2020-03-25 15:23] sboeuf opened #963 "Initramfs does not work with vmlinux"
Based on #873 the VMM can boot from an initramfs. But this only works with `bzImage`, as using `vmlinux` produces the following error:
[code]

[2020-03-25 15:23] sboeuf commented on #963
/cc @gdamjan @rbradford

[2020-03-25 16:50] sboeuf commented on #963
This issue will be solved once https://github.com/rust-vmm/linux-loader/pull/29 will be merged and pulled from Cloud-Hypervisor.

[2020-03-25 18:35] sboeuf commented on #963
Just to correct what's incorrect, rust-vmm/linux-loader#29 does not fix the problem for the good reason. Because it breaks PVH boot, and because the VMM falls back to LinuxBoot, the initramfs can be loaded.
But when PVH is enabled, there's no support for initramfs, so instead the right fix is to make sure we fall back onto LinuxBoot when we try to boot from initramfs.

[2020-03-25 18:41] aljimenezb commented on #963
@sboeuf I have been waiting for https://github.com/cloud-hypervisor/cloud-hypervisor/pull/873 to be merged so I can add the initramfs support in PVH boot as well. We can re-purpose this issue with that task, rename it, and assign it to me.

PVH boot support is currently behind an optional feature, so this should only be a problem in tests that enable all features.

[2020-03-25 18:48] sboeuf commented on #963
@aljimenezb go for it :)

[2020-03-26 02:01] teawater opened #965 "virtio-mem support resizable allocations"
https://github.com/cloud-hypervisor/cloud-hypervisor/pull/837#issuecomment-593347305
Resizable allocation can decrease the virtual memory allocation in initialization of virtio-mem.
Then customer can set a bigger virtio-mem hotplug size without set "/proc/sys/vm/overcommit_memory".

[2020-03-26 02:03] teawater commented on #965
I think add it should first add resizable allocations to vm-memory.

[2020-03-27 05:42] eryugey opened #967 "vhost-user-fs: fs_slave_map/unmap/sunc don't validate request's length"
In fs_slave_map/unmap/sync, we only made sure offset < cache_size, but didn't validate (offset + len). We should ensure [offset, offset+len] is within cache range as well.

[code]

[2020-03-27 08:35] #942 closed

[2020-03-27 09:55] rbradford commented on #928
@bjzhjing You shouldn't open bugs about issues that are only seen in your PR. I just validated with master and everything works.

`target/debug/cloud-hypervisor  --block-backend image=/home/rob/workloads/clear-32360-kvm.img,sock=/tmp/vublk.sock,num_queues=1,rdonly=false,direct=false`

`target/debug/cloud-hypervisor         --cpus boot=1         --memory size=512M,file=/dev/shm           --kernel ~

[2020-03-27 09:55] #928 closed

[2020-03-27 10:14] stefano-garzarella opened #972 "vhost-user-vsock application"
I'm working on [vhost-user-vsock](https://github.com/stefano-garzarella/cloud-hypervisor/tree/vhost-user-vsock) application reusing `vhost_user_backend` and `vm-virtio` crates from Cloud Hypervisor.

The main purpose of `vhost-user-vsock` application is to allow [QEMU](https://github.com/stefano-garzarella/qemu/tree/vhost-user-vsock) to provide the hybrid vsock over AF_UNIX in the host.

Maybe it

[2020-03-27 10:27] #967 closed

[2020-03-27 13:02] sboeuf commented on #972
Hi @stefano-garzarella, I think the initiative makes a lot of sense. From Cloud-Hypervisor perspective, we're definitely trying to use vhost-user as much as possible, so it'd be great to have a `vhost-user-vsock` backend.
I think that given the fact rust-vmm is a bit behind regarding virtio and vhost-user, Cloud-Hypervisor is probably the best location for this for now.
And longer term, I hope we

[2020-03-27 13:27] stefano-garzarella commented on #972
@sboeuf thanks for your feedback!
It is almost complete and I'll send a PR here when I'll finish.

[2020-03-27 14:11] bjzhjing commented on #928
@rbradford I build rust-hypervisor-firmware from the source code to reproduce the issue and verify the fix. After I add the patch to move next_head at head of DriverState, I've tested it with cloud-hypervisor master branch, it also works.

[2020-03-27 15:06] rbradford commented on #928
I'm telling you that this bug is invalid because it only happens on your PR. You must have made some mistake that breaks it there. Trying to hack around it in the firmware is not the correct solution.

[2020-03-28 00:50] uMartinXu opened #973 "virtio-mem device start address is not align with block size"
https://github.com/cloud-hypervisor/cloud-hypervisor/blob/6a934c32ee0d5a332998d38f1dc785854fca36d8/vmm/src/memory_manager.rs#L251-L253
Above bit operation only works when the VIRTIO_MEM_DEFAULT_BLOCK_SIZE is the power of 2 .
I did not find any comments from Virtio-mem that the block size must be the power of 2. Correct me :) .
I verified it by changing VIRTIO_MEM_DEFAULT_BLOCK_SIZE into 6M, virito

[2020-03-31 08:04] sameo opened #982 "Simplify the API HTTP handling code"
The new `micro_http` package carries our current implementation for routing HTTP requests. We should use replace our `vmm/src/api/http.rs` code with it.

[2020-03-31 20:29] uMartinXu opened #985 "Virtio-mem kernel driver issue: virtio-mem driver may online the pages which are not plugged"
online pages that are not plugged by hypervisor may cause a security issue.

Using steps below to reproduce the issue.
1. fix the issue#793 with PR# 984 https://github.com/cloud-hypervisor/cloud-hypervisor/pull/984
2. change below code and set
VIRTIO_MEM_DEFAULT_BLOCK_SIZE: u64 = (3 * 512 * 4096); // 6M
notes: I did not find any comments that the block size has some limitations.
https://github.com

[2020-04-01 06:58] teawater opened #986 "Got "Bad system call""
/home/teawater/clh/cloud-hypervisor/target/debug/cloud-hypervisor --console off --serial tty --cmdline "console=0 reboot=k panic=1 nomodules i8042.noaux i8042.nomux i8042.nopnp i8042.dumbkbd root=/dev/vda" --kernel /home/teawater/clh/bk/vmlinux --disk path=/home/teawater/old.img --cpus boot=1 --memory size=1024M,balloon=on --net "tap=,mac=,ip=,mask=" --rng --api-socket /home/teawater/clh/api
Cloud

[2020-04-01 07:10] sboeuf commented on #986
We introduced seccomp filters recently, and they're enabled by default. The code you're working on to enable `virtio-balloon` must be using a system call that is not whitelisted. When you're simply testing your code, run the CLI with an extra `--seccomp=false`.
And once you consider the code ready, you will need to find out the missing syscall(s).
To do so, run the program with `strace` as follows

[2020-04-01 08:39] rbradford commented on #986
Please don't open bugs about issues that only affect a PR you're working on.

[2020-04-01 08:40] rbradford commented on #985
Why would you change the constant VIRTIO_MEM_DEFAULT_BLOCK_SIZE?

[2020-04-01 17:20] uMartinXu commented on #985
It is just used it to reproduce the kernel issue.
VIRTIO_MEM_DEFAULT_BLOCK_SIZE is the default "block size".
In theory,  Hypervisor can choose to use the different block size.
Kernel should work properly on different block size.
And here, if Hypervisor uses 6M as block size, kernel may have problem.

[2020-04-01 17:26] rbradford opened #989 "Replace eoan image with focal upon release"
Update the integration tests to use the latest released Ubuntu LTS: 20.04:

https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.img currently works fine:

- [ ] Download and upload to storage bucket
- [ ] Add download to scripts/run_integration.sh
- [ ] Add to sha1sum file
- [ ] Update tests/integration.rs

[2020-04-02 06:49] sameo commented on #986
@sboeuf We should document that. I'm sure this is an issue other contributors will hit, so we should provide some debugging guidance.

[2020-04-02 07:12] sboeuf commented on #986
@sameo yes good point, do you want this to appear in the global readme, or do you want a separate `seccomp.md` in `docs`?

[2020-04-02 07:54] teawater commented on #986
The issue is fixed by Sebastien's PR.

Does the ci's machin disable seccomp in its system make integration test cannot get this issue?

[2020-04-02 07:57] sameo commented on #986
No, it does not.

[2020-04-02 07:59] sameo commented on #986
Ideally the readme should mention that we're enabling seccomp by default (And that it can be tuned off) and point to a bit more detailed `docs/seccomp.md` document.

[2020-04-02 08:52] rbradford opened #993 "Document seccomp feature"
Document that seccomp is on and how to disable it along with a pointer on how to identify missing syscalls during development.

[2020-04-02 08:53] rbradford commented on #986
Superseded by #993

[2020-04-02 08:53] #986 closed

[2020-04-02 12:51] teawater opened #994 "Current integration test cannot reproduce the seccomp issue?"
https://github.com/cloud-hypervisor/cloud-hypervisor/issues/986
This issue affect master with some days but ci didn't say anything.
Did I miss something?

[2020-04-02 12:52] rbradford commented on #994
Your host OS is probably different with a different version of libc making different syscalls.

[2020-04-02 12:57] teawater commented on #994
The lost syscall is open.   Does any vmm can run without open /dev/kvm?

[2020-04-02 12:59] sboeuf commented on #994
@teawater on my OS the syscall used was `openat()`.

[2020-04-03 15:15] stefano-garzarella opened #1001 "vsock: error reading from backing stream"
While developing the vhost-user-vsock application, I had the following error that happens also with the vsock device emulation in cloud-hypervisor:

[code]

## Possible solution

I tried this patch. This avoids the error, but when `VsockError::NoData` is returned, the peers are not able to communicate anymore (the connection is not reset, but the throughput measured with iperf-vsock is 0).

[code]

[2020-04-03 15:23] sboeuf commented on #1001
@stefano-garzarella thanks for opening this. Since the cloud-hypervisor implementation has been ported from Firecracker, I think it would also make sense to post it there and get some feedback from @dhrgit

[2020-04-03 15:28] stefano-garzarella commented on #1001
@sboeuf thanks for the feedback, I'll try if I have the same issue also with Firecracker and I'll post there.

[2020-04-03 16:02] sboeuf commented on #994
I'm closing the issue as it's been fixed already.

[2020-04-03 16:02] #994 closed

[2020-04-06 09:31] #367 closed

[2020-04-06 10:12] stefano-garzarella commented on #1001
@sboeuf also on Firecracker I had the same error (the behavior is slightly different because Firecracker is not exiting) and I opened this issue: https://github.com/firecracker-microvm/firecracker/issues/1751

[2020-04-08 12:04] sboeuf opened #1011 "memory: Change `file` parameter into something more meaningful"
The current parameter `file` for `--memory` option is not fully appropriate as we don't really want to provide a specific file to back the VM's RAM. Whenever we use a backing file, the point is to be able to share this memory with other processes (case for `vhost-user`). And for these use cases we simply point to a special device such as `/dev/shm` or `/dev/hugepages`, so that one temporary file p

[2020-04-08 12:04] sboeuf commented on #1011
/cc @sameo

[2020-04-08 12:06] sboeuf commented on #1011
@likebreath I assigned this issue to you as I think this can be a good candidate to get started with some Cloud-Hypervisor contributions :)

[2020-04-08 12:10] rbradford commented on #1011
It doesn't actually need to be a file. If we use `memfd_create()` it's as if we did `/dev/shm` and if we use `MFD_HUGETLB` it's as if we did `/dev/hugepages`.

We could simply have `--memory shared=on|off,hugepages=on|off`

[2020-04-08 12:21] sameo commented on #1011
Yes, that's pretty much all what we need the current `--memory file=` for, so I like that.

[2020-04-08 12:28] sboeuf commented on #1011
Yeah +1 from me on the `shared=on|off,hugepages=on|off`.
- If shared is `off` => mmap with `MAP_PRIVATE` and no backing file
- if shared is `on` => mmap with `MAP_SHARED` and we need a backing file

AND

- if hugepages is `off` => nothing is added
- if hugepages is `on` => add `MAP_HUGETLB` to the mmap flags

[2020-04-08 12:57] sameo commented on #1011
Or we _always_ create an fd with `memfd`, with MFD_HUGETLB if hugepages is on.
Once we have the fd, we either mmap it with `MAP_PRIVATE` or `MAP_SHARED`.

[2020-04-08 18:12] likebreath commented on #1011
@sboeuf Thanks for pointing me to the issue. I'd definitely want to take this issue, if the timeline works for the team. I am currently debugging on #816 #817, and want to finish those two first, as they are included for the next release. Any advises or questions, please don't hesitate to share.

If I got it correctly, we agreed that we want to simply the option as `--memory shared=on|off,hugepage

[2020-04-08 18:17] sboeuf commented on #1011
No worries on the timeline @likebreath, there's no rush in getting this done, that's why I thought that was a good candidate for you since you can take your time to implement it.

[2020-04-09 01:10] sunaru opened #1014 "error: Could not boot the VM"
Hello,

Per Samuel Ortiz's advise, I am positing the issue here.

When I ran below, I got the error "  thread 'main' panicked at 'Could not boot the VM: VmBoot(KvmNew(Error(13)))', src/libcore/result.rs:1188:5". I replaced disk path with "./eoan-server-cloudimg-amd" and I got the same error.

My OS is Ubuntu "18.04.2 LTS (Bionic Beaver)". I don't have kvm installed. Please advise.

./cloud-hypervi