[2021-01-04 12:36] michael2012z commented on #2080
`--seccomp false` is sort of workaround, rather than solution. I think on AArch64 we'd better reproduce and find out the missing seccomp rule and fix it. Anyway, skipping seccomp is not a good idea.

[2021-01-04 12:41] michael2012z commented on #2080
@magnate3 `Rust Hypervisor Firmware` hasn't been enabled on AArch64.

[2021-01-04 13:08] rbradford commented on #2080
@magnate3 Possible fix in #2094. Please try?

[2021-01-04 15:41] rbradford commented on #2093
rust-hypervisor-fw only works on x86_64. There are no plans to port it.

[2021-01-04 15:41] #2093 closed

[2021-01-04 18:13] #2080 closed

[2021-01-05 01:13] magnate3 commented on #2080
@michael2012z  ,hi.
"--seccomp false is sort of workaround, rather than solution. I think on AArch64 we'd better reproduce and find out the missing seccomp rule and fix it. Anyway, skipping seccomp is not a good idea."
it's a great idea. when i use  aws irecracker, the same problem happens and so  i  also skip seccomp. you also can see [my issue in firecracker](https://github.com/firecracker-micro

[2021-01-05 01:22] magnate3 commented on #2080
@michael2012z , another problem is  how to set the kernel parameter in arm64?

[2021-01-05 05:13] michael2012z commented on #2080
On arm64, you need to build a kernel for your VM. There is a reference config at https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/resources/linux-config-aarch64.

Once built, the binary for your `--kernel` parameter is in`<your kernel code folder>/arch/arm64/boot/Image`.

[2021-01-05 11:39] rbradford commented on #2077
@praveen-pk What do you mean? We already have separate threads for each queue with virtio-block when it runs with multiple queues. (Similarly for queue pairs for virtio-net.)

[2021-01-05 14:59] rbradford opened #2103 "test_watchdog is flaky on aarch64"
This test is very flaky and it causing our builds to fail regularly.

[2021-01-05 15:00] rbradford opened #2104 "windows guest tests are flaky on musl build"
On musl builds the Windows guests tests are flaky and are causing our builds to fail regularly.

[2021-01-05 16:17] sboeuf commented on #2000
Hi @Jimmy-Xu

It could but we chose not to implement the support for it, as we consider any fairly recent PCI device should have at least MSI support.

No that's not an issue, if the card only supports MSI, Cloud-Hypervisor can handle it.

Looking at the `lspci -s 00:04.0 -vvv` output you've provided, it seems something's wrong with MSI since it's disabled:
[code]

- Could you provide the `lspci`

[2021-01-05 17:35] praveen-pk commented on #2077
Seems like my ask was not clear from above, let me restate.

Qemu allows iothreads to be defined (with polling parameters) via an input arguments. Guest devices are in turn assigned to these iothreads. Following being the options for defining an iothread:

-object iothread,id=id,poll-max-ns=poll-max-ns,poll-grow=poll-grow,poll-shrink=poll-shrink

This approach of being able to configure iothreads

[2021-01-06 01:13] magnate3 commented on #2080
@michael2012z  I already have tried many times  before a  month , but fails
[root@bogon linux-cloud-hypervisor]# cp ../cloud-hypervisor/re

release-notes.md  resources/

[root@bogon linux-cloud-hypervisor]# cp ../cloud-hypervisor/re

release-notes.md  resources/

[root@bogon linux-cloud-hypervisor]# cp ../cloud-hypervisor/resources/

Dockerfile            linux-config-aarch64  linux-config-x86_64

[2021-01-06 01:37] magnate3 opened #2109 "Kernel panic - not syncing: VFS: Unable to mount root fs on unknown-block(0,0)"
cloud-hypervisor --kernel vmlinux-virtiofs.container  --disk path=focal-server-cloudimg-arm64.img \
 --console off  --serial tty  --cmdline "console=ttyAMA0  **root=LABEL=cloudimg-rootfs** rw " \
--cpus boot=1         --memory size=8192M \
--net "tap=eh0,mac=48:57:02:04:0a:10,ip=10.10.22.47,mask=255.255.255.0" --rng   --seccomp false

[    0.173923] **VFS: Cannot open root device "LABEL=cloudimg-r

[2021-01-06 05:36] iggy commented on #2109
I would try converting the cloudimg disk to a raw image (by default they are qcow2) just in case it's using some qcow2 feature that cloud-hypervisor doesn't support. I'd also attach the diff between your kernel config and the cloud-hypervisor one (https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/resources/linux-config-x86_64)

[2021-01-06 08:53] dyoung23 opened #2111 "vCPU thread SIGSYS on RHEL7"
I'm new about CLH.So I followed the README.md guide to run a vm.
[code]
After that,I found a new nic named vmtap0 with IP 192.168.249.1.I'm very confused about how to connect to this vm.And if using ssh,which password I should use.
Thanks for your any help.

[2021-01-06 13:58] rbradford opened #2113 "Ubuntu pollinate service failure causing test failures"
The Ubuntu pollinate service tries to connect to entropy.ubuntu.com and download entropy, it is marked as `Before=ssh.service` in the systemd service file therefore if the service fails (which has been observed sometimes on the CI) then the SSH daemon will not be started resulting in test failing.

Since the test VMs never have internet connectivity this service is at the very least unhelpful but

[2021-01-06 17:07] sboeuf commented on #2111
Hi @dyoung23
First thing, make sure you boot the VM with a `cloudinit` disk attached, so that it will provision the VM with the user `cloud` and password `cloud123`. Run the following script `./scripts/create-cloud-init.sh` to generate the `cloudinit` image. You'll find the image in `/tmp/ubuntu-cloudinit.img` on your machine.
Your Cloud-Hypervisor command line will look like:
[code]

Once the VM

[2021-01-06 17:16] sboeuf commented on #2109
Try providing `root=/dev/vda` instead of `root=LABEL=cloudimg-rootfs`. The kernel logs clearly state that it found a correct `vda` partition:
[code]

[2021-01-06 18:52] rbradford opened #2117 "Test flakiness caused by "wrong" guest message"
[code]

We should verify the logic here as the guest has obviously connected to the host to say it has booted but we haven't read the string.

[2021-01-07 02:09] dyoung23 commented on #2111
Thank you @sboeuf.
Following your guide,I create the image `ubuntu-cloudinit.img`,and run clh command below.
[code]
As the result,it did not create a new interface except vmtap0,so I ssh to the IP `192.168.249.1` ,but permisson denied again.
[code]
Btw,are there any other ways to log in the vm,like by console?

[2021-01-07 06:47] rbradford opened #2118 "Barrier failed to be released"
https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/job/cloud-hypervisor/job/master/6726/execution/node/123/log/

[code]

In this case the the vmm thread never releases the barrier for the console. Further debugging output is needed to see if we're getting a lost event.

[2021-01-07 07:57] sboeuf commented on #2111
You must set an IP address for the interface in the guest. It does not make sense to ssh into `192.168.249.1` as it relates to the TAP interface on the host.

Of course, I expect you get prompted to enter the login and password after you ran the Cloud-Hypervisor command line. Make sure you use a clean RAW image (QCOW2 works as well), and wait for about 10 seconds for the following prompt shows up:

[2021-01-07 08:14] dyoung23 commented on #2111
@sboeuf
What a pity,I guess I was in a wrong state all the time.Because after I ran Cloud-Hypervisor command line,I just got this output,and it was stuck there without any prompt -- I think it's in stuck as it still like that after 1 hour.
[code]

[2021-01-07 08:35] sboeuf commented on #2111
Just realized you're using off the shelf ubuntu image. There's a limitation with that, so please use the custom one instead `https://cloudhypervisorstorage.blob.core.windows.net/images/focal-server-cloudimg-amd64-custom.raw`

[2021-01-07 08:39] magnate3 commented on #2109
@sboeuf  when I change to
 cloud-hypervisor --kernel vmlinux-virtiofs.container  --disk pat**h=focal-server-cloudimg-arm64.img  -**-console off  --serial tty  --cmdline **"console=hvc0 root=/dev/vda rw" -**-cpus boot=1         --memory size=8192M --net "tap=eh0,mac=48:57:02:04:0a:10,ip=10.10.22.47,mask=255.255.255.0" --rng   --seccomp false

[    0.181233] EXT4-fs (vda): unable to read superblock

[2021-01-07 08:47] sboeuf commented on #2109
The image you're using might be a QCOW3 image, which is not supported (compressed QCOW). Convert the image into RAW first (using `qemu-img` command), and then Cloud-Hypervisor will be able to find vda1 partition. So make sure you provide `root=/dev/vda1` when using the RAW image.

[2021-01-07 09:06] magnate3 commented on #2109
1、guestfish --format=raw  --rw -a focal-server-cloudimg-arm64.raw
2、   list-filesystems
libguestfs: trace: list_ldm_partitions = []
libguestfs: trace: list_filesystems = ["/dev/sda1", "ext4", "/dev/sda15", "vfat"]
/dev/sda1: ext4
/dev/sda15: vfat

**the root is /dev/sda1 not vda1**.  What should I do?

[2021-01-07 09:21] dyoung23 commented on #2111
@sboeuf This time I use the custom image which you said `focal-server-cloudimg-amd64-custom.raw`,but get core dumped error. oops.
[code]

[2021-01-07 10:18] sboeuf commented on #2111
Weird, that means there's a system call missing in the seccomp list.
Append `--seccomp false` to the Cloud-Hypervisor command line, this should do the trick.
If that works, could you please identify which syscall is missing by running `strace -f ./cloud-hypervisor ...`, and paste the output here?

[2021-01-07 10:21] sboeuf commented on #2109
Use `vda1` as this is the way it will show up in the guest. `sda1` comes from the fact that you're on the host.

[2021-01-07 10:42] dyoung23 commented on #2111
@sboeuf  It does works by appending `--seccomp false`.
The output of `strace` is like below
[code]

[2021-01-07 11:06] magnate3 commented on #2109
@sboeuf   there is another problem  ,the vm  is suspended   int the boot  ptrocess
cloud-hypervisor --kernel vmlinux-virtiofs.container  --disk path=focal-server-cloudimg-arm64.raw  --console off  --serial tty  --cmdline "console=hvc0 **root=/dev/vda1** rw" --cpus boot=1         --memory size=8192M --net "tap=eh0,mac=48:57:02:04:0a:10,ip=10.10.22.47,mask=255.255.255.0" --rng   --seccomp false

[

[2021-01-07 11:20] sboeuf commented on #2109
Remove `--console off --serial tty` from your command line, otherwise you won't get any console.

[2021-01-07 11:23] sboeuf commented on #2111
Ok that's good.

Thanks for the logs, the problem is obviously coming from a missing `open(2)` syscall. Now the question is, which thread should have it enabled. Could you run `pstree -t -p $(pidof cloud-hypervisor)` first, and then run the `strace` one more time. This will help us find out which thread is missing the syscall.

[2021-01-07 11:34] magnate3 commented on #2109
@sboeuf  my god,so many bugs in contrast to starting vm witch qemu
cloud-hypervisor --kernel vmlinux-virtiofs.container  --disk path=focal-server-cloudimg-arm64.raw    --cmdline "console=hvc0 root=/dev/vda1 rw" --cpus boot=1         --memory size=8192M --net "tap=eh0,mac=48:57:02:04:0a:10,ip=10.10.22.47,mask=255.255.255.0" --rng   --seccomp false
[  OK  ] Finished udev Wait for Complete Device Ini

[2021-01-07 12:46] sboeuf commented on #2109
@magnate3 can you boot now? If so, please feel free to close the issue.

[2021-01-07 12:49] magnate3 commented on #2109
@sboeuf  no,failt to boot
[FAILED] Failed to mount /boot/efi.

[2021-01-07 14:51] sboeuf commented on #2109
[code]
@rbradford any idea about this?

[2021-01-07 22:03] praveen-pk commented on #2003
I confirmed the same behavior while booting the same image with qemu in UEFI mode while using virtio-blk disk.

[2021-01-08 02:42] dyoung23 commented on #2111
@sboeuf What's the version of `pstree` in your environment,I use `pstree (PSmisc) 22.20 ` but have no `-t` option.
So I just run `strace` first, then run `pstree -p $(pidof cloud-hypervisor)`  and get this output.
[code]

[2021-01-08 12:05] sboeuf commented on #2111
My version number is `UNKNOWN`, that's weird :)
Try in your version to find out how to print thread names.
This comes from the help in my version:
[code]

[2021-01-08 12:54] #2117 closed

[2021-01-08 14:13] rbradford opened #2126 "test_windows_guest_snapshot_restore fails"
This test is quite consistently failing on the CI.

[2021-01-08 15:03] #2104 closed

[2021-01-08 15:39] sboeuf commented on #2126
@rbradford could you point to the jenkins logs related to these failures?
Also, are you sure the windows image hasn't been corrupted in some way, making the test consistently failing? Since you removed the part in the Jenkinsfile downloading a brand new image each time, we might have a corrupted image that causes these failures.

[2021-01-08 15:50] rbradford commented on #2126
@sboeuf The test never finishes (gets killed by timeout). The image is copied afresh from workload directory for every test so I don't think we're getting a corrupted image. Further `test_windows_guest` passes fine.

[2021-01-08 17:02] sboeuf opened #2132 "Use device mapper to improve images copy for integration tests"
We should try to use device mapper in order to snapshot images used from integration tests, avoiding the copy of the entire image each time we spawn a new test.

[2021-01-08 19:31] rbradford opened #2135 "net_util unit test flaked"
[code]

[2021-01-09 15:28] dyoung23 commented on #2111
@sboeuf I found it seems to have no options to print thread names.
[code]

[2021-01-10 02:20] volfco opened #2136 "Setting num_queues to a value greater then 1 prevents startup"
Using a build built from master (at the time I posted this), I'm running into an issue where if the num_queues option on a disk is set greater then 1 the image fails to boot using either hypervisor-fw or OVMF firmware.

cloud-hypervisor seems to fail with the following error:
[code]

With 2 queues:
[code]

With only 1:
[code]

[2021-01-10 10:46] rbradford commented on #2136
Does setting your number of vCPUs to 2 (i.e. the same number as the number of queues) work?

[2021-01-10 11:06] rbradford opened #2138 "Refactor test_memory_mergeable"
This test seems to be the only flaky test we have remaining. It has some very complex logic to work out if there are pages shared by looking at the PSS. Maybe instead we should just ask the kernel if it has shared any pages:

https://www.kernel.org/doc/Documentation/vm/ksm.txt:

[code]

[2021-01-10 11:08] rbradford opened #2139 "Add signal handler to report details from SIGSYS"
We get a SIGSYS from a seccomp violation but the signal details have some information to help debug that. We should show that so that we get some output in our logs on the CI when we have seccomp issue.

[2021-01-10 11:10] rbradford opened #2140 "Add clean shutdown using ACPI button"
Investigate adding an ACPI button to trigger a clean shutdown. We could reuse the existing vm.shutdown API entry point as there is some definitely some confusion on its behaviour. A vm.terminate entry point could be used to hard kill the vm.

[2021-01-10 16:05] volfco commented on #2136
Nope. Same error.

[code]

[2021-01-10 20:29] iggy commented on #2140
From what I read quickly online, there's specific functionality called out for this in the case of "hardware reduced ACPI platforms". There is a Control Method Power Button.

https://docs.microsoft.com/en-us/windows-hardware/drivers/bringup/hardware-requirements-for-soc-based-platforms#hardware-reduced-acpi-platforms

[2021-01-10 21:33] rbradford commented on #2111
`KVM_RUN` shows this is vCPU thread

[2021-01-11 07:30] dyoung23 commented on #2111
@rbradford So what shoud I do?

[2021-01-11 08:12] sboeuf opened #2143 "test_user_defined_memory_regions is flaky"
Refer to https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/blue/organizations/jenkins/cloud-hypervisor/detail/master/6797/pipeline for logs.

[2021-01-11 08:25] sboeuf commented on #2138
This is definitely worth a shot.

[2021-01-11 09:16] rbradford commented on #2143
You need to copy the content as the builds get deleted.

[2021-01-11 09:20] sboeuf commented on #2143
Here are the logs:
[code]

[2021-01-11 09:26] #2103 closed

[2021-01-11 09:32] #2126 closed

[2021-01-11 09:40] rbradford commented on #2111
@dyoung23 If you have further support questions please use https://github.com/cloud-hypervisor/cloud-hypervisor/discussions/new under "Q&A"

[2021-01-11 10:24] #2111 closed

[2021-01-11 11:56] #2070 closed

[2021-01-11 16:38] #2113 closed

[2021-01-12 06:28] eeldy opened #2152 "Is there any tool for accessing the console associated with a Cloud-Hypervisor virtual machine?"
Is there any tool or helper for accessing the serial tty or virtio-console associated with a Cloud-Hypervisor virtual machine seperately other than directly enter in console or serial by running ./cloud-hypervisor CLI? Like virt-viewer, vnc viewer or libvirt virsh console command which can be used to connect to the text console of a guest, etc? Thanks a lot.

[2021-01-12 09:23] #2139 closed

[2021-01-12 10:11] rbradford commented on #2152
I think this is something that @bryteise is working on for libvirt enabling.

[2021-01-12 16:18] sboeuf opened #2155 "Fix Windows integration tests with device mapper"
We want to rely on device mapper to snapshot the Windows guest image, so that it can be quickly shared across multiple tests, avoiding potential corruption.

[2021-01-13 02:20] russell-islam opened #2157 "Integration test is failing in Master branch"
In our msft internal pipeline three tests are failing with upstream master branch:
2021-01-13T01:33:40.8944559Z failures:
2021-01-13T01:33:40.8944882Z     tests::parallel::test_snapshot_restore
2021-01-13T01:33:40.8945252Z     tests::parallel::test_vfio
2021-01-13T01:33:40.8945609Z     tests::parallel::test_virtio_iommu

[2021-01-13 02:22] russell-islam commented on #2157
[pipline-log.txt](https://github.com/cloud-hypervisor/cloud-hypervisor/files/5805969/pipline-log.txt)

[2021-01-13 02:27] russell-islam commented on #2157
Any suggestions. I am not sure if anything wrong with our Ubuntu Host. Rust version 1.49.0

[2021-01-13 06:37] dyoung23 opened #2160 "does clh support CentOS guest OS"
I find clh support all 64-bit Linux  Guest OS,but have no document to introduce how to make a custom CentOS image.So I downloaded a normal one from offical website.
`https://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud-2003.raw.tar.gz`
But when I run a clh command line,I just met that it was stuck there all the time no matter I added the `--seccomp false` or not.
[code]
What's  mo

[2021-01-13 07:35] iggy commented on #2160
You probably need `--serial tty` or `--console tty` to get it to output anything to your console. At that point you should be able to login and setup the network/etc.

[2021-01-13 07:49] dyoung23 commented on #2160
@iggy I add this option `--serial tty --console off` and just get this output,the it is still in stuck there.
[code]

[2021-01-13 09:09] iggy commented on #2160
it says it failed to find the efi partition. I suspect that means the disk image you are using is a bios based image. `hypervisor-fw` is only for uefi images. You should either build a custom efi image or use `--kernel`/`--initramfs`/`--cmdline`

[2021-01-13 09:36] dyoung23 commented on #2160
@iggy I don't know much about how to use these options ` --kernel/--initramfs/--cmdline`.I just find these usage from other issues,but get this output.
[code]

Btw,do you have other docs in more detail to introduce how to use clh?

[2021-01-13 10:48] #2155 closed

[2021-01-13 11:46] liuw commented on #2157
All three tests failed with out of bounds access.

```2021-01-13T01:33:40.8474201Z cloud-hypervisor: 772.467713ms: <vcpu3> ERROR:vm-virtio/src/queue.rs:516 -- virtio queue descriptor table goes out of bounds: start:0xfffff000 size:0x00000800```

I wonder why upstream CI never sees this though.

[2021-01-13 12:16] rbradford commented on #2077
Having discussed this with you offline what we need is a predictable naming scheme for the threads. We currently create one thread per queue for most virtio devices. The caveat being virtio-net where this is one thread per queue of rx/tx plus an optional thread if the MQ control thread is enabled.

[2021-01-13 12:18] rbradford commented on #2077
I'm thinking we name the threads after the virtio devices's id and append a suffix so that the threads are deterministically named and differentiable from each other.

[2021-01-13 13:20] rbradford commented on #2160
`hypervisor-fw` only supported EFI images, which CentOS does not provide (as a cloud image, the installer image is.) If you want to use those image with a firmware you can try the experimental OVMF support: https://github.com/cloud-hypervisor/edk2/tree/ch (instructions how to build in can be found in docs/uefi.md) or as @iggy points out you can use your own kernel and make the root device the corr

[2021-01-13 13:20] #2160 closed

[2021-01-13 13:22] rbradford commented on #2109
I expect the fstab entry is wrong.

This is a support request and should be handled under https://github.com/cloud-hypervisor/cloud-hypervisor/discussions

[2021-01-13 13:22] #2109 closed

[2021-01-13 13:22] rbradford commented on #2084
@iggy Okay sounds good, PTY support is being added for libvirt so this might be useful for your use case.

[2021-01-13 13:24] rbradford commented on #474
All virtio-fs patches are now removed from our kernel fork!

[2021-01-13 13:24] #474 closed

[2021-01-13 13:29] rbradford opened #2164 "macvtap multiple queue support"
The support added for specifying a tap file descriptor for --net should be extended to support supplying multiple file desciptors, one per network queue pair.

[2021-01-13 15:56] #2077 closed

[2021-01-13 16:33] liuw commented on #2157
What are the differences between Microsoft's internal pipeline vs upstream pipeline when testing KVM?

As I understand it is also using the set of tests. The only difference I know is the internal pipeline runs on a real machine while the upstream one runs on nested KVM. Is there something else that's worthy of mentioning?

[2021-01-13 17:00] #1784 closed

[2021-01-13 17:00] #2140 closed

[2021-01-14 01:01] russell-islam commented on #2157
You are right. Kernel version might be different but that should not fail the tests. Also I was wondering upstream CI has ane extra configurations on the host.
@rbradford any thoughts?

[2021-01-14 11:23] rbradford commented on #2157
@russell-islam We run the Azure groovy image on the CI systems.

It looks like the kernel has placed the queues at the top of the guest memory (it can place them anywhere) but vm-memory thinks that's not valid. I would start by debugging what is going on with vm-memory.

[2021-01-14 11:44] liuw commented on #2157
Another thing comes to mind. The failures are recent. If Cloud Hypervisor is the only variable in our setup, you can pick a random point in the past in history as the baseline and start bisecting. Once you pin point a change in Cloud Hypervisor that triggers the failures, we have a better chance to understand the problem.

[2021-01-14 13:13] rbradford commented on #1862
I've been looking into this and although we can get a pthread_t for all the threads we create there is no way to map that back to TID or PGID. A thread can find it's own with `gettid()` however we have no way of correctly sharing that back to the main thread and making sure it is current (in terms of threads going away as they will do when a device is reset.)

The best way to this is to parse /pro

[2021-01-14 13:13] #1862 closed

[2021-01-14 15:24] rbradford commented on #1769
I found out that lscpu is combines the cache values from each core into one sum. If you use the topology from the host in the guest you get the correct values in lscpu. I also verified that with the low level cpuid tool that the cache data is the same in the two.

[2021-01-14 15:24] #1769 closed

[2021-01-14 15:54] rbradford opened #2170 "Update vCPU seccomp rules"
Now that we always start device threads from all the VMM thread we can remove some of the permitted syscalls from the vCPU threads.

[2021-01-19 06:52] rbradford commented on #2118
Haven't seen this for a while. I think the reordering of the read in e0d7919 resolved this.

[2021-01-19 06:52] #2118 closed

[2021-01-19 07:42] rbradford opened #2178 "Migrate ARM64 support to ACPI"
Currently the ARM64 support used Device Tree requiring the dependency on the libfdt library. With the removal of virtio-mmio and GICv2 support it should be possible to move to ACPI only. This might give some hotplug support for free but most importantly simplify our code base.

@MrXinWang  @michael2012z  Happy for this change to go ahead?

[2021-01-19 07:52] MrXinWang commented on #2178
@rbradford Of course yes. (Just out of curiosity - Does the community already have a roadmap for doing this or we are just planning?)

[2021-01-19 08:27] rbradford commented on #2178
@MrXinWang  This is that plan. :-)

[2021-01-19 09:18] michael2012z commented on #2178
Hi, @rbradford

Indeed, ACPI is the next most important thing we need to support. Regarding the plan for AArch64, Henry and me are going along these major roadmap items:
- Giv3-ITS migration - Drafted code, but there is still some problem. Debugging now.
- Firmware - Finished early investigation. Now implementing.
- ACPI - Did some early investigation, will begin the implementation after Firmware

[2021-01-19 23:33] bryteise commented on #2152
@eeldy see #2168 for details on what I'm looking to enable.

[2021-01-20 11:23] rbradford commented on #2178
Hi @michael2012z. This sounds fine. I think you might find firmware more challenging than ACPI but that's up to you. We're you going to try using https://github.com/cloud-hypervisor/edk2 ? or https://github.com/cloud-hypevisor/rust-hypervisor-firmware ?

In terms of ACPI. Let me help you make a start by making sure any x86 specific stuff is gated so that it makes it possible to turn on the feature

[2021-01-20 11:31] rbradford commented on #2178
I just checked the Linux code. Unlike on x86 the only supported method for getting the ACPI tables is the firmware. This is confirmed by the documentation:
[code]

[2021-01-20 12:14] michael2012z commented on #2178
@rbradford We are trying rust-hypervisor-firmware. I thought it is not that hard to add the AArch64 support. But please correct me if I haven't realized the real challenges in it.

Will rust-hypervisor-firmware keep developing? Why are there 2 firmware repo's (`edk2` and `rust-hypervisor-firmware`) in cloud-hypervisor, will one of them be skipped in future?

[2021-01-20 12:27] rbradford commented on #2178
The edk2 repository was added to provide support for Windows and for booting non-EFI guests using MBR boot. Since there is already edk2 support for aarch64 and the number of changes needed to support CH there is quite small you might find it easier. However rust-hypervisor-firmware is a smaller code base to work with. It's a difficult decision to make but i'll support you either way.

[2021-01-20 12:43] rbradford opened #2181 "Move ACPI devices to MMIO"
Currently the ACPI device are on the I/O bus. If we want to use them on aarch64 then we should move them to the MMIO bus.

[2021-01-20 12:45] rbradford opened #2182 "Selective integration test running"
The support for supplying a specific integration test to run via `scripts/run_integration_tests_x86_64.sh` has been broken.

[2021-01-20 17:31] russell-islam commented on #2157
Looks like it is an internal pipeline issue. We have cancelled some jobs but it was not cleaned properly by pipeline service. Spcfically the CLH scripts. Sp closing this issue.

[2021-01-20 17:31] #2157 closed

[2021-01-20 17:54] #2136 closed

[2021-01-20 17:55] volfco commented on #2136
Kudos @sboeuf and @rbradford for your help and fixing this. I look forward to finding more bugs xD

[2021-01-21 09:41] #2170 closed

[2021-01-21 13:36] sameo opened #2185 "Add support for the VHD disk image format"
[As specified by Microsoft](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/legacy/dd323654(v=vs.85)) and used by Azure.

We only want to support fixed VHD for now.

[2021-01-22 15:08] #2181 closed

[2021-01-22 16:13] rbradford commented on #1460
@slp I think this should be moved....

[2021-01-24 17:05] #2092 closed

[2021-01-24 19:11] weltling commented on #1799
I went to check how this currently is implemented in QEMU. It turns out, that QEMU functionality regarding Windows is identical. I used the command below to start a Windows guest:

`qemu-system-x86_64 -machine q35,accel=kvm -cpu host -smp 1,maxcpus=2 -m 4G -drive if=none,id=root,file=./windows.qcow -device virtio-blk-pci,drive=root,disable-legacy=on -vga std`

This sets the initial CPU amount in t

[2021-01-24 20:51] weltling commented on #1800
I went for a quick check with QEMU

[code]

The steps listed in the [QEMU documentation](https://github.com/qemu/qemu/blob/master/docs/memory-hotplug.txt) show memory hot add to be functional. The essential parts are

- The console invocation has to specify the details on the virtual slots, start and maxmemory amount like `-m 1G,slots=3,maxmem=4G`
- In the monitor, the commands below do the job
[c

[2021-01-24 21:15] davidhildenbrand commented on #1800
You should check whether removal actually succeeded: „info memory-devices“

„device_del ...“ merely corresponds to an ACPI request to asynchronously remove the device. The request can simply be ignored by the guest and „device_del“ itself won‘t fail.

Most likely it didn‘t work, because Windows does not support unplug of DIMMs.

[2021-01-24 21:33] weltling commented on #1800
Thanks for the hint, I can see described behavior. After invoking `device_del dimm1`, `info memory-devices` still shows that device present. The device_del command doesn't show any errors, however.

When running `object_add`/`object_del` without adding a dimm device, there is no error. So it looks like if the dimm device is present, the memory can't be freed.

I made one more check and rebooted QE

[2021-01-24 21:54] davidhildenbrand commented on #1800
AFAIR, QEMU waits for the guest to trigger the eject, which never happens in case of Windows guest.

Anyhow, the focus with Windows guests should be hotplug for now, that‘s what Windows supports.

[2021-01-25 11:16] rbradford commented on #2132
@sboeuf Did you want to update this issue and close it for completeness?

[2021-01-25 11:49] weltling commented on #1800
That's true, the hotplug part is where the parity is obvious to be achieved.

Thanks.

[2021-01-25 12:17] rbradford commented on #1800
We not and probably never will support unplug with for memory with ACPI.

[2021-01-25 12:28] rbradford commented on #1570
With our CI stability very high now I don't think we need retries. Thanks to everyone who contributed to that.

[2021-01-25 12:28] #1570 closed

[2021-01-25 12:35] davidhildenbrand commented on #1800
As a side note: virtio-mem might be coming to Windows at some point.

https://ourwindowsman.wordpress.com/2020/11/03/virtio-mem-goes-to-windows/

https://devconfcz2021.sched.com/event/gmPD/virtio-mem-goes-to-windows

Would be interesting if virtio-mem would have similar issues as ACPI hotplug under CH as described in this thread.

[2021-01-25 17:34] #2182 closed

[2021-01-25 17:36] #2069 closed

[2021-01-26 04:35] michael2012z commented on #2178
The plan for AArch64 support of ACPI:

1. Build

2. Refactor `configure_system()` to handle ACPI tables

3. Support mandatory tables:

[2021-01-26 09:30] sboeuf commented on #1799
Thanks for investigating @weltling.
I'm surprised QEMU has the same "problem".
I can see you tested with q35 machine type, maybe it'd be worth trying with pc machine type as well.

[2021-01-26 09:36] sboeuf commented on #2132
After implementing the solution for this issue, it turned out device mapper wasn't behaving consistently under high load, and couldn't find the solution for that.
Let's keep the current solution as it is quite fast and stable.

[2021-01-26 09:36] #2132 closed

[2021-01-26 09:42] #2135 closed

[2021-01-26 10:46] sboeuf commented on #2178
Nice summary @michael2012z
About using acpi_rsdp= in the command line at first, that sounds completely fine to me.
We should even maintain this as a valid solution long term, as I don't think we want ACPI to be tied to UEFI and therefore rust-hypervisor-firmware.

[2021-01-26 11:08] rbradford commented on #2178
@sboeuf That will be useful for testing. The only official support is via EFI (see my earlier comment.)

CONFIG_KEXEC=y will be needed as usually "acpi_rsdp=" parsing is restricted to the x86 code: https://github.com/torvalds/linux/blob/85f94020033f931a5918ab26281b2afbe4d68b73/drivers/acpi/osl.c#L198 and https://github.com/torvalds/linux/blob/40ba9309c76f29d012a5cc0cf938f8ff7dc6fef2/arch/x86/boot/

[2021-01-26 12:29] #2065 closed

[2021-01-26 12:59] sboeuf commented on #2178
Got it!

[2021-01-26 15:26] rbradford commented on #2185
Spec download: http://go.microsoft.com/fwlink/p/?linkid=137171

[2021-01-26 17:00] russell-islam commented on #2185
@sboeuf  Is the scope of the work is to support VHD only or vhdx also?

[2021-01-27 07:00] eeldy opened #2210 "ch process stucked when strarup"
Follow the instructions in readme to start the ch guest, but ch process stucked:
$ ./cloud-hypervisor/target/debug/cloud-hypervisor \
     --kernel /home/hypervisor-fw \
     --disk path=/var/focal-server-cloudimg-amd64.raw \
     --cmdline "console=ttyS0 root=/dev/vda1 rw" \
     --cpus boot=4 \
     --memory size=2048M \
     --serial tty \
     --console off \
     --net "tap=,mac=,ip=,mask=" \

[2021-01-27 10:40] rbradford commented on #2210
Hi @eeldy thanks for opening this issue. This is a regression in the upstream Ubuntu image. Please see https://github.com/cloud-hypervisor/rust-hypervisor-firmware/issues/77 for details and a mitigation for using our custom image.

[2021-01-27 10:40] #2210 closed

[2021-01-27 17:17] sboeuf commented on #2000
@Jimmy-Xu

I've opened https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2212 to extend our VFIO documentation, specifying about limitations with NVIDIA cards used with NVIDIA proprietary drivers.

I've been testing with a small RTX 1080 and I could observe the same behavior as you did with the Tesla M40. The problem is about the NVIDIA driver since it ignores completely if the card suppor

[2021-01-27 17:17] #2000 closed

[2021-01-28 09:11] #2164 closed

[2021-01-28 11:37] rbradford opened #2215 "Add integration test to mimic macvtap"
Add an integration test that replicates the macvtap instructions from docs/macvtap-bridge.md

[2021-01-28 11:42] rbradford opened #2216 "Fix ACPI warnings"
Dumping the ACPI tables and then recompiling them generates some warnings:

[code]

[2021-01-28 11:59] slp commented on #1460
@rbradford Yes, it'd be nice to have this one in https://github.com/rust-vmm/vhost. Do you have the possibility to move this issue there to avoid creating it from scratch?

[2021-01-28 12:17] rbradford commented on #1460
No, GitHub does not let you move across organisations.

[2021-01-28 13:08] slp commented on #1460
@rbradford Ouch. Well, I created a new issue manually https://github.com/rust-vmm/vhost/issues/17

I think this one can be closed.

[2021-01-28 13:16] rbradford commented on #2215
@likebreath Fancy taking this on?

[2021-01-28 13:16] #1460 closed

[2021-01-28 13:30] #2216 closed

[2021-01-28 15:14] rbradford opened #2218 "Create test net interfaces in rust code"
Rather then create/drop the test interfaces/bridge used by VFIO/vhost-user-net in the shell script do this in the Rust code.

[2021-01-28 15:18] rbradford commented on #2218
@likebreath Maybe another one for your to look at?

[2021-01-28 15:46] rbradford commented on #1731
Could reuse https://github.com/firecracker-microvm/firecracker/pull/271/commits/142a91f9616e44d73daf46baed9554784f482048#diff-a1e3b4f2cdf5d755f3968cc44b6a0c6ad3324a6a7e0bdc297ebe6ed1e87a2aa0 to give a token bucket to allow us to ratelimit.

[2021-02-01 13:45] #2185 closed

[2021-02-02 08:48] michael2012z commented on #2178
Update of the progress:

1. Refactor `configure_system()` to handle ACPI tables

2. Support mandatory tables:

By current booting log, guest kernel stopped at initializing serial device. That is because DSDT has not been ready, and that is what we will work on.

As everything is still in testing, I haven't been able to create a PR for review. But it's better to update what  is on-going.

[2021-02-02 09:06] iggy commented on #2084
This tab got lost in the shuffle. Just making it back around to it.

As far as what other hypervisors do, it looks like qemu is the most featureful.

Qemu features:
* Host devices can be one-way or two-way
* Supported two-way connections
  * pipe - creates 2 pipes; `.in` (host -> guest) and `.out` (guest -> host)
  * socket - tcp/unix; can act as a server or a client
  * stdio - similar to CH's ex

[2021-02-02 10:37] sameo opened #2226 "Initial Intel Trust Domain Extensions (TDX) Enablement"
[Intel Trust Domain Extensions](https://software.intel.com/content/dam/develop/external/us/en/documents/tdx-whitepaper-v4.pdf) are a new x86 ISA extension designed for running Virtual Machines (VMs) inside hardware isolated Trust Domains (TDs).
With TDX, any non -TD software (platform firmware, host kernel, hypervisor, VMM, etc) is removed from the VM Trusted Computing Base (TCB), allowing for pro

[2021-02-02 10:38] sameo commented on #2226
cc @rbradford @sboeuf @arronwy @Jiangbo-W

[2021-02-02 13:37] weltling commented on #1798
I went for a QEMU check:

[code]

The command used to start a Windows guest:

`qemu-system-x86_64 -machine q35,accel=kvm -cpu host -smp 1 -m 4G -drive if=none,id=root,file=./windows.qcow -device virtio-blk-pci,drive=root,disable-legacy=on -vga std`

explicitly not adding any network device. Then i switched to the monitor and executed the command below:

[code]

After some more digging i came up wi

[2021-02-02 16:51] weltling commented on #1798
As suggested by @liuw, i went to use `pc` instead of `q35` for the machine type. That way, everything seems to work without adding a PCI bridge device:

[code]
As one can see, the hotplug takes place directly on  the PCI bus in this case.

Thanks

[2021-02-02 18:12] sboeuf commented on #1799
Thanks for checking :)

[2021-02-02 23:32] sameo opened #2227 "Emulate MOVZX"
Recent Linux kernel guest have started emitting that instruction and it thus needs to be emulated for MSHV.

[2021-02-03 05:33] likebreath commented on #2215
@rbradford Will I able to reach (e.g. `ping`)  the host from the guest with the setup as instructed from the [docs/macvtap-bridge.md](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/docs/macvtap-bridge.md)?

I got a WIP integration test here https://github.com/likebreath/cloud-hypervisor/commit/2349e871ae3b543614e16c1c14182c5cfd289622. I believe it replicates the instructions from

[2021-02-03 08:57] rbradford commented on #2215
@likebreath You need to change the mode if you want the host to be able to reach the guest: https://backreference.org/2014/03/20/some-notes-on-macvlanmacvtap/

[2021-02-03 13:04] sameo opened #2230 "hugepages does not support 1GB pages"
The `hugepages` `--memory` option is a toggle to use 2MB pages instead of 4K ones. 1GB is not supported.
It should let the user choose between 2MB and 1GB.

[2021-02-03 13:11] #2227 closed

[2021-02-03 15:48] rbradford opened #2231 "Removing "LinuxBoot" protocol support"
Now that we support the PVH protocol it is probably worth considering removing the support for the unofficial and unsupported "LinuxBoot" support. Anybody using direct kernel boot is doing so because they want to use their own kernel and as such is it completely reasonable to expect it to support this feature.

[2021-02-03 17:19] rbradford commented on #2231
@likebreath Kata is the main user of direct kernel boot. Can you check it's using PVH based boot.

[2021-02-03 22:05] rbradford opened #2232 "Simplify ACPI interface exposed when no resizing possible"
Consider if we should remove the DSDT logic if:
* For CPU hotplug when: max vCPUs is boot vCPUs
* For memory hotplug when: hotpluggable_memory == 0 or using virtio-mem

(Always keep PCI hotplug logic.)

I think this might speed up our boot by not having the kernel interrogate the MemoryManager/CpuManager and by having less DSDT data to generate and parse.

[2021-02-03 23:39] likebreath commented on #2231
I think kata is using PVH based boot (at least on x86-64 platforms), given the fact that the `CONFIG_PVH=y` is always enabled while generating kata's custom kernel images (on x86-64 platforms) for both in kata-runtime [here](https://github.com/kata-containers/packaging/blob/master/kernel/configs/fragments/x86_64/base.conf#L22) and kata-2.0 [here](https://github.com/kata-containers/kata-containers/

[2021-02-04 10:00] rbradford commented on #2230
Alternatively to providing a control to the user we could see if the region is a multiple of 1GiB and use those pages instead. Let me experiment with that first.

[2021-02-04 10:31] rbradford commented on #2230
Sadly we can't do that as the hugepage size available is set a boot time with `hugepagesz=1G` on the kernel. So we will need to give the user full control of the option.

[2021-02-04 14:26] devimc commented on #2231
@likebreath you're right, performance is better when the raw kernel is used

[2021-02-04 15:56] jcvenegas commented on #2231
@likebreath @rbradford sounds good, as the kernel is already compiled with that flag, I assume that is using PVH today, correct?
I am not sure what is the preference order that it uses.

And as @devimc mention we use it for better boot time, that leads me to a more informative question is there any perf difference with both methods? I think both load an uncompressed kernel but, in practice the cod

[2021-02-04 15:58] rbradford opened #2234 "Some unit tests not being run"
We run the unit tests from the root with `cargo test --workspace`. This seems to miss all the tests in `vmm/src/config.rs` and possibly others.

[2021-02-04 16:02] rbradford commented on #2231
No, shouldn't see any performance difference between PVH and LinuxBoot. But if you're concerned your should compile the kernel without CONFIG_PVH=y and compare.

[2021-02-04 17:52] #1883 closed

[2021-02-05 09:24] #2230 closed

[2021-02-06 18:32] glitzflitz opened #2240 "Is there any way to set bootindex in CH?"
I'm testing my vhost-user-scsi implementation which currently only supports simple data disks.
Is there any way to set bootindex in CH so that I can  use another image as a simple data disk?

[2021-02-07 03:19] iggy commented on #2240
cloud-hypervisor doesn't have the concept of bootindex because it doesn't provide any sort of bios integration. If you are using something like hypervisor-fw, I think it just uses the first drive specified. If you are using your own kernel, you just set the boot device using `--cmdline` args.

[2021-02-08 14:57] liuw opened #2242 "Discrepancy between virtio-devices/src/net.rs and virtio-devices/src/vhost_user/net.rs"
A nightly compiler complains `ctrl_queue_epoll_thread` is never read in the vhost_user's implementation.

Upon closer inspection `ctrl_queue_epoll_thread` is read in the non-vhost code (`unpark()` called). That's not the case in vhost_user.

The control thread looks to be virtio-net specific, so it should perhaps be unparked across these two different implemenations, but I have not had the time to

[2021-02-08 15:12] liuw commented on #2242
I've created https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2244 to clarify what I think is correct. Feel free to nack that PR if I'm over-thinking here.

[2021-02-08 16:16] #2242 closed

[2021-02-10 09:00] sboeuf opened #2251 "VFIO support for migration"
I've seen the Linux kernel recently (5.8) extended the VFIO API (https://elixir.bootlin.com/linux/v5.8/source/include/uapi/linux/vfio.h) in order to support live migration.
We should investigate how we could rely on it to implement live migration for VFIO in Cloud-Hypervisor.
Might be helpful to check how it's been done in QEMU as well.

[2021-02-10 13:47] sboeuf opened #2256 "Simplify DeviceManager regarding PCI devices"
There are many structures in the `DeviceManager` to maintain all sorts of information about PCI devices. It'd be interesting if we could simplify them behind a more global one. Maybe rely more on `PciBus` or come up with something new that would abstract the complexity.

[2021-02-10 19:00] rishirsinha opened #2258 "Cloud Hypervisor stuck trying to get PCI configuration."
I have been trying to run cloud hypervisor on my linux physical machines and virtual machines based on the instructions on the home page, but have not been able to successfully bring up a logged in VM yet. I have been using the instructions for both the custom kernel image and the standard kernel image.

I used the commands listed on the main cloud-hypervisor page. The cloud hypervisor process com

[2021-02-10 19:17] iggy commented on #2258
What cloud-hypervisor command line args are you using?

What kernel version?

What's the diff between your kernel config and the one in the [repo](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/resources/linux-config-x86_64)?

In general, I think the devs prefer using the [Discussions](https://github.com/cloud-hypervisor/cloud-hypervisor/discussions) GitHub feature for support qu

[2021-02-10 19:22] rishirsinha commented on #2258
I will start a discussion and close this issue.

[2021-02-10 20:01] rishirsinha commented on #2258
Moved the question to here:

https://github.com/cloud-hypervisor/cloud-hypervisor/discussions/2261

Am closing this issue.

[2021-02-10 20:01] #2258 closed

[2021-02-11 15:25] #2215 closed

[2021-02-12 14:03] sboeuf commented on #2234
It's weird, I started investigating this issue and I could see `vmm/src/config.rs` unit tests being run.
I looked into a recent `master-periodic` [build](https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/blue/organizations/jenkins/cloud-hypervisor/detail/master/7276/pipeline/115) and here is one part of the ouput:
[code]

@rbradford what did I miss?

[2021-02-13 08:58] rishirsinha opened #2268 "Bionic seccomp issue"
I had posted a discussion a few days ago about being unable to have a VM launch using cloud hypervisor.

I was running on a Ubuntu Bionic host with kernel version 4.15.0-135-generic.

[code]

The output is the following:

[code]

But I ran the same commands on another focal host and the VM came up. Looks like something is broken on bionic hosts. I am more than happy to help with whatever diagnosti

[2021-02-15 02:09] michael2012z commented on #2268
The crash could be caused by seccomp violation.

Appending argument `--seccomp log` should bypass the seccomp check, hopefully the VM can boot then. And the problematic system call will be logged in `dmesg` output.

If that works, could you attach `dmesg` printings? Thank you.

[2021-02-15 02:39] rishirsinha commented on #2268
```` --seccomp log```` does mitigate the issue.

```` dmesg | grep seccom```` gives the following:

[code]

[2021-02-15 07:17] sboeuf commented on #2268
Could you run Cloud-Hypervisor with `strace -f` (make sure you use `--seccomp true` in the command line), and identify which is the faulty syscall?

Also, are you running the latest Cloud-Hypervisor version? I'm asking because we very recently merged a seccomp fix here https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2257

[2021-02-15 07:19] michael2012z commented on #2268
Alternative to run cloud-hypervisor with `strace -f` is checking the last lines of `dmesg` after starting cloud-hypervisor with `--seccomp log`.

The related trace should be like (it is not captured by grepping "seccomp"):

[2916019.947851] audit: type=1326 audit(1613373008.259:2603): auid=1001 uid=0 gid=0 ses=3 subj==unconfined pid=185611 comm="vmm" exe="/home/michael/ws/src/github.com/cloud-hype

[2021-02-15 07:26] sboeuf commented on #2268
If you want the log to show up, you need to make sure your host machine is running a kernel with `audit=1`.

[2021-02-15 08:34] #2218 closed

[2021-02-15 09:26] sboeuf commented on #2268
FWIW, I tried to reproduce the issue on Azure with the following host `5.4.0-1039-azure #41~18.04.1-Ubuntu`, but I could not.

[2021-02-15 12:41] rbradford commented on #2048
Any update on these?

[2021-02-15 12:49] liuw commented on #2048
Item 2 is already done. I will have a look at item 1. At first glance it should be easily fixable at the stage.

[2021-02-15 13:36] #2048 closed

[2021-02-15 15:52] sboeuf commented on #2234
@rbradford ping!

[2021-02-15 16:23] rbradford commented on #2234
Looks like I was mistaken.

[2021-02-15 16:23] #2234 closed

[2021-02-15 17:42] sboeuf commented on #1884
This is a tricky one because of the way `virtio-mem` works, but also because of the assumptions made everywhere in the codebase (that we're working with `GuestMemoryMmap`).

- `virtio-mem` expects a region of the max size to be reserved, so that plug/unplug within this region should always work. We could use multiple `GuestMemoryRegion` (adding one for each plug), but the unplug would be a nightma

[2021-02-15 18:21] davidhildenbrand commented on #1884
@sboeuf in QEMU we will most probably handle it like this: https://lore.kernel.org/qemu-devel/20210121110540.33704-1-david@redhat.com/

Essentially, have something like a single GuestMemoryRegion/GuestMemoryMmap, but have a notifier mechanism that communicates the actually plugged/unplugged ("populated"/"discarded") parts for VFIO purposes (but also for other purposes most probably as well - like

[2021-02-15 18:57] sboeuf commented on #1884
Oh thanks for sharing that @davidhildenbrand.
I agree we need this information (plugged/unplugged) coming from somewhere, which means either it comes from the region itself, or we can add it as a side mechanism. I think in the context of Cloud-Hypervisor it makes sense to push things into the `vm-memory` crate, otherwise it's gonna be a nightmare to create a wrapper around the existing `GuestMemor

[2021-02-16 02:34] rishirsinha commented on #2268
I agree, it does not happen on kernel 5.* just on kernel 4.*. I will try to repro the rest with the detailed logs and then will report.

[2021-02-16 03:17] rishirsinha commented on #2268
@sboeuf , it looks like that fix has fixed the bad syscall issue I was seeing. My last sync was on Monday and so before when the fix went in. I will close the issue.

Fixed by #2257

[2021-02-16 03:18] #2268 closed

[2021-02-16 10:12] sboeuf commented on #1731
For each VMM, two types of tests have been run, one with a single virtio-net queue, and one with 8 queues.
Tests have been performed with Cloud Hypervisor v0.13.0 and QEMU v5.2.0.

### Single queue testing
First test is to run a VMM with 4vCPUs, 4GiB of RAM, 1 virtio-net queue pair (tx/rx), and one `iperf3` client running in the guest, connected to one `iperf3` server on the host.
A TAP interface

[2021-02-16 10:18] rbradford commented on #1731
@sboeuf Good work.

As well as throughput can you look at:
* latency
* CPU usage during the max throughput.

QEMU has some options to let you disable VIRTIO features, it might be worth turning off the QEMU VIRTIO features we don't support.

There are some instructions in the docs/ directory about running perf against Cloud Hypervisor. This would show any hot spots.

[2021-02-16 10:27] sboeuf commented on #1731
@rbradford

    - latency
    - CPU usage during the max throughput.

Can `iperf3` give me latency? Or do I need a different tool? I remember I used https://github.com/microsoft/ethr tool once, it was quite good.

About CPU usage, during the tests, what would be the preferred way to capture such information?

Good point, let's see if this reduces the performances.

Sounds good!

[2021-02-16 10:29] rbradford commented on #1731
Not sure your MQ config is right for QEMU: https://www.linux-kvm.org/page/Multiqueue

     enable mq for tap (suppose N queue pairs) -netdev tap,vhost=on,queues=N
    enable mq and specify msix vectors in qemu cmdline (2N+2 vectors, N for tx queues, N for rx queues, 1 for config, and one for possible control vq): -device virtio-net-pci,mq=on,vectors=2N+2...
    enable mq in guest by 'ethtool -L et

[2021-02-16 10:31] rbradford commented on #1731
@sboeuf That `ethr` tool look quite cool. Is the depth of the queues the same between CH and QEMU?

[2021-02-16 10:34] rbradford commented on #1731
I hope your host system has at least 16 cores. You're maxing out 8 vCPU threads and also 8 on the host.

[2021-02-16 10:36] sboeuf commented on #1731
@rbradford I think it'd be best to redo the tests with 4 queues instead of 8.

[2021-02-16 13:34] sboeuf commented on #1731
So I've tried with 2 queues instead of 8, and 4vCPUs instead of 8. I've made sure the queue size was 1024 for both CH and QEMU.
This leads to a similar trend, the numbers don't change much.
About latency, I've got around 50us for CH, while QEMU is oscillating between 50us and 100us. This test has been performed with the `ethr` tool:
[code]

[2021-02-16 13:41] rbradford commented on #1731
I think we need to focus on our 1 queue pair performance; try disabling the QEMU VIRTIO features to match CH.

[2021-02-16 17:56] vineethrp opened #2273 "HTTP callback API for notifying state changes of a VM"
The request is to have an HTTP callback API so that cloud-hypervisor can notify the consumers of this API whenever a state change happens. State changes of potential interests are:
- VM shutdown, reboot/reset, crash
- cpu online offline
- device activation, device reset etc

This is in continuation with the discussions here:
https://github.com/cloud-hypervisor/libvirt/issues/30

The temporary fix

[2021-02-17 13:01] liuw commented on #1798
A quick search suggests that Q35 by design doesn't support hot plug. See https://bugzilla.redhat.com/show_bug.cgi?id=1540519#c3.

(Just providing additional context here. It doesn't really affect our investigation.)

[2021-02-18 10:54] rbradford opened #2277 "`--pmem` pins vCPU thread at 100% CPU usage"
Comparing

```target/debug/cloud-hypervisor --kernel ~/src/linux/vmlinux --pmem file=~/workloads/focal.raw --cpus boot=1 --memory size=1G --cmdline "root=/dev/pmem0p1 console=hvc0" --api-socket=/tmp/api -vv ```

with

```target/debug/cloud-hypervisor --kernel ~/src/linux/vmlinux --disk path=~/workloads/focal.raw --cpus boot=1 --memory size=1G --cmdline "root=/dev/vda1 console=hvc0" --api-socket=/t

[2021-02-18 15:21] rbradford opened #2278 "getrandom() seccomp violation in vCPU thread when doing device reset"
[code]

[2021-02-18 16:15] #2278 closed

[2021-02-18 16:34] rbradford commented on #2277
Using perf i've identified all the CPU usage is inside the kernel; we're not getting an spurious KVM exits and the vCPU thread is not executing in user space:

[code]

[2021-02-18 16:35] rbradford commented on #2277
@sboeuf can you try and reproduce?

[2021-02-19 00:47] russell-islam opened #2282 "Add VHDX disk format support"
As we have support for VHD fix format we are planning to add the vhdx support. This issue is for tracking that work.

[2021-02-19 08:07] sboeuf commented on #2277
Just tried, and I cannot reproduce :(
I'm running Ubuntu 20.04 with 5.4.0-65-generic kernel.

[2021-02-20 18:11] liuw commented on #1975
Closing this since nothing much has happened in this discussion.

[2021-02-20 18:11] #1975 closed

[2021-02-22 07:40] sboeuf commented on #1731
I think once https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2275 is merged, we can simply close this issue. The Cloud-Hypervisor implementation for `virtio-net` will be now very simple and that's what matters the most. In terms of performances, QEMU is doing a better job with throughput (about 15% better) but not regarding latency (50% higher).
I think simplicity of the implementation i

[2021-02-22 13:29] #1731 closed

[2021-02-22 15:12] sboeuf commented on #1730
For each VMM, two types of configuration have been tested, one with a single `virtio-blk` queue, and one with 2 queues.
Tests have been performed with Cloud Hypervisor v0.13.0 and QEMU v5.2.0.

Prior to testing, a test file of 8GiB is created on the host:
[code]

### Single queue testing
First test is to run a VMM with 4vCPUs, 4GiB of RAM, 1 `virtio-blk` queue.
Two tests are run from the guest wit

[2021-02-22 15:24] sboeuf commented on #1730
@rbradford should we close this issue? Or do you expect something else from this?

[2021-02-22 15:59] rbradford commented on #1730
Yes, I think this is great work. Thanks for doing it :rocket:

[2021-02-22 15:59] #1730 closed

[2021-02-22 16:28] sboeuf commented on #1727
Issue completed!

[2021-02-22 16:28] #1727 closed

[2021-02-23 11:31] liuw commented on #1798
0xC0000001 is just a generic status for "unsuccessful". We will need to break into the driver to see what's wrong.

[2021-02-23 16:06] liuw commented on #1798
I figured that the driver initialization failed in the hotplug case. I debugged it a bit and found that the guest was accessing the wrong addresses when querying number of queues (among other things).

The first line of output is from an extra debug line I put in to print out the BAR's address and length. It can be seen the address registered is rather different from the addresses being accessed.

[2021-02-23 16:12] rbradford commented on #1798
That's very strange; we know that the network hotplug works with Linux and the disk hotplug works on Windows too. Maybe it's worth comparing the output with either of those two cases for more data.

[2021-02-23 16:15] rbradford commented on #1798
I wonder there is some BAR reprogramming going wrong here...

[2021-02-23 16:21] sboeuf commented on #1798
Yes it looks like some BAR reprogramming might be happening. Try to add some logs in there to make sure it's done properly.
One thing to note between virtio-blk and virtio-net, the former is placed below 4G while the latter is placed above 4G in the guest address space. This might be the reason why we see different behaviors between these two.

[2021-02-23 16:25] liuw commented on #1798
There is no log for BAR reprogramming that the hotplug NIC. That perhaps means it is not trapped properly.

[2021-02-23 16:33] sboeuf commented on #1798
Either that or it works fine. BAR reprogramming is not necessarily a must do. It depends on the guest OS decision.

[2021-02-25 07:06] jongwu opened #2304 "If there is a requirement to add a new interface for firmware?"
Hello @rbradford @sboeuf @MrXinWang @michael2012z @justin-he

As firmware enablement is in the roadmap, I wonder if cloud-hypervisor has got ready to welcome it. No options distinctly used for accepting firmware image as input is found under cloud-hypervisor.  However, I find the following use case:
`$ ./cloud-hypervisor/target/release/cloud-hypervisor \
	--kernel ./hypervisor-fw \
	--disk path=fo

[2021-02-25 08:37] rbradford commented on #2304
We package our firmware as a PVH ELF binary so the same code is used to load it as a Linux kernel.

[2021-02-25 09:14] rbradford opened #2305 "Migrate to upstream kvm-bindings"
We've been on forked versions too long. We need to either work out how to upstream the serde bits or have an alternative approach that we use inside Cloud Hypervisor.

[2021-02-25 09:15] rbradford commented on #2304
(Maybe the ambiguity is that we're using the term kernel in the most generic sense not referring to the Linux kernel)

[2021-02-25 09:23] andreeaflorescu commented on #2305
Consuming kvm-ioctls should be pretty straightforward even with a fork of kvm-bindings. The solution we (temporarily) adopted in Firecracker is to do a patch of kvm-bindings such that we consume the one with versionize, and use the upstream kvm-ioctls.

Here is the PR that does that for Firecracker: https://github.com/firecracker-microvm/firecracker/pull/2319

The kvm-bindings maintenance should b

[2021-02-25 18:31] rbradford commented on #1985
I want to revisit this. I was trying to fix the qcow2 code for the vmm-sys-util update and I realised that I didn't understand it, that I never would want to understand it or even care about it. Given that it doesn't actually support any supported distros images out of the box (no compressed support.) I would strongly push for removing this.

[2021-02-25 18:45] sameo commented on #1985
Let's remove it.

[2021-02-26 11:35] rbradford commented on #2305
We are now on upstream kvm-ioctls, turns out the requirement for our fork was obsolete.

[2021-02-26 11:36] rbradford commented on #2273
Resolved via the event fd monitor

[2021-02-26 11:36] #2273 closed

[2021-02-26 12:00] rbradford commented on #1203
No need. Performance is already great: #1730

[2021-02-26 12:00] #1203 closed

[2021-02-26 12:00] rbradford commented on #1204
No need. Performance is already great: #1730

[2021-02-26 12:00] #1204 closed

[2021-02-26 12:01] rbradford commented on #1206
No need. Performance is already satisfactory: #1731

[2021-02-26 12:01] #1206 closed

[2021-02-26 12:01] rbradford commented on #1205
No need. Performance is already satisfactory: #1731

[2021-02-26 12:01] #1205 closed

[2021-02-26 16:56] devimc opened #2316 "PTY is unusable after rebooting the VM"
How to reproduce it?

**Terminal 1**

[code]

**Terminal 2**

[code]
**After rebooting the VM, the PTY is unusable, input/output are not handled correctly**

[2021-02-26 17:08] bryteise commented on #2316
Hrm I guess the PTY should be setup outside the VM in that case then. @sboeuf or @rbradford any thoughts on where the data should live?

[2021-02-27 11:07] fcicq opened #2318 "Windows 10 14393 image destroyed after first successful boot in CH 0.13"
problem: it works at FIRST boot, I can RDP inside it, and issued poweroff normally.
and the image becomes no longer bootable in BOTH CH and qemu.
on qemu it stuck on tianoboot screen with a core 100% load, maybe it is near bootmgfw loading.
(so make sure you debug with snapshot enabled storage)
I'm not sure I should blame edk2(ch branch) or CH itself.

---

cpuinfo:
model name	: Intel(R) Core(TM)

[2021-02-28 10:23] fcicq commented on #2318
got some message from strace:
"Error: Image at 000BF8F1000 start failed: Unsupported\r\nLoading driv"

if I use --serial off, it shows unlimited loop of vmm/src/vm.rs:434 -- Guest PIO Read to unregistered address 0x3fd

[2021-02-28 10:28] fcicq commented on #2318
--serial file=outfile got this:

[code]

[2021-02-28 10:44] fcicq commented on #2318
found another strange log

[code]

so would another official ovmf build help me?

[2021-03-01 02:37] jongwu commented on #2304
Thanks @rbradford -, so only firmware in format of ELF can be used in cloud-hypervisor now. Is there any plan from you about supporting some generic firmware like edk2? I have no idea how clh can make use of it for now.

[2021-03-01 12:04] rbradford commented on #2316
I think you need to rethink the way the PTY is used as when we reboot we tear the whole VM down and construct it anew (with a potentially different configuration). From my quick reading of the code I think you need to move to a model where CH doesn't create the pty pair - because when we destroy the VM as part of the reboot we trigger the close of the FD. What about moving to a situation where the

[2021-03-01 12:05] rbradford commented on #2316
This would also mean you don't need the hack where you patch the serial file of the config to contain the other end of the PTY pair as that would be done by the layer above.

[2021-03-01 13:25] sboeuf commented on #1884
@davidhildenbrand I was curious if you played with `VFIO_DMA_MAP` and `VFIO_DMA_UNMAP` to achieve what we're talking about here. I'm asking because I have a PoC where a there's one specific case failing:
- Start a VM with 2G generates a `VFIO_DMA_MAP` for the range 0 -> 2G
- Plug 4G generates a `VFIO_DMA_MAP` for the range 4G -> 8G
- Unplug 2G generates a `VFIO_DMA_UNMAP` for the range 6G -> 8G ==

[2021-03-01 13:39] davidhildenbrand commented on #1884
@sboeuf VFIO_DMA_UNMAP can span multiple previous VFIO_DMA_MAP, but cannot span partial VFIO_DMA_MAP.

To handle that, in QEMU we'll map in minimum granularity (e.g., virtio-mem block size - such as 2 MiB) whenever the guest plugs new blocks (-> plug request).

See vfio_ram_discard_notify_populate() in https://lore.kernel.org/qemu-devel/20210224094910.44986-7-david@redhat.com/

As we cannot exceed

[2021-03-01 13:55] sboeuf commented on #1884
Thanks for the full explanation, that's exactly what I found in the VFIO source code. Also, I've tried using 2MiB mappings and they work fine as you suggested.
I guess I'm gonna have to go with the same solution, otherwise I can't fix the initial issue.

[2021-03-01 14:27] rbradford commented on #2304
https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/docs/uefi.md has details about our version of edk2 that works on CH.

[2021-03-01 14:27] #2304 closed

[2021-03-01 14:30] rbradford commented on #2240
The order of the disks specified by `--disk` will be replicated in the PCI device order which will help you determine which device any firmware will try and use first.

[2021-03-01 14:30] #2240 closed

[2021-03-02 09:48] sboeuf commented on #1884
@davidhildenbrand I've run into an interesting issue. There are some cases where the virtio-mem device will end up with some residual pages even if the requested size is 0 (plugged_size > 0). How are you planning to handle such case?
Are you gonna let the `virtio-mem` device drive the unmapping everytime it receives `VIRTIO_MEM_REQ_UNPLUG`?

[2021-03-02 09:56] davidhildenbrand commented on #1884
Just to clarify: you mean there is a request to unplug all memory (requested_size==0), but the guest is not completely fulfil the request (plugged_size remains > 0)? That can happen just easily as long as we don't use the movable zone inside Linux guest - similar to DIMMs. And even with the movable zone, there are still cases where we cannot unplug all memory (just think about the VM not having su

[2021-03-02 10:12] sboeuf commented on #1884
Yes I see, I need the unmap to be driven by the `virtio-mem` device receiving `VIRTIO_MEM_REQ_UNPLUG`.

One more question, about the VFIO mapping, do you also let this be driven by the virtio-mem device? I'm asking because if that's the case you could end up having race condition. If you request 1G and wait for `VIRTIO_MEM_REQ_PLUG` to plug all these pages, then your VFIO DMA mapping will happen a

[2021-03-02 10:24] davidhildenbrand commented on #1884
Yes.

It happens while the VIRTIO_MEM_REQ_PLUG is getting processed, before we
signal "ACK" to the guest. Then, we can also fail with BUSY in case we
fail to establish the VFIO mapping.

Exactly - otherwise how could we tell the guest that the request
eventually failed. The spec states that the guest may only make use of
memory once the request succeeded successfully.

Note: in QEMU I'm planning o

[2021-03-02 10:32] sboeuf commented on #1884
in the future to not block the main thread while we VFIO map or (later
also) preallocate memory. But that's then really just driving the virtio
queue via a separate thread.

Oh yes we already have this design in CH for our virtio devices. This is very convenient :)

[2021-03-02 10:36] davidhildenbrand commented on #1884
On 02.03.21 11:32, Sebastien Boeuf wrote:

Well, that's neat :)

[2021-03-02 11:53] liuw commented on #2318
This suggests some files are corrupted. Please make sure you have the latest Virtio drivers installed. I can't think of why Windows will need to _write_ to bootmgfw.efi during its normal operation though. Perhaps Windows installed an update?

The log doesn't tell which PE file caused the page fault. If you suspect it is bootmgfw.efi, you can try extracting that file before and after the corruption

[2021-03-02 13:27] sboeuf commented on #1884
@davidhildenbrand if we put aside the time it takes to do the VFIO mapping, what is the benefit of making the difference between what's plugged vs what's unplugged? I'm asking because I'm trying to understand if there's any security issue by mapping the entire virtio-mem region, even if it's not entirely plugged.

[2021-03-02 13:34] davidhildenbrand commented on #1884
Well, VFIO will pin the memory resulting in memory consumption for the whole area. So what you think your VM currently consumes (plugged_size) does not match the actually consumed size of your process. This turns memory unplug essentially useless - just like using virtio-balloon in VFIO context (inflation = NOP).

[2021-03-02 14:17] sboeuf commented on #1884
You mean the VFIO driver will create more overhead? The VMM process is unchanged, no matter if I map the entire region or not.
And in terms of IOMMU mappings, it does not matter if they're consumed upfront or later, right?

[2021-03-02 14:32] davidhildenbrand commented on #1884
Unless you run with special devices on special architectures (no IOMMU capable domain, for example on s390x), VFIO_IOMMU_MAP_DMA will:
1) Populate physical memory to back the specified user space virtual addresses if required
2) Pin the pages in memory, such that they cannot be migrated/swapped/...

After that, physical memory will get consumed for the whole mapped region until unmapped (+ discard

[2021-03-02 14:48] sboeuf commented on #1884
Thank you @davidhildenbrand , this is very helpful.

About KVM, and specifically `KVM_SET_USER_MEMORY_REGION`, do you also set only the part that is plugged? I'm asking because there's no way to resize an existing KVM memory region, hence you would have to use the same trick that you used for VFIO (creating 2MiB regions instead of one large one).

[2021-03-02 15:04] davidhildenbrand commented on #1884
No, for most other things (KVM, vhost, ...), we register the whole range - we only want to special case where it actually hurts (-> immediately consumes more memory than intended, essentially where discarding of RAM is broken because it won't remain discarded). vhost-vdpa will be another case that blindly pins all guest memory and will require special care (if possible).

For example, regarding KV

[2021-03-02 15:14] sboeuf commented on #1884
That's exactly the problem I was trying to point out. KVM doesn't accept the resize of a user memory region, hence bringing all vCPUs out of KVM_RUN is a pretty advanced way of mitigating the need for atomicity when removing/resizing a slot.

Wouldn't it be possible to patch `KVM_SET_USER_MEMORY_REGION` to accept resizing an existing slot? That'd be easier to let KVM deal with this complexity.

[2021-03-02 15:21] davidhildenbrand commented on #1884
Believe me, I looked into this (~1-2 year ago) and it was a nightmare - especially handling the rmap arrays on x86-64 allocated based on the slot size. I recently discussed with Paolo delaying the allocation of the rmap arrays until we actually need them (nested VMs, no NPT); that might make it easier to handle, but it will still remain involved AFAIR. Of course, the long term solution is handling

[2021-03-03 09:18] fcicq commented on #2318
@liuw sadly I can confirm they are identical with running system and failed image. (note: Get-FileHash -A SHA1 in elevated powershell). I only tested EFI/Microsoft/Boot/boot*.efi.

viostor ver is 100.84.104.17600, this should not be too old, but I can upgrade it to maybe 189/190?

[2021-03-03 10:29] liuw commented on #2318
This contains more information about the 0x3fd loop you saw. https://edk2-devel.narkive.com/tQq3hcxY/ovmf-hang-after-application-terminates

Are you building your own OVMF? Can you run the same setup through QEMU and hook up a debugger to find out what causes the page fault? Also is the page fault information your pasted in complete? IIRC there is normally information about the faulting image at t

[2021-03-04 11:50] rbradford opened #2339 "Bring SGX test machine back online"
This was offlined due to a hardware update and needs to be tested and brought back online.

- [x] Check BIOS settings
- [x] Update host kernel to new published SGX KVM version ?
- [x] Re-enable in Jenkins UI (node is marked as temporarily offline)
- [x] Revert removal from Jenkinsfile

[2021-03-04 11:55] sboeuf opened #2340 "vhost-user: Rely on VHOST_USER_ADD_MEM_REG to update memory regions"
Instead of submitting to the vhost-user backend the entire guest memory everytime the VMM updates the guest memory, we can do things with a finer grain, by using the new API command `VHOST_USER_ADD_MEM_REG`.
This lets the VMM notify the backend only about the new regions, which is more efficient than sending the full list of regions everytime.
Moreover, `VHOST_USER_SET_MEM_TABLE` has a limitation

[2021-03-04 16:52] rbradford opened #2342 "Remove use of panic()s/expect()s prior to start_vmm()"
Whilst I was working on the #2341 PR and others i've noticed that the (relatively small) amount of code that runs before we start the VMM panics on error conditions. We should clean this up to handle those errors in a neater way as per our logging/error rules panics() should be reserved for programming errors only.

[2021-03-04 22:36] russell-islam opened #2343 "Implement vTPM support"
This issue is to discuss the viability of implementing vTPM support in Cloud Hypervisor.

[2021-03-04 22:42] gbalane commented on #2343
We need vTPM support for cloud/edge usecases.
QEMU already provides the support for this.
Also, there is swtpm library https://github.com/stefanberger/swtpm/wiki that supports this as well as emulated device.
CrosVM did some virtio based TPM here:
https://chromium.googlesource.com/chromiumos/platform/crosvm/+/18ce5713e6cb99c40aafec52b67c28ba12a44f31/devices/src/virtio/tpm.rs

We need to develop a

[2021-03-05 09:38] #1884 closed

[2021-03-05 11:43] sameo commented on #2343
I think there are 2 aspects to cover here:

1. How do we expose a TPM into the guest
2. Which backend(s) do we want to support

For 1, I definitely prefer the virtio approach against a register emulation of a TIS device. That brings guest dependencies that are not upstreamed (virtio-tpm does not exist) but keeps the VMM side much simpler. We already have a similar situation with virtio watchdog an

[2021-03-05 11:46] rbradford commented on #2343
We could expose the virtio-tpm as a socket so that you can plug whatever implementation you want in: simulator or a version that makes use of the hardware.

[2021-03-05 11:49] sameo commented on #2343
vhost-user-tpm :-)

[2021-03-05 13:15] sboeuf commented on #2343
I'm in favor of using `virtio` as the way to expose a vTPM to the guest. Since it's already there for `crosvm`, we could simply pull their virtio driver into our guest kernel. And in terms of PoC, this is the quickest solution as we can rely mostly on the code from `crosvm`.

We might still choose the emulation approach eventually, as this would avoid the guest enlightenment, meaning more users mi

[2021-03-05 14:49] rbradford commented on #2343
I think advertising it as virtio-tpm to the guest is nice (and there is a driver we can find from Google to do that) but on the host side the implementation needs to be in pure Rust (or abstracted across a socket.) Trying to bring in non-Rust code has been a huge pain point in the past: e.g. libfdt such to the extent that we're trying to remove it (by switching to ACPI).

[2021-03-05 17:35] #2316 closed

[2021-03-05 18:44] liuw commented on #2343
One thing to consider is Windows support. I don't think there is a virtio-tpm frontend driver for Windows yet.

[2021-03-08 11:10] #2339 closed

[2021-03-09 16:58] rbradford commented on #369
See #1731

[2021-03-09 16:58] #369 closed

[2021-03-09 17:00] rbradford commented on #1839
We don't do cross-build as a GH action any longer.

[2021-03-09 17:00] #1839 closed

[2021-03-10 12:49] rbradford commented on #2152
This is done. via `--console pty` or `--serial pty`

[2021-03-10 12:49] #2152 closed

[2021-03-10 12:51] rbradford commented on #2084
Since we now can work with a PTY this can be combined with `socat` to achieve all of the above, don't you think so @iggy?

[2021-03-10 12:52] rbradford commented on #2143
No longer flaky.

[2021-03-10 12:52] #2143 closed

[2021-03-12 08:35] #1285 closed

[2021-03-13 17:07] wan-nyan-wan opened #2378 "couldn't build hypervisor package"
I couldn't build hypervisor package and get the error below. First error is related to x86_64 module in hypervisor module. I don't know where x86_64 crate comes from because I'm new to cloud-visor. I need your help.

[code]

[2021-03-14 18:37] iggy commented on #2378
what version of Rust are you trying to build with? I think the CI jobs use 1.50 (and beta/nightly snapshots).

https://github.com/cloud-hypervisor/cloud-hypervisor/runs/2106686296?check_suite_focus=true#step:6:2

[2021-03-15 08:54] MrXinWang opened #2384 "AArch64 specific devices gap filling"
This issue is to track the implementation of the AArch64 specific devices. This is to improve the functionality of cloud-hypervisor on AArch64, and also enable some test cases missing on Arm.

Current status of devices missing:

- [x] ARM PrimeCell General Purpose Input/Output (PL061) implementation - Fixes the power_button integration test case for AArch64.
- [x] ARM PrimeCell UART (PL011) implem

[2021-03-15 08:55] MrXinWang commented on #2384
/cc @jongwu @michael2012z @rbradford @sboeuf

[2021-03-15 17:45] likebreath commented on #2378
Also, the [`./scripts/dev_cli.sh`](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/scripts/dev_cli.sh) is a good handy script to build (and test) cloud-hypervisor if you are not ware of it. Please check for more details with:

[code]

[2021-03-15 17:46] likebreath opened #2388 "Run sequential tests on the master build only"
To reduce the CI time running for each PR, we may consider to run our sequential tests on the master build only. Also, this will allow us to add (more) performance tests which normally are sensitive to the executing environment and require to be executed sequentially. On such example is the integration/performance test to verify [the I/O throttling](https://github.com/cloud-hypervisor/cloud-hyperv

[2021-03-16 17:44] deathly809 opened #2395 "Panic if api-socket path is not found"
If the api-socket path does not exist then we output this error message,

[code]

Was not very helpful so I added expect(&format("Path not found: {}", path) instead of unwrap and got this instead,

[code]

Tracked this down and it appears that the default api-socket is constructed from uid + tid.

I really have three questions:

1. Should we validate that the path exists before we make it all the

[2021-03-16 17:46] rbradford commented on #2395
The file will be created if not present but I guess on your platform there is no `/run/user/1000` ?

[2021-03-16 17:46] sameo commented on #2343
Windows support also potentially includes bootloader support, where the hypothetical windows kernel virtio TPM driver would not be present.

[2021-03-16 17:49] deathly809 commented on #2395
Correct there is no /run/user/1000.  I am using the WSL + Debian with the new nested virtualization support.  Let me do some digging, maybe I can create it manually or perhaps cloud-hypervisor can create it if it does not exist (seems kinda iffy though).

[2021-03-16 17:49] sboeuf commented on #2340
Fixed by https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2348

[2021-03-16 17:49] #2340 closed

[2021-03-16 18:01] rbradford commented on #2395
@deathly809 Creating the API socket if there is none specified there is for convenience. I will open a PR for it to not try and create it if that directory is not present.

[2021-03-16 18:03] deathly809 commented on #2395
Awesome.  One other thing is should the http thread "silently" fail and just continue?

[2021-03-16 18:14] liuw commented on #2343
We can run https://github.com/stefanberger/swtpm behind a socket and let CLH forward commands to it.

CLH handle TPM's registers and memory regions and forward stuff to the socket.

[2021-03-16 18:18] rbradford commented on #2395
Yeh, so I won't start the HTTP thread (no need if you don't have a socket.)

[2021-03-16 18:52] deathly809 commented on #2395
I have confirmed with WSL folks that they do not use systemd so that is why the folder does not exist.

[2021-03-17 11:30] #2395 closed

[2021-03-17 12:21] wan-nyan-wan commented on #2378
Thanks for your replies. Well, I just didn't specify the feature of cargo. I specified kvm feature and it fixed the problem.

[2021-03-17 12:21] #2378 closed

[2021-03-18 14:26] #2256 closed

[2021-03-18 16:59] muhamadazmy opened #2403 "failed to read tap (invalid arguments)"
version: 0.13.0 (static)
kernel: linux 5.4.10

scenario: I run my ch vm with 2 tap devices, the logs shows the following error:
[code]

The  machine is only reachable on eth0, but not eth1 (so only one tap works)

the kernel shows the following error

[code]

TBH I am not sure if the kernel dmesg is related to  `ch` error but that's what I found while i was trying to investigate the issue.

[2021-03-18 18:14] rbradford commented on #2403
Please give the full command line.

[2021-03-18 18:15] rbradford commented on #2403
Also, in the future, please open support requests in Discussions: https://github.com/cloud-hypervisor/cloud-hypervisor/discussions

[2021-03-18 18:29] sboeuf opened #2404 "Expand baremetal VFIO testing"
This is a meta issue to keep track of what can be added to the baremetal CI in order to expand our VFIO testing.

- [ ] PCI hotplug/unplug
- [ ] Memory hotplug with ACPI
- [ ] Memory hotplug with `virtio-mem` (this needs at least a 5.8 kernel in the guest, which will be provided by Ubuntu 21.04)
- [x] Reboot

From an infrastructure perspective, we might want to use SR-IOV on the host to create mul

[2021-03-18 18:33] sboeuf commented on #2404
Some documentation references for vGPU:
- https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/configuring_and_managing_virtualization/assembly_managing-nvidia-vgpu-devices_configuring-and-managing-virtualization
- https://docs.nvidia.com/grid/latest/pdf/grid-vgpu-user-guide.pdf

[2021-03-18 18:44] muhamadazmy commented on #2403
Sorry, for the missing information, the full command line is as follows:

[code]

[2021-03-19 08:17] muhamadazmy commented on #2403
One more clue, I was watching dmesg while restarting the vm and i got his
[code]

[2021-03-19 09:43] rbradford commented on #2403
@muhamadazmy Are you creating the TAP interfaces yourself ahead of time or is CH creating them?

[2021-03-19 10:34] muhamadazmy commented on #2403
I create it myself, the TAP interface is attached to a bridge that also has a physical interface attached.
Also:
- I tried to remove the other (working) tap interface and have only the one with issues, this also did not fix the problem and i still got the dmesg
- I even deleted and recreated the TAP interface and still the same issue

[2021-03-19 13:48] muhamadazmy commented on #2403
So it seems i only get the unexpected GSO type error in the kernel dmesg the moment i attach the TAP device to the bridge (Even if i let CH create the tap itself), so
- Start VM (CH creates tap)
- do `brctl addif bridge  p-40380-1`
- I get the dmesg error regarding the unexpected GSO type

We also tried to disconnect the physical interface from the bridge. once we did that we didn't get the GSO er

[2021-03-22 15:45] sboeuf commented on #1563
Need to extend the documentation with some virtio-mem details as well.

[2021-03-23 09:07] muhamadazmy commented on #2403
Update:
It works fine if I use [macvtap](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/v0.13.0/docs/macvtap-bridge.md) instead of a tap device. I still have no idea why we get this GSO error. But I am fine with this workaround for now.

[2021-03-23 10:10] sboeuf commented on #2403
@muhamadazmy that's good news, but I'd like to understand what's going wrong with the TAP setup.

Let's describe the use case relying on CH  creating the TAP with `--net tap=`.
How did you configure the host (the bridge creation and the interfaces attached to it)?
Also, from a guest perspective, do you create routes and IP addresses to the network interface showing up in there?

[2021-03-23 17:41] #993 closed

[2021-03-23 18:05] liuw opened #2424 "Corrupted disk image causes block thread to hang"
Passing a corrupted disk image caused Cloud Hypervisor's block thread to hang.

[code]

I think the expected behaviour is to allow the guest to continue and discover the its file system is corrupted. That's what would happen on a real machine.

@russell-islam Can you describe how you accidentally corrupted the image?

[2021-03-23 18:19] russell-islam commented on #2424
I don't actually remember but I think I have mounted the disk, chroot it, and changed the root password. Then without unmounting the disk I have created a guest with the disk. That's the only scenario I can think of.

[2021-03-23 21:55] #1563 closed

[2021-03-24 14:44] rbradford commented on #2424
I don't really know how a corrupted disk could get to a state where the guest is generating a descriptor chain that is too short. Sadly there is no way for us to tell the guest that we couldn't process their request as this error means that the guest has not given us a status block to write any status in to.

Currently whenever we hit an error we can't report to the guest we log an error and the b

[2021-03-24 14:56] sboeuf commented on #2424
@rbradford

I guess one alternative is to avoid exiting the thread but still report the error to the virtio driver. This is a tradeoff that would keep the virtio device alive but the would stop using it as it would be unusable.

[2021-03-24 15:22] rbradford commented on #2424
Since we can't report an error to the driver because we don't have a status field we'd need to it it via `DEVICE_NEEDS_RESET` driver status bit. Sadly the Linux driver never checks for this bit.

[2021-03-24 15:43] sboeuf commented on #2424
But I thought we could report `VIRTIO_BLK_S_IOERR` through the virtio queue?
There's a status part in the virtio-blk descriptors.

[2021-03-24 15:46] rbradford commented on #2424
See my earlier comment, we generate this error message because there is no status descriptor.

[2021-03-24 16:52] liuw commented on #2424
How would QEMU handle this? We can perhaps get inspiration from QEMU?

From a user experience's point of view, not getting a chance to fix their corrupted disk is not ideal. Although the disk can be mounted and fixed on the host, they wouldn't want the host administrators to access their data.

[2021-03-24 19:21] russell-islam commented on #2424
Yesterday I was able to reproduce the issue. I tried to loop mount the root partition, normally it should not take more than a second but it took almost 10 seconds to mount. Then I have changed the root password by doing the chroot. After unmounting the disk I tried to boot. The boot was stuck after getting the DescriptorChainTooShort error.  Then I killed the process. Remounted the disk, Deleted

[2021-03-24 20:19] liuw commented on #2424
@russell-islam Please save a copy of the corrupted disk when you see it again. It would be useful for reproducing this issue.

[2021-03-25 15:33] muhamadazmy commented on #2403
@sboeuf sorry for some reason I missed the notification for your response, below are the answers to your questions:

- I did try to let CH create the TAP. It works well **until** the moment I attach the TAP to the bridge on the host using `brctl addif` or even `ip link set master`
- There is nothing special about the bridge. it's created programmaticaly using golang `netlink` library. then the lin

[2021-03-25 15:44] delandtj commented on #2403
I suspect some kernel overrun in the tun interface, some data is bleeding.
looking at dmesg and the data included , it seems that somememory is cpoied in that gso struct or something like that.
https://forums.unraid.net/applications/core/interface/file/attachment.php?id=65229 describes the error exactly the same, when you look at the dmesg messages, I can't help but think that is no just some rand

[2021-03-25 15:45] delandtj commented on #2403
so I dont think it's a CH problem, rather, seen that CH is completely in Rust, one wouldn't see Go header files in GSO bytes

[2021-03-26 12:27] weltling opened #2437 "CpuManager adds wrong number of CPUs"
There seems to be a bug in CpuManager introduced in 55a3a38e140c32748ed49acdacf6d54e59933048. The number of CPUs in the VM is tripled from what is passed in `boot=`. The bug can be reproduced at least with Windows guests. There are also warnings like below

`WARN:vmm/src/cpu.rs:454 -- Unexpected offset for accessing CPU manager device: 0`

This seems to be related to the switch to MMIO usage in th

[2021-03-26 12:31] weltling opened #2438 "Add test and some docs for CPU hotplug with Windows guest"
This depends on

- Finishing #2436
- Fixing the issue as described in #2437

For the test, it might be possible to compare number of vcpu threads vs. what the VM sees.

For the doc - the specific points are the licensing and SKU support.

Thanks.

[2021-03-26 13:06] #1799 closed

[2021-03-26 15:39] rbradford commented on #2424
Are you using `--initramfs` in your CH command line?

[2021-03-26 15:51] liuw commented on #2424
We were using OVMF (the one used in CI), not direct kernel boot. There is no `--initramfs` in the command line.

[2021-03-26 15:53] rbradford commented on #2424
@liuw I thought so, we've seen two other reports where initramfs was involved and we think we've found and address calculation issue for initramfs that does seem to reproduce this error. However I suspect there are multiple issues involved.

[2021-03-26 16:02] rbradford commented on #2424
Do you remember how much RAM was assigned to the VM?

[2021-03-26 16:05] liuw commented on #2424
IIRC we assigned 4G to the guest. @russell-islam correct me if I'm wrong.

[2021-03-26 16:15] liuw commented on #2437
How did you find out that the number of CPUs is tripled? Any indication in Windows? Or did you get that information from a debugging session?

[2021-03-26 16:42] russell-islam commented on #2424
@liuw You are right we have used 4G memory. @rbradford  FYI I have used the following command.

sudo ./cloud-hypervisor/target/release/cloud-hypervisor --kernel OVMF_MY_BUILD.fd --disk path=/home/muislam/dev/chris-images/mariner-clh.raw --cpus boot=4 --memory size=4G --serial tty --console off --seccomp false --net "tap=,mac=,ip=,mask="

[2021-03-26 22:23] weltling commented on #2437
In Windows the number is shown in the device manager. Say i'd pass `boot=2`, then the device manager would show 6 CPUs. However, the task manager shows the correct number passed. Still, when adding CPUs, it doesn't reflect the correct number of CPUs.

The further procedure then, when adding a CPU through the API call, continues the wrong numbering. The warning shown is also shown `*3`. When the me

[2021-03-29 12:51] #2437 closed

[2021-03-29 15:37] #2424 closed

[2021-03-29 16:45] rbradford commented on #972
I think this makes sense elsewhere as those crates are now available in rust-vmm.

[2021-03-29 16:45] #972 closed

[2021-03-30 17:47] #1286 closed

[2021-03-31 10:24] #1853 closed

[2021-03-31 17:21] weltling opened #2457 "Windows guest CPU hot-remove"
This is a follow up from #1799. A closer look is to be taken at the CPU remove functionality for the Windows guests.

[2021-03-31 17:25] sboeuf commented on #2457
Have you tried latest master? I'm asking because we merged #2455 today and this might be the reason why you're having some trouble unplugging vCPUs.

[2021-03-31 17:53] weltling commented on #2457
After rebasing to the latest no improvement is to see. I'm going to make another round of debugging and compare with QEMU again.

Btw the latest QEMU pulled in the distro i use also made the hotplug issue work with QEMU. It was not the case previously. I guess it might be expedient to check the changes in the latest QEMU, too.

Thanks

[2021-04-01 14:14] rbradford commented on #2028
Some explanation here: https://lwn.net/Articles/851076/

[2021-04-01 14:19] #475 closed

[2021-04-01 14:20] rbradford commented on #2138
@likebreath Can you look into this?

[2021-04-01 14:21] #2084 closed

[2021-04-01 15:07] #2438 closed

[2021-04-01 15:08] rbradford commented on #75
This issue is obsolete.

[2021-04-01 15:08] #75 closed

[2021-04-01 15:15] rbradford opened #2458 "Track dirty page writes from the VMM for live migration"
The live migration code currently handles writes by the guest into the guest memory through the KVM dirty page tracking (and sends those writes over the wire to the destination) however for completeness writes by the VMM to the guest memory (such as VIRTIO devices) should also be tracked and likewise transmitted over the wire.

The existing infrastructure for communicating the changed pages can be

[2021-04-01 15:21] rbradford commented on #2458
@likebreath Here is the setup I used for moving one VM from one VM to another (i.e. the moved VM is nested and uses a shared disk that is exposed into both via virtio-block)

VM 1
[code]
VM 2
[code]

Nested VM on VM 1
[code]
On VM2
[code]
On VM2:
[code]
On VM1:
[code]

[2021-04-01 15:41] rbradford commented on #2458
I think the three areas that need to be looked at:

- [ ] Specifying the `'Bitmap` implementation to be used for the tracking. All the `GuestRegionMmap` are created in `MemoryManager::create_ram_region`.
- [ ] Modifying `MemoryManager::dirty_memory_range_table` to also look for dirty pages in the different regions of the `GuestMemoryMmap`
- [ ] Testing by doing lots of VIRTIO work in the guest and

[2021-04-01 22:02] likebreath commented on #2458
@rbradford When following your setup above to try the live migration, I encountered a (basic) network setup issue: how do I make sure two L1 VMs are reachable from each other?

I did the following setup:

VM1 (whose `vmtap0` IP is `192.168.101.1`):
[code]

VM2 (whose `vmtap1` IP is `192.168.102.1`):
[code]

The access between guests and host are fine (e.g. `ping 192.168.102.1` from VM1, and `ping

[2021-04-02 08:11] rbradford commented on #2458
Use L3 routing.

[2021-04-02 09:31] rbradford commented on #2458
I tested your setup and it worked fine. Did you make sure to disable any iptables/firewall rules on the host?

[2021-04-02 19:52] likebreath commented on #2458
You are right. Problem resolved.

I found/learnt my host iptables was using the default rule that always drops packets on FORWARD: `-P FORWARD DROP`. I now have two guest VMs reachable from each other, with the following setup on the host iptables:

[code]

[2021-04-06 09:50] rbradford commented on #2231
Deprecated in 0.14.0. Remove in 0.16.0.

[2021-04-07 09:23] rbradford opened #2476 "Switch SGX test to use vmlinux"
SGX test currently uses a file called `bzImage_w_sgx` this should be switched for a vmlinux equivalent.

[2021-04-07 09:24] rbradford commented on #165
@sboeuf Do you think this is still a relevant issue to keep open? Is it appropriate and actionable?

[2021-04-07 09:51] sboeuf commented on #165
No I think that's actually quite hard, so we can close it.

[2021-04-07 09:51] #165 closed

[2021-04-07 11:44] weltling commented on #2457
After some research I've got now confirmed, that Windows doesn't support CPU hot-remove.

An additional check I went for was testing again with the latest version of QEMU. The steps as described before worked now, however not the removal. Furthermore, a little difference is that QEMU also doesn't remove a CPU after `device_del` and `device_del` doesn't fail (same way it doesn't fail as discussed p

[2021-04-07 13:44] #2457 closed

[2021-04-07 15:29] #2342 closed

[2021-04-07 15:40] #2476 closed

[2021-04-08 16:15] rbradford commented on #2458
You can also test without any nesting (but you cannot have a network interface on the VM)
[code]

[2021-04-09 14:03] rbradford commented on #2458
FYI, I had issues with an error setting the `KVM_SET_SREGS` ioctl using `ch-5.10.6` as the L1 kernel but that is resolved if you use `ch-5.12-rc6` from https://github.com/cloud-hypervisor/cloud-hypervisor/linux

[2021-04-12 09:14] sboeuf commented on #2251
There are two new features introduced recently in the VFIO API.

- The first one is about how a vendor driver can implement the migration support for a device, by exposing a dedicated `VFIO_REGION_TYPE_MIGRATION` along with `VFIO_REGION_SUBTYPE_MIGRATION` through the list of regions.
The VMM is expected to check the list of regions, and based on what is found, it will consider the VFIO device as m

[2021-04-12 09:15] sboeuf commented on #2251
/cc @rbradford @sameo

[2021-04-12 12:46] sboeuf commented on #2277
@rbradford do you want to keep this one open?

[2021-04-12 13:17] sameo commented on #2251
IIUC the VMM manages an opaque, vendor specific migration blob that it needs to transfer from source to target: Read from the VFIO migration region on the source, transfer, and write when restoring the VFIO device on the target?

And so we assume vendors will be responsible for creating that piece of data and maintain compatibility, etc?

I suppose QEMU already has an implementation for VFIO migra

[2021-04-12 13:38] rbradford commented on #2277
Still happens for me on F33. Let me try on Ubuntu.

[2021-04-12 13:43] sboeuf commented on #2251
@sameo

Yes.

Yes.

There's a pending patchset [here](https://patchew.org/QEMU/1603704987-20977-1-git-send-email-kwankhede@nvidia.com/).

[2021-04-12 13:52] alyssais opened #2488 "Reconsider how network device creation from tap file descriptors is exposed over the API"
Specifying file descriptors by number makes sense for the CLI, because the user can set up the file descriptors however they want before `exec`-ing cloud-hypervisor.  And adding network devices from tap FDs at runtime is certainly a useful feature, but the way it's currently implemented makes it almost useless.

Currently, the API works just like CLI. You send it `{"fds":[3]}`, for example, and it

[2021-04-12 14:20] #1800 closed

[2021-04-12 14:21] rbradford commented on #2277
I can reproduce this on groovy Azure as well.

[2021-04-12 14:21] sboeuf commented on #2488
Hi @alyssais, thanks for opening this issue. Could you move this to [Github discussions](https://github.com/cloud-hypervisor/cloud-hypervisor/discussions) ?

So you're suggesting to use ancillary data and the OOB mechanism to send some file descriptors to Cloud Hypervisor, right? The problem I see with this approach is that you need some kind of protocol to be defined by Cloud Hypervisor in order

[2021-04-12 14:22] sboeuf commented on #2277
@rbradford oh okay that's good, well let me investigate it then :)

[2021-04-12 15:14] sboeuf commented on #2277
@rbradford here is the perf report I get:
[code]

[2021-04-12 15:25] alyssais commented on #2488
I don't see an option in GitHub to do that. Perhaps it requires repository write access?

Correct.  I'm not sure I understand the second sentence here.  Can you rephrase the problem?

What do you mean by "share it with the VMM"?  Do you mean just tell cloud-hypervisor the name of the TAP and have it open it itself?  Or do you mean open a TAP file descriptor and share that with the VM?  In the form

[2021-04-12 17:10] sboeuf commented on #2277
@rbradford
By enabling KVM tracing events, and comparing the output between the two use cases (`--disk` vs `--pmem`), I get a flood of the following in the `--pmem` case:
[code]
I'm wondering why we're getting so many vm exit, but that's for sure the reason why our `vcpu` thread is entering `KVM_RUN` so many times, causing the `vcpu` thread to consume around 100%.

[2021-04-12 17:30] sboeuf commented on #2277
I confirmed by running `perf stat` that we get 1,000,000 vm exits over a second with `--pmem` while we only get about 100 with `--disk`.

[2021-04-12 17:40] sboeuf commented on #2488
Can you see/click this [link](https://github.com/cloud-hypervisor/cloud-hypervisor/discussions/new) ?

Nevermind, I think I was thinking in terms of CLI while you were explaining the problem with the HTTP API. So basically yes I think we could leverage OOB mechanism to send some fds over the API socket. Cloud Hypervisor could expect to receive such ancillary data only in case `net` would be presen

[2021-04-13 07:00] #2138 closed

[2021-04-13 13:25] weltling commented on #1798
I was able to debug it and here's the BT

[code]

The initialization fails [here](https://github.com/virtio-win/kvm-guest-drivers-windows/blob/775ec67d8391a5d5884687cf3ab7c9da9c2cfd16/VirtIO/VirtIOPCIModern.c#L353). Besides what @liuw hash shown, there are several other warnings from the CH console, when dumping variables in WinDbg.

Thanks

[2021-04-13 13:28] weltling commented on #1798
Some other messages I've seen when just dumping a variable in WinDbg:

`cloud-hypervisor: 101.537823101s: <vcpu1> ERROR:virtio-devices/src/device.rs:164 -- Out-of-bound access to configuration: config_len = 17 offset = 10 length = 4 for 1`

`cloud-hypervisor: 320.993714067s: <vcpu1> WARN:virtio-devices/src/transport/pci_common_config.rs:205 -- invalid virtio register dword read: 0xc`

`cloud-hyper

[2021-04-13 14:54] rbradford commented on #1798
Looks like the driver is trying to access the last variable in the config (the duplex) by using 4 byte access vs 1 byte access. I can workaround this by expanding the struct to the match the kernel and the driver: https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2494

That should prevent those warnings you were seeing.

[2021-04-14 08:01] weltling commented on #1798
Ok, so it looks like in the debugger one should issue reads precisely, as i guess these was caused by printing a struct. This means however, one can actually cause some runtime issues during debugging :/ Thanks for the check, probably indeed not worth fixing what is only a debug issue. Will dig further.

Thanks.

[2021-04-14 18:09] alyssais commented on #2488
Ah, yes, I can create a new discussion, but I can't convert this issue
into a discussion with this feature:
https://github.com/github/feedback/discussions/2861

Did you mean for me to just close this issue and open a new discussion?

By "OOB", do you mean MSG_OOB?  If so, unix(7) says:

But that seems to be a different thing to sending file descriptors with
SCM_RIGHTS, which I'd expect an API clie

[2021-04-15 07:45] sboeuf commented on #2277
The issue is fixed by https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2498 but I don't want to close this issue since https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2498 is not fixing the root cause of the problem. It's only disabling `KVM_FEATURE_ASYNC_PF_INT` while we investigate the root cause.

[2021-04-20 14:43] osresearch commented on #1142
I've successfully booted the hello world OSv example (in "`ramfs`" mode that bundles their kernel and the user application into a single ELF) under cloud-hypervisor with a minor hack to the code:

[code]

Based on the debugging output, there appear to be a few issues to be worked out related to devices that OSv is expecting:
[code]

If the `hello.c` process exits (or when I hit ^C), the OSv kernel

[2021-04-20 14:48] osresearch commented on #1142
As a self followup, 0x21 and 0xA1 are attempting to turn off the PIC in `arch/x64/arch-setup.cc``:

[code]

and the 0x3f0 is in `loader.cc`:

[code]

[2021-04-20 14:56] osresearch commented on #1142
If the `rofs` mode is used, the disk image can be attached with `cloud-hypervisor`'s `--disk` parameter, although startup is a little slower and there is still a virtio warning:

[code]
[code]

[2021-04-20 15:31] osresearch commented on #1142
And the remaining virtio warning is from the read attempt to verify the write to `queue_msix_vector` in `drivers/virtio-pci-device.cc`:

[code]

[2021-04-21 15:11] #1797 closed

[2021-04-21 15:11] #1798 closed

[2021-04-22 07:57] #2488 closed

[2021-04-22 08:58] #2403 closed

[2021-04-22 12:40] sboeuf commented on #2277
After some time spent debugging this issue, we identified the problem was coming from KVM itself. The guest always expect to be able to initialize APF related MSRs at any point in time, but this assumption is wrong since the LAPIC might be SW disabled (SPIV register not enabled).
It works with QEMU since the FW takes care of enabling the LAPIC, but in CH case, when running direct kernel boot, ther

[2021-04-22 13:49] sboeuf commented on #2277
Closing this issue as we agreed we'll keep the workaround disabling `KVM_FEATURE_ASYNC_PF_INT` for quite some time.

[2021-04-22 13:49] #2277 closed

[2021-04-22 17:56] weltling opened #2520 "Refactor Windows integration tests"
The goals:

- <strike>Reduce code duplication</strike> See https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2531#issuecomment-832020702 on why it is not expedient right now.
- Implement `wait_vm_boot()` as suggested in https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2519#pullrequestreview-642484064</strike>
- Don't wait for a fix time for image boot, see how polling can be imple

[2021-04-22 18:41] likebreath commented on #2520
@weltling Thanks for opening the issue, and start to track on the refactoring. :)

To clarify a bit, we should not need to reimplement  `wait_vm_boot()` for Windows guests, or even we may not have to change its current implementation [here](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/test_infra/src/lib.rs#L46). I believe the major missing bit is an appropriate previsioning on

[2021-04-22 19:59] weltling commented on #2520
Now recall also this #1891 - that's sure a deployment issue, but potentially also a generic issue. This needs to be tested properly.

Thanks

[2021-04-23 15:54] sboeuf opened #2525 "api: Implement ancillary data mechanism for networking"
Referring to the discussion https://github.com/cloud-hypervisor/cloud-hypervisor/discussions/2514, there is a need to provide the API user a way to send some ancillary data to Cloud Hypervisor. The point of sending ancillary data is to be able to pass file descriptors opened by a process to Cloud-Hypervisor VMM process after it's been spawned.

After some thinking, the best approach is to reuse th

[2021-04-24 00:36] russell-islam opened #2528 "Linux virtio-net driver doesn't check feature flags before reprogramming offloads"
While I was trying to create a k8s cluster using libvirt and CLH , I ran into the kenrel soft lock in virtio_net driver on the Guest VM. It actually driven by kubelet --> systemd-udevd --> virtionet.

Host: Mariner ECF baremetal
Guest: Ubuntu Focal Image

After creating the k8s cluster both kubelet and systemd-udevd eating the CPU time 100%.
Any network operation hangs i.e ping ethtool etc.

Just

[2021-04-24 00:37] russell-islam commented on #2528
[virtio-net-bug.txt](https://github.com/cloud-hypervisor/cloud-hypervisor/files/6368736/virtio-net-bug.txt)

[2021-04-25 19:53] rbradford commented on #2528
Can you find out what ethtool command is being running so we can reproduce it in a simpler stack.

[2021-04-26 14:42] rbradford commented on #2528
I think this is a kernel bug that results in it trying to reprogram the offload even though we don't support it through the feature `VIRTIO_NET_F_CTRL_GUEST_OFFLOADS`. The code in virtio-net doesn't correctly check if the device supports that feature:

https://github.com/torvalds/linux/blob/master/drivers/net/virtio_net.c#L2526

Since we can't really expect everyone to run an updated kernel the ea

[2021-04-26 16:27] russell-islam commented on #2528
@rbradford Yes I saw this error in ch log.
`
cloud-hypervisor: 167.037610922s: <_net2_ctrl> ERROR:virtio-devices/src/net_util.rs:172 -- failed to process ctrl queue: InvalidCtlClass
`

[2021-04-26 17:57] rbradford commented on #2528
@russell-islam Sadly not. Would be good to get the kernel bug fixed too. Since not everyone can run the latest kernel i'm planning to setup a workaround.

[2021-04-26 18:56] russell-islam commented on #2528
That PR does not fix it. I can still see the same :
`top - 18:55:11 up 7 min,  1 user,  load average: 26.14, 14.55, 6.06
Tasks: 177 total,   6 running, 171 sleeping,   0 stopped,   0 zombie
%Cpu(s):  9.8 us, 43.7 sy,  0.0 ni,  0.0 id, 46.6 wa,  0.0 hi,  0.0 si,  0.0 st
MiB Mem :   3934.8 total,   2027.3 free,    869.4 used,   1038.1 buff/cache
MiB Swap:      0.0 total,      0.0 free,      0.0 used

[2021-04-26 21:40] bryteise opened #2534 "Limit http thread syscalls when passing a FD"
From https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2495#discussion_r620612694 when using an FD instead of a path for the http socket file, additional filters can be added for socket, bind and listen syscalls.

[2021-04-27 07:43] rbradford opened #2535 "Nested restore broken between Linux 5.10 and 5.12"
`Error running command: Server responded with an error: InternalServerError: VmReceiveMigration(VmReceiveMigration(Pause(Could not set the vCPU state SetSpecialRegs(Invalid argument (os error 22)))))`

[2021-04-27 08:05] rbradford opened #2538 "Review virtio-fs docs"
These documents were referring to quite an old Linux branch. There may be other details that need updating.

[2021-04-27 08:06] rbradford commented on #2534
If the `socket/bind/listen` is done the in vmm thread then we can reduce the seccomp filter for the http thread.

[2021-04-27 08:35] rbradford commented on #2528
@russell-islam I never claimed that that PR would fix it. Can you try with this kernel patch: https://github.com/rbradford/linux/commit/6f8a39cb0a87d20605deef982b83f63e613e64f1

[2021-04-27 08:43] rbradford commented on #61
I'm not sure migrating to this crate adds any value to the project at this point. We can re-evaluate it later.

[2021-04-27 08:43] #61 closed

[2021-04-27 08:44] rbradford commented on #78
@sboeuf Can you enumerate the locations where you think we could add more unit tests?

[2021-04-27 08:44] rbradford commented on #656
I don't think there is anything actionable enough here.

[2021-04-27 08:44] #656 closed

[2021-04-27 08:48] rbradford commented on #445
Using `ArcSwap` is only useful where you're happy to make a copy of the shared state and replace it inside. It's not so useful where you want to update live shared state which is where much of our use of `Arc<Mutex<T>>` comes from.

For this to be actionable we need some concrete examples where locks can be removed so that those examples can be used for find others. @sboeuf You opened this issue,

[2021-04-27 08:50] rbradford commented on #1183
@sboeuf Do you think this is still useful? Would you consider writing up a plan or proposing a PR?

[2021-04-27 08:52] rbradford commented on #1191
Fuzzing is tracked in #1288. And I don't think auto assignment of reviewers is actually necessary any longer and not so helpful with our larger team.

[2021-04-27 08:52] #1191 closed

[2021-04-27 08:53] rbradford commented on #1313
This issue is obsolete.

[2021-04-27 08:53] #1313 closed

[2021-04-27 08:55] rbradford commented on #1361
vhost-user-backend is already in it's own repo and the issue to track to migrating to it is #2055

[2021-04-27 08:55] #1361 closed

[2021-04-27 08:56] rbradford commented on #1431
Cloud Hypervisor is sticking to vhost-user-fs.

[2021-04-27 08:56] #1431 closed

[2021-04-27 08:57] rbradford commented on #1413
Superseded by #2055 which captures the same issue and the necessary collateral change to switch to vhost-user-backend

[2021-04-27 08:57] #1413 closed

[2021-04-27 08:59] rbradford commented on #1745
@sboeuf As our resident  vhost-user expert, do you think this is something we should do?

[2021-04-27 08:59] rbradford commented on #1801
All resolved.

[2021-04-27 08:59] #1801 closed

[2021-04-27 09:01] rbradford opened #2539 "Add Windows disk hotplug integration test"
Windows on CH supports hotplugging disk support. However there is currently no integration test covering it. Add an integration test and update the documentation to clearly say it is supported.

[2021-04-27 09:01] #1948 closed

[2021-04-27 09:13] sboeuf commented on #1745
I think since we care about the cloud ecosystem, we care about the OVS use case. And for that reason, we should implement this feature since the default `vhost-user` server on the VMM side is deprecated.

[2021-04-27 09:20] sboeuf commented on #445
Nothing from the top of my head, but out of the numerous `Arc<Mutex<T>>` we have in our codebase, maybe some are very rarely updated, hence it'd be nice not to have to lock every time we need access to the data it contains.

[2021-04-27 09:20] sboeuf commented on #1183
Let me have a look into the event-manager, I'll assess if this makes sense.

[2021-04-27 09:23] sboeuf commented on #78
No this was more a reminder that we should write unit tests every it makes sense. I think there's nothing actionable here, hence this can be closed.

[2021-04-27 09:47] sboeuf commented on #78
Issue has been repurposed.

[2021-04-27 10:04] #445 closed

[2021-04-27 10:07] rbradford commented on #885
After removing support for ! CONFIG_PVH this code can be simplified.

[2021-04-27 10:14] #1183 closed

[2021-04-27 10:22] #1218 closed

[2021-04-27 10:26] sboeuf commented on #1310
Needs to be investigated to add more info on this issue.

[2021-04-27 10:31] sboeuf commented on #1597
Not doable

[2021-04-27 10:31] #1597 closed

[2021-04-27 10:34] #1697 closed

[2021-04-27 10:39] sboeuf commented on #1745
We need to think about how reboot would work (maybe cloning the fd).

[2021-04-27 10:43] rbradford commented on #2028
Not a CH issue,

[2021-04-27 10:43] #2028 closed

[2021-04-27 10:48] sboeuf commented on #2318
Any progress?

[2021-04-27 10:53] rbradford commented on #2388
I disagree with running the current sequential test on the master branch only. If there are some new new performance metric tests then we can re-evaluate that then.

[2021-04-27 15:21] rbradford opened #2542 "Support both MSHV and KVM build into the same binary"
I think it would be beneficial if we supported building the cloud-hypervisor binary supporting both mshv and kvm. Probe for `/dev/mshv` file first and then try `/dev/kvm` second.

[2021-04-28 02:06] russell-islam commented on #2528
With the updated Kernel, I can see docker is not able to pull the images after initiating the master node.

`root@kernel-patch-test:~# kubectl get pods --all-namespaces
NAMESPACE     NAME                                        READY   STATUS                  RESTARTS   AGE
kube-system   calico-kube-controllers-d7c67954f-mxmrd     0/1     Pending                 0          7m17s
kube-system   calic

[2021-04-28 07:02] #2535 closed

[2021-04-28 07:34] rbradford opened #2545 "Update vfio docs"
The integration test needed to be updated in fdcfec081b2da2ad57d0781140c557db7183d89b to handle changes in the kernel interface. Update the documentation to also describe the new process.

[2021-04-28 07:36] rbradford opened #2546 "Migrate virtio-iommu to ACPI"
The virtio-iommu maintainer has told us that the virtio config approach is deprecated and we should move to the ACPI alternative.

[2021-04-28 08:00] rbradford commented on #2528
Trivial repro (with unmodified kernel). Note this is a warning and the underlying code does not error out:

[code]

I think we need to go ahead and implement the support for the offload changing in the control queue.

[2021-04-28 09:42] #2545 closed

[2021-04-28 09:42] #2538 closed

[2021-04-28 16:21] bryteise commented on #2534
Oh, do you want to always use the fd to open the socket?

[2021-04-28 21:11] rbradford commented on #2528
@russell-islam Can you test if #2551 addresses this issue. No need to use a custom kernel.

[2021-04-28 21:39] russell-islam commented on #2528
Will do that and keep you updated.

[2021-04-29 08:02] #2528 closed

[2021-04-29 08:44] #2534 closed

[2021-04-29 10:53] rbradford opened #2562 "Review vhost-user-net control queue"
The control queue appears to be established on the VMM side. This seems peculiar as there are commands that can be run through the control queue that have to be done in the backend.

[2021-04-29 10:55] rbradford commented on #2562
Perhaps using the instructions in docs/vhost-user-net-testing.md to combine CH with OVS it can be checked if the backend side provides the control queue and thus the VMM side should not.

[2021-04-29 10:59] rbradford opened #2563 "Enforce MQ CPU requirements"
We should require that the number of `--net` `num_queues` / 2, number of `--fs` and `--block` `num_queues` <= active vCPUs

Specifying more queues that vCPUs is inefficient and may result in the guest behaving incorrectly (particularly in the case of net MQ.)

[2021-04-29 11:19] rbradford opened #2564 "Validate new config upon hotplug"
When asked to add a device we should try and validate that the new config is valid (`VmConfig::validate`) before going ahead. This will validate the newly added device but also ensure compliance with wider requirements (like #2563)

[2021-04-30 09:01] stefano-garzarella commented on #972
Yep, we have a GSoC and Outreachy students that we will work on it in the next months.

[2021-04-30 14:16] #2231 closed

[2021-04-30 21:19] russell-islam commented on #2528
Verified that latest CLH resolves this issue.

root@k8s-master:~# kubectl get nodes
NAME          STATUS   ROLES                  AGE     VERSION
k8s-master    Ready    control-plane,master   6d22h   v1.21.0
k8s-worker1   Ready    <none>                 6d22h   v1.21.0
k8s-worker2   Ready    <none>                 6d22h   v1.21.0
root@k8s-master:~# cat /etc/*release
DISTRIB_ID=Ubuntu
DISTRIB_RELEA

[2021-05-03 23:11] russell-islam opened #2578 "Fails to boot with OVMF & virtio-net MQ"
**Describe the bug**
VM does not start when we use OVMF(custom build that is used by CI). If I remove the network option from libvirt config file
vm starts fine and doesn't panic.

The same configuration with network-enabled works just fine using rust hypervisor-fw.

**To Reproduce**
Steps to reproduce the behavior:
Create a vm and start is using the attached config file master.txt

**Version**

O

[2021-05-03 23:14] russell-islam commented on #2578
[master.txt](https://github.com/cloud-hypervisor/cloud-hypervisor/files/6418304/master.txt)

[2021-05-04 11:59] liuw commented on #2578
This suggests that the mutex is poisoned somehow. Does this work without libvirt? That is, you run Cloud Hypervisor with the same command line options with the same image.

[2021-05-04 12:08] liuw commented on #2578
Are you able to do `strace -ff`? I guess that's not easy since libvirt is involved?

Is there anything in dmesg that starts with `audit`?

[2021-05-04 13:01] #2404 closed

[2021-05-04 13:33] rbradford commented on #2578
@russell-islam Please provide the following details:

* The latest master will now output the config used to create the VM at info level. Provide the CH logs for the VM booting correctly and incorrectly with (`-v`)
* The output from the serial port (and since you're using OVMF compile CH with `fwdebug` feature)
* Run with `RUST_BACKTRACE=full` and `--seccomp=false` to allow the backtrace to be pri

[2021-05-04 13:34] rbradford commented on #2578
The seccomp issue may be a misdirection as this is typically what will be seen in unprivileged threads when Rust tries to print a backtrace.

[2021-05-04 14:29] rbradford commented on #885
I've reviewed the code after the removal of the non-PVH code and I think this a lot cleaner.

[2021-05-04 14:29] #885 closed

[2021-05-04 15:05] sboeuf commented on #1310
PVH boot works fine with LA57, for both direct kernel boot and `hypervisor-fw`.

[2021-05-04 15:05] #1310 closed

[2021-05-04 15:10] sboeuf opened #2586 "Fail rebooting with LA57 and hypervisor-fw"
Reboot does not work on a machine with 5 level page table when Cloud Hypervisor is booted with `hypervisor-fw` (0.3.1).
It does work with direct kernel boot though.

The guest image version is Hirsute Hippo cloud image (21.04), including a 5.11 kernel. The kernel used for direct kernel boot is a 5.12 kernel coming from the branch `ch-5.12` from `cloud-hypervisor/linux`.

[2021-05-04 16:54] russell-islam commented on #2578
I have to exclude the tap FDs as libvirt creates the FDs and executes the command along with that.

[2021-05-04 16:57] rbradford commented on #2578
Just have bash open the fd (see docs/macvtap-bridge.md for details)

[2021-05-04 17:49] #2564 closed

[2021-05-04 17:49] #2563 closed

[2021-05-04 19:11] russell-islam commented on #2578
[serial-log.txt](https://github.com/cloud-hypervisor/cloud-hypervisor/files/6423402/serial-log.txt)

[2021-05-04 19:13] russell-islam commented on #2578
[vm_k8s-master.log](https://github.com/cloud-hypervisor/cloud-hypervisor/files/6423408/vm_k8s-master.log)

[2021-05-04 19:13] russell-islam commented on #2578
@rbradford Logs attached.

[2021-05-04 22:39] liuw commented on #2578
[code]

This looks interesting in `vm_k8s-master.log`.

[2021-05-05 05:32] russell-islam commented on #2578
Following script runs the vm just fine:
`
 # The MAC address must be attached to the macvtap and be used inside the guest
  2 mac="c2:67:4f:53:29:cb"
  3 # Host network adapter to bridge the guest onto
  4 host_net="eno1"
  5
  6 # Create the macvtap0 as a new virtual MAC associated with the host network
  7 sudo ip link add link "$host_net" name macvtap0 type macvtap
  8 sudo ip link set macvtap0

[2021-05-05 07:26] rbradford commented on #2578
Your standalone test doesn't replicate the number of queues.

[2021-05-05 07:46] rbradford opened #2592 "Windows MQ test"
None of the Windows tests currently use MQ either for net or block.

[2021-05-05 08:19] #2578 closed

[2021-05-05 13:38] rbradford commented on #2578
@russell-islam I also recommend you don't use virtio-iommu unless you know you need it.

[2021-05-05 14:05] #1745 closed

[2021-05-05 14:09] sboeuf opened #2593 "Support vhost-user-client reconnection"
Cloud Hypervisor now supports `vhost-user-client` mode for `vhost-user-net` device in order to comply with OVS expectations.
There's some work left to allow the OVS backend to disconnect/reconnect.

[2021-05-05 18:25] russell-islam commented on #2578
Ack. :)

[2021-05-05 18:27] liuw opened #2594 "Emulating NVMe disks"
QEMU is able to emulate NVMe disks for the guest and plug in any backend storage. It would be good if Cloud Hypervisor can do the same.

This is an issue to gather ideas and discuss possible designs.

[2021-05-05 18:33] russell-islam commented on #2578
I can confirm, VM boots fine with those fixes.

[2021-05-05 18:44] russell-islam commented on #2578
Mariner guest boots fine now. Thank for quick turn around.

[2021-05-06 15:27] #1891 closed

[2021-05-07 08:22] liuw commented on #2592
Done in https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2595

[2021-05-07 08:22] #2592 closed

[2021-05-07 08:57] sboeuf opened #2606 "ci: test_nvidia_card_memory_hotplug_virtio_mem is flaky"
`tests::vfio::test_nvidia_card_memory_hotplug_virtio_mem` regularly fails because of the following reason:
[code]

[2021-05-07 09:01] sboeuf opened #2607 "ci: Don't wait for baremetal machine for PRs"
Both SGX and VFIO baremetal testing is performed on the baremetal CI. The corresponding tests are only run on the master build.
But even if the tests don't run on PRs, Jenkins still waits for the node (`bionic-sgx` or `bionic-vfio`) to become available.
We should find a way to skip these tests without expecting the node to be accessible.

[2021-05-07 10:56] #2607 closed

[2021-05-07 16:44] #2606 closed

[2021-05-07 21:31] weltling commented on #2592
Nice, thanks for taking this.

[2021-05-12 07:50] arafatms opened #2621 "Support for sheepdog"
hii～
I think cloudhypervisor supports the sheepdog protocol, it would be a good idea to expand the support for distributed block storage. Do you have any plans for this in the future?

[2021-05-12 08:00] sboeuf commented on #2621
Hi, we didn't do any specific work for supporting sheepdog, but as long as it can expose the backing storage as a block device, Cloud Hypervisor should simply work fine with it.

[2021-05-12 08:43] arafatms commented on #2621
got it. thanks~

[2021-05-12 08:43] #2621 closed

[2021-05-17 10:14] sboeuf commented on #2562
For information, I'm currently looking into this. This will require some prior refactoring of `virtio-devices/src/net_util.rs` so that it can then be moved to the `net_util` crate.
Once abstracted behind the crate, the code should be used from `vhost_user_net/src/lib.rs` in order to implement the control queue from the vhost-user-net backend.
And finally, we'll be able to remove the dedicated thre

[2021-05-17 12:26] rbradford commented on #2232
I wanted to see what the potential boot time improvement was if we were to do this. I tested this by comparing the time to "init" (using port 0x80 output). With CH built with:

`cargo build --no-default-features --features "cmos,fwdebug,io_uring,kvm" --release` vs
`cargo build --no-default-features --features "cmos,fwdebug,io_uring,kvm,acpi" --release`

I could see no difference with a command lin

[2021-05-17 13:17] sboeuf commented on #2232
Ok and you've seen in the kernel logs that ACPI is not setup at all in the first case?
Just want to make sure we don't have any bug related to opt-out `acpi` feature.

[2021-05-17 13:27] rbradford commented on #2232
@sboeuf Yeh, we don't generate the tables at all and ACPI features like shutdown don't work.

[2021-05-17 13:56] michael2012z commented on #2178
We (@MrXinWang , @jongwu and me) have been updating the progress of UEFI+ACPI on AArch64 with a prototype PR https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2241. Now a minimal functionality set has been implemented. On AArch64, CLH can boot successfully with EDK2 (EDK2 code change is on review and discussion). But hot-plug has not been ready. We will test and plan hot-plug after the bas

[2021-05-17 15:52] sboeuf commented on #2232
Ok well I'd say close this issue then, since there's nothing to improve.

[2021-05-19 04:21] arafatms opened #2643 "Support vhost-net"
Hii～， Are there any plans to support vhost-kernel-net?

[2021-05-19 08:22] #2643 closed

[2021-05-19 16:21] #2562 closed

[2021-05-20 13:59] rbradford commented on #2282
@russell-islam @fazlamehrab has started looking into this.

[2021-05-20 14:10] sboeuf commented on #2282
@russell-islam can you clarify which types should be handled? `Fixed`, `Dynamic`, `Differencing`?

[2021-05-24 14:00] rbradford opened #2668 "Live migration gaps"
- [x] Snapshot/restore `virtio-mem` https://github.com/cloud-hypervisor/cloud-hypervisor/issues/1595
- [x] Snapshot/restore `virtio-balloon` https://github.com/cloud-hypervisor/cloud-hypervisor/issues/1598
- [x] Snapshot/restore `vhost-user` https://github.com/cloud-hypervisor/cloud-hypervisor/issues/1599
- [x] "versioning" https://github.com/cloud-hypervisor/cloud-hypervisor/issues/1600
- [x] Dir

[2021-05-24 18:23] russell-islam commented on #2282
In parity with QEMU we should have both `Fixed`, `Dynamic`. First we can focus on fixed, after that Dynamic.

[2021-05-25 06:42] likebreath commented on #2458
@rbradford @sboeuf  I realized that we still need to use our own fork of the vfio-ioctls crate. This is because we need to [patch](https://github.com/likebreath/vfio-ioctls/commit/1a6af4ac24fdaf528700872e1768f4e9d35e0fc4) the vfio-ioctl crate with the updated `GuestMemoryMmap` struct, so that it can work with the updated version of the vm-memory crate.

If you also think it is the right way to go,

[2021-05-25 08:00] arafatms opened #2671 "Guest kernel soft lockup while probing vhost-user-net device"
**Describe the bug**
I am trying to use vhost-user-net in server mode on my test platform. Before starting the virtual machine, everything looked good, but in the end a soft lock occurred in the guest kernel when probing the virtio-net device.

the framework looks like this:
[code]

**Version**
cloud-hypervisor v15.0-128-g14f27e4
build command line: cargo build --release --target=x86_64-unknown-li

[2021-05-25 08:14] sboeuf commented on #2458
Yes this is the way to go unfortunately :(
I've updated the `ch` branch on the Cloud Hypervisor fork.

[2021-05-25 08:52] sboeuf commented on #2671
@arafatms Can you try to identify if this is coming from a recently introduced regression or if this was a bug that was already there before?
Try running version `v15.0`. If that works, you can bisect between `v15.0-128-g14f27e4` and `v15.0` to identify the culprit.
I'm gonna investigate on my side as well.

[2021-05-25 09:12] rbradford commented on #2671
That will be related to the control queue (`virtnet_send_command`)

[2021-05-25 09:22] arafatms commented on #2671
@sboeuf vhost-user-net protocols can't run in server mode before version v15.0+, so I think this is coming from a recently introduced regression.
But there is no problem when running ordinary virtio-net devices like this：
--net tap=ich4,mac=a4:a1:c2:00:00:01,ip=,mask=255.255.255.0,num_queues=2,queue_size=256

[2021-05-25 12:42] sboeuf commented on #2671
So the problem is that the `CTRL_VQ` is supposed to be implemented in the VMM. Of course there's no documentation about this anywhere...
That means we must go back to the previous design, by having a dedicated thread for handling CTRL_VQ. We'll reuse this thread to detect/handle disconnections as well.

[2021-05-26 12:49] sboeuf commented on #2671
@arafatms hey so I basically broke OVS-DPDK support with the recent patches. This PR https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2677 should fix it (I've tested it myself). Please try it out and let me know if things are working for you with this PR as well.

[2021-05-26 15:09] #2671 closed

[2021-05-27 02:05] arafatms commented on #2671
@sboeuf vhost-user-net can run normally now. thanks a lot.

[2021-05-27 06:40] sboeuf commented on #2671
Thanks for the confirmation @arafatms

[2021-06-01 10:18] rbradford commented on #2318
Closing due to lack of activity.

[2021-06-01 10:18] #2318 closed

[2021-06-01 10:19] rbradford commented on #2232
Closing as there is no noticeable improvement and it's not worth the added code complexity.

[2021-06-01 10:19] #2232 closed

[2021-06-01 15:44] rbradford commented on #1600
Everything that I think we can version is now versioned. DeviceManager's `DeviceTree` isn't (based on Rust enums that are unsupported). The vCPU state is also not versioned but that comes directly from KVM and I don't think that needs to versioned as those structures are designed to be forward compatible.

[2021-06-01 15:44] #1600 closed

[2021-06-01 15:53] rbradford commented on #2542
I looked extensively into this and don't think the cost vs reward is there. Possibly if the alternative hypervisor support had been designed with this in mind from the start then it might have not been so much work but that would probably have delayed that. As such i'm closing this planned feature.

[2021-06-01 15:53] #2542 closed

[2021-06-02 03:26] xiaofeng0303 opened #2695 "lsmod error"
I start a vm(centos7)by cloud-hypervisor,
when exec `lsmod` in vm output an error:
[code]
how do i know this guest kernel modules

[2021-06-02 06:56] iggy commented on #2695
You didn't say what kernel you were using or how you started cloud-hypervisor.

[2021-06-02 07:33] #2695 closed

[2021-06-02 09:59] #2593 closed

[2021-06-03 07:34] #2458 closed

[2021-06-03 10:46] rbradford commented on #1916
@weltling I think we're getting close on this, if not done, are there any tests you think that should be added that are still missing?

[2021-06-03 10:47] rbradford commented on #2388
If we get an I/O throttling test then I think we can re-evaluate this but for now i'm closing this.

[2021-06-03 10:47] #2388 closed

[2021-06-03 10:50] rbradford commented on #2594
From our offline discussion this feature is about exposing a NVMe controller in the guest where the backend is across a socket running in another process where it can handle the specific logic. The mechanism for operation would be very similar for vhost-user but be more efficient if the underlying storage is itself NVMe as the individual I/O queues could possibly be directly mapped by using someth

[2021-06-03 10:53] rbradford commented on #2594
I think the best approach might be doing something like `vfio-user` to support running the PCI device in another process. An NVMe controller is in fact one of the examples: https://github.com/nutanix/libvfio-user#nvmfvfio-user

[2021-06-04 07:27] sboeuf commented on #2594
I agree this sounds like a good approach as it could also be a good fit for other devices that needs to be emulated and exposed directly to the guest.

[2021-06-04 09:33] sboeuf commented on #2343
This could directly benefit from the approach proposed [here](https://github.com/cloud-hypervisor/cloud-hypervisor/issues/2594) of using `vfio-user`.

[2021-06-04 09:54] sboeuf opened #2717 "vhost-user: Add support for Inflight I/O tracking"
In order to support all kind of crash and disconnection with vhost-user backends, the support for Inflight I/O tracking is mandatory so that we can reconnect and start again where things have been left off.

[2021-06-04 09:54] sboeuf commented on #2717
/cc @zhangjaycee

[2021-06-04 09:58] rbradford opened #2718 "vfio-user support"
vfio-user supports running PCI devices in another process

Use cases: supporting NVMe controller / TPM device
Protocol: https://github.com/nutanix/libvfio-user/blob/master/docs/vfio-user.rst

API addition:

`--user-device socket=<socket>` and equivalent JSON API.

Initial implementation focussed only on client (i.e VMM side). Server side support might be useful for testing.

[2021-06-05 14:28] weltling commented on #1916
@rbradford there's nothing big i'd name OTTOMH, the lists you've created previously are good and i'd pursue the remaining items if no one beats me to it. I had some other plans regarding revising hyper-v enlightenments and some AML pieces i saw while comparing with QEMU, but I'd guess that would demand tests as it is being done, couldn't tell which would show as necessary

Thanks

[2021-06-07 12:39] weltling commented on #1916
@rbradford the third item from the description is actually done, see the linked ticket. I planned to implement the first two items for this month, if no one beats me to it.

Thanks.

[2021-06-07 16:05] russell-islam opened #2722 "Implement Or instruction to work with MSHV and rust hypervisor-fw"

[2021-06-07 16:07] russell-islam commented on #2722
Booting on MSHV is not working with hypervisor fw. I am getting the following error
`muislam@muislam-ubuntu-home:~/dev/cloud-hypervisor/LSG-github.com.cloud-hypervisor.cloud-hypervisor$ cargo build --all   --no-default-features --features "mshv,common"
   Compiling cloud-hypervisor v15.0.0 (/home/muislam/dev/cloud-hypervisor/LSG-github.com.cloud-hypervisor.cloud-hypervisor)
   Compiling hypervisor

[2021-06-07 16:32] russell-islam commented on #2722
@liuw FYI

[2021-06-07 17:55] russell-islam commented on #2722
I have tested the PR and can confirm that I can boot the focal image on MSHV.

[2021-06-07 18:54] #2722 closed

[2021-06-09 05:23] likebreath commented on #2668
@rbradford @sboeuf I just finished the experiments of live migration on a single Azure VM (both 'bare-metal' and 'nested'), and submitted a PR to document the steps https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2726.

I will move to migrate across two Azure VMs (with the same platform and host kernel) tomorrow, and gradually move to different platform/kernel to test how our live migrat

[2021-06-09 07:41] sboeuf commented on #2668
Sounds good :)

[2021-06-10 13:04] rbradford commented on #2178
With the ACPI support merged can be remove the FDT support?

[2021-06-11 02:55] michael2012z commented on #2178
@rbradford, as far as I know, UEFI (I mean EDK2 here) on arm64 need to get system information from FDT. So FDT is still needed.

But I think FDT is no longer a pain. Now we use a rust FDT crate to handle it, not the local libfdt lib.

CC @jongwu .

[2021-06-12 02:34] michael2012z commented on #2178
Yes, you are right. :)

[2021-06-14 07:38] #2520 closed

[2021-06-15 04:58] mythi opened #2756 "sgx: support conditional provisioning key setting for guests"
Guests must have SGX provisioning keys conditionally enabled. This is done via `KVM_CAP_SGX_ATTRIBUTE`.

[2021-06-15 05:15] mythi opened #2757 "sgx: numa information"
The latest SGX EPC allocator is NUMA aware but that results in the following errors when run in a guest without topology information available for the SGX EPC section ranges:

[code]

add the possibility to specify numa information on the command line and pass the info via ACPI SRAT to guests.

[2021-06-15 07:40] sboeuf commented on #2757
I'll look into this next week!

[2021-06-15 07:41] sboeuf commented on #2756
I'll look into this next week!

[2021-06-15 08:35] rbradford opened #2759 "Tie VFIO device to NUMA node"
Support specifying the NUMA node when adding VFIO devices.

[2021-06-15 09:03] sboeuf commented on #2717
This is done now, and the issue can be closed.

[2021-06-15 09:03] #2717 closed

[2021-06-15 15:05] #2546 closed

[2021-06-17 13:24] sboeuf commented on #2759
After some investigations, I realized it didn't make sense to allocate a specific PCI device to a specific NUMA node. Indeed, that would allow the user to attach two PCI devices on the same bus to two different NUMA nodes, which would be wrong as it is not how thing would work with real hardware.

We still need to make sure the PCI bus is attached to a specific NUMA node, otherwise the guest doesn

[2021-06-17 13:24] #2759 closed

[2021-06-18 08:05] rbradford opened #2769 "Move workers from groovy to hirsute"
Groovy EOLs July 22nd 2021.

[2021-06-18 09:44] #2769 closed

[2021-06-18 14:25] rbradford opened #2773 "Add check to GH action to check Cargo.lock not forgotten"
Easiest way to to check that after the build `git status` shows no changed files.

[2021-06-18 15:47] #2773 closed

[2021-06-22 20:39] FireyFly opened #2791 "Support multiple --fs flags for providing multiple virtiofs filesystems"
Currently (as of the v16.0 release, at least) the `--fs` flag setting up a virtiofs filesystem mapping can only be passed once.

    error: The argument '--fs <fs>' was provided more than once, but cannot be used multiple times

I don't see any technical reason for why that would be the case (quite the contrary, given the 'tag' parameter), so consider this a feature request for being able to suppl

[2021-06-23 08:15] sboeuf commented on #2791
This actually works if you use the CLI correctly:
[code]

[2021-06-23 09:19] FireyFly commented on #2791
Ohh... my bad! I didn't realise that's how multiple mappings were meant to be passed.

I think the -h output could probably make that a bit more clear, and docs/fs.md could probably mention how to map multiple filesystems. I could put together a PR later with a proposal for some changes to hopefully avoid others misunderstanding the options syntax like I did. :)

I'll close this for now since it's

[2021-06-23 09:19] #2791 closed

[2021-06-24 08:32] sboeuf opened #2799 "ci: test_console_file is flaky"
Assess why the integration test is flaky and fix it.

[code]

[2021-06-24 19:17] iggy commented on #2791
I personally would like to see a PR about that. I've run into that exact problem before and ended up code diving to figure out what the right format was. And that's saying a lot since I'm terrible with Rust.

[2021-06-25 09:22] #1916 closed

[2021-06-25 09:30] rbradford opened #2807 "virtio-net TX stalls on EAGAIN path"
### Discussed in https://github.com/cloud-hypervisor/cloud-hypervisor/discussions/2785

<div type='discussions-op-text'>

<sup>Originally posted by **LeeSmet** June 22, 2021</sup>
I have a CH vm running with 2 network interfaces, 1 tap and 1 macvtap. Initially both interfaces work fine. However after some time the 2nd interface (the macvtap) seems to not respond anymore.

This happens on CH versio

[2021-06-28 08:08] arafatms opened #2812 "vhost user compiling error"
Some errors occurred when I tried to compile the cloud hypervisor.

last commit: f40e8ce6b7d7c903f443a1619d33af4afba80216

error messages:
[code]

[2021-06-28 08:09] sboeuf opened #2813 "Migration support for vhost-user"
In order to support live migration for vhost-user devices, we need Cloud Hypervisor to support some extra vhost-user commands and specific protocol features.
The specification gives the details [here](https://github.com/qemu/qemu/blob/master/docs/interop/vhost-user.rst#migration) about what needs to happen to make this work.
In particular, the following commands will need to be implemented as part

[2021-06-28 08:36] sboeuf commented on #2812
Have you tried `cargo clean` and then `cargo build` ?

[2021-06-28 08:41] arafatms commented on #2812
yes, didn't work.

vhost version: git+https://github.com/rust-vmm/vhost?branch=master#9982541776a603d30556a06df55e8c0491072763
I think maybe something wrong in this vhost user patch.
[code]

[2021-06-28 08:47] sboeuf commented on #2812
It works fine for me. Are you running on a specific architecture? Or is it `x86_64`?
What's your rust compiler version? I'm using `1.53.0`.
Try to do something like that:
[code]

[2021-06-28 09:27] arafatms commented on #2812
Great, I should have upgraded my Rust version earlier. thanks (^ - ^)

[2021-06-28 09:27] #2812 closed

[2021-06-28 16:09] #2799 closed

[2021-06-29 19:31] #2807 closed

[2021-06-29 19:36] likebreath opened #2817 "Revisit the "rate limiting" on virtio-net TX"
While landing PR https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2814 landed, I noticed the `rate-limiter` for the virtio-net TX does not correctly handle the `EAGAIN` situation where we should replenish the tokens from the `rate-limiter` the last descriptor was rewinded. Also, we may need to consider the status of `rate-limiter` when registering/unregistering the `tx_tap_event` (similar

[2021-06-30 23:29] likebreath commented on #2817
You are right. After a closer look, I think the `rate-limiter` should be totally independent from the `tx_tap_event`.

[2021-07-01 08:44] #2817 closed

[2021-07-01 15:30] wkozaczuk commented on #1142
I just wanted to update this issue that this patch https://github.com/cloudius-systems/osv/commit/4fa14833629489bef538a8d40039d0b317edfc03 fixed the shutdown issue so OSv boots nicely now.

We still have an issue to address some of the warnings - https://github.com/cloudius-systems/osv/issues/1160

[2021-07-02 02:59] arafatms opened #2820 "Support for remote control"
hii, Is there any methods to remote control cloud hypervisor VM suck as Qemu VNC? Especially when Im running windows server, I cannot do remote control.

[2021-07-02 05:06] iggy commented on #2820
cloud-hypervisor doesn't emulate any sort of graphics device. The intent is for you to control it via serial, virtio console, or more than likely just remotely via whatever means your guest offers. For example, the Windows unit tests for cloud-hypervisor use SSH to talk to the guest.

[2021-07-02 07:01] sboeuf commented on #2820
You can start a Windows server VM with a `virtio-net` attached to it. As long as you know the IP inside the guest, you can use RDP to connect to your Windows guest.

[2021-07-02 10:20] #2820 closed

[2021-07-02 16:13] rbradford opened #2822 "Enhance test_vfio with block device"
By also passing a block device into the guest we can test the 32-bit vfio device support as block devices are always allocated as a 32-bit device. (Currently only network devices are passed through which are always allocated as 64-bit devices.)

[2021-07-06 14:09] sboeuf commented on #2756
I think all we need to support this is listed through the following patch: https://github.com/intel/qemu-sgx/commit/0e514e27da3a10a8198bc4afa8aecdb844297d33
First we need to check `KVM_CAP_SGX_ATTRIBUTE` is supported on the host, and if that's the case, we'll open `/dev/sgx_provision` and provide the file descriptor when enabling `KVM_CAP_SGX_ATTRIBUTE`.
And from a guest perspective, it needs to k

[2021-07-06 15:42] sboeuf commented on #2757
Assuming we want to give full control to the user, we need to gather the info from the CLI about what's expected. We must find a way to list which EPC sections are attached to each NUMA node, and we must declare one new entry per section in the SRAT.

From a CH perspective, that means we have to create `id=` for `--sgx-epc`, so that we can reference these `id`s from the `--numa` parameter. Then it

[2021-07-06 15:45] rbradford commented on #2757
SGTM

[2021-07-07 10:15] arafatms opened #2834 "An IO error occurred when both the backend and the VM kernel support PACKED_RING"
**Describe the bug**
I tried to use vhost-user-blk in the packed_ring mode, but the virtual machine could not start, and the SPDK side reported the following error:
[code]
**Version**
cloud-hypervisor v16.0-94-g5b6d424

**VM configuration**
[code]

[2021-07-07 10:16] arafatms commented on #2834
#2833

[2021-07-07 10:19] arafatms commented on #2834
#2833 It will run split ring mode after this PR by default. Perhaps the support of the PACKED_RING can be realized in the future.

[2021-07-07 12:34] #2834 closed

[2021-07-07 12:56] #2756 closed

[2021-07-07 12:58] arafatms opened #2836 "Support for PACKED RING"
hiii~, I am studying PACKED RING recently. PACKED RING is a trend. QEMU, virtio1.1 and some vhost backends such as SPDK have been supported. I think the cloud hypervisor should also support this feature.

Qemu patch:
https://patchew.org/QEMU/20200522171726.648279-1-stefanha@redhat.com/

SPDK patch:
https://review.spdk.io/gerrit/c/spdk/spdk/+/2821

SPDK performance report:
https://ci.spdk.io/downlo

[2021-07-09 12:45] #2757 closed

[2021-07-10 11:18] teawater opened #2853 "Build got undefined reference to `getrandom'"
[code]

[2021-07-12 07:39] sboeuf commented on #2853
Hi @teawater, are you sure you're using the latest Rust version?
Try updating with `rustup update` and then run:
[code]

[2021-07-12 11:44] lonnietc opened #2855 "Booting hypervisor seems to freeze"
Hello,

I have an AMD 64 bit system running Ubuntu 20.04 with KVM setup and enabled.

Followed the "2. Getting Started" steps from

https://github.com/cloud-hypervisor/cloud-hypervisor

Everything seems to go very smoothly until I get to the "Run" section and try to run the downloaded focal-server-cloudimg-amd64.raw image:

$ sudo setcap cap_net_admin+ep ./cloud-hypervisor/target/release/cloud-hyp

[2021-07-12 12:08] sboeuf commented on #2855
Hi! It might take some time for your guest to boot, but eventually you should see something like:
[code]

Are you sure you downloaded the latest version of the `hypervisor-fw` binary? Also, you can remove `--rng` since `virtio-rng` is enabled by default.
Last thing, run the same command line with `--serial tty --console off`, this should generate some useful output that might help us understand wh

[2021-07-12 13:44] #2853 closed

[2021-07-12 13:45] #2855 closed

[2021-07-12 17:58] liuw opened #2858 "Dirty page tracking always on"
Cloud Hypervisor currently turns on dirty page tracking when constructing the guest. That incurs performance hit.

How about making it only turn on dirty page tracking when necessary?

CC @russell-islam

[2021-07-12 23:09] russell-islam commented on #2858
Yes. I found this while I was implementing live migration for MSHV. For MSHV we plan to enable this while we start live migration and disable it after completion.

[2021-07-13 07:21] sboeuf commented on #2858
/cc @likebreath

[2021-07-13 12:08] #2822 closed

[2021-07-13 18:51] likebreath commented on #2858
Thanks for opening this issue. With a quick glance of KVM API doc, it looks like we can modify the flag of user memory regions with `KVM_SET_USER_MEMORY_REGION`, e.g. turning on/off flag `KVM_MEM_LOG_DIRTY_PAGES`.

We will also need some (small) refactoring/extensions to the live-migration code path to support this, e.g. adding APIs to disable or enable `dirty-page-tracking` to the `Hypervisor::Vm

[2021-07-14 09:32] liuw commented on #2858
FWIW I think the dirty page tracking is less detrimental since it does not involve making memory read-only and then processing page faults.

[2021-07-14 18:55] russell-islam commented on #2858
@likebreath I have implemented two API in the hypervisor VM implementation for MSHV.
1. enable_dirty_page_tracking
2. disable_dirty_page_tracking
Also two different functions start_live_migration and complete_live_migration in the memory manager , eventually these two functions can call hypervisor-specific functions. I can create a PR next week.

[2021-07-14 21:31] likebreath commented on #2858
@russell-islam Sounds good. Look forward to your PR. Feel free to share if you need any inputs from us.

As mentioned earlier, I will take care the kvm-specific changes after landing your PR. Assigning the issue to both of us. Thank you.

[2021-07-15 06:27] huangzhiran opened #2875 "How to hide cpu vm flags ?"
In clh, How to hide cpu vm flags ? Like QEMU `-cpu kvm=off` flags. Thanks !

[2021-07-15 07:31] sboeuf commented on #2875
Hi @huangzhiran
We don't have the equivalent of `-cpu kvm=off` in Cloud Hypervisor. Do you have a requirement for this feature?

[2021-07-15 07:52] #2875 closed

[2021-07-16 08:23] sboeuf opened #2879 "Provide a way to hide KVM CPUID from the guest"
Following the discussion https://github.com/cloud-hypervisor/cloud-hypervisor/discussions/2876, we might want to consider adding an option to let the user disable KVM specific CPUID leaves, so that the guest can't find out it's running inside a VM.
This is a workaround that is part of QEMU with the parameter `-cpu kvm=off`, and in practice is used to let NVIDIA gaming card being passed through. Wi

[2021-07-16 08:23] sboeuf commented on #2879
/cc @rbradford

[2021-07-17 05:55] iggy commented on #2879
Not that I don't think this idea is a good one, but recent versions of the Nvidia driver load fine without workarounds anymore.

I think a more generic option to hide/show various bits of cpuid would be a better long term solution.

[2021-07-17 11:21] rbradford commented on #2879
This is a bad idea. This bit is used by Linux to determine use of PV features.

[2021-07-17 17:25] rbradford commented on #2858
Can we get some numbers for the overhead for the KVM bitmap tracking.

[2021-07-18 17:19] weltling commented on #2879
I guess also there might be issues with the Windows guest. At least from what I saw, many code paths depend on whether a hypervisor is present. E.g. recall the timer source investigation where we ended up using the kvm enlightenments. This might be still doable, but putting this to just be aware. E.g. one would still go for implementing HPET if it regards timer or see what other hardware would be

[2021-07-19 07:46] sboeuf commented on #2879
Alright! It's good news if recent NVIDIA card/driver can load correctly, meaning we don't need such workaround :)
Let's close this issue.

[2021-07-19 07:46] #2879 closed

[2021-07-19 07:51] #2525 closed

[2021-07-19 14:56] rbradford commented on #2178
We now support ACPI on ARM64. :rocket: We also need to continue to support FDT for direct kernel boot so we can close this issue.

[2021-07-19 14:56] #2178 closed

[2021-07-20 01:39] likebreath commented on #2858
@rbradford I can do it. But I will need some advises on what is a good setup/workload for this kind of measurements. Any suggestions?

[2021-07-20 10:39] liuw commented on #2858
STREAM can test sustained memory bandwidth https://github.com/jeffhammond/STREAM https://www.cs.virginia.edu/stream/ref.html

[2021-07-20 11:21] rbradford commented on #2858
I believe that under KVM the write detection is handled as part of the paging in and once written too goes through the usual fast path until reset.

Typical metrics we like are: boot time, iperf with virtio-net and fio.

With boot time we already see that the paging behaviour is very costly (compare page size to see this) so I don't think it would make much difference there.

That being said if th

[2021-07-21 14:10] rbradford commented on #1125
Hey @michael2012z @MrXinWang Just checking in to see if the todo list above is still correct.  I know you folks have been making lots of excellent progress on this recently.

[2021-07-21 14:11] rbradford commented on #1142
With OSv working can we close this?

[2021-07-21 14:14] MrXinWang commented on #1125
Hi @rbradford , recently me and @michael2012z had a discussion about the gap between arm64 and x86_64, it seems that arm64 are only missing these parts:

- vfio
- iommu (or SMMU for arm64)
- hotplug
- CPU Topology

Compared to other three, CPU Topology is rather small (but still on arm64 we need to support both ACPI and device tree).

[2021-07-21 14:15] rbradford commented on #828
I think we can close this. The API code isn't perfect but there is nothing actionable here and the code has changed a bit since this was written up.

[2021-07-21 14:15] #828 closed

[2021-07-21 14:38] wkozaczuk commented on #1142
Yes I believe we can close it.

[2021-07-21 17:59] likebreath opened #2886 "Destination VM copy-exact CPUID from source VM after live-migration"
In this way, the destination VM after live-migration will carry exactly the same CPUID information from the source VM, including advertised CPU features and CPU identification string. It can be a potential problem as the destination VM may have more supported features than being advertised to the guest workload. The correct "CPUID" information will be only available with a reboot of the destinatio

[2021-07-21 17:59] likebreath commented on #2886
/cc @rbradford @sboeuf

[2021-07-22 02:51] likebreath commented on #2858
Based on my comments to PR #2887, I did a quick draft for dynamically control of dirty-logging with KVM. The changes looks to be fairly small (non-intrusive), and adding mshv support should be straightforward/small (with providing mshv-specific APIs). My draft is [here](https://github.com/likebreath/cloud-hypervisor/commits/0721/dynamic_dirty_page_logging). Please let me know your thoughts or ques

[2021-07-22 11:54] sboeuf commented on #2886
I think the behavior is intended. When we migrate the source to the destination, we want to make sure the source CPUID is a subset of the destination (this is what your PR about CPUID check is doing). Once we verified the destination VM supports a superset (or the exact same set) of CPUIDs, we don't want to "upgrade" our guest by advertising more features than the set we previously had on the sour

[2021-07-22 12:53] rbradford commented on #2886
After a live migration the guest at the destination must have the same CPUID information as the guest at the source. The CPUID changing after a reboot seems perfectly reasonable to me (and could even be desired.)

[2021-07-22 13:06] sboeuf commented on #2886
Well if you feel the reboot behavior is reasonable, I guess we can go ahead and close this issue :)
@likebreath, feel free to close the issue if you feel everything has been covered!

[2021-07-22 13:07] likebreath commented on #2886
Great to confirm that behavior is actually preferred!

[2021-07-22 13:07] #2886 closed

[2021-07-22 17:44] likebreath opened #2895 "Preferred behavior of source VM post live-migration"
For now, the source VM can be either paused or running after live-migration. More specially, the source VM will stay being `Running` when an error occurs after before we pause the VM while sending migration [here](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/e6db59990767aceca90bc3fc4505dc0064cd8ce0/vmm/src/lib.rs#L1047); otherwise, the source VM will stay being `Paused`, e.g., when th

[2021-07-22 17:58] likebreath commented on #2895
I put up a quick draft PR here https://github.com/likebreath/cloud-hypervisor/pull/11 to ensure the source VM behavior is more consistent with the situations mentioned above. In short, it ensures the following:

1. The source VM will be paused only when the migration is completed successfully, or otherwise it will keep running;

2. The source VM will always stop dirty pages logging;

Any comments

[2021-07-23 08:23] rbradford commented on #2895
This sounds correct to me and what I was going to suggest is the right answer to your question! :rocket:

[2021-07-23 17:08] sboeuf commented on #2836
Just a quick note that we could get this for free by moving Cloud Hypervisor to https://github.com/rust-vmm/vm-virtio/

[2021-07-25 09:01] wfly1998 opened #2902 "When host has no huge page, vm booted with hugepages will raise ReadKernelImage error"
**Describe the bug**

When host has no huge page, vm booted with hugepages will raise `ReadKernelImage` error.

**To Reproduce**

Set `nr_hugepages = 0`, then boot vm with "hugepages=on"

[code]

Then clh will raise error:

[code]

But when set `/proc/sys/vm/nr_hugepages` to a suitable value, boot will succeed.

**Version**

[code]

This binary is cloned and compiled just now without changing.

**

[2021-07-25 09:04] wfly1998 commented on #2902
In addition, I traced the code and found that the problem may be located in the upstream crate `linux-loader` and `vm-memory` in `rust-vmm`.

[2021-07-26 08:20] sboeuf commented on #2902
Well that's not really an error since there's no hugepages available on the host. But I agree the error could be better in order to let the user know about the real issue.
Maybe we could check if there are enough hugepages available based on the user configuration before going further, what do you think @rbradford ?

[2021-07-26 08:25] rbradford commented on #2902
The documentation on huge pages clearly states that you must have enough huge pages assigned for your workload. Since page faulting happens on demand we cannot know where it will fail (if you have some but too few then it might fail at some random point in the execution of the guest.) Checking the number of huge pages at VM creation time is non-trivial and won't help if you have something else run

[2021-07-26 08:29] sboeuf commented on #2902
Ok so it seems there's not much we can do about it @wfly1998
Feel free to close the issue if you feel we answered your questions.

[2021-07-26 08:34] wfly1998 commented on #2902
Sorry, I didn't express it clearly. It's not really an error, but the message provided too little information. Because this is not the fault of image, but the fault of huge pages.

You know, when I encountered this error for the first time, I didn't know that the problem would be the lack of huge pages.

I think the code has no problem, but it is necessary to explain this in the documentation.

An

[2021-07-26 08:34] #2902 closed

[2021-07-26 08:54] sboeuf commented on #2813
After some investigations, here is a proposal about what should be done in order to support live migration for vhost-user devices.

First of all, we must get vhost-user devices to support snapshot/restore. Looking at the code, I don't think there's much to do, the only thing might be to "stop" the queues when the VM is paused, and re-"start" them when the VM is resumed.

Then we need the support f

[2021-07-26 08:56] sboeuf commented on #2902
@wfly1998 that's actually a great idea to update the documentation. If you have some time to do so, we'll be more than happy to accept your PR :)

[2021-07-26 13:02] rbradford commented on #2813
How does that work? Does `vm-memory` have a manual update this page method?

This was how I was thinking it would work. Would also be easier to tweak the algorithm and gather stats if the different dirty page sources were separate.

[2021-07-26 13:05] sboeuf commented on #2813
That's how we do this for `virtio-block` already: https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/block_util/src/lib.rs#L340-L343

[2021-07-26 13:27] rbradford commented on #2813
Yup I remember now. Your call! It will be much easier that way rather than trying to propagate the dirty page list from the device all the way up to the `Vm` object

[2021-07-26 13:43] sboeuf commented on #2813
Yes that's why this was my preferred option :)

Can I have your opinion about this as well:

[2021-07-26 13:54] rbradford commented on #2813
I'm not sure. Currently the `Migratable` trait isn't really used and we discussed dropping it. Is that `start/stop` actually `start_dirty_page_logging()` ? because otherwise it's very similar to `pause()`. I would prefer you create a new trait for the purpose.

[2021-07-26 14:08] sboeuf commented on #2813
It's not gonna be easy to drop `Migratable` since it's used to understand if a device can be migrated or not. And since it's completely empty, it's like starting with a new trait.
Yes the start/stop is about logging. So you suggest we could rely on `pause()` and `resume()` to trigger the logging?

[2021-07-26 14:27] rbradford commented on #2813
I just think the name `start()/stop()` is too vague.

[2021-07-26 14:54] rbradford commented on #2813
(Also I would first worry about implementing the state restoration of the vhost-user in snapshot()/restore() rather than advanced features like when to enable page logging for the live migration case.)

[2021-07-26 14:57] sboeuf commented on #2813
Of course, I'm actively working on this at the moment, but I'm trying to clarify the next step for when snapshot/restore will properly work.

[2021-07-26 16:19] #2858 closed

[2021-07-27 09:33] rbradford commented on #2718
QEMU now has support for a multi-process model (limited to just one type of SCSI controller at the moment) that is very similar to vifio-user:

Documentation: https://github.com/qemu/qemu/blob/master/docs/system/multi-process.rst
Protocol: https://github.com/qemu/qemu/blob/master/include/hw/remote/mpqemu-link.h
Proxy: https://github.com/qemu/qemu/blob/master/hw/remote/proxy.c

There is a comment i

[2021-07-27 10:16] D1abloRUS opened #2908 "Pinning vcpu on cpu"
Hi! Is it possible to create vcpu pinning on cpu? QEMU has an [implementation](https://lists.nongnu.org/archive/html/qemu-discuss/2016-01/msg00058.html)

[2021-07-27 10:24] sboeuf commented on #2908
There's no special command line option for Cloud Hypervisor. The proper way to perform CPU pinning is by identifying the vcpu threads run by the Cloud Hypervisor process. Once you identified the threads, you can use cgroups to pin them to the physical CPUs you want.

[2021-07-27 11:38] D1abloRUS commented on #2908
@sboeuf yes it works, thanks!

[2021-07-27 11:38] #2908 closed

[2021-07-28 12:15] arafatms opened #2911 "vhost dev has no tx queue, enable failed"
**Describe the bug**
im trying to test vhost-user-net in cloud-hypervisor with DPVGW as the backend. the following error is reported by dpvgw during the negotiation:
vhost dev has no tx queue, enable failed

also got the wrong queue map:
# vgwadm dpdk queue-map
+----------------------------------------------------------------------+-----+----------------------+
|                                ifn

[2021-07-29 13:52] rbradford commented on #2911
In Cloud Hypervisor `num_queues` is not the number of queue pairs but rather the number of queue_pairs * 2.

[2021-07-29 14:18] sboeuf commented on #2911
@arafatms
So I think your HTTP request should be:
[code]

[2021-07-29 15:05] sboeuf commented on #1599
Fixed by https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2910

[2021-07-29 15:05] #1599 closed

[2021-07-30 18:43] likebreath commented on #2911
Fixed by #2921.

[2021-07-30 18:43] #2911 closed

[2021-08-03 08:10] sboeuf opened #2929 "Move to rust-vmm/seccompiler crate"
The following PR https://github.com/rust-vmm/seccompiler/pull/7 is the upstream version of the `seccompiler` crate we use. We need to check the PR works well with Cloud Hypervisor and give some feedback before it gets merged.
Once merged, we should move Cloud Hypervisor fully to this crate.

[2021-08-03 08:11] sboeuf commented on #2929
@likebreath could you please have a try, the point is to make sure there's no breaking changes in this new version that would prevent CH from using it.

[2021-08-03 08:26] #2895 closed

[2021-08-03 16:09] likebreath commented on #2929
Of course. I took a quick glance of the PR yesterday and it looks good to me. I will try it with CH and provide feedback.

[2021-08-03 16:10] sboeuf commented on #2929
Thanks Bo!

[2021-08-05 13:17] sboeuf commented on #2813
Still some functional issues.

[2021-08-10 10:27] sboeuf commented on #2929
@likebreath please provide your feedback on the PR directly, and report on this issue as well what needs to be done from our perspective.

[2021-08-10 19:36] #2813 closed

[2021-08-11 07:27] likebreath commented on #2929
@sboeuf @rbradford A working draft is up [here](https://github.com/likebreath/cloud-hypervisor/pull/14). Only two minor issues left:  1) fix cargo fuzz build failure; 2) accommodate with the fact the `apply_filter` API now returns Error on empty filter. I will address them when the seccompiler PR is landed.

Overall, I found the new interfaces are cleaner, while it did require quite more changes t

[2021-08-11 21:35] likebreath opened #2958 "Document experiments on live-migration"
Experiments to cover:
- [x] Local migration and nested migration on a single machine (as descripted in the [document](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/master/docs/live_migration.md))
- [x] Cross two Azure VMs with the same configuration (platform/CPU and host OS)
- [x] Cross two Azure VMs with different host kernel version (same platform/CPU), e.g. between `v5.4.0-1055-azu

[2021-08-11 21:39] likebreath commented on #2958
@rbradford @sboeuf Please take a look and feel free to extend/revise (e.g. the one on vhos-user-net w/ ovs-dpdk).

[2021-08-11 21:43] sboeuf commented on #2929
That's great! Thanks for confirming the new version of the `seccompiler` crate will work just fine with Cloud Hypervisor. Let's now wait for the PR to be merged as part of rust-vmm and then we can use your draft to move Cloud Hypervisor to the upstream version.

[2021-08-11 21:45] sboeuf commented on #2958
The list seems accurate to me :)

[2021-08-12 12:20] rbradford opened #2965 "Add live migration integration test"
We should have an integration test for live migration. Just local / same host migration is fine. If the test takes too long to run we should put it in a new parallel worker like we do for musl builds.

[2021-08-12 12:21] rbradford commented on #2965
@likebreath Is this something you could tackle as you've been looking into live migration lots recently.

[2021-08-12 12:50] rbradford commented on #2594
Using the vfio-user and the SPDK provided NVMe device then it is possible to boot a VM using NVME device (including as rootfs). I think this is sufficient for your use case.

[2021-08-13 14:10] sboeuf commented on #2718
Hi @tmakatos @jlevon @swapnili
We've recently implemented the `vfio-user` protocol as part of Cloud Hypervisor. We've been testing this with both the GPIO example as well as the SPDK/NVMe one. For the NVMe case, we get the following error everytime we boot a VM:
[code]
Do you have any idea what this error indicates?

[2021-08-16 10:44] jlevon commented on #2718
@sboeuf which guest are you running? SPDK is lacking support for that command ("I/O Command Set Specific Identify Controller data structure") but we haven't seen this ourselves.

cc @changpe1

[2021-08-16 10:49] jlevon commented on #2718
Also, does nvme within the guest still function, or is that a fatal error for you?

[2021-08-16 10:57] jlevon commented on #2718
Also, FYI, don't know if you're aware, but MPQEMU move to vfio-user protocol is actively underway by Oracle.

[2021-08-16 12:07] sboeuf commented on #2718
@jlevon

A focal Ubuntu image with 5.13 kernel.

It's not a fatal error. I see some corruption issues though, but I'm not sure this is related.

That's good. Do you know if they ran into any similar issues when using QEMU? Especially the vIOMMU use case, do you know if someone have already tried it?

[2021-08-16 12:09] jlevon commented on #2718
cc @jraman567

I'm not sure myself on viommu

[2021-08-16 14:00] jraman567 commented on #2718
@sbouf @jlevon We haven't tested vIOMMU yet - will test and get back to you shortly. Thank you!

[2021-08-16 14:36] sboeuf commented on #2718
@jraman567

Oh okay, but do you expect something to be handled differently from the server side? I thought it should be transparent.

[2021-08-16 15:43] jraman567 commented on #2718
@sboeuf I don't believe special handling necessary on the server side.

The client exposes the parts of the RAM that are necessary for the device (running on the server) to perform DMA. When vIOMMU is enabled, the client only exposes parts of the RAM that are mapped to the device via the vIOMMU - as such I don't believe the server needs to perform any special handling.

[2021-08-16 15:52] sboeuf commented on #2718
I fully agree. Please keep me posted on your experiments as I'm having some issues with vIOMMU :-/

[2021-08-17 01:27] changpe1 commented on #2718
this is a NVMe 2.0 command, it doesn't matter not to support it.

[2021-08-17 12:12] sboeuf commented on #2718
A quick summary of the vfio-user status here:
- Running the NVME/SPDK backend fails with multiple threads, which is a known issue: https://github.com/spdk/spdk/issues/2074
- There is a pending patch that helps supporting multiple regions in `libvfio-user`: https://github.com/nutanix/libvfio-user/pull/586
- The vIOMMU has not been tested yet (@jraman567 working on it), but on my side I've hit multi

[2021-08-17 16:03] jlevon commented on #2718
Just for clarity, is vIOMMU a strict requirement for your use cases?

[2021-08-17 16:43] sboeuf commented on #2718
@jlevon

I don't think we have a strict requirement at the moment for `vfio-user` with vIOMMU, but we want to give that possibility to our users in case they might run nested, or even internally to perform some VFIO tests on the PCI device that is exposed by vfio-user.
Just trying to cover all the potential use cases :)

[2021-08-17 16:49] jlevon commented on #2718
Understood, thanks for the context. (More of a side note, but we've successfully used SPDK/VFIO in unsafe mode (i.e. no iommu) inside a guest.)

[2021-08-17 17:04] sboeuf commented on #2343
@rbradford
Just a note that TPM drivers expect a TPM device to be located on an i2c bus and not a PCI one. In order to overcome this limitation, we can't use `vfio-user` as it exposes the emulated device as a PCI device.
But there's a recent addition to the virtio spec called [virtio i2c](https://raw.githubusercontent.com/oasis-tcs/virtio-spec/master/virtio-i2c.tex), which would allow the device t

[2021-08-17 17:41] jlevon commented on #2343
There's nothing specific to PCI in the vfio-user spec, for what it's worth. libvfio-user is based around PCI, certainly.

But I'm a bit confused as to the i2c bus comment. x86 guest side, the platform's TPM is just exposed as MMIO in ACPI, isn't that sufficient? Is this for aarch64, or something else?

[2021-08-18 07:34] sboeuf commented on #2343
I know, but let's be honest, both VFIO and vfio-user have been designed with PCI in mind :)
Maybe the biggest example is the fact that the regions that are exposed are the BARs and the config space. I don't know how you would translate these if you wanted to expose your device through a different type of bus.

The problem with exposing a device directly through MMIO is that we would have to make i

[2021-08-18 08:42] #2929 closed

[2021-08-18 09:16] liuw commented on #2343
If vfio-user can be extended to support arbitrary buses, that will be great.

There is still the part to generate ACPI table(s) for the TPM. Do you plan to rework the ACPI code to make it able to pull in tables from other sources?

There is no need to have a TPM emulator in Cloud Hypervisor. We had a smart and hardworking intern who implemented a prototype for TPM support. His design includes a sm

[2021-08-18 09:41] sboeuf commented on #2343
@liuw so this proxy code in Cloud Hypervisor takes care of placing a device on the MMIO address space?
About the ACPI part, that's tricky as it means we either need to know about the type of device that we're going to expose to guest (so that CH would take care of it), or it must be passed by the backend through the socket (which means we need some kind of protocol between the two).
The benefit of

[2021-08-18 10:45] liuw commented on #2343
Yes. It generates the required ACPI table and register an MMIO region.

Right. And I would very much like to avoid inventing bespoke protocol for passing ACPI related information.

This sounds interesting. I will check it out.

[2021-08-18 11:07] liuw commented on #2343
(Keep in mind I'm not an expert on TPM)

I checked out Linux's TPM drivers under drivers/char/tpm. It seems to me for TPM2 ACPI is mandatory. As for I2C based drivers, they look rather bespoke. Each vendor comes up with their own driver.

[2021-08-19 09:43] #2282 closed

[2021-08-19 10:59] jlevon commented on #2343
Yep, though note they're `VFU_PCI_DEV_NUM_REGIONS`, a device with a different `vfu_dev_type_t` would have a totally separate region namespace (and might for example have region caps instead of integer namespace IDs. Not saying we wouldn't have work to do, but the framework should be there.

I think the qemu-style proxy talking SWTPM protocol *is* that, isn't it?

[2021-08-20 04:51] t-seanyoo commented on #2343
Hi everyone, I'm the intern mentioned above. So QEMU emulates a TPM TIS interface which is what I was able to do in Cloud Hypervisor. The interface is added as a part of the CLH device model which emulates registers + allocates MMIO region based on the interface specification from the TCG ([TCG TIS Specification](https://trustedcomputinggroup.org/wp-content/uploads/TCG_PCClientTPMInterfaceSpecific

[2021-08-20 08:15] rbradford commented on #2343
@t-seanyoo Thank you for your work and for filling in these details.

I think this approach is fine. I would expect this would be exposed to the user via `--tpm socket=<path>|fd=<fd>` and if that is present then the MMIO region would be exposed through ACPI and the device added to the MMIO bus. My expectation is that the ACPI entries are mostly static and just relying on the MMIO address. Is there

[2021-08-20 14:10] t-seanyoo commented on #2343
@rbradford

I wasn't able to configure the option parameter yet but yes that's exactly what I had in mind.

ACPI tables are indeed static (only differ based on TPM 1.2 and TPM 2.0, or type of interface if alternatives are supported (see note) but this can be configured on the VMM side). No general approach to extend ACPI tables from outside is necessary from what I have learned.

@liuw is actually

[2021-08-21 20:14] liuw commented on #2343
@t-seanyoo Thank you very much for your detailed input. I will  follow up internally regarding the next steps for this project.

[2021-08-24 11:31] liuw opened #3002 "Improving debuggability and observability"
One use case I have in mind is the Bring-You-Own-Images type of service. In such a service, each vendor brings their verified images on our platform.

Per my understanding this is perhaps different from the original use case Cloud Hypervisor has in mind, in which the images are controlled by the platform and more homogeneous.

For the BYOI use case, we have a desire to improve Cloud Hypervisor's a

[2021-08-24 11:54] tmakatos commented on #2718
@sboeuf I've succesfully used a vIOMMU on SPDK not too long ago, the major problems I had were:

1. figuring out the correct QEMU command line, I guess you've already solved that in your case
2. making sure that SPDK doesn't have to map multiple DMA segments when setting up queues or handling a request: https://review.spdk.io/gerrit/c/spdk/spdk/+/7934

These were the main bits, do let me know if y

[2021-08-24 12:32] weltling commented on #3002
A framebuffer would be great point to break the dependency on serial, IMO that's both thumbs up.

For serial however, the current `--serial tty --console off` is only usable for debugging in conjunction with `socat`. That's not very sustainable, unfortunately. Expanding on the serial implementation would be great to improve the debug experience, points below:

- Serial through TCP client/server in

[2021-08-24 12:36] weltling commented on #3002
One note on the network availability also, as that's where i'm not sure. Another good debugging option could be to ensure the very early availability of the network device, as some debugging could be network based. However, serial <> tcp would cover that, even though serial is slower so have bottlenecks in some case.

Thanks

[2021-08-24 15:11] liuw opened #3004 "Serial port buffering stalls guest boot"
**Describe the bug**

When the buffer for serial port is full guest is stalled. Guest will only continue if I connect

**To Reproduce**

Run Cloud Hypervisor with `--serial pty --console tty` and also configure Linux kernel with `console=ttyS0 console=hvc0`.

VirtIO console output runs for a while then stops. Output continues once picocom connects to the PTS used by the serial port (which drains i

[2021-08-24 15:18] liuw opened #3005 "Keyboard input pushed to wrong place"
**Describe the bug**

My key strokes from TTY are for VirtIO console but they end up being pushed to serial console.

I can see this when I type in one Window but characters start appearing in the other.

**To Reproduce**

Run Cloud Hypervisor with `--serial pty --console tty` and also configure Linux kernel with `console=ttyS0 console=hvc0`. Make sure Linux spawns a login prompt for each of them.

[2021-08-24 15:35] liuw opened #3006 "Adding RESTful endpoints for serial and console"
I have the need to figure out how serial and console are configured for a guest.

Currently I just used the `vm.info` endpoint and then parse the JSON data.

I'm wondering if people would be interested in adding two more endpoints, one for serial, the other for console.

[2021-08-24 15:45] liuw commented on #3006
For reference the command line I use to extract information is like

[code]

[2021-08-25 08:24] rbradford commented on #3005
@liuw Thanks for the excellent bug report. I was able to reproduce and identify the cause and fix the issue. :rocket: Please see #3011 for details.

[2021-08-25 09:08] #3005 closed

[2021-08-25 09:27] rbradford commented on #3006
We talked about this during the development of the PTY support (as that was the first time that it was needed) and came to the conclusion that patching the config was the best plan as then it was also useful for snapshot/restore.

[2021-08-25 09:31] rbradford commented on #3004
This is due to the Linux kernel behaviour. I think this could be handled for the PTY case by modifying the PTY handling code to:

a.) Make the fd non-blocking
b.) Upon write add the data to write (i.e. output) to a vector and then try and write the whole vector. If it comes back -EWOULDBLOCK then do nothing otherwise clear the buffered vector.

This would mean the output data would be buffered and

[2021-08-25 09:43] rbradford commented on #3002
@weltling We have support for connecting a serial to the PTY.

In terms of kernel debugging: gdb stub support is a possibility https://www.kernel.org/doc/html/v4.11/dev-tools/gdb-kernel-debugging.html

[2021-08-25 09:49] rbradford commented on #3004
@bryteise Any thoughts on this?

[2021-08-25 09:56] rbradford commented on #3006
I think a prettier output from the ch-remove info command would probably be useful :-)

[2021-08-25 10:01] liuw commented on #3004
For b) I want to add that the buffer size should not be unbounded. I think a simple circular buffer is what we need here. The circular buffer can be implemented with vector.

[2021-08-25 10:02] liuw commented on #3006
Thanks for you reply. `jq` does the job just fine, so our energy is better spent elsewhere on more important things.

[2021-08-25 10:02] #3006 closed

[2021-08-25 10:14] liuw commented on #3004
Also, is this really only about PTY handling? If TTY (stdout) is redirected, it can potentially be blocked too.

[2021-08-25 10:16] rbradford commented on #3004
Yeh, I think that's a possibility so any solution should handle both.

[2021-08-25 10:20] rbradford commented on #3004
If we're not worried about losing output and more worried about the boot then the simplest solution is to skip the buffering (which adds complexity) and just make the fd writes non-blocking and ignore `-EWOULDBLOCK`. Maybe that could be our first solution.

[2021-08-25 10:30] liuw commented on #3002
@weltling I think it would be better to keep Cloud Hypervisor small. It shouldn't burden itself with the the complexity of maintaining a TCP connection. I think using the newly added (not actually that new, but added after we debugged Windows) PTY support and `socat` should do all the things you want.

Here is a command I use to fish out the PTS device.

[code]

Nowadays I use minicom or picocom t

[2021-08-25 10:38] liuw commented on #3004
This would be fine as a first step. I would like to have an option to switch it back to blocking though. When the console is used as a transport for data intended for machine consumption, we don't want its data to get lost. Examples are debuggers connected via the emulated serial ports or guest agents connected via virtio consoles.

[2021-08-25 11:11] liuw opened #3012 "Using PTY mode for both serial and virtio console is buggy"
**Describe the bug**

Using PTY mode for both serial and virtio console is buggy. After connecting to both with minicom, I can't login to either. The input is messed up.

**To Reproduce**

Start the guest with the command line option below then connect to both serial and virtio console with minicom in two different terminal windows.

[code]

You will find that the keystrokes don't get processed co

[2021-08-25 11:12] liuw commented on #3012
@rbradford @bryteise One more console related bug. This is with Rob's https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3011 applied.

[2021-08-25 11:34] weltling commented on #3002
@rbradford @liuw thanks for pointing out regarding the PTY availability, seems i've overseen this addition. I earlier came up with using a command like this:

[code]

And then capturing and converting with like:

`socat SYSTEM:"./ch.kgdb",openpty,rawer PTY,link=./gdb_pty,rawer`

That PTY was worky, but the whole wrapping process seems wobbly. I'm gonna try out the PTY mechanism then, too. And espe

[2021-08-25 11:48] weltling commented on #3002
@liuw For TCP - it wouldn't seem that it would increase the binary size a lot. The dependencies for the network layer are already linked due the API socket. So far the experience with `socat` and the wrapping mechanism isn't something i'd call 100% stable.

Perhaps one should see a debug over network in general - either TCP client/server or at least debug through network device. Linux supports kgd

[2021-08-25 12:33] #3012 closed

[2021-08-25 14:31] bryteise commented on #3004
Having an option for blocking would be nice. I think in some cases loggers get attached to serial ports for these cloud instances and being able to ensure all the content is available is important. Just want to be sure it can be configured per port.

[2021-08-26 02:19] MrXinWang opened #3021 "Make Cloud Hypervisor dev container multi-arch in Dockerhub"
Hi @rbradford! I've found a method to build and push multi-arch image to Dockerhub. Using my own dockerhub, the example is shown here: https://hub.docker.com/layers/164351001/mrxinwang/cloud-hypervisor/latest/images/sha256-74aa087a66813bbae1d92780fcac8fecf72706ffe58c9ea31662e22760968184?context=repo

You can see the multiarch image is enabled through here:
![image](https://user-images.githubuserco

[2021-08-26 13:45] #3021 closed, assigned to nobody

[2021-08-26 14:30] rbradford opened #3023 "vfio-user live migration"
Like vhost-user the vfio-user spec covers support for live migration: https://github.com/nutanix/libvfio-user/blob/master/docs/vfio-user.rst

[2021-08-26 15:54] rbradford opened #3024 "vfio-user iommu support"
Investigate support for using an iommu with vfio-user devices:

_Originally posted by @tmakatos in https://github.com/cloud-hypervisor/cloud-hypervisor/issues/2718#issuecomment-904571661_

[2021-08-26 15:55] rbradford opened #3025 "vfio-user + virtio-mem"
Add support for using virtio-mem with vfio-user devices.

[2021-08-27 14:18] rbradford opened #3031 "Add panic handlers to threads to shutdown VMM"
This is useful because otherwise the thread will exit and the rest of the VMM will continue in a potentially inconsistent state and may give strange  behaviour.

- [x] vCPU threads  - #2967
- [x] virtio devices - #3089
- [x] vhost-user - #3089
- [x] seccomp thread #3093
- [x] API thread #3102
- [ ] VMM thread ?

[2021-09-01 13:58] rbradford opened #3058 "Serial buffer not flushed until write"
Following on from #3057 when connecting to the PTY the serial buffer should be immediately flushed.

[2021-09-01 14:00] rbradford opened #3059 "Serial I/O should not be in VMM thread"
Currently the serial I/O runs in the VMM thread which means that the serial can be starved based on VMM activities but conversely the serial use can starve other VMM activities. It should run in its own thread.

[2021-09-01 14:05] rbradford opened #3060 "Use virtio-console thread for virtio-console I/O"
Use the virtio-console thread to read from the input source rather than rely on the VMM thread which should make the handling of the I/O simpler and avoid VMM thread starvation as both input and output are running on the same thread.

[2021-09-02 12:52] #3004 closed

[2021-09-02 13:26] rbradford opened #3066 "Add support for vhost-user behind virtio-iommu"
This will improve security for vhost-user devices as they won't have full access to the guest RAM.

[2021-09-02 13:26] rbradford commented on #3058
Depends on #3059 otherwise it will be a bit messy.

[2021-09-02 13:57] #2965 closed

[2021-09-02 20:17] #3060 closed

[2021-09-04 13:05] Kethen opened #3078 "Partially pass through iommu group is allowed / Cannot pass through multiple devices in one iommu group"
**Describe the bug**
1. passing a single device through in a multi device iommu group to boot a vm is allowed, this is likely unsafe to host?
2. passing through a graphic card and it's audio card will result in cloud-hypervisor attempting to open the same vfio device twice through rust-vmm/vfio-ioctls

**To Reproduce**
[code]

The current code base simply does not attempt to take care of iommu gro

[2021-09-07 16:25] rbradford commented on #3059
Just to be clear: The output should still be done on the vCPU thread where the port I/O or MMIO was handled. The input (e.g. stdin, PTY, etc) is the bit that should be moved from the VMM thread.

[2021-09-08 13:59] rbradford opened #3092 "Resizing of tty where CH spawned triggers resize of virtio-console for PTY"
e.g.`target/debug/cloud-hypervisor --kernel ~/src/linux/vmlinux --cmdline "root=/dev/vda1 console=hvc0" --serial null --console pty --disk path=~/workloads/focal-server-cloudimg-amd64-custom-20210609-0.raw --api-socket /tmp/api`

Then connect to PTY and observe the value of `$COLUMNS` change as the terminal in which the console was started is resized.

[2021-09-08 18:26] #3092 closed

[2021-09-09 13:23] rbradford opened #3098 "Add vfio-user integration test(s)"
* NVMe from SPDK (good idea to checkout a particular git revision of SPDK)
* GPIO device

It's documented in docs/vfio-user.md

[2021-09-09 13:24] rbradford commented on #3078
Thank you @Kethen for opening an issue. @sboeuf our resident VFIO expert will be back in a few days to look at this issue you raised.

[2021-09-09 13:46] rbradford opened #3099 "Aarch64 release code doesn't work"
The second workflow for the aarch64 release creates a 2nd release from the same tag so that the artifacts end up being split. I think it needs to be merged into the one workflow with just one release created from the tag.

[2021-09-09 14:10] #3099 closed

[2021-09-09 14:13] rbradford commented on #3099
@MrXinWang @michael2012z FYI.

[2021-09-09 14:20] MrXinWang commented on #3099
Thanks @rbradford. So far looks good.

(My original thought was to split the AArch64 out so that if the Arm64 has some build issue in github action, at least we would not block x86, but for now I think merging them to a single workflow is fine. Thanks again!)

[2021-09-13 14:58] sboeuf commented on #3078
@Kethen I confirm this is an issue I could reproduce on my side. I'll investigate how I can properly fix it.

[2021-09-13 15:01] sboeuf opened #3113 "vfio: Add support for devices from the same IOMMU group"
We need to be able to passthrough multiple devices attached to the same IOMMU group.

[2021-09-14 16:18] rbradford commented on #1400
I don't think we have a use case that requires this so we can close it for now.

[2021-09-15 14:26] #3031 closed

[2021-09-15 14:55] sboeuf commented on #3078
@Kethen could you please check if #3123 is fixing the issue you were seeing. It fixes it for me, but I'd like your confirmation.

[2021-09-15 16:08] #3078 closed

[2021-09-16 09:29] #3113 closed

[2021-09-17 13:52] sboeuf commented on #3066
After some investigations based on the [vhost-user specification](https://github.com/qemu/qemu/blob/master/docs/interop/vhost-user.rst#iommu-support) and the QEMU codebase (`hw/virtio/vhost_user.c`, `hw/virtio/vhost.c`, and `hw/virtio/vhost-backend.c`), here is the list of things we need to complete this task:
- [ ] Add support for `VHOST_USER_IOTLB_MSG` to `Master` and `MasterReqHandler` in the [

[2021-09-17 14:01] #3059 closed

[2021-09-17 15:51] sboeuf commented on #3066
Based on the way vIOMMU support is designed from a vhost-user specification perspective, it is not bringing any added security. The guest memory regions are still passed to the backend, by providing a file descriptor to access them. This means that even if we introduce the concept of IOTLB entries, we must always trust the backend for doing the right thing. If the backend was compromised, it could

[2021-09-17 15:51] #3066 closed

[2021-09-20 15:07] rbradford commented on #77
This has been open for > 2 years. I don't think anyone finds the switch compelling enough (i'm not even sure it makes the code more readable) so i'm closing this for now.

[2021-09-20 15:07] #77 closed

[2021-09-20 15:08] rbradford commented on #78
I think this issue can be closed. Having this issue here hasn't inspired any new unit tests to be written or even anyone to collate such a list. The nature of the project makes unit testing very difficult and I feel like that for the areas where we can do it e.g. config parsing, we already have good coverage.

[2021-09-20 15:08] #78 closed

[2021-09-20 15:32] rbradford commented on #2049
@russell-islam Dittto, is there any value in keeping this issue open?

[2021-09-20 22:50] #2050 closed

[2021-09-21 05:38] russell-islam commented on #2049
This one is already taken care of. We can run the unit test with -hypervisor option. Most of the hypervisor-related test cases are implemented in MSHV crate anyway.

[2021-09-21 05:38] #2049 closed

[2021-09-21 12:47] #1598 closed

[2021-09-21 14:42] #3025 closed

[2021-09-21 18:23] weltling opened #3146 "Blocking API calls"
Currently API calls seem to be always non blocking. However, there are several cases where waiting for an API in a blocking manner or at least having a possibility to poll to receive a result would make sense. In most case it would be about an operation with an open ended timeline that might fail or succeed.

As an example - `snapshot`, `resume`, `resize` would be a candidate to use a blocking API

[2021-09-22 08:18] sboeuf commented on #3146
I'm not opposed to introduce some logic to make a few API calls blocking, but we need an exhaustive list of commands for which this would make sense. For instance, even if you're blocking on the `resize` call, you have no guarantee how long it will take in the guest kernel to expose a new CPU, even when everything has been properly done on the host side.
I think the most challenging part for some

[2021-09-22 11:36] liuw commented on #3146
Just to toss some ideas around:

1. these blocking calls should also come with a timeout (however large it is) and should not blocked indefinitely.
2. Avoid blocking things that require guest cooperation all together.
3. Instead of going the blocking API route, CH can provide APIs that return the status of the operation. API users can poll its completion status and decide whether to wait or move o

[2021-09-22 11:37] weltling commented on #3146
Thanks for checking. Potentially any command could use such a mechanism. Perhaps these for the start:

- snapshot
- resume
- shutdown

Potentially it's any operation where in the integration tests `thread::sleep()` call is deliberately used. On my side, the question just came up while investigating some issues with snapshot/restore where

Saying there are challenges on knowing the proper completio

[2021-09-22 11:40] weltling commented on #3146
For 3. - that would imply some queue would be used to store the incomplete operations? Say one could issue multiple operations non blocking, then poll on them in parallel.

Thanks

[2021-09-22 12:26] rbradford commented on #3146
The reason those API calls block is due to a fundamental design choice. The low privilege API thread takes the request (and this applies to all requests) and sends a message to the high priviliege vmm thread to get an answer. The vmm thread acts as a serialiser in this case.

If you don't want your client code to block on long running API calls then you should start those in a thread. But bear in

[2021-09-22 12:27] rbradford commented on #3146
(Also I like that the HTTP requests block since it makes client implementation much easier.)

[2021-09-22 12:47] weltling commented on #3146
Oh, so what i read is that API socket calls would still be blocking? This means what i initially took as a non blocking call is the asynchronicity of the further handling in the guest, as mentioned here:

Would it then imply anytime `ch-remote` issued a call, the requested job in `cloud-hypervisor` is fully completed and the remaining operation is up to the guest to complete?

Perhaps another appr

[2021-09-22 12:54] weltling commented on #3146
After reading twice, i think this is answered by:

So probably my initial question clarified at this point. Perhaps we could still exchange on possible ways to retrieve the information from guest on real completion, if that makes sense.

Thanks

[2021-09-22 12:56] rbradford commented on #3146
Oh, sorry I realised i'd completely misinterpreted your issue. You want the commands to block until the the actions are complete. Some of the commands you mentioned already do that:

e.g. shutdown goes to `Vm::vm_shutdown()` which does a join on the threads that the VM has spawned so waits for those to exit. With a few extra logs you can clearly see that the API response is only returned once ever

[2021-09-22 13:00] rbradford commented on #3146
Yes.

[2021-09-22 13:22] rbradford commented on #2594
With the SPDK vfio-user NVMe device plus the new vfio-user support in Cloud Hypervisor (`--user-device`) I think we can close this issue. As well as backing the device with a plain file you can back it by more complex solutions. How to use this with CH is documented here: https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/docs/vfio-user.md

[2021-09-22 13:22] #2594 closed

[2021-09-22 13:28] weltling commented on #3146
ACK, yeah, so the HTTP request itself is blocking, but that's irrelevant because the response won't always indicate the full completion. Operations like `snapshot` don't depend on the guest, so the response indicates the real completion.

In other cases where the guest is in the game, there might be still some job not fully completed. Like in the case with hotplug, there would be currently no reli

[2021-09-22 16:04] iggy commented on #2594
The only downside I see to this is SPDK's extreme use of CPU to handle those userspace devices. I don't think any cloud provider is going to want to burn an entire core for each emulated device. I tried doing this to test Ceph RBD and the default config used 2 cores for every device. The best I was able to manage was getting it down to one core per device.

[2021-09-22 17:51] weltling opened #3149 "Windows guest bluescreen with hypervisor-fw"
Windows guest with CH using `hypervisor-fw` instead of `OVMF` doesn't shutdown correctly and encounters a bluescreen:

[code]

The Cloud Hypervisor process keeps hanging and doesn't terminate. To reproduce, it's just about booting the guest and then hitting the shutdown button. This issue doesn't happen with `OVMF`.

As `OVMF` is currently used for the tests and seems to be the most stable option,

[2021-09-23 04:29] bryteise commented on #3058
@rbradford I think I'm a little confused as to what behavior this requires. I thought this was to flush when another process opens the pty but the more I think about that the less that makes sense to me. Detecting another process has opened the PTY is a bit tricky as epoll won't see an event for open and I can only think of painful seeming ways to handle that.

I'm probably being dumb and missing

[2021-09-23 08:00] rbradford commented on #3149
@weltling MSHV or KVM? I know we test RFW against Windows on its CI.

[2021-09-23 08:01] rbradford commented on #3149
(But we might not test shutdown.)

[2021-09-23 08:27] rbradford commented on #3058
If and only if serial buffer has something in -> add an epoll even for the fd to be writable. Upon said event: flush serial buffer. Remove after flushing the serial buffer if the serial buffer is now empty. You don't want the writable epoll event around for any longer than strictly necessary - using a one shot might be easier (you'll need to add it again after the flush if the buffer wasn't fully

[2021-09-23 08:28] rbradford commented on #3058
This means you'll need to move the serial buffer into `SerialManager`.

[2021-09-23 09:14] jlevon commented on #2594
We are actively working on fixing that. Let me know if you want to try things out ;)

[2021-09-23 16:34] thillux commented on #1400
Thanks for reopening this issue. I have a usecase which would possibly need more than 32 PCI devices.

I'm running a VPN gateway with a control plane VM managed by chv. Inside this VM multiple layer 3 forwarding domains (VRFs) can be used. Each VRFs gets assigned >= 4 vhost-user-net devices, which each use one BDF. Therefore the number of supported BDFs directly corresponds to the number of suppor

[2021-09-24 08:17] rbradford commented on #3024
We've made a decision not to pursue vfio-user with iommu support at this time. The complexity overhead is not worth is for the niche use case of nesting the devices (since the virtual device gets full access to the guest memory anyway there is no security benefit.)

[2021-09-24 08:17] #3024 closed

[2021-09-24 11:46] thillux commented on #1400
Another use case would arise if using many virtual function (VF) representors on top of a switch inside a chv VM.

[2021-09-24 16:07] weltling commented on #3002
Reporting on the PTY part. When `kgdbwait` is involved, I'm able to use `--serial pty` and lookup the PTY by using the API call as suggested. That PTY is usable with GDB directly, no socat is needed.

Thanks

[2021-09-27 08:47] sboeuf opened #3165 "Can't restore/migrate memory region that has been hotplugged (ACPI)"
On the restore path, the previously hotplugged region is not recreated, meaning it can't be filled from the file that has been saved through the snapshot path, or provided through the migration process.

[2021-09-27 12:02] weltling opened #3167 "Restored Windows guest crash at shutdown under KVM"
After restoring the guest, a blue screen can be reproduced by running `shutdown -s -t 0` over SSH.

[code]

It is not yet clear, whether MSHV has same issue. There, it seems to be yet another issue preventing a clean shutdown (but no crash).

Further investigation is needed on the guest side.