[2021-09-27 12:02] weltling opened #3168 "Restored Windows guest crash after RDP login under KVM"
After restoring the guest, an RDP logon will work and show the desktop. But after just a few seconds, the guest runs into the bluescreen below:

[code]

MSHV seems to have a different issue with this situation, so it is currently not possible to tell this one would be present there, too.

Further investigation is needed on the guest side.

[2021-09-27 18:23] bryteise opened #3170 "Writes to SerialBuffer lost"
When a `SerialBuffer` attempts to write to a PTY fd that does not have a client connected the write does not block and the bytes are lost until a limit (20480 bytes on my system) and then the writes will block and are added to the `SerialBuffer`'s circular buffer. If a client connects to the PTY and the circular buffer is cleared and the client then disconnects the behavior of lost writes will rep

[2021-09-27 22:40] russell-islam opened #3171 "Virtual address-backed guest machines on Linux MSHV"
After this support we can enable all the Dax related integration test cases and try to fix at least we have any issue.

[2021-09-27 22:41] russell-islam opened #3172 "Add numa support on MSHV"

[2021-09-27 22:41] russell-islam opened #3173 "Add OVS dpdk support on MSHV"

[2021-09-27 22:43] russell-islam opened #3174 "Fix huge memory and large vm test cases on MSHV"
This issue tracks the progress of enabling these two test cases for MSHV. Practically there should not be any issues running these tests but we haven't tested this on a Server yet. We are trying to fix a couple of issues related to MSHV kernel on the Blade server once we fix the issue we can test these two cases.

[2021-09-27 22:44] russell-islam opened #3175 "Fix CPU topology tests failures on MSHV"

[2021-09-28 03:17] Lxiaoyouling opened #3180 "Does cloud-hypervisor support live upgrade?"
Hi everyone：
    Does cloud-hypervisor support live upgrade?

thanks

[2021-09-28 03:21] wfly1998 opened #3181 "Is it necessary to add prefault option in memory?"
I've noticed that `prefault` argument is available in memory manager, but it seems that this argument can only be used by SGX and restore as an option.

I think `prefault`, in other words, `MAP_POPULATE` is very useful not only in SGX or restore, but also in normal memory allocation.

With this flag, vmm can pre-alloc page tables of vm memory without subsequent page faults, although it can make me

[2021-09-28 09:43] sboeuf commented on #3181
Yes you're right, so far we only provide the option for SGX and restore use cases. But if you have a specific use case in mind for which having the memory populated upfront might help, it shouldn't be too hard to add it to the normal memory (the code is mostly there, it's really a matter of exposing the option to the user and connecting the dots).

[2021-09-28 10:05] sboeuf commented on #3180
It supports live migration, which you can perform locally on the same machine to achieve live upgrade.

[2021-09-28 10:05] #3180 closed

[2021-09-28 10:06] #3181 closed

[2021-09-28 10:20] liuw commented on #3172
@weltling this should work once your cpuid work is upstreamed.

[2021-09-28 10:21] liuw commented on #3175
@weltling this is related to your cpuid work.

[2021-09-28 17:15] #1595 closed

[2021-09-28 20:50] likebreath commented on #1312
Looks like the items are all completed.

[2021-09-28 20:50] #1312 closed

[2021-09-30 10:37] weltling commented on #3167
With debugger attached, I can see two crashes.

1. Happens at boot, most likely a timing issue:
[code]
This one seems to happen because the boot went too slowly and ticks expire too fast. Continuing through this one seems to get the system going, though.

2. This one is at shutdown.
[code]

Both cases seem to land in the code path invoking `DbgBreakPoint()`, whereby the second one is conditioned w

[2021-09-30 11:21] weltling commented on #3168
With the debugger attached, the below BT is caught. `KiGeneralProtectionFault` might be about some memory corruption. WPF seems to be exactly about graphics rendering for RDP.

thanks

[code]

[2021-09-30 11:49] liuw opened #3196 "Guest agent support"
QEMU has a guest agent that runs inside the guest to do various things.

Is there appetite for introducing a guest agent to Cloud Hypervisor?

Some of things that can be useful are:

1. Ask guest to shutdown properly.
2. Return guest's IP address.
3. Freeze guest in preparation for host side backup.
4. Execute commands.

[2021-09-30 14:52] #3058 closed

[2021-09-30 15:14] rbradford commented on #3171
What do you mean by "Virtual address-backed guest machines"? This phrase makes no sense to me.

[2021-09-30 15:15] rbradford commented on #3196
@liuw We already handle "1." with the ACPI power button which causes systemd to shutdown.

[2021-09-30 15:16] rbradford commented on #2226
I believe all TDX work is complete.

[2021-09-30 15:16] #2226 closed

[2021-09-30 15:43] liuw commented on #3196
I know. But I also hear some people complain that it depends on guest's configuration -- some guests can choose to ignore that event -- hence it is not reliable.

[2021-09-30 19:23] NunoDasNeves commented on #3171
Our driver's current memory mapping implementation populates and pins all the guest memory.
Pinning the pages is not possible e.g. if the memory is backed by a file.
The DAX tests do (something like?) this, which throws an error when we try to pin the pages.

By "Virtual address-backed guest machines", we mean hooking our driver into the kernel memory management system so guest pages don't need to

[2021-10-01 07:54] sboeuf commented on #3171
Ok so this is not really a CH issue. IIUC, you're waiting for your driver to be improved before you can enable the DAX related tests.

[2021-10-01 15:58] NunoDasNeves commented on #3171
Yes, exactly

[2021-10-05 05:22] likebreath opened #3205 "Fail to hotplug device with `iommu=on`"
If we start a guest that does not require virtual `IOMMU`, we will hit the following error if we hotplug a device with `iommu=on` after VM boot:

[code]

To fix this issue, we will need to support creating `vIOMMU` device on-the-fly, instead of only allowing its creation at VM boot time based on user's initial CLI inputs.

[2021-10-05 08:25] sboeuf commented on #3205
I believe this is even wider than that. If we try to hotplug a device with `iommu=on`, it shouldn't work.

This isn't possible. An IOMMU is not a PCI device, you can't just hotplug it :-/

This issue is kind of a duplicate of #911.
There are two aspects here:
- We want to use a vIOMMU even when the VM hasn't been started with one because no devices are actually using it. Well, to solve this case,

[2021-10-05 09:58] thillux commented on #1400
Great! Thanks a lot for working on this.

[2021-10-05 10:44] liuw opened #3206 "Libvirt migration support"
I'm looking into what is needed to implement migration support for Cloud Hypervisor in libvirt.

For an overview of libvirt's internal protocol see https://libvirt.org/kbase/migrationinternals.html#version-3-protocol-sequence.

One thing that stands out when I read libvirt's code is that it has the ability to manipulate the guest's config (in its own XML format). The destination can create a guest

[2021-10-05 14:44] likebreath commented on #3205
Great to know.

Aha, right. Let's keep the issue for know until we make a decision about whether we want to add an option to create a vIOMMU at boot time (even no devices use it at the beginning).

I think one use case is Kata, where it always start a VM with minimum configuration and hotplug devices after the VM is booted.

[2021-10-05 15:11] likebreath commented on #3206
@liuw Thanks for starting this issue. Can you please elaborate more on what are the benefits of following libvirt's behavior, e.g. sending the updated config (instead of initial config) to the destination VM at the beginning of migration?

Also, based on libvirt's protocol, it looks like we don't have gaps from Cloud Hypervisor side to support libvirt migration if we decide to keep our current beh

[2021-10-05 16:17] liuw commented on #3206
It is difficult to tell whether people really do that or how they in practice. If anything they may choose to rename the guest somehow, but that's not going to affect the guest. They may also choose to tune some of the settings that are visible to the backend but requires VMM coordination. I can imagine someone may want to redirect the serial port elsewhere.

One important note is that libvirt doe

[2021-10-05 16:45] praveen-pk commented on #3206
Libvirt usually setups up the network on the destination host before starting guest with cloud-hypervisor. If cloud-hypervisor were to start the guest, based on the configuration it received from source cloud-hypervisor, we could run into some race conditions.

For example, cloud-hypervisor could start the guest assuming a tap device is already setup by libvirt, while libvirt is still setting it u

[2021-10-06 00:05] eadamsintel commented on #3205
The use case for me is with regards to Intel® QuickAssist and its virtual functions for using with Kata Containers. The new process for using the upstream QAT driver is to bind its vf's to `vfio-pci` to work with QAT lib and openssl. This needs to happen for both the bare metal use case and virtualized use case. In the case of a VM, the vf's need to be bound to `vfio-pci` on the host and made avai

[2021-10-06 07:33] sboeuf commented on #3205
Yes I think the use case is totally valid and I agree Cloud Hypervisor should eventually support it.
I'll assess what's needed in order to support this, and try to come up with the best tradeoff, I'll keep you both posted :)

[2021-10-06 08:20] sboeuf commented on #3205
Yeah I'm not worried about adding a way to enable the vIOMMU even when no devices are attached to it, but it's more about which range of PCI devices do we make part of the vIOMMU. One option would be to attach any device that gets added later to it, but that means any PCI device being hotplugged will end up behind the vIOMMU no matter what.

[2021-10-06 09:41] sboeuf opened #3211 "Assess support for IGD passthrough"
Check what it would take to be able to passthrough an Integrated Graphics Device found on Intel CPUs.

A good reference: https://git.qemu.org/?p=qemu.git;a=blob_plain;f=docs/igd-assign.txt

[2021-10-06 19:32] liuw opened #3212 "Virtio-gpu and VNC"
We can port CroVM's virtio-gpu over and implement a simple VNC server to give guest a basic graphical console.

Also https://qemu-project.gitlab.io/qemu/interop/vhost-user-gpu.html.

(This is not yet prioritized. I'm just doing a brain dump on what we can do in the future. Whether this is a good idea is open to debate.)

[2021-10-06 19:36] liuw opened #3213 "VM core dump support"
Implement VM core dump support to so that guest crashes can be analysed with `crash`.

Split out from https://github.com/cloud-hypervisor/cloud-hypervisor/issues/3002.

See also https://wiki.ubuntu.com/DebuggingKernelWithQEMU

[2021-10-07 08:12] sboeuf commented on #3205
@eadamsintel
So you built the guest kernel with `CONFIG_VFIO_NOIOMMU`, but you also need to provide an extra parameter in the guest kernel command line `vfio.enable_unsafe_noiommu_mode=1`:
[code]

Once your VM is booted, you can check the parameter is correctly enabled by doing:
[code]
which should return `Y`.

At this point, there's no IOMMU group in `/sys/kernel/iommu_groups`, that's expected.
T

[2021-10-07 09:01] sboeuf commented on #3168
Just noting that #3167 and #3168 are duplicates of the same underlying issue.
The VM is not properly restored.

[2021-10-07 13:59] rbradford commented on #3206
Definitely never a TCP stream. Doing it over an existing FD might be tricky for the receiving side.

[2021-10-09 20:42] henryksloan opened #3222 "VmBoot(KernelMissingPvhHeader) error with custom kernel"
**Describe the bug**
Compiling and running the forked Linux kernel (https://github.com/cloud-hypervisor/linux.git) does not seem to work as described in the README. It prints only "Error booting VM: VmBoot(KernelMissingPvhHeader)", indicating that either the instructions are outdated, or the `PvhEntryPresent` detection is not compatible with the described process.

**To Reproduce**
Steps to reprod

[2021-10-10 16:09] rbradford commented on #3222
Can you double check that you copied the config file from: https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/resources/linux-config-x86_64 in as .config? That adds the `CONFIG_PVH=y`

[2021-10-10 16:12] henryksloan commented on #3222
I did copy that config, and the `.config` file in the kernel directory does have `CONFIG_PVH=y`

[2021-10-11 07:59] sboeuf commented on #3222
Are you using the `vmlinux` file that gets created at the root of the kernel source directory?
And are you correctly using `--kernel /path/to/your/vmlinux`?

[2021-10-11 16:47] henryksloan commented on #3222
@thillux Ah, thanks for clarifying, I realized I might have done that incorrectly. However, after running `make clean` and then the exact command you included in your comment, I am getting the same results from both `readelf` and the hypervisor.

[2021-10-12 01:40] henryksloan commented on #3222
I was able to build the kernel in a Xubuntu virtual machine with the README instructions, and it boots just fine. I'd be happy to provide further info if you all are interested in why it behaves differently on my Arch laptop, otherwise feel free to close. Thanks for the help!

[2021-10-12 22:01] liuw commented on #3222
@henryksloan did you make any change to Arch's toolchain?

[2021-10-13 11:09] liuw commented on #3222
Well, I don't think there is anything wrong with Cloud Hypervisor's build instructions. You will find the same instructions anywhere you look. The problem is with Arch / Manjaro's toolchain. You need to explicitly disable a feature there.

Use this ` KCFLAGS="-Wa,-mx86-used-note=no" make bzImage -j$(nproc)`.

[code]

The Xen note is what you need to boot a PVH kernel. You can see mine is intact.

[2021-10-13 12:41] my-glhf opened #3237 "VFIO: Missing VFIO_REGION_INFO_CAP_MSIX_MAPPABLE support for mapping BAR containing MSI-X table"
**Describe the bug**
I want to use VFIO to passthrough the network device created by SRIOV. But the IO performance is not as expected. I execute redis-benchmark for redis-server on host and guest respectively. The results of redis-benchmark are as follows. Except ip, other parameters are the same.

**Redis-server on Host:**
SET: 425713.06 requests per second
GET: 463499.41 requests per second
**Re

[2021-10-13 13:45] henryksloan commented on #3222
Yup, that works, thanks. thillux thought of that solution above, I guess the environment variable name was just incorrect. Thanks everyone, maybe I'll look into why Arch's toolchain is different in this respect.

[2021-10-13 13:47] #3222 closed

[2021-10-14 02:58] my-glhf commented on #3237
This problem doesn't seem to be related to hugepages. I thought that access to the mmio_region of the pass-through device should not trigger ept_misconfig. When I use the same pass-through device on qemu, ept_misconfigs did not appear under the same test parameters.

[2021-10-15 03:34] my-glhf commented on #3237
I tried this patch, but it didn't work. Now, the mmio_regions is not empty, but In function map_mmio_regions, the region.index and msix.cap.table_bir() are also 0. It will execute the `continue` command. As a result, the map operation is not actually performed.

[code]
**The content of msix.cap printed by gdb**

[2021-10-15 06:30] sboeuf commented on #3237
I've just tried with a NIC I have on my system which supports MSI-X, and I end up with 5 regions in total, with one region *not* being mapped, but the rest of the regions are mapped.

Could you apply this small change in order to print the information from your regions:
[code]

I don't think *not* mapping the region corresponding to the BAR containing the MSI-X table would cause a drop in performa

[2021-10-15 07:35] sboeuf commented on #3237
That's interesting and definitely something to consider. I will need to make some more research to understand how this works and how we can integrate it with Cloud Hypervisor :)

[2021-10-21 08:42] michael2012z opened #3261 "AArch64 unit test got blocked frequently in CI"
In recent weeks (not sure when it began), the AArch64 unit test job got pending frequently. When this happened, all subsequent PR CI were blocked. And we have to login to the CI server and kill the pending containers manually.

An example: https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/blue/organizations/jenkins/cloud-hypervisor/detail/PR-3236/4/pipeline/248

Any idea why this happen?

[2021-10-21 13:50] rbradford opened #3262 "Explore virtio-block topology"
The `VIRTIO_BLK_F_TOPOLOGY` and `VIRTIO_BLK_F_BLK_SIZE` feature can be used to communicate optimal block topology to be used. This could be used to e.g. increase the transfer size used by the driver which may result in greater throughput.

[2021-10-22 04:38] michael2012z commented on #3261
More observation:
- The issue is really random. I used a 100-time-loop to run the unit test, the problem was reproduced at the 79th shot.
- It was only seen on the CI server. I run the unit test for hundreds times on my local server, never saw it.

I attached to the cargo process when it was pending, seemingly it stopped at a WRITE syscal: https://code.woboq.org/userspace/glibc/sysdeps/unix/sysv/l

[2021-10-28 03:48] Lxiaoyouling opened #3281 "Whether the CLH supports cross-machine live migration?"
Hello everyone:
Why does cloud-hypervisor not support live migration across machines? Are there any plans to support it afterwards?

[2021-10-28 08:35] #3281 closed, assigned to nobody

[2021-11-02 11:05] rbradford commented on #2343
@liuw Any update on staffing this feature? If it's no longer important to you then we can go ahead and close.

[2021-11-02 11:06] rbradford commented on #3002
Is there anything actionable still in this issue? It looks like the PTY support solves @weltling's issue?

[2021-11-02 11:08] rbradford commented on #3170
@bryteise Do you have a way to reproduce this?

[2021-11-02 11:09] rbradford commented on #3213
You can use the existing snaphot code to dump the guest memory. Is there anything more than that needed?

[2021-11-02 11:15] liuw commented on #3213
The image needs to be analysed by tools like `crash`. I have not checked if the snapshot can be analysed by it.

If the snapshot's format is not what those tools expect, development work is needed.

[2021-11-02 11:17] liuw commented on #2343
Please keep it open. This project is to be looked at shortly during our internal planning exercise.

[2021-11-02 12:20] sboeuf commented on #3237
Hi @my-glhf
Have you been able to do more testing? Is everything working correctly?

Also, could you please have a try with this patch https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3283, as I would like to make sure it's not breaking anything for you.

[2021-11-02 14:47] my-glhf commented on #3237
It may take a while for me to do more testing in other environments. But at least in my own environment, everything works fine.

No problem, I will try this patch as soon as possible.

[2021-11-02 16:55] #1400 closed

[2021-11-03 03:13] my-glhf commented on #3237
I tried this latest patch in my own environment. There were no obvious problems during the test, and the performance is in line with expectations.

[2021-11-03 08:22] sboeuf commented on #3237
That's great, thanks for your confirmation :)

[2021-11-03 09:01] rbradford opened #3296 "Multiple PCI segment on aarch64 enabling"
This is currently disabled on the integration tests. The extra PCI segment state is communicated through the MCFG and DSDT tables so should work on aarch64 ACPI. However there appears to still be some gap.

[2021-11-04 16:53] sboeuf opened #3298 "CPU pinning"
__Goal__

Pin a specific vCPU to a set of host CPUs. This is useful in the context of NUMA, making sure vCPUs and memory are consistently assigned for different NUMA nodes.

__Technical details__

From each vCPU thread, we're going to call `sched_setaffinity()` based on the value provided by the user, or simply don't invoke this syscall if nothing was specified.

__User interface__

- The most ver

[2021-11-04 16:53] sboeuf commented on #3298
@rbradford WDYT?

[2021-11-05 08:48] rbradford commented on #3298
Why would you want to specify multiple alternative host CPUs per vCPU (i.e. the use of the bitmap.)

For the second option can you create your own "host numa node" via the OS or does this only apply when the platform has given you multiple NUMA nodes?

[2021-11-05 09:30] sboeuf commented on #3298
Because you might not want to run the vCPU exclusively on one host CPU. In case you're trying to run the VM on a specific host NUMA node, you would specify each vCPU as allowed to run on a set of host CPUs corresponding to the list of cores attached to the corresponding NUMA node.

No we can't create a host NUMA node, we simply rely on what is available on the platform.

[2021-11-05 09:54] rbradford commented on #3298
OK.

Then I think you need to do the former option. One of the main uses of CPU pinning is to carve up the physical CPU across the tenants to guarantee latency and the VM might only be a few vCPUs so not multiple NUMA nodes.

[2021-11-08 02:40] michael2012z commented on #3296
We are on it.

[2021-11-08 14:35] rbradford commented on #3237
@sboeuf Can this be closed now?

[2021-11-08 14:49] sboeuf commented on #3237
Yes!

[2021-11-08 14:49] #3237 closed

[2021-11-09 20:59] liuw opened #3311 "Potential undefined behaviors in code"
Nightly clippy has this https://rust-lang.github.io/rust-clippy/master/index.html#uninit_vec and flags three places.

https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/vm-migration/src/protocol.rs#L232
https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/vmm/src/lib.rs#L765
https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/vmm/src/lib.rs#L823

That reveals an is

[2021-11-10 08:51] sboeuf commented on #3311
Good catch. Please review #3315

[2021-11-10 09:23] #3311 closed

[2021-11-10 09:56] sboeuf opened #3317 "Write documentation for the `cpus` parameter"
The same way we documented options related to `memory` in `docs/memory.md`, let's document `cpus`.

[2021-11-10 09:57] sboeuf opened #3318 "Write documentation for TDX"
The same way we documented how to use SGX with Cloud Hypervisor, let's write a document for TDX.

[2021-11-12 06:25] optimistyzy commented on #3318
@sboeuf Will you do this?

[2021-11-12 09:40] #3298 closed

[2021-11-12 11:16] liuw opened #3327 "Document `unsafe`"
There are 283 `unsafe`s in Cloud Hypervisor's code base as of today. Not all of them have `SAFETY` comments.

It would be good to go over them and document their safety property.

(Prompted by https://github.com/cloud-hypervisor/cloud-hypervisor/issues/3311)

[2021-11-14 22:56] sboeuf commented on #3318
@optimistyzy I was planning on to, but if you want to do it, go ahead :)

[2021-11-15 16:27] #3317 closed

[2021-11-16 12:18] rbradford commented on #3170
Looks like using `EPOLLOUT` + whether the write blocks isn't a good indicator as to whether there is anything on the other side. Perhaps this approach would work: https://stackoverflow.com/questions/3486491/how-can-i-detect-when-someone-opens-the-slave-side-of-a-pty-pseudo-terminal-in

[2021-11-16 13:50] rbradford commented on #3261
Any update on this?

[2021-11-16 14:48] michael2012z commented on #3296
Update:

Latest observations in debugging guest kernel:
* Hotplugging on PCI segment 0 is OK, but fails on other segments
* The failure was caused by an error in probing the device
* The probing failure was further caused by missing `msi_domain`
* The lack of `msi_domain` was related with missing `MSI Group Nodes` in ACPI IORT table

Our current IORT implementation only covers single PCI segment.

[2021-11-16 22:42] #3318 closed

[2021-11-18 02:31] Apokleos opened #3348 "const array when borrow needs '&'"
https://github.com/cloud-hypervisor/cloud-hypervisor/blob/46953db3ca206f42ad981ba524bee2427ba7adbc/vmm/src/vm.rs#L1596

the correct:
[code]

the same correcting method does at     https://github.com/cloud-hypervisor/cloud-hypervisor/blob/46953db3ca206f42ad981ba524bee2427ba7adbc/src/main.rs#L516
[code]

[2021-11-18 10:37] liuw commented on #3348
The difference between with and without `&` is calling `into_iter()` or `iter()`. The former gives you `T` while the latter gives you `&T`. For `i32` it doesn't make a difference right?

Or is there anything that is related to `const` that I'm not aware of?

[2021-11-18 15:11] likebreath opened #3352 "Random systemd crash hangs guest boot when launching with SPDK/NVMe as a VFIO user device"
When launching a Cloud Hypervisor guest with SPDK/NVMe as a VFIO user device, we observed that the systemd daemon sometimes core dump and prevent the guest from booting.  The error message (from the guest kernel) reports either ABRT or SEGV. It looks like a memory corruption issue to the guest memory, but we are not sure who (the vfio-user client code in Cloud Hypervisor, the vfio-user server code

[2021-11-18 15:40] likebreath commented on #3352
Here is my setup to reproduce the error:

* Upstream Cloud Hypervisor: https://github.com/cloud-hypervisor/cloud-hypervisor/tree/58d984f6b8bdb5fd05e8ba1a2c12124797cb7b4c
* NVMf/vfio-user in SPDK: https://github.com/spdk/spdk/commit/0814f8662a5f18d5bdabfcb2d299b0bc9f40e726 (upstream)
* NVMf/vfio-user was setup based on the [vfio-user.md](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/mai

[2021-11-18 15:53] likebreath commented on #3352
With the help from vfio-user maintainers (@tmakatos @jlevon @swapnili) and additional experiments, I found that the custom guest kernel we are using make a difference, e.g., the issue does not happen any more when we switch to use the stock kernel from the guest image. For example, launching Cloud Hypervisor in the following way is working perfectly fine:
[code]
To dig into the issue more, I am lo

[2021-11-18 17:33] rbradford commented on #3352
Can you try using hypervisor-fw and put our reference kernel inside the image so then you can identify if it's a different booting method which is what is helpful vs anything to do with the kernel version.

[2021-11-18 18:16] rbradford commented on #3352
@likebreath You could also try direct kernel booting with those known good kernel images (hard as they probably use initramfs) or direct boot a kernel built from a tag for a known good kernel version.

One thing to note is that hypervisor-fw starts the kernel with the bottom 4GiB already mapped with 2MiB huge pages (via CR4 PAE). I don't think that's the case for the Linux kernel directly loaded b

[2021-11-22 06:06] optimistyzy opened #3362 "Question: Why virtio scsi & vhost scsi is not supported in cloud hypervisor?"
Would like to know why virtio scsi and vhost scsi is not supported in Cloud Hypervisor? Is virtio-blk/vhost block enough to cover most of the cases while using virtio scsi/vhost scsi?

[2021-11-22 16:31] iggy commented on #3362
This should probably be a [discussion](https://github.com/cloud-hypervisor/cloud-hypervisor/discussions)

[2021-11-23 09:44] sboeuf commented on #3348
Since `HANDLED_SIGNALS` is a list of `i32`, we don't want to take a reference, a copy is performed, which is actually faster for that kind of type.

[2021-11-23 09:44] #3348 closed

[2021-11-23 10:08] #3362 closed

[2021-11-24 00:53] yuchen-sun opened #3370 "Is there a guide for end users?"
We are considering using cloud-hypervisor to build our next generation application. But we don't find out how to use cloud-hypervisor, should we use api directly or use libvirtd or something like that to manage it?
Any questions or advises, please don't hesitate to share. Thank you!

[2021-11-24 00:58] bryteise commented on #3370
The libvirt support for cloud-hypervisor is still early and doesn't handle all the use cases the cloud-hypervisor API supports.

[2021-11-24 01:03] yuchen-sun commented on #3370
Thanks! @bryteise
We will use cloud-hypervisor api not instead of libvirtd
Also, does a cloud-hypervisor only handle one vm?

[2021-11-24 01:15] bryteise commented on #3370
Yes, each cloud-hypervisor instance runs a single VM.

[2021-11-24 01:40] yuchen-sun commented on #3370
And is there any management experience when a host has multiple VMs?

[2021-11-24 08:26] #3370 closed

[2021-11-24 08:37] sboeuf commented on #3352
@likebreath found the root cause was the lack of `CONFIG_NVME_MULTIPATH` in the guest kernel configuration, which makes total sense given the issue we were getting.
@likebreath feel free to close the issue!

[2021-11-28 17:42] rbradford commented on #3352
Why does systemd crash when that config option is missing? Did you find/open an issue with systemd about that?

[2021-11-29 10:02] tmakatos commented on #3352
@likebreath, @jlevon ran into a similar issue but he was using 128 namespaces. How many namespaces are you using?

[2021-11-29 10:24] jlevon commented on #3352
Some more details would be interesting. The issue I had was with combinatorial explosion of queues in the multipath daemon code that would cause timeouts

[2021-11-29 21:15] likebreath commented on #3352
I am not sure about that. The solution of adding `CONFIG_NVME_MULTIPATH` kernel config came from comparing our [custom kernel config](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/resources/linux-config-x86_64) and the kernel config for the stock kernel of Ubuntu 20.10 (v5.13). Along the debugging process, I located the hanging issue is related to the kernel configs based on the f

[2021-11-29 21:25] likebreath commented on #3352
@tmakatos The systemd crash we saw was from the guest kernel booting, so I believe there are just default namespaces being used by the Linux kernel.

@jlevon Can you please elaborate more on the details you are looking for? The issue here can be easily reproducible by compiling a Linux kernel with [our custom kernel config](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/resources/l

[2021-11-30 09:32] tmakatos commented on #3352
The namespaces are provided by the NVMe controller, which is SPDK. How many NVMe namespaces do you tell SPDK to create? Can you paste the SPDK RPC commands you execute?

[2021-11-30 09:48] sboeuf commented on #3352
@tmakatos

On that note, could you point or provide a well known configuration which works fine on your side? (I'm talking about the whole SPDK setup to expose an NVMe backend).

[2021-11-30 10:56] jlevon commented on #3352
Perhaps I missed something but the only details here are "the systemd daemon sometimes core dump". Did I miss even a screenshot?

Presumably, taking the stock ubuntu kernel then disabling that MULTIPATH option is enough too, but I don't see that anybody tried that yet?

systemd / boot is often extremely picky in terms of configs/setup, so while it's possible this is a generic corruption issue that

[2021-11-30 10:58] tmakatos commented on #3352
I'm working on providing such a configuration, won't be long.

[2021-11-30 14:15] likebreath commented on #3352
@tmakatos Of course. Here you go (it is the same as what we have for our [vfio-user documentation](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/docs/vfio-user.md#example-nvme-device)):

[code]

[2021-11-30 14:20] tmakatos commented on #3352
You're only using one namespace, so `CONFIG_NVME_MULTIPATH` causing systemd to hang shouldn't happen.

Can you paste a screenshot of how systemd crashes/hangs when `CONFIG_NVME_MULTIPATH` is enabled? This is most likely either a systemd or a Linux kernel issue.

[2021-11-30 16:48] jlevon commented on #3352
So, seems pretty likely that there's a systemd bug when handling certain service failures. Annoying to debug, because unfortunately systemd project didn't really consider this kind of emergency situation.

[2021-12-01 01:24] #3296 closed

[2021-12-01 01:38] MrXinWang commented on #3296
FDT multiple PCI segments support: https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3391

[2021-12-01 10:23] tmakatos commented on #3352
Here's instructions on how to use SPDK: https://github.com/nutanix/libvfio-user/blob/tmakatos/issues/631/docs/spdk.md

[2021-12-01 10:31] #3098 closed

[2021-12-01 10:31] #3352 closed

[2021-12-02 05:00] likebreath opened #3400 "Flaky test: test_vfio_user"
Even with recent findings reported in #3352, we still see periodic failures from the integration test using SPDK-NVME for VFIO user test (e.g. `test_vfio_user`). The failure rate is measured around 5%-7% based on my experiments with Azure VMs. The failures being observed is `systemd` is crashed while guest is shutting down (while we observed `systemd` crashes while guest is booting).

[2021-12-02 06:41] likebreath opened #3401 "Fail to use latest SPDK/NVMe as VFIO user device"
**Describe the bug**
When using the NVMe backend from the latest SPDK main branch (https://github.com/spdk/spdk/commit/7339c2cf451abb86aeaafe522ed04fda5a186ad7), the guest will be hanging when booting with a NVMe device as a VFIO user device.

**To Reproduce**
Compile the NVMe backend (e.g. `nvmf_tgt)` with SPDK main branch (https://github.com/spdk/spdk/commit/7339c2cf451abb86aeaafe522ed04fda5a186

[2021-12-02 06:51] likebreath commented on #3401
@rbradford @sboeuf I will take a closer look at the issue here along with #3400 tomorrow. Any questions or comments, please let me know. Thank you.

[2021-12-03 04:00] Lxiaoyouling opened #3406 "How does cloud-hypervisor achieve live update?"
Cloud-hypervisor can achieve live update through local live migration, but it may consume an extra memory of vm memory size.

I plan to follow the steps below to implement a live update:
(1) save vm config --> vm pause --> save snapshot --> get fd of ch_ram
(2) call execvp，start a new cloud-hypervisor process according to saved vm config and saved fd of ch_ram
(3) restore snapshot, resume

But in

[2021-12-03 08:53] sboeuf commented on #3406
IIUC the fd you're talking about is the file descriptor associated with the RAM region. This is held up by the corresponding `GuestMemoryRegion` through a `FileOffset` and then a `File` object. When the region is dropped (object is destroyed), the fd will be closed. One way to avoid that is by duplicating the fd (`libc::dup()`) and hold onto the fd until you recreate the new memory region. Only at

[2021-12-03 15:16] rbradford commented on #3406
I don't think your `FD_CLOEXEC` approach won't work. I think the correct approach is to use the migration infrastructure and rather than send the memory directly over the socket instead send the FD over the socket.

[2021-12-03 17:42] liuw opened #3408 "Strange design pattern in block_util"
In `block_util/src/lib.rs`, a few functions take `semaphore` and `file` as parameters. `semaphore` is then used to protect `file` with artificially created scopes. Is there any reason why `file` is not wrapped inside `semaphore` directly?

[2021-12-03 21:19] brho commented on #3348
hi -

i'm ignorant of the details of rust, but i was unable to build due to this issue with HANDLED_SIGNALS:

[code]

if i hack in the &, i get another issue later on:

[code]
rustc 1.50.0
at commit b519975fc859 ("build: Use Ubuntu impish (21.10) for workers")

[2021-12-06 00:46] jackloomen commented on #2879
Some software is hostile to running in a virtualized environment, would be useful to deceive it.

[2021-12-06 09:23] #3408 closed

[2021-12-06 11:40] rbradford opened #3415 "Make OVMF binary public"
The OVMF binary can (now) be public so it can be moved to the CDN. This will restore the ability to run the Linux guest integration tests for everyone as currently they require access to that binary. Alternatively we could use a GH action to build the binary upon tag in our edk2 fork repo and fetch it from there (like Rust Hypervisor Firmware.)

[2021-12-06 14:17] sboeuf commented on #3415
Yes well only once the patches will be accepted upstream (which shouldn't take too long).

Yes I thought about this one and it makes more sense, especially since we already do the same for RHF.

[2021-12-06 18:19] ms-mahuber opened #3419 "High memory consumption on aarch64 observed (Linux guest on the i.MX8M EVK)"
**Describe the bug**
CLH on aarch64 allocates a large shared memory region when running a VM, resulting in almost double the memory consumption as the VM memory size: Starting a 512MB VM costs ~913MB, starting a 1024 MB VM costs ~1816MB.
I'm running a Linux VM on a Linux host, with minimal CLH configuration/parameters on the i.MX8M EVK (see details below).

Comparing x86 and aarch64 behavior, I ob

[2021-12-06 22:54] rbradford commented on #3419
`/proc/`pidof cloud-hypervisor`/smaps` will show you what the process address space looks like

[2021-12-07 02:46] fengye87 opened #3425 "Add ch-remote-static binary to releases?"
There's a `ch-remote` binary and a `ch-remote-static-aarch64` binary, but no `ch-remote-static` binary. Since there's a `cloud-hypervisor-static` binary in each release, it's reasonable to also include a `ch-remote-static` binary too? It could be quite handy when using it inside Alpine image.

[2021-12-07 02:51] fengye87 opened #3426 "External API for live migration?"
Is `ch-remote` the only way to do a live migration now? Will there be an external API for live migration?

[2021-12-07 02:52] michael2012z commented on #3419
@ms-mahuber Thank you for sharing the test result. Good observation! We are looking into this.

[2021-12-07 08:21] sboeuf commented on #3426
You can perform migration by issuing HTTP request directly to the API socket, but `ch-remote` makes things simpler as it's handling this for you.

[2021-12-07 09:06] sboeuf commented on #3425
I agree! Feel free to send a PR for that :)

[2021-12-07 09:34] #3415 closed

[2021-12-07 10:17] #3425 closed

[2021-12-07 13:35] michael2012z commented on #3419
I have been trying to reproduce the issue on my server (Ubuntu 18.04, kernel 5.14), but didn't manage to see the exact situation.

Tested Cloud-hypervisor version:

Guest:

Tested memory size:

Observation: (1024M as an example)

(Command:)
sudo RUST_BACKTRACE=1 ../cloud-hypervisor/target/debug/cloud-hypervisor --api-socket /tmp/cloud-hypervisor.sock --kernel /home/michael/workloads/CLOUDHV_EFI.fd

[2021-12-07 14:06] michael2012z commented on #3419
@ms-mahuber By the way, can you try to start 2 VMs (each assigned 1024M memory)?  If each of them really consume ~1800M memory, it should be impossible to start both successfully.

[2021-12-07 16:41] praveen-pk commented on #2343
Team, fyi, I will drive this feature forward.

[2021-12-07 20:28] ms-mahuber commented on #3419
Thanks Rob, Michael for getting back to me so quickly and apologies for the delay.

@michael2012z : I have 3 GB of RAM on my device and when I assign the VM 2 GB of RAM, the VM gets "Killed" after a few seconds. Before it gets killed I see a constant increase of "Shared" memory in 'free -m' and my 'available' memory goes basically down to zero which is when the CLH process gets killed. Note that w

[2021-12-08 01:52] fengye87 commented on #3426
I could not find any migration related API endpoints in the [OpenAPI doc](https://raw.githubusercontent.com/cloud-hypervisor/cloud-hypervisor/master/vmm/src/api/openapi/cloud-hypervisor.yaml). Maybe the doc is out-of-date? @sboeuf

[2021-12-08 04:14] Lxiaoyouling commented on #3406
Thank you very much for your answer.
FD_CLOEXEC can work. I need to set --mem shared=on in the command line, then I can get the fd of the memory.
Your idea is very good. I think I can fork a child process, and then implement live update through the logic of live migration

[2021-12-08 04:14] #3406 closed

[2021-12-08 13:22] rbradford opened #3432 "vfio-user hotplug with NVMe device fails with firmware"
Here is the commit that broke the NVME hotplug with the stock kernel inside the guest image: https://github.com/cloud-hypervisor/cloud-hypervisor/commit/b4fc02857fd64b49562603dd1b6c610396a6d8dc (its parent commit https://github.com/cloud-hypervisor/cloud-hypervisor/commit/b55f009b8ad613ba159e7b3e6e4d600bcbc1b3cb works fine). It was a part of the multi-segment PR. @sboeuf @rbradford

Note: It turne

[2021-12-08 14:38] #3432 closed

[2021-12-08 20:49] likebreath commented on #3426
Good catch. I just sent a PR to add the missing endpoints to our openapi spec file. As you know, these missing endpoints from the sepc file does not prevent you from using them with HTTP requests to the API socket.

[2021-12-09 12:01] loxal opened #3437 "dev_cli.sh fails"
![Screenshot_20211209_125946](https://user-images.githubusercontent.com/87507/145392773-b375db11-6a63-4c63-b48b-ac1517bd24c6.png)

[2021-12-09 12:43] liuw commented on #3437
The same rune works for me.

Perhaps the volume mapping is not working correctly on your system?

[2021-12-09 12:47] loxal commented on #3437
I am on Fedora and usually when mapping volumes I need to append `:z` like `-v /volume-container:/volume-host:z`. This is difference between running containers in Ubuntu vs Fedora which is not even using `docker` but `podman` to run containers behind the scenes.

[2021-12-09 12:50] liuw commented on #3437
Ah, my system is Debian. Perhaps other people who use Fedora can comment on whether this is an issue for them.

[2021-12-09 12:59] michael2012z commented on #3419
More investigation update on this issue:

**A test on x86**

I run a VM on a x86 Ubuntu desktop, assigned 512M memory. The `free -m` output before and on the test was:

[code]

And in `/proc/X/smaps` there was the `/memfd:ch_ram (deleted)` section:
[code]

**Regarding `memfd_create`**

In Cloud Hypervisor we use `memfd_create` to allocate guest memory. `"The memfd_create() system call provides a s

[2021-12-09 12:59] liuw commented on #3437
BTW I have been building CH natively and seldom used containers. Looks like you already have Rust installed on your system so that should work for you too.

[2021-12-09 13:09] loxal commented on #3437
I just opened the script and appended `:z` to all volume mappings and I got one step further:
![Screenshot_20211209_140900](https://user-images.githubusercontent.com/87507/145402422-b8a68b94-65bf-468b-b48a-65d39dd5bfeb.png)

[2021-12-09 13:21] loxal commented on #3437
![Screenshot_20211209_142109](https://user-images.githubusercontent.com/87507/145404023-717fdd8c-4c3c-4d68-ba3e-17bd424f5d25.png)

[2021-12-09 13:33] rbradford commented on #3437
If you're on Fedora did you disable selinux? The podman/docker selinux rules won't allow you to access those files.

[2021-12-09 13:43] loxal commented on #3437
I just disabled SELinux:

![Screenshot_20211209_144258](https://user-images.githubusercontent.com/87507/145407309-921e3808-9f20-43fd-a8bc-2d07a21df4ff.png)

[2021-12-09 13:48] loxal commented on #3437
Looks like an outdated Rust version issue? ...although I am not quite familiar with Rust.

[2021-12-09 13:57] loxal commented on #3437
Rust is a bit like a JavaScript library: if you update it, you break your code because there are another ton of backwards-incompatible features; I've updated to `rustup update` > `v1.57.0` and got this:
![Screenshot_20211209_145628](https://user-images.githubusercontent.com/87507/145409572-88cb3ed5-e390-405a-ad5c-0672b5addbc7.png)

[2021-12-09 14:01] liuw commented on #3437
Hmm... I'm also using 1.57 and it works fine for me.

Can you do a `cargo clean` to remove all generated artefacts?

[2021-12-09 14:05] rbradford commented on #3437
The error message you get it because you have two version of `vm-memory` being compiled. Could you have a local change that is resulting in that?

[2021-12-09 14:06] rbradford commented on #3437
(I see if I do a `cargo update` before the build a 2nd version of vm-memory is pulled in.)

[2021-12-09 14:08] loxal commented on #3437
Thanks @liuw, I issued `cargo clean` on the screenshot above but apparently this was not sufficient but `git reset --hard HEAD` did resolve the problem. So having a rebuild CH I still get:

[2021-12-09 14:13] rbradford commented on #3437
(If you already have a the Rust toolchain installed i'm not sure using dev_cli.sh will give you any benefit for building.)

[2021-12-09 14:14] liuw commented on #3437
You're both using the `dev_cli.sh` and native build. Can you stick with native build for now?

I can see your rust directory is under /usr/local/rust, which means you perhaps specified that path when running rustup. I would suggest you check if you really have permission to create directories or files under it by creating some dummy directories and files under that path.

[2021-12-09 14:16] loxal commented on #3437
@liuw I extra created `/usr/local/rust` and gave r/w permissions to my user but I'll go ahead w/o containers. Thanks a lot for your support @rbradford & @liuw!

[2021-12-09 14:17] rbradford commented on #3437
I just tested on F35 and it works fine:

[code]

[2021-12-09 14:17] rbradford commented on #3437
(Notice how I had to disable selinux to allow it to see the downloaded source code.)

[2021-12-09 14:21] loxal commented on #3437
...for the container to see the source host on your host? I guess this is what I did by appending `:z` to the volume mappings inside the `dev_cli.sh` script.

[2021-12-09 16:49] #3426 closed

[2021-12-09 18:43] ms-mahuber commented on #3419
Thanks Michael for those insights. I'd like to get back to the i.MX8M case - with your explanations in mind we can assume that the memory increase in 'shared' is expected. However, there is still the problem that when I start a 2GB guest my CLH process gets killed as the system runs out of memory (this does not happen with QEMU). I think my observations are still valid, potentially 'shared' not be

[2021-12-09 21:48] ms-mahuber commented on #3419
Dmesg tells me that the OOM killer got active, here's the relevant dmesg log output:
[dmesg-tail.txt](https://github.com/cloud-hypervisor/cloud-hypervisor/files/7688663/dmesg-tail.txt)

[2021-12-09 21:57] ms-mahuber commented on #3419
When I start the guest with 1.5 GB RAM assigned it doesn't crash but I'm not even getting to the guest login prompt. The whole system becomes almost unresponsive. Running 'free -m', it sells me that the amount of memory in 'free' or 'available' is quite low...:
![image](https://user-images.githubusercontent.com/60939654/145482121-9aae3d4b-e0bd-4369-9324-2d97ece8c27d.png)

[2021-12-10 04:16] michael2012z commented on #3419
Thanks, @ms-mahuber. I will keep looking into this. Next, I am going to compare the "smaps" data of Qemu and CLH on aarch64.

[2021-12-10 11:13] sboeuf opened #3444 "Support TD Shim"
Here is the list of things we need to implement in order to support TD Shim with Cloud Hypervisor:
- The CLI must accept `--kernel` and `--cmdline` to be provided along with `--tdx` so that we can specify a payload (`vmlinux` kernel) along with its boot parameters.
- Parse the TD Shim metadata to identify if `Payload` and `PayloadParam` sections can be found. If that's the case, retrieve the value

[2021-12-10 11:43] rbradford commented on #3444
I think we need to have more discussion with the TD shim spec authors before going ahead with this implementation. As I think there are some important gaps.

Not including the DSDT is, from my understanding, motivated by not wanting to support hotplug. However the DSDT serves multiple purposes in Cloud Hypervisor beyond hotplug:

* PCI routing information
* Serial port IRQ setup
* Multiple PCI seg

[2021-12-10 13:19] sboeuf commented on #3444
Sounds good, let's have this discussion.

[2021-12-10 13:24] sboeuf commented on #3401
Ok so I'm gonna update a bit here. A few days ago, we identified the issue as being an error generated by `sendmsg()` syscall when Cloud Hypervisor is trying to send 512 file descriptors at once to the vfio-user backend when setting the IRQs.
There's no need for sending all the fds at once, this can be done in multiple rounds in order to make sure sendmsg doesn't complain about it.
Here is the Qem

[2021-12-10 14:35] sboeuf commented on #3444
/cc @jyao1 @gaojiaqi7 @jiangliu @mxu9 @sameo @andikleen

[2021-12-10 17:51] ms-mahuber commented on #3419
Thanks, @michael2012z for all your investigations.

I definitely can not repro the issue on x86 (with the same kernel version and same CLH version) - I was spinning up a VM with CLH that consumed almost all available memory and it just works - in contrast to my aarch64 environment. My major observation on x86 is still that 'shared' remains 0 and buff/cache does not increase - just 'used'. Even tho

[2021-12-10 18:11] ms-mahuber commented on #3419
Here is some more statistics. Left before starting a 1 GB VM, right after starting the 1 GB VM:
![image](https://user-images.githubusercontent.com/60939654/145621626-a4949c5f-d576-46c7-9a86-3c8a27c69166.png)

[2021-12-10 18:18] ms-mahuber commented on #3419
Again, on x86 I see that increase in Anon pages but not in Shmem:
![image](https://user-images.githubusercontent.com/60939654/145622372-963c2505-1d6e-4104-af8a-ec738316fcfd.png)

[2021-12-11 15:19] yavulan opened #3448 "MSHV on Windows"
Docs states that "cloud-hypervisor ... runs on top of KVM and the MSHV hypervisors ."

How to use cloud-hypervisor on Windows to run on top of MSHV hypervisor (windows target for cargo build seems to be unsupported)?

Thank you.

[2021-12-12 10:56] rbradford opened #3450 "Networking performance regression"
With

[code]

I also see a networking performance regression that becomes apparent based on the iperf direction

On the commit before this one:

[code]

But with the commit in question:

[code]

I can see the slight improvement this commit is trying to achieve where the guest is the client and the host is the server. However in the reverse direction the reduction is more than 1000x.

_Originally p

[2021-12-12 11:00] rbradford commented on #3450
We should probably revert and spin a v20.1 release since this quite a significant regression that would affect folks using CH in production where it is acting as the server

[2021-12-12 11:01] rbradford commented on #3448
@liuw Do you have a reference to a document explaining what MSHV is?

[2021-12-12 13:01] liuw commented on #3448
MSHV is short for "Microsoft Hypervisor". It is a standalone binary. Conceptually it is not tied to Windows.

A virtualization stack consists of a hypervisor, a host kernel and user space components running on the controlling domain. We only ported Cloud Hypervisor to run on Linux, not Windows.

It should be possible to port Cloud Hypervisor to run on Windows by using the Windows Hypervisor Platfo

[2021-12-12 18:14] #3401 closed

[2021-12-13 05:03] michael2012z commented on #3419
@ms-mahuber Thank you for adding more observation details. And it's a good point to compare with Qemu. I can reproduce the issue you found on both my AArch64 and X86_64 machines.

I compared the memory changes before and after starting a VM with Qemu (AArch64), Cloud Hypervisor (AArch64) and Cloud Hypervisor (X86_64), trying to identify some patterns:
[code]

Facts:
- The change caused by QEMU was

[2021-12-13 08:32] sboeuf commented on #3450
Yes I agree a `v20.1` would be appropriate in this situation.

[2021-12-13 08:33] #3450 closed

[2021-12-13 09:33] rbradford commented on #3419
I don't think if something is listed in shared + used then it is double allocated. The useful source of data is that from the smaps file. If that shows reasonable allocations then everything is fine.

@ms-mahuber Can you try `sudo mount -o remount,size=100% /dev/shm/` to see if that resolves your OOM issue/inability to start a VM that is more than 1/2 your RAM. (By default tmpfs is limited to 1/2

[2021-12-13 09:43] michael2012z commented on #3419
I checked the output of `pmap` (which summarizes smaps data), it looks quite normal.

@ms-mahuber , another thing you can try is applying `sysctl -w vm.drop_caches=3` when `shared` or `buff/cache` is high. The command should release a big portion of them and increase the `available` memory.

[2021-12-13 11:10] #3400 closed

[2021-12-13 11:21] sboeuf commented on #3401
@likebreath could you please validate and update the Dockerfile to make use of the latest SPDK version?

[2021-12-13 12:35] Lxiaoyouling opened #3456 "use --console pty start cloud-hypervisor failed"
**Describe the bug**
When use --console pty start cloud-hypervisor, report error.

thread 'vmm' panicked at 'called `Result::unwrap()` on an `Err` value: Os { code: 38, kind: Unsupported, message: "Function not implemented" }', vmm/src/device_manager.rs:1670:59
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
Error booting VM: ResponseRecv(RecvError)

**To Reproduce**

[2021-12-13 13:44] rbradford commented on #3456
Pleaser can you run with `RUST_BACKTRACE=1` to get the full BT. You might need `--seccomp false` for the backtrace printing.

[2021-12-13 15:29] alyssais commented on #3456
Assuming the error message above is from 19.0 (because on 20.0 the line number doesn't make much sense), this error is coming from `start_sigwinch_listener`, and is ENOSYS.  That suggests cloud-hypervisor is using a syscall your kernel doesn't implement.  What version of Linux is your host machine running?

[2021-12-13 16:36] rbradford commented on #3456
That code uses `CLONE_CLEAR_SIGHAND` which was added in Linux v5.5 and `clone3` that was added in v5.3. That's relatively new, perhaps we can have soft fail where the PTY resize code doesn't work on these older kernels rather than just rejecting it.

[2021-12-13 16:53] alyssais commented on #3456
There might be an even easier win, depending on what kernel @Lxiaoyouling wants to use — we're using the 5.7 version of `struct clone_args`, but not using any features that are newer than `CLONE_CLEAR_SIGHAND` from 5.5.  So the code as written doesn't work on 5.6 or 5.7 for basically no reason, and we should be able to solve that by just deleting the `cgroup` member from our definition of the `clo

[2021-12-13 16:57] rbradford commented on #3456
Ubuntu 20.04 ships with 5.3 which is definitely an OS we want to support. I think it's very reasonable to just not have this SIGWINCH handling on older kernels.

[2021-12-13 17:02] alyssais commented on #3456
That makes sense.  I think it would be good to have a kernel version policy documented (e.g. it could say "we want to support the latest Ubuntu LTS, but it's okay if some features require newer kernels to work"), because I remember wondering about this when writing the SIGWINCH process stuff.  What do you think?

[2021-12-13 18:42] likebreath commented on #3401
@sboeuf Thanks you for the reminder. The PR is up https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3459, and I will see whether latest spdk helps with case where we use our custom kernel (that's where I started to try with the latest SPDK).

[2021-12-14 05:49] Lxiaoyouling commented on #3456
I use RUST_BACKTRACE=1 and --seccomp false, there is the following print:

thread 'vmm' panicked at 'called `Result::unwrap()` on an `Err` value: Os { code: 38, kind: Unsupported, message: "Function not implemented" }', vmm/src/device_manager.rs:1670:59
stack backtrace:
   0: rust_begin_unwind
             at /rustc/c8dfcfe046a7680554bf4eb612bad840e7631c4b/library/std/src/panicking.rs:515:5
   1:

[2021-12-14 05:53] Lxiaoyouling commented on #3456
Yes, I'm using cloud-hypervisor v19.0 here.
My host machine linux version is 4.18，os is centos8.2. Virtual machine linux version is linux-5.6-rc4

[2021-12-14 06:00] Lxiaoyouling commented on #3456
My host machine linux version is 4.18，os is centos8.2. Virtual machine linux version is linux-5.6-rc4.
Does this mean that I should upgrade my host kernel version or virtual machine kernel version to get around this bug?

[2021-12-14 06:01] Lxiaoyouling commented on #3456
My host machine linux version is 4.18，os is centos8.2. Virtual machine linux version is linux-5.6-rc4.
Does this mean that I should upgrade my host kernel version or virtual machine kernel version to get around this bug?

[2021-12-14 09:37] Lxiaoyouling commented on #3456
My host uses the 5.4 linux kernel, and cloud-hypervisor can start normally.
But when --console pty is set in command line, two cloud-hypervisor processes are started, is this normal?

pstree -apnh
 ├─sshd,11571 -D
  │   ├─sshd,12011
  │   │   └─sshd,12013,lxiaoyouling
  │   │       └─bash,12014
  │   │           └─sudo,12045,root su
  │   │               └─su,12046
  │   │                   └─bash

[2021-12-14 09:39] Lxiaoyouling commented on #3456
My host uses the 5.4 linux kernel, and cloud-hypervisor can start normally.
But when --console pty is set in command line, two cloud-hypervisor processes are started, is this normal?

pstree -apnh
  │   │                   └─bash,12047
  │   │                       └─cloud-hyperviso,12095 --kernel /vm_data/lizhaoxin1/cloud-hypervisor/vmlinux --disk path=/vm_data/lizhaoxin1/cloud-hypervisor/centos_

[2021-12-14 09:40] Lxiaoyouling commented on #3456
My host uses the 5.4 linux kernel, and cloud-hypervisor can start normally.
But when --console pty is set in command line, two cloud-hypervisor processes are started, is this normal?

`  │   │                   └─bash,12047
  │   │                       └─cloud-hyperviso,12095 --kernel /vm_data/lizhaoxin1/cloud-hypervisor/vmlinux --disk path=/vm_data/lizhaoxin1/cloud-hypervisor/centos_7.6.raw --cp

[2021-12-14 09:41] Lxiaoyouling commented on #3456
My host uses the 5.4 linux kernel, and cloud-hypervisor can start normally.
But when --console pty is set in command line, two cloud-hypervisor processes are started, is this normal?

  │   │              └─bash,12047
  │   │                       └─cloud-hyperviso,12095 --kernel /vm_data/lizhaoxin1/cloud-hypervisor/vmlinux --disk path=/vm_data/lizhaoxin1/cloud-hypervisor/centos_7.6.raw --cpus boo

[2021-12-14 09:43] Lxiaoyouling commented on #3456
My host uses the 5.4 linux kernel, and cloud-hypervisor can start normally.
But when --console pty is set in command line, two cloud-hypervisor processes are started, is this normal?

Using pstree -apnh, one cloud-hypervisor processe is a child process of another cloud-hypervisor

[2021-12-14 10:01] rbradford commented on #3456
Yes, you would expect that.

[2021-12-14 10:19] Lxiaoyouling commented on #3456
Sorry, I made a mistake here. My host machine linux version is 5.13

[2021-12-14 10:22] rbradford commented on #3456
Upgrading your host kernel from 4.18 to 5.3+ would make the panic go away as the PTY resize logic would be working which calls `clone3()` as part of the process.

[2021-12-14 11:15] rbradford commented on #3456
@Lxiaoyouling Can you test the patch in #3468 on your older host kernel to avoid the panic.

[2021-12-14 11:55] Lxiaoyouling commented on #3456
Cloud-hypervisor-v19.0 now works properly in 4.18 linux kernel when use --console pty.
@rbradford Thanks very much.

[2021-12-14 11:56] #3456 closed

[2021-12-14 18:09] ms-mahuber commented on #3419
@rbradford : The /dev/shm remount didn't have any visible effect - the process gets still killed, see screenshot.

![shm-remount](https://user-images.githubusercontent.com/60939654/146053343-df3439f9-6dc3-47ee-a7a0-2ace20076215.png)

@michael2012z :
- I've also looked into pmap (very useful tool) - it looks quite normal on my end as well.
- With the right timing, a call to `sysctl -w vm.drop_cache

[2021-12-14 18:17] ms-mahuber commented on #3419
1 GB VM - comparison between lsof with CLH and QEMU.

lsof -p pidofclh:
[code]

lsof -p pidofqemu:
[code]

[2021-12-14 20:23] ms-mahuber commented on #3419
We were taking another look. We enabled swap on an internal MMC partition - after that the 2 GB guest would boot up. See 'free -m' before and after VM boot:
![image](https://user-images.githubusercontent.com/60939654/146072998-20e40c48-4b4b-432c-8f8e-45b1831a760a.png)

All it takes to run the 2 GB VM is 1 MB of swap.

I think using memfd_create for memory allocations for the VM leads in my case to

[2021-12-14 20:27] ms-mahuber commented on #3419
Similar to QEMU I can now even boot a 2.5 GB VM with cloud-hypervisor. Now I see an increase in swap by 14 MB:
![image](https://user-images.githubusercontent.com/60939654/146074387-38e2b87f-c68d-456f-8828-825cea392031.png)

[2021-12-14 23:37] sboeuf commented on #3444
Discussion moved over to https://github.com/confidential-containers/td-shim/issues/8

[2021-12-15 04:34] michael2012z commented on #3419
@ms-mahuber Indeed `drop_cache` is not a good solution, you need to issue the command while the `available` memory is dropping quickly. I was trying to find some option under `/proc/sys/vm` to keep the cache memory in lower level, but I didn't  get a good one.

It's great you've found the solution. :)

I have no idea how Qemu allocate memory for the guest. It's a good topic to dig more.

[2021-12-15 10:26] mkbhanda commented on #3213
How would this feature work in the context of TD, where all memory and CPU state is encrypted. An encrypted dump? To make any sense of it need the encryption key. An attack would be to request/cause a core dump ....

[2021-12-15 13:50] liuw commented on #3213
It won't work with encrypted memory and states.

[2021-12-15 13:59] ms-mahuber commented on #3419
I think my scenario with a device with a low amount of memory hits kind of a corner case but I guess it can occur on any system without swap where you allocate nearly as much memory for the guest as is still free on the host (using cloud-hypervisor).

I believe by default QEMU would allocate memory for its guests using mmap().

I still haven't fully grasped yet what happens with 'free'. On my x86

[2021-12-16 02:18] MrXinWang commented on #3419
Maybe creating a "Note" or "Known issues" session in here https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/docs/arm64.md would be a good choice?

[2021-12-16 05:29] michael2012z commented on #3419
Considering the confusion we've got during the trouble-shooting of this issue, there must be something can be improved:
- Regarding the shmem and cache memory usage, I don't think it's a problem. But is it something we should improve? @rbradford, what do you think?
- In the arm64 document, we can add about "swap".

[2021-12-17 05:16] jackloomen commented on #3212
There are cloud workloads which require graphics acceleration while using cheap commodity GPUs that do not have SR-IOV. Such as streaming video of applications (ie. browser) to customers.

Virgil 3D support would probably be ideal for this use case.

[2021-12-17 08:35] MrXinWang opened #3479 "vfio user device hotplug causes panic on AArch64"
When trying to hotplug the SPDK NVME device on AArch64, a "not implemented" panic will happen at the BAR allocation time:
https://github.com/cloud-hypervisor/cloud-hypervisor/blob/3f0a33a50f905b148422019e946a9ca814b0ddee/pci/src/vfio.rs#L437
which looks reasonable as there should be no IO BAR on AArch64.

Tried to add some prints:
[code]
[code]

Since I am not quite familiar with the vfio and the

[2021-12-17 11:42] #3262 closed

[2021-12-17 18:03] likebreath commented on #3479
Here is my inputs. Please correct me if I am mistaken @sboeuf .

I think it is from the device (e.g. the SPDK/NVMe backend for this case). The `flags` is from the device's config region through function [`Vfio::read_config()`](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/pci/src/vfio.rs#L264) -> [`Vfio::region_read()`](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/mai

[2021-12-17 18:05] likebreath commented on #3479
Also, have you tried to boot with the SPDK/NVMe device as a cold-plugged vfio-user device (with `--user-device` option)? Does this work for Aarch64?

[2021-12-18 02:23] MrXinWang commented on #3479
Hi @likebreath, thank you very much for the information, really useful.

That makes great sense. Then I will try to ask some SPDK experts and see if they know how to use the SPDK properly on Arm64 (I think the SPDK should be supported on Arm64, and it is likely to be a problem of how to use it properly).

Thanks for the clarification, one more thing that I do not need to worry about :)))

No I did

[2021-12-19 18:50] jackloomen opened #3485 "muxer.rs:694 -- vsock: unable to ack host connection: StreamWrite(Os { code: 32, kind: BrokenPipe, message: "Broken pipe" })`"
cloud-hypervisor v20.1.0

--vsock cid=3,socket=/path/to/v.sock

The vsock uds muxer seems to not be managing pipes properly.

On guest:

`socat -u VSOCK-LISTEN:1111,fork -`

On host:

[code]

result:

`cloud-hypervisor: 2086.401091384s: <_vsock2> WARN:virtio-devices/src/vsock/unix/muxer.rs:694 -- vsock: unable to ack host connection: StreamWrite(Os { code: 32, kind: BrokenPipe, message: "Broken pi

[2021-12-20 09:12] sboeuf commented on #3485
I think the issue comes from the fact that you're using unidirectional mode with `socat`, which prevents the acknowledgement to be received. From the `socat` help:
[code]

I tried on my machine with your exact instructions, but I removed `-u` from both guest and host `socat` commands, and it works just fine 100% of the time.

[2021-12-20 16:23] jackloomen commented on #3485
We used unidirectional to simplify a particular model but you are right.
Doesn't explain why a delay in the pipe (sleep .01) is sufficient to obviate the need for the acknowledgement.

[2021-12-21 07:19] sboeuf commented on #3485
Oh great to hear that it solves the problem for you as well.

I'm not sure about the exact behavior that's caused by `-u` but it's not really working, so I don't think it's worth digging deeper on this, up to you.

[2021-12-21 13:13] sboeuf opened #3494 "test_virtio_block_topology is flaky on aarch64"
I ran into this flake several times, but always on the aarch64 worker:

[code]

[2021-12-21 13:17] sboeuf opened #3495 "test_vfio_user is flaky"
I ran multiple times into this flake on different PRs and on master build:

[code]

[2021-12-22 04:57] jackloomen commented on #3485
I'm not sure if I should open another issue but when doing a high bandwidth activity over vsock such as uncompressed video streaming I'm getting these:

[code]

[2021-12-23 14:20] Lxiaoyouling opened #3496 "use --console pty start cloud-hypervisor，reboot failed in linux-4.18"
**Describe the bug**
Host os version: centos 8.2，host linux kernel version:linux-4.18，cloud-hypervisor version: v20.1

I started a VM using the --console pty, then connected to the VM using screen /dev/pts/***, and  ran reboot in the VM.
VM reboot failed and the cloud-hypervisor process was killed.

I reported a problem earlier #3456

**To Reproduce**
(1) cloud-hypervisor --kernel *** vmlinux --di

[2021-12-23 14:58] Lxiaoyouling commented on #3496
I annotation self.console_resize_pipe = Some(Arc::new(resize_pipe.unwrap())); ，reboot work normally. Are there any hidden dangers in doing this?

`            ConsoleOutputMode::Pty => {
                if let Some(pty) = console_pty {
                    self.config.lock().unwrap().console.file = Some(pty.path.clone());
                    let file = pty.main.try_clone().unwrap();

[2021-12-23 15:03] Lxiaoyouling commented on #3496
I annotation self.console_resize_pipe = Some(Arc::new(resize_pipe.unwrap())); ，reboot work normally. Are there any hidden dangers in doing this?

ConsoleOutputMode::Pty => {
    if let Some(pty) = console_pty {
        self.config.lock().unwrap().console.file = Some(pty.path.clone());
        let file = pty.main.try_clone().unwrap();
        self.console_pty = Some(Arc::new(Mutex::new(pty)));

[2021-12-23 17:18] jackloomen opened #3497 "vsock: unexpected EWOULDBLOCK while reading from backing stream"
cloud-hypervisor v20.1.0

--vsock cid=3,socket=/path/v.sock

Reproduced with streaming uncompressed video/assets over waypipe (wayland over sockets)
Frequency of occurrence depends on size of window (and therefore bandwidth)

On host:
waypipe --socket /path/v.sock_5000 client &

On guest:
socat UNIX-LISTEN:/tmp/waypipe-server.sock,reuseaddr,fork VSOCK-CONNECT:2:5000,forever &
waypipe --no-gpu --so

[2021-12-23 19:55] ms-mahuber commented on #3419
I think this scenario is most likely occur with devices that have constrained RAM resources + creation of a VM that consumes most of the memory. Once the memory gets allocated and more pages are in the page cache (e.g., for reading the disk image), we run out of memory and the oom kill is not able to free up the sufficient little additional memory to resolve this situation and drop pages. Hence th

[2021-12-24 12:16] Lxiaoyouling opened #3503 "vhost-user-blk migration failed"
**Describe the bug**
vhost-user-blk migration failed.
When I executed ch-remote send-migration, migration process hang.

**To Reproduce**
spdk:
(1) HUGEMEM=2048 scripts/setup.sh
(2) ./build/bin/vhost -S /var/tmp -s 1024 -m 0x3 &
(3) scripts/rpc.py bdev_malloc_create 512 512 -b Malloc0
(4) scripts/rpc.py vhost_create_blk_controller --cpumask 0x1 vhost.1 Malloc0
cloud-hypervisor
(5) ./cloud-hypervis

[2021-12-26 04:13] #3485 closed

[2021-12-27 01:30] LiangZhou-CTY opened #3504 "docs: update hotplug.md"
Currently cloud-hypervisor supports hotplug of CPUs, passthrough devices, virtio devices and memory resizing,
but in hotplug.md it still mentiones: "Currently Cloud Hypervisor only supports hot plugging of CPU devices."
We need to remove the incorrect information from hotplug.md to reflect the true situation.

[2021-12-28 13:00] #3419 closed

[2021-12-29 08:57] Lxiaoyouling commented on #3503
It's stuck in the update_log_base function，in virtio-devices/src/vhost_user/vu_common_ctrl.rs.
fn update_log_base(&mut self, last_ram_addr: u64) -> Result<Option<Arc<MmapRegion>>> {
...
self.vu
            .set_log_base(0, Some(log))
            .map_err(Error::VhostUserSetLogBase)?;
...
}

[2021-12-29 12:10] #3327 closed

[2021-12-31 08:19] #3503 closed

[2022-01-03 09:43] sboeuf commented on #3496
/cc @rbradford @bryteise as they know better about the PTY use cases.

[2022-01-03 10:07] sboeuf commented on #3503
Hi @Lxiaoyouling
Have you found a way to fix the issue? If this is a fix that can benefit everybody, feel free to open a pull request on the `cloud-hypervisor` repository :)

[2022-01-03 10:13] sboeuf commented on #3497
Hi @jackloomen
Have you tried this with `firecracker`? I'm asking because the `vsock` device has been ported from the firecracker repository and this might be a common issue that would be better to fix there and then backport to Cloud Hypervisor.
That being said, if the issue is specific to Cloud Hypervisor, I'll be happy to look into it.

[2022-01-03 10:17] andreeaflorescu commented on #3497
We fixed a few months ago a problem with the vsock (not sure if it's the same one), but you can check this commit: https://github.com/firecracker-microvm/firecracker/commit/38bc78bd66d0bf410f26026426505e3e748d6634.

Btw, we are now looking at upstreaming the vsock building blocks as part of rust-vmm. We will soon publish a design document. @sboeuf do you think you could also take a look?

[2022-01-03 10:19] sboeuf commented on #3497
Definitely! Sounds great!

[2022-01-03 10:42] sboeuf commented on #3497
@jackloomen could you have a quick try with https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3517 and let me know if that fixes the issue for you?

[2022-01-03 15:21] sboeuf commented on #3494
/cc @rbradford @MrXinWang

[2022-01-03 17:54] jackloomen commented on #3497
After applying the patch to 20.1 the issue could not be reproduced.

[2022-01-04 01:08] MrXinWang commented on #3494
I have a feeling that it might be the similar issue as the one we encountered before in https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2920#issuecomment-889805373

[2022-01-04 11:03] rbradford commented on #3496
Please test #3527.

[2022-01-04 11:10] rbradford commented on #3494
@sboeuf Top tip: when copying output from the CI use the plaintext version so you don't get extraneous line breaks that make it hard to see what's going on.

[2022-01-04 11:38] rbradford commented on #3494
I don't think so. Block device topology is very different to the CPU topology. The test is somewhat unusual in that is creates a loopback device which is included when the VM is booted. This is needed in order to influence the disk topology.

[2022-01-04 11:43] sboeuf commented on #3494
Thanks for the tip :)

[2022-01-04 12:04] #3496 closed

[2022-01-04 12:05] #3497 closed

[2022-01-04 20:23] likebreath commented on #3495
Thanks for opening the issue and disabling the flaky test. I was taking look at this issue before I was off few weeks ago, here are some quick notes. I will get back to it when I finish the design proposal for the metrics CI.

1. As reported here, the test fails also when using the hypervisor-fw and the stock kernel form the guest image, which seems to suggest missing kernel configs are not the on

[2022-01-04 22:59] sboeuf commented on #911
This issue has been opened for almost two years and after some internal discussions we agreed it is appropriate to close it.

__Potential solution__
The proper way to implement the hotplug of a PCI device behind a vIOMMU would be by choosing one or multiple PCI segments that would be declared as holding ranges of devices behind a vIOMMU. This way, after the VM has been started, if the user wants t

[2022-01-04 22:59] #911 closed

[2022-01-08 04:48] retrage commented on #3002
I'm working on GDB support on CH for the pre-boot environment, especially debugging Rust Hypervisor Firmware. The fundamental functionalities work, but the code quality is not ready for being reviewed. I'm afraid that my design is not suitable for upstreaming. Could you check the design if I submit a draft PR?

Working Branch: https://github.com/retrage/cloud-hypervisor/tree/gdbstub-support

[2022-01-10 04:13] michael2012z commented on #3261
@rbradford Just now I installed kernel 5.16 on the arm64 CI server and rebooted. Could you help recover the Jenkins on it?

I will monitor if the new kernel can fix the pending issue in following days.

[2022-01-10 09:03] sboeuf commented on #3002
Sounds awesome @retrage. Please submit the PR, we'll review there and give you some guidance!

[2022-01-10 09:48] lauralt commented on #3497
Hi @sboeuf; I just opened [an issue](https://github.com/rust-vmm/vm-virtio/issues/128) with a proposal for the vsock packet abstraction. Can you also have a look? Thank you!

[2022-01-10 10:58] fidencio opened #3554 "vmm: net: can't use file descriptors for the `tuntap` device"
**Describe the bug**

When used with Kata Containers, the virtio-net device is always created using the `tap` field of the `NetConfig` structure, even when this is not set, completely ignoring file descriptors of an already opened device.

[Although we have code that only tries to create the `tuntap` device using the `tap` field only when it's set, fallbacking to using file descriptors if those ar

[2022-01-10 10:59] fidencio commented on #3554
@rbradford, please, assign this issue to me as I already am testing a possible fix for this one.

Also, I'm opening a more generic issue as we may need to ensure other parts of the integration with Kata Containers won't hit similar issues.

[2022-01-10 11:06] rbradford commented on #3450
@sboeuf The reason that this the networking performance regressed with the `VIRTIO_NET_F_MRG_RXBUF` feature enabled was the feature was not implemented fully.

When this feature is enabled the guest may provide significantly smaller buffers (A buffer is formed of multiple descriptors in a chain i.e. it is a chain head.):

    If VIRTIO_NET_F_MRG_RXBUF is not negotiated:
        If VIRTIO_NET_F_GUE

[2022-01-10 11:10] sboeuf commented on #3450
Ah yeah I forgot about that!

Oh yes I'd rather stick with the "simple" approach as well rather than coming back to the intermediate buffer implementation as I believe it would bring potential bugs.

One a side note, I guess you can try re-enabling VIRTIO_RING_F_INDIRECT_DESC as this might give us some improvements without any drawbacks.

[2022-01-10 11:24] rbradford commented on #3554
@fidencio The `tap` field is already an `Option<String>`. I think the bug is in the Kata side for providing an empty string rather than not specifying the field at all. When the field is not specified the default should be `None` from: https://github.com/cloud-hypervisor/cloud-hypervisor/blob/70af81d755ad1f961684cf6bf7a57f9e9674bb45/vmm/src/config.rs#L1082

IIRC the Go JSON code will map `nil` to

[2022-01-10 11:45] fidencio commented on #3554
@rbradford, https://github.com/kata-containers/kata-containers/blob/97e18cf2d0d1a83b139c5117299c1766b6365a22/src/runtime/virtcontainers/pkg/cloud-hypervisor/client/model_net_config.go#L39-L58 is auto generated by openapi-generator tool, so the error is probably coming from there.

I have a possible work-around for that on the cloud-hypervisor side (spoiler, not tested yet: https://github.com/fiden

[2022-01-10 11:51] rbradford commented on #3554
Testing for the empty string will break the recommended "I don't care what tap interface name I get" for `--net tap=` on the command line.

[2022-01-10 11:58] fidencio commented on #3554
Aha, I was not aware of `--net tap=`.

It seems the openapi-generator is the part to fix.  I am closing the issue here and I will point it out on the issue opened on the openapi-generator side.

Thanks for the input @rbradford.

[2022-01-10 11:58] #3554 closed

[2022-01-11 16:06] rbradford commented on #1892
I attempted this twice however the behaviour required for snapshot/restore live migration makes splitting the emulated devices for the IOAPIC earlier very difficult. For now we can keep the IOAPIC exclusively on the MMIO bus.

[2022-01-11 16:06] #1892 closed

[2022-01-11 16:08] rbradford commented on #3437
I was unable to reproduce this failure on F35 when using docker (not podman) which the script was designed to use. Please reopen if you have further insight on this issue.

[2022-01-11 16:08] #3437 closed

[2022-01-12 13:02] fidencio opened #3560 "openapi: VmCreate is not able to parse the "fd" field from the NetConfig"
**Describe the bug**
When Kata Containers passes down a file descriptor, as part of the network configuration, the file descriptor is never parsed on the Cloud Hypervisor side.

When taking a look at the [EndpointHandler for VmCreate](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/5e1e523a90fe0794f0b1f560b9298524474949bd/vmm/src/api/http_endpoint.rs#L25-L60), more specifically at the re

[2022-01-12 15:44] #3560 closed

[2022-01-13 17:07] rbradford opened #3566 "Live upgrade using efficient local live migration"
It is already already possible to use the live migration infrastructure to migrate a VM locally from one Cloud Hypervisor instance to another in order to support a live upgrade of the VMM. For more efficient live upgrade the copying of the guest RAM can be avoided by passing the file descriptors over the UNIX socket.

I have a prototype and the live upgrade in this case completes in 50ms vs 3000ms

[2022-01-13 17:09] rbradford commented on #3406
@Lxiaoyouling If you're interested your can follow #3566 for details of support for live VMM update.

[2022-01-17 02:44] michael2012z commented on #3261
The problem was not seen again after upgrading the kernel. I think it's time to close this issue.

[2022-01-17 02:44] #3261 closed

[2022-01-17 09:43] #3504 closed

[2022-01-18 03:21] iggy commented on #3222
Fwiw, this happens on latest Alpine as well. Thinking a note in the main readme might be useful.

[2022-01-18 08:49] sboeuf commented on #3222
What kind of note? I'll be happy to submit a PR for it, unless you want to take care of it.

[2022-01-18 09:07] #3566 closed

[2022-01-18 11:07] rbradford opened #3585 "Live migration can stall"
On the sending side:
[code]

On the receiving side:
[code]

[2022-01-18 11:10] rbradford opened #3586 "Live migration before Linux boots fail"
Firmware based boot:

[code]

[2022-01-18 11:34] rbradford opened #3587 "direct=on fails with hypervisor-fw based boot"
[code]

Disabling io_uring has no impact. Booting with same disk image but direct kernel boot is fine. I suspect an alignment issue as O_DIRECT requires this. After investigation it might need to be punted to the https://github.com/cloud-hypervisor/rust-hypervisor-firmware issue tracker.

[2022-01-18 11:38] sboeuf commented on #3587
Same failure with OVMF.

[2022-01-18 12:29] MrXinWang commented on #1125
Hi @rbradford @michael2012z

With https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3513, we have finished all planned work in this issue. One thing we need to note that is currently the vfio framework is only verified by the `test_vfio_user` test case in our CI.

For now the only feature gap between x86_64 and AArch64 is the vCPU hotplug.

[2022-01-18 16:41] rbradford commented on #3585
A close inspection of the logs show that there is an attempt to activate a virtio device by the guest. This happens as a result of a write on the MMIO address (which happens on the vcpu thread) but since the vmm thread is busy doing the migration then it can't activate the device. This leads to a deadlock with vcpu thread waiting on a barrier for the vmm to release and the vmm thread waiting for t

[2022-01-18 18:25] russell-islam opened #3593 "Level triggered interrupt support"
In order to support some legacy hardware that need level-triggered interrupt support, I was trying to add resample_fd to the CLH code base. But with SplitIrqCHip enabled in the Cloud Hypervisor code, it's not possible to register to resample FD. In the kernel IOCTL code, it explicitly checks if the IRQ implementation it is using is InKernel. This issue is to discuss the viability of supporting lev

[2022-01-18 19:38] sboeuf commented on #3593
From KVM documentation:
[code]
And if you look here: https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/vmm/src/cpu.rs#L814-L822 you'll see that what you're looking for is already implemented.

[2022-01-18 20:17] russell-islam commented on #3593
That exit for x86_64 as per the code. How about aarch64?

[2022-01-18 23:04] sboeuf commented on #3593
@michael2012z @MrXinWang any idea how to emulate level triggered interrupts on ARM platforms?

[2022-01-19 01:30] #3585 closed

[2022-01-19 02:00] #3479 closed

[2022-01-19 02:00] MrXinWang commented on #3495
Hi @likebreath, not sure if the BDF fix in the common code https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3513/commits/89aebce5deae501a9f627e8db03560ea5e1772a1 will help fix this issue, because we are not sure why x86 does not need the BDF info at that stage, but it is worth to give it a try...

[2022-01-19 02:03] likebreath commented on #3495
@MrXinWang We were wondering about how stable the `test_vfio_user` is on aarch64, and curious about the differences. I will give it a try. Thanks again for the tips and good work.

[2022-01-19 02:06] MrXinWang commented on #3495
Thanks @likebreath, since https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3513 is merged, let's wait for some time and see if the vfio user case is stable on arm, then we can do the next step based on that.

[2022-01-19 04:59] michael2012z commented on #3593
@russell-islam For legacy devices on AArch64, we don't emulate interrupt, but simply determine the interrupt type in FDT, like: https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/arch/src/aarch64/fdt.rs#L458 .  When an interrupt is triggered by a device https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/devices/src/legacy/rtc_pl031.rs#L246, the level-interrupt will be emula

[2022-01-19 09:12] #3586 closed

[2022-01-19 09:24] sboeuf commented on #3495
I don't think this change is gonna make any difference (I might be wrong and missing something of course :)). My understanding is that the guest programs the MSI/MSI-X interrupt vector on the device and associates it with the device driver. This means whenever the device triggers an interrupt, it triggers an eventfd that we routed earlier with KVM. Then KVM delivers the corresponding vector with a

[2022-01-19 09:49] MrXinWang commented on #3495
Hi @sboeuf, I share the same understanding of the interrupt handling knowledge used in vfio_user with you, so the issue I mentioned in that fix might be related to different implementation details in the KVM vGIC/vAPIC interrupt routing.

To provide more info, the story on Arm is:
The reason why SPDK could not work on Arm was that the `eventfd_write` from the SPDK side cannot trigger the interrupt

[2022-01-19 09:57] sboeuf commented on #3495
I see, thanks for the detailed explanation. I haven't looked into the vAPIC implementation for `x86_64` but I bet it works differently. Otherwise it wouldn't work at all and that's not the behavior we're seeing.

[2022-01-19 10:31] rbradford commented on #1125
@MrXinWang Cool. Is CPU hotplug possible with aarch64 in general? If not then this issue can be closed.

[2022-01-19 10:35] MrXinWang commented on #1125
It is (in a way), there are some custom implementations in kata-containers (https://github.com/kata-containers/kata-containers/pull/3292) but never merged to mainline, and also vCPU hotplug needs some kernel patches to support.

Maybe we can first investigate it.

[2022-01-19 17:04] russell-islam commented on #3593
@michael2012z Does this mean that level trigger should work without any tweaking?

[2022-01-20 00:59] michael2012z commented on #3593
Yes, I think so.

[2022-01-20 10:59] MrXinWang commented on #3495
https://cloud-hypervisor-jenkins.westus.cloudapp.azure.com/blue/organizations/jenkins/cloud-hypervisor/detail/PR-3561/3/pipeline/106

 Looks like same thing happens on arm64 too...

[2022-01-20 11:16] sboeuf commented on #3495
Ah yes, please add the ignore back so that we don't impact the entire CI.

[2022-01-20 11:27] MrXinWang commented on #3495
@sboeuf  Done, please see https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3599

[2022-01-20 11:49] #3587 closed

[2022-01-21 17:13] rbradford opened #3609 "Seccomp violation due to Rust deallocation"
[code]

This also make sense when you see this glibc commit: https://sourceware.org/git/?p=glibc.git;a=commitdiff;h=9fab36eb583c0e585e83a01253299afed9ea9a11

[2022-01-25 17:21] russell-islam commented on #3593
Base on the above information looks like level triggered interrupt should work as it is right now. Will confirm once we test our hardware.

[2022-01-26 09:25] rbradford opened #3637 "Capture performance metrics"
It would be useful to have an automated method for capturing performance metrics from running workloads under Cloud Hypervisor.

This would have two purposes:

1. Before/after comparison for a developer to test the impact of their change. As the results would be platform dependent they can only be used to compare relative difference.
2. Run regularly on a fixed machine with the output sent to a se

[2022-01-26 10:31] rbradford opened #3639 "Support modifying config by adding devices, etc, before VM is booted"
It should be possible to modify the config for the VM (stored in the VMM) before the VM is booted by just modifying the config. Currently it checks that the VM is running but there is no requirement for that if the code is refactored.

[2022-01-27 16:44] codesiddhant opened #3648 "Networking support is limited to using TAP host-side"
Most likely we will need to support using 'generic' interfaces on the host as backing devices for our guest emulated network interfaces.

This means being able to use physical interfaces (ethX) as well as virtual interfaces

What if I want to connect 2 VMs which are deployed on different Hosts.
How we can use any overlay network like VxLan/OVS or Something like calico/Cilium on cloud-hypervisor fo

[2022-01-27 17:25] rbradford commented on #3648
I think you can use DPDK with the vhost-user-net support for all the advanced use cases you outline. If you want to want to have the VM exist on the same network as the host then MacVTap is the solution.

[2022-01-31 11:06] rbradford commented on #2055
Partially completed by #3652. Do we still want to go ahead and do the same for vhost-user-backend?

[2022-01-31 11:44] retrage opened #3658 "Guest does not boot when resuming before Linux boot"
This issue appears when booting from firmware.

1. Start CH with `--kernel=hypervisor-fw` and `--api-socket $API_SOCK`
2. Run `ch-remote --api-socket $API_SOCK pause` before starting Linux
3. Run `ch-remote --api-socket $API_SOCK resume`
Both pause and resume command returns success, and the virtio devices are resuming as far as I see the log, but the guest does not boot after sending the resume.

[2022-01-31 14:08] sboeuf commented on #2055
If this doesn't require too much changes, then yes. Let me assess and I'll get back to you.

[2022-01-31 14:26] rbradford commented on #3658
@retrage Unfortunately i'm having trouble reproducing. Can you:

* Attach the full log
* Attach gdb to the process after a failed resume and include the output of `thread apply all bt`

My hunch is that we're getting a vCPU process deadlock (like #3585) possibly around the same issue of pending virtio device barriers.

[2022-01-31 16:31] sboeuf opened #3659 "CI: Integration test for local migration along with DPDK"
We have an integration test for local migration, we have an integration test for DPDK remote migration, but we don't have any test that combines both.
It'd be worth adding one since we had a user reporting some errors, and it'd be good to avoid any regression in the future.

[2022-01-31 17:52] likebreath commented on #3659
Sounds good. I will add this test once we land PR #3657.

[2022-02-02 00:51] lonnietc opened #3663 "Clone and Build problems on Ubuntu 20.04 x86_64"
I was following the github instructions to build on my Ubuntu 20.04 x86_64 system

Clone and build
First you need to clone and build the cloud-hypervisor repo:

[code]

ERRORS:

[code]

Did I miss something?

[2022-02-02 04:17] retrage commented on #3658
Thank you for taking a look into this issue.

Here is the full log and GDB output:
[ch-resuming-log.txt](https://github.com/cloud-hypervisor/cloud-hypervisor/files/7983509/ch-resuming-log.txt)
[ch-threads-bt-log.txt](https://github.com/cloud-hypervisor/cloud-hypervisor/files/7983518/ch-threads-bt-log.txt)

[2022-02-02 10:11] rbradford commented on #3663
It's up on the server: https://crates.io/crates/anyhow/1.0.53 (not yanked). Maybe you just hit crates.io at a bad time. Can you try again?

[2022-02-02 10:28] rbradford commented on #3658
Can you combine the log file and the serial output together (i.e. remove --log-file) so we can see the output from the fw interleaved with the log so we can see what the fw is doing when the pause/resume happens.

[2022-02-02 13:33] lonnietc commented on #3663
Strange as it seems to have built just fine this morning.

Now I want to boot up some test VM's to see it in action.

Thanks again

[2022-02-02 14:16] #3663 closed

[2022-02-02 16:15] rbradford commented on #3658
@retrage I was able to reproduce with the debug build of rust-hypervisor-firmware. It looks like we end up in this tight loop:

https://github.com/cloud-hypervisor/rust-hypervisor-firmware/blob/main/src/block.rs#L278-L281
[code]

I think what is happening is that the asynchronous MMIO write to an ioeventfd is getting lost and the queue is not being processed resulting in the `used.idx` not being u

[2022-02-02 16:32] rbradford commented on #3658
@retrage With the patch in #3665 I wasn't able to reproduce any more but it should be noted I didn't have a 100% reproduce rate without it. Please can you test.

[2022-02-03 10:06] #2055 closed

[2022-02-03 10:30] rbradford commented on #3146
Is there anything actionable in this issue?

[2022-02-03 10:31] rbradford commented on #3593
@russell-islam Any update?

[2022-02-03 10:33] rbradford commented on #3206
I think you could prototype having the code pass the fds across for send/receive migration.

[2022-02-03 12:54] retrage commented on #3658
@rbradford I confirmed it fixed with #3665. Thanks!

[2022-02-03 17:52] russell-islam commented on #3593
It will take time to integrate CLH into our platform.  I think it would be better if we don't track this issue with any release.
I will keep updated once we have something to share.

[2022-02-04 08:27] sboeuf commented on #3593
I think that since @michael2012z confirmed the level interrupt support is already there for aarch64, we should be able to close the issue. You can reopen it if you run into any trouble while going through the integration phase on your side.

[2022-02-04 08:27] #3593 closed

[2022-02-04 10:18] blitz opened #3673 "Abandoned vfio-ioctls as dependency"
**Describe the bug**

cloud-hypervisor uses the abandoned [vfio-ioctls](https://github.com/rust-vmm/vfio-ioctls) crate as a dependency. This crate will never be updated anymore. This is a security problem.

It looks like this crate was replaced by: https://github.com/rust-vmm/vfio

**Version**

All versions up to master (e5bc5e632d159dbe82e3865034ee294498f9b34a).

[2022-02-04 10:36] sboeuf commented on #3673
Good catch, I'll fix ASAP.

[2022-02-04 10:54] sboeuf commented on #3673
It's actually a bit more complicated than that since the `mshv` feature hasn't been re-enabled yet on `rust-vmm/vfio`.
There's a discussion there: https://github.com/rust-vmm/vfio/pull/3

[2022-02-04 12:57] #3673 closed

[2022-02-07 15:07] #3444 closed

[2022-02-07 15:26] #3658 closed

[2022-02-08 12:31] weltling commented on #3146
Thanks for the reminder, Robert. From what has been said on the thread, the there might be the following:

- Some API calls might require a guest daemon (for example hotplug) to deliver the real data from the guest.
- Some API calls might require either a complex multi request approach or a kind of a queue so then the real status can be retrieved later or polled on (for example restore).

At this

[2022-02-08 16:03] rbradford opened #3684 "Evaluate using parking_lot"
https://lib.rs/crates/parking_lot

[2022-02-09 10:53] rbradford opened #3688 "Improve user documentation"
Our current user focussed documentation has significant gaps as well as being somewhat in inconsistent and style.

[2022-02-09 11:00] rbradford commented on #3688
@cloud-hypervisor/cloud-hypervisor-maintainers  We've been offered assistance from an Intel team to help improve our user documentation. There is still ongoing discussion around technology (e.g. the possible use of sphinx to collate files into one document) however to facilitate this effort I would like to propose moving the user documentation to its own repository.

- [ ] Create new `docs` reposi

[2022-02-09 11:02] rbradford commented on #3688
Before proceeding I want consensus from the @cloud-hypervisor/cloud-hypervisor-maintainers team

[2022-02-09 11:49] michael2012z commented on #3688
What is the main benefit to move the docs into a separate repo? One reason that I can figure out is: when the team improves the docs, working on a separate repo could be easier. And anything else?

[2022-02-09 13:05] liuw commented on #3688
I have the same question as Michael -- why is there a need to move the docs out? That's going to incur more work on the contributors. They will need to open PRs to two repository.

[2022-02-10 22:04] praveen-pk opened #3696 "cannot use ovmf release from cloud-hypervisor/edk2 repo with cloud-hypervisor on x86_64"
**Describe the bug**
CLOUDHV.fd published at https://github.com/cloud-hypervisor/edk2/releases/tag/ch-cad5f05068 cannot be used with cloud-hypervisor on x86_64 arch.

[code]

I compiled the binary using **cad5f05068** commit in **cloud-hypervisor/edk2** repo. The resultant file format is of "data" format which cloud-hypervisor doesn't accept for _--kernel_ argument.

**To Reproduce**

1) git check

[2022-02-10 23:06] lonnietc opened #3697 "Can cloud Hypervisor be built without KVM"
Hello,

I am researching some work on a new type of kernel and OS that does not have any type of KVM and need a small-footprint and fast VMM to run on it which made me wonder if Cloud-Hypervisor could be compiled and ported to the new system in some way?

Any advice or suggestions would be greatly appreciated.
Thanks in advance.

[2022-02-11 09:20] sboeuf commented on #3696
The generated binary is `edk2/Build/CloudHvX64/DEBUG_GCC5/FV/CLOUDHV.fd`, which contains `data`.
But this is supported by Cloud Hypervisor since version `v20.0`. You might be using an older version.

[2022-02-11 09:47] sboeuf commented on #3697
No you can't run Cloud Hypervisor without a KVM or MSHV support on your host OS.

[2022-02-11 15:34] liuw commented on #3697
Speaking of porting, you can have a look at the hypervisor crate in the tree.

[2022-02-11 16:32] lonnietc commented on #3697
@liuw Thanks as that might be a good step forward.  I am thinking that I might need to try and write up some type of kvm "shim" layer for the new kernel so that from that point on, Cloud Hypervisor, Qemu-Kvm, etc. would not know the difference.

I am sure that would be a LOT of work, but may be required if I want to use one of these VMM's on the new kernel.

Have a great day.

[2022-02-11 16:44] #3697 closed, assigned to nobody

[2022-02-11 16:46] rbradford commented on #3696
Looks like @praveen-pk was using the wrong file from the FV directory.

[2022-02-11 16:46] #3696 closed

[2022-02-11 16:47] rbradford commented on #3688
@liuw @michael2012z Okay, thanks for your feedback. I'll ask the team to work out away to use tooling so that the docs can be kept in the source tree.

[2022-02-11 16:51] praveen-pk commented on #3696
Thanks for the prompt response. I was using v16.0, confirmed I can use the firmware with v20.0.

[2022-02-14 16:06] liuw opened #3701 "Security issues link does not work"
The link in https://github.com/cloud-hypervisor/cloud-hypervisor#security-issues does not work.

This https://github.com/cloud-hypervisor/cloud-hypervisor/security/advisories/new 404'ed for me.

Just to be clear, I don't have any security issue to report. :-)

[2022-02-15 16:35] #3701 closed

[2022-02-15 19:07] #3639 closed

[2022-02-16 02:37] Marshalzxy opened #3711 "ch-remote info subcommand pci devices pci_bdf need to be human stylized"
My cloud hypervisor and ch-remote are 21.0 .
When I used ch-remote info subcommand to dump my vm infomation, I found that pci device's pci_bdf field was not
human readable.
It is dump was u32, which is machine style.
Is that possible to show pci_bdf field  of pic devices as bus:device:function format in ch-remote ?
For example 00:09:01 ?

[2022-02-16 08:35] sboeuf commented on #3711
That's very good feedback, we'll address it as soon as possible.

[2022-02-16 10:31] fidencio opened #3713 "Consider (also) using quay.io to avoid the infamous docker pull limit"
As the `cloudhypervisor/dev` image is hosted on dockerhub its use in CI environments may very well be affected by the well known docker pull limit.

Right now, quay.io could be a reasonable option for the project to work the issue around, and that's the path taken by the Kata Containers community, where we started pushing all the content to quay.io and dockerhub, but advertising the quay.io one to

[2022-02-16 11:57] #3711 closed

[2022-02-16 14:48] liuw opened #3714 "MSI-X message control register access"
While working to bring up Windows 11 on ARM64 KVM with an iMX8 board, we discover something strange.

Windows' PCI driver writes to the message control register in the MSI-X capability. It is issuing correctly a 2-byte write with offset 2, but Cloud Hypervisor is seeing a 4-byte write with offset 0. The same happens with QEMU too. Looking at KVM's code, it extracts the value directly from ESR_EL2.

[2022-02-16 15:18] rbradford commented on #3714
How is the 2 byte/offset 2 write being turned into a 4-byte write with offset 0? (Something inside KVM?) The PCI spec tells me that two bytes at offset 0 are the read only MSI capability header. What is the contents of the DWORD it's trying to write?

[2022-02-16 15:33] liuw commented on #3714
I would say something happened inside the hardware, because KVM is not just reading from a register. https://github.com/torvalds/linux/blob/c5d9ae265b105d9a67575fb67bd4650a6fc08e25/arch/arm64/kvm/mmio.c#L155

Generally I think writes to RO bits are going to be discarded -- message control register has RO bits too.

@weltling has the setup. He can tell you the values. I only did the analysis and wr

[2022-02-16 16:02] rbradford commented on #3714
You mention hardware. Is this with a virtio device or a VFIO device? I don't think Cloud Hypervisor is correctly ignoring writes to RO fields.

[2022-02-16 16:11] liuw commented on #3714
"Hardware" means CPU here. ESR_EL2 is a register on ARM64.

The device is a virtio block device.

At least for the message control register, CH only looks at masked and enabled bits and ignore the rest (see set_msg_ctl). I wish writable bits and w1c bits were handled more elegantly.

[2022-02-16 16:25] rbradford commented on #3714
Yes, within that field. But I was actually thinking about something like a 2 byte write to offset 0 would end up going through here:

https://github.com/cloud-hypervisor/cloud-hypervisor/blob/42b5d4a2f7820469bd538ddd19d7f33eea6f68a8/pci/src/configuration.rs#L747-L755

[2022-02-16 22:54] michael2012z commented on #3714
So, was this issue resolved by https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3715?

[2022-02-16 23:02] liuw commented on #3714
No. That is just dealing with writable bits. CH will still see the bogus length and offset.

[2022-02-17 14:13] #3714 closed

[2022-02-17 14:14] #3637 closed

[2022-02-17 16:38] liuw commented on #3684
I heard good things about `parking_lots`. It is used by a lot of other crates too.

[2022-02-18 08:24] rbradford opened #3727 "QCOW files with compressed blocks error out late/unhelpful error"
If using a disk image that has been downloaded from https://cloud-images.ubuntu.com/impish/current/ and not otherwised processed then following error message occurs:

```cloud-hypervisor: 27.054183ms: <_disk0_q0> ERROR:virtio-devices/src/block.rs:314 -- Failed to process queue (submit): RequestExecuting(AsyncRead(ReadVectored(Os { code: 95, kind: Uncategorized, message: "Operation not supported" }

[2022-02-18 11:49] rbradford opened #3729 "RFC: Exclusively test virtiofsd-rs"
Our current virtiofsd (C based) testing is based on an old branch: https://gitlab.com/virtio-fs/qemu/-/tree/qemu5.0-virtiofs-dax. This has since been moved into QEMU proper and also deprecated in favour of the Rust based one:https://gitlab.com/stefanha/qemu/-/commit/34deee7b6a1418f3d62a91ff0a9d156e60a788a5

Currently Kata is using the version from within qemu which is newer than what we test and i

[2022-02-18 11:55] fidencio commented on #3729
I've discussed this with @rbradford, and knowing that Kata Containers will move to the rust version of virtiofsd in a few weeks (as soon as we start the 2.5 development cycle) this sounds like the right move.

[2022-02-18 12:52] sboeuf commented on #3729
That makes lots of sense. This will simplify our testing matrix.
It's nice to see the move to the Rust version happening, and since Kata Containers is the only project we know of that is using both Cloud Hypervisor and `virtio-fs`, we should be good to go!

[2022-02-18 19:44] weltling opened #3732 "Error: Unexpected read from notification BAR: offset = 0x6008"
Console overflooded with warnings about invalid BAR offset read.

[code]

There might be a different address, but it always comes from a VCPU thread.

It seems to be thrown as implemented in https://github.com/cloud-hypervisor/cloud-hypervisor/commit/e864e35c297e24fabd239dd64d5c5c307f678351. Till now reproduced with the latest `main` and Windows 11 IoT on AARCH64. Checked with Ubuntu 20.04 i had a

[2022-02-18 20:19] weltling opened #3733 "ACPI: AARCH64: PPTT table isn't filled correctly"
The issue is observed with Windows 11 IoT guest, where just passing `--cpu boot=3` isn't sufficient and would lead to an OS crash. The guest would expect the PPTT table to be present, however it would be only generated if an explicit topology argument has been passed. See the current implementation at https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/arch/src/aarch64/fdt.rs#L222 .

Ac

[2022-02-18 22:14] liuw commented on #3733
Can you try this untested patch? https://github.com/liuw/cloud-hypervisor/commit/f2eebbe939c9dafc8e31c5fa2387b1b7543e95d9

[2022-02-19 07:19] michael2012z commented on #3733
@weltling What happen if you remove the whole PPTT table here: https://github.com/cloud-hypervisor/cloud-hypervisor/blob/5d55070ceb0d1be616d425363d96613be5680c6c/vmm/src/acpi.rs#L625 ?

[2022-02-19 07:27] michael2012z commented on #3733
Aha, you found a bug in building PPTT. Good catch.

I created a PR to fix the error. The solution is to apply a default VCPU topology in PPTT when not specified. Could you try it?

Alternative solution could be omitting PPTT totally if topology is not set. But I am not sure if Windows 11 works that way.

[2022-02-19 19:07] weltling commented on #3733
Thanks for the quick checking. Wei, Michael, it looks like both patches go into the same direction, so we'd probably be fine focusing on the latest PR state. I'll check the patch on the PR and post a feedback there.

Thanks

[2022-02-21 07:56] #3659 closed

[2022-02-21 09:15] sboeuf commented on #3732
Can you try to identify which PCI device is affected by this? Can you share the CH command line you used?

[2022-02-21 10:16] rbradford commented on #3732
Here is the only code in the windows driver: https://github.com/virtio-win/kvm-guest-drivers-windows/blob/master/VirtIO/VirtIOPCICommon.c#L397 that I could find that writes to the notification value, nor could I find any that reads it.

Is there a platform limitation around writing 16-bit values that require a read, combine, write? The fact you don't see this on Linux makes me think this unlikely

[2022-02-21 10:42] #3729 closed

[2022-02-21 14:35] weltling commented on #3732
The command is nothing special:

`cloud-hypervisor --kernel ./CLOUDHV_EFI.fd --disk=path=./windows-11-iot-enterprise-aarch64-8-small.raw --cpus boot=3,max=3,topology=1:1:1:3 --memory size=2048M --net tap=,mac=12:34:56:78:90:00 --api-socket=/tmp/ch1.sock --console off --serial tty -v`

AFAIK there are only these VirtIO devices present - `disk`, `net` and `rng`. I just disabled `net` and rerun the c

[2022-02-21 15:41] liuw commented on #3684
Relevant https://github.com/rust-lang/rust/issues/93740

[2022-02-21 16:16] liuw commented on #3732
It should be possible to disassemble the module to figure out what's going on there.

[2022-02-21 17:10] rbradford opened #3739 "Unable to use `peformance-metrics` args with dev_cli.sh"
`scripts/dev_cli.sh tests --metrics -- --report-file`

Ignores the `--report-file` parameter making it effectively unusable for the CI.

[2022-02-21 17:16] rbradford commented on #3739
This might be a more general problem where everything after the "--" should be sent to to the tool. Currently there is special casing for explicit stuff like `--test-filter` but I think it would also be useful to send anything unknown to the binary.

[2022-02-21 17:18] rbradford opened #3740 "performance-metrics order is unstable"
This is because ordering in a `HashMap` is unstable. For consistency the tests should be run in the same order.

[2022-02-22 01:21] #3733 closed

[2022-02-22 08:20] sboeuf commented on #3740
Use `BtreeMap` instead, the order is properly maintained.

[2022-02-23 09:50] fengye87 opened #3756 "`local` field of `SendMigrationData` should be required in open-api spec"
It seems that a new field `local` has been added to `SendMigrationData` in API since recent releases. When calling `send-migration` API without this new field, the server would return an error saying SerdeJsonDeserialize(Error(\"missing field `local`\", line: 1, column: 54)). Due to this behaviour, this field should really be marked as required in the open-api spec (I'm using this open-api spec to

[2022-02-23 10:06] rbradford commented on #3756
I think you can default it to off:

[code]

And then including it in the openapi yaml file as optional (i.e. not `required`)

[2022-02-23 10:59] fengye87 commented on #3756
@rbradford Thanks for your suggestion. I've opened a PR to do what you said above, care to give it a review?

[2022-02-23 11:56] #3756 closed

[2022-02-23 22:47] intelkevinputnam commented on #3688
I've added a branch to my [fork](https://github.com/intelkevinputnam/cloud-hypervisor/tree/sphinx-build) which implements the bare minimum* needed for generating sphinx docs in place. We can use it to discuss ways to improve the organization of the docs. You can see the resulting build here: https://intel.sharepoint.com/sites/IAGS-SSP-TCS/SiteAssets/cloud_hypervisor/README.aspx

\*

1. Adds a smal

[2022-02-24 09:40] Lxiaoyouling opened #3767 "During live migration downtime is too long when use dpvgw"
**Describe the bug**
I started a VM using cloud-hypervisor, network is dpvgw.
ch is server, dpvgw is client.
I execute ch --local live migration, downtime is too long. It can even go up to 1s.

**To Reproduce**
Steps to reproduce the behaviour:

cloud-hypervisor --kernel /vm_data/cloud-hypervisor/vmlinux \
--disk path=/home/aierpatijiang1/centos_7.6.raw \
--net mac=52:54:60:5f:53:b4,vhost_user=tru

[2022-02-24 10:24] sboeuf commented on #3767
First thing you could try is to modify the `dpvgw` client to retry the connection faster. I think it's taking quite some time because when the VM is migrated, it's only after the source VM is destroyed that the connection is broken with the client, which will let the client reconnect to the destination VM.
Another approach (might be quite complicated to implement) would be to pass the socket file

[2022-02-24 10:47] liuw commented on #3688
Hi Kevin, your link requires signing in to view.

[2022-02-24 15:34] #3740 closed

[2022-02-24 15:34] #3739 closed

[2022-02-24 16:42] intelkevinputnam commented on #3688
Apologies. I've published it as github pages here: https://intelkevinputnam.github.io/cloud-hypervisor-docs-HTML/README.html

[2022-02-24 17:57] liuw commented on #3688
This looks nice.

[2022-02-25 07:13] michael2012z commented on #3688
Hi, @intelkevinputnam , thank you for sharing the pages.

I noticed a few things that could be improved regarding the format/structure, not text content. Not sure if they are the feedback you wanted to collect to ` improve the organization` :
-  This page contains a TOC on the top, but it looks out of organization. The TOC is not in a tree-structure after converted into Sphinx.  https://intelkevin

[2022-02-25 16:55] weltling commented on #3732
Digging further on the code flow, the following is to observe:

- The vp_notify is indeed used, the iowrite16 call inside it will resolve to an invocation of `WriteVirtIODeviceWord`
https://github.com/virtio-win/kvm-guest-drivers-windows/blob/775ec67d8391a5d5884687cf3ab7c9da9c2cfd16/NetKVM/Common/ParaNdis_VirtIO.cpp#L279
- Subsequently, it calls the macro `NdisWriteRegisterUshort` from the WDK. Th

[2022-02-25 17:06] rbradford commented on #3732
Sounds like the error is the header file it should read:
`#if defined(_M_IX86) || defined(_M_AMD64) || defined(_M_ARM) || _M_ARM64`

On this architecture there is no need to read after write (unlike some other architectures Windows supports/used to support (e.g. Alpha). Can you open a ticket to get this corrected?

[2022-02-25 18:48] russell-islam commented on #2084
Is there any security concern if we use socat outside of CLH? Also need to somehow kill the socat process after CLH shutdown.

[2022-02-25 19:34] weltling commented on #3732
In `ndis.h` seem also to be more similar cases of `NdisWriteRegister*` as well as other conditionally compiled macros of the alike art. I guess it should be possible to find, who is responsible for this part of the WDK and attract the attention to this particular issue. Sadly, any pre-existing binaries will be still like that. Also, I guess it might take quite some time for the matter to propagate

[2022-02-26 10:53] #3732 closed

[2022-02-28 15:33] fidencio opened #3776 "scripts/dev_cli.sh: Script fails to build cloud-hypervisor on ARM"
**Describe the bug**
Kata Containers CI is trying to unify the way we build and test Cloud Hypervisor, by leveraging the usage of the `scripts/dev_cli.sh`.
However, building Cloud Hypervisor on ARM is not currently working due to:
[code]

It's important to note that his is happening inside the following container: https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/resources/Dockerfile

[2022-02-28 16:10] sboeuf commented on #3776
@fidencio the following works from inside the container:
[code]
so clearly missing the environment variable `TARGET_CC`.

[2022-02-28 16:17] sboeuf commented on #3776
Here's the fix:
[code]

[2022-03-01 05:29] #3776 closed

[2022-03-02 14:21] sboeuf opened #3787 "scripts: `--test-filter` doesn't work with `dev_cli.sh`"
I was using the following:
[code]
hoping it would run both `boot_time_s` and `boot_time_pmem_s` from the metrics CI, but it ran every single test.
This needs to be fixed.

[2022-03-02 14:39] sboeuf commented on #3684
The PR https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3782 was an attempt to move Cloud Hypervisor away from the `Mutex`/`RwLock` from the Rust standard library to the `parking_lot` implementation.
The PR was ready as the full CI was correctly passing, but based on the results from the metrics CI, we could observe that no significant performance improvement was achieved through this mov

[2022-03-02 18:55] likebreath commented on #3787
The above command does not work as expected, as the options provided after the first `--` (like the `--test-filter` above) to "dev_cli.sh" are for the test scripts (e.g. "run_integration_*.sh", "run_metrics.sh", etc). To pass arguments to the test binary (e.g. `cargo test` or `performance-metrics`), we need to provide these arguments after the __second__ `--` to "dev_cli.sh".

@sboeuf Can you plea

[2022-03-03 10:27] rbradford commented on #3787
@likebreath You're not wrong but it is also inconsistent with the integration test scripts that use it in that position. The argument is being parsed and placed in the `test_filter` variable so it should be honoured.

[2022-03-03 17:48] rbradford opened #3800 "Move to released `vm-virtio` and `vhost-user-backend`"
See https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3798#issuecomment-1058305434

We should move to some new released versions to avoid turbulence!

[2022-03-03 18:22] rbradford commented on #3800
@sboeuf Please open issues with these crates to get new releases made.

[2022-03-03 21:13] likebreath commented on #3787
That makes sense. Opened PR #3803 to achieve the desired behavior with some explanations and exmaples.

[2022-03-04 07:50] sboeuf commented on #3800
Yes let me handle that.

[2022-03-04 09:40] sboeuf commented on #3800
Here are the issues:
- https://github.com/rust-vmm/vhost-user-backend/issues/62
- https://github.com/rust-vmm/vm-virtio/issues/145

[2022-03-04 10:15] sboeuf opened #3807 "docs: Add documentation for `balloon`"
We need to add some documentation that will explain the different options the user can enable through the `balloon` device, and the purpose for each of them.

[2022-03-04 13:01] sboeuf commented on #3684
@liuw

Here are the results when running the `virtio-block` tests with 16 queues, based on a `QCOW2` backing file (from the PR using `parking_lot::{Mutex, RwLock}`):
[code]
and here are the results with the same conditions (from main branch, that is `std::sync::{Mutex, RwLock}`):
[code]

The results are almost identical, therefore I think we can conclude that using `parking_lot` isn't improving th

[2022-03-04 13:03] sboeuf commented on #3684
I think we can close this PR for now.

[2022-03-04 13:03] #3684 closed

[2022-03-04 16:46] sboeuf opened #3809 "Add vDPA migration support"
vDPA is a kernel framework introduced fairly recently in order to handle devices complying with virtio specification on their datapath, while the control path is vendor specific. For the datapath, that means the virtqueues are handled through DMA directly between the hardware and the guest, while the control path goes through the vDPA framework, eventually exposed through a `vhost-vdpa` device.

v

[2022-03-06 13:53] leahneukirchen commented on #3213
For the record, a raw memory dump seems to work with `crash`, using `crash $vmlinux $snap/memory-ranges@0`. But many tools expect a ELF-style vmcore file, so that could be a reasonable addition. This does not seem incredibly hard to add: https://github.com/qemu/qemu/blob/master/dump/dump.c#L515

[2022-03-07 10:40] rbradford opened #3811 "Seccomp violation thread not working consistently"
Using signals with threads is tricky as the signall can be sent to any thread unless careful blocking is used, as it currently stands since we have multiple threads managing signals it is currently not working consistently. Using a simpler signal handler, provided we only use the signal safe functionality, would make catching `SIGSYS` and reporting it more consistent.

[2022-03-07 10:48] rbradford opened #3813 "Metrics test failing on main"
[code]

[2022-03-07 10:48] rbradford commented on #3813
This was the issue I raised in https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3803#pullrequestreview-900032780 but failed to submit on.

[2022-03-07 11:31] #3811 closed

[2022-03-07 11:37] rbradford commented on #3213
@leahneukirchen Thank you for sharing that. We also now have gdb support which might already usable for dumping an ELF style coredump already.

@liuw Perhaps you could decide if the gdb core dump and the syntax @leahneukirchen has suggested are sufficient for your request?

[2022-03-07 13:30] #3800 closed

[2022-03-07 14:34] #3787 closed

[2022-03-07 20:57] likebreath commented on #3809
Sounds like our original concern of vDPA being less secure is actually not a problem, right?

[2022-03-08 09:05] sboeuf commented on #3809
Yes because the virtqueues are directly handled by the device, and the device is placed behind the host IOMMU to ensure it's not trying to access unallowed memory.

[2022-03-08 09:55] sboeuf opened #3822 "Move Cloud Hypervisor to virtio-vsock crate from rust-vmm"
In order to share the maximum amount of code with the upstream regarding the `virtio-vsock` device, it'd be good to move the codebase to the upstream crate https://github.com/rust-vmm/vm-virtio/tree/main/crates/devices/virtio-vsock

[2022-03-08 09:59] andreeaflorescu commented on #3822
We still have to upstream a few things, so far we only got the packet implementation. The other ones will follow soon.

[2022-03-08 13:28] sboeuf commented on #3822
Yes of course, but I wanted to start tracking this :)

[2022-03-08 16:03] wolfboxpen opened #3826 "virtiofs documentation error, dax needs to be enabled on the guest"
cloud hypervisor virtiofs documentation says:

cache=never will disable mmap on the guest even when dax=on is used, which suggests DAX was never used to begin with.
DAX should suppress guest page cache usage by itself.

virtiofs on the guest should be mounted with -o dax  or when booting virtiofs add rootflags=dax

mmap now works on the guest with cache=never
cache=auto does not increase guest cac

[2022-03-08 16:55] sboeuf commented on #3826
I can see how the documentation is misleading given that the option `cache=` from `virtiofsd` is about the cache on the host.
But it's totally valid to run `virtiofsd` with `--cache=never` while using the DAX region through the VMM, and mounting the filesystem with DAX in the guest VM.
By default the DAX region is enabled with Cloud Hypervisor, therefore you only have to mount the filesystem with

[2022-03-09 11:07] parushyata commented on #58
[not ready for review]

[2022-03-09 15:18] rbradford opened #3829 "virtio-net offload control regression"
With v19.0:

[code]

With main (v22.0-20-gcf388b16):

[code]

[2022-03-10 11:27] #3829 closed

[2022-03-11 11:44] fengye87 opened #3839 "Passthrough host USB device?"
So I was trying to passthrough a host USB device to a cloud hypervisor VM, but when starting the VM, the API call failed with `start instance: request failed: 500 Internal Server Error: VmBoot(VmBoot(DeviceManager(VfioCreate(InvalidPath))))`.

Here's the device config I'm using:

[code]

I also tried to replace the path with `/sys/bus/usb/devices/2-2`, got the same error too. Does cloud hypervisor

[2022-03-11 12:56] sboeuf commented on #3839
Cloud Hypervisor doesn't support USB passthrough.
You must be passing a PCI device that you have previously bound to the `vfio-pci` driver.

[2022-03-11 13:54] fengye87 commented on #3839
@sboeuf Got it. Is it (USB passthrough) on the road map?

[2022-03-11 14:06] sboeuf commented on #3839
No it's not.

[2022-03-14 21:50] jackloomen opened #3843 "virtio-fs: flaky rootflags=dax with virtiofsd-rs. cloud-hypervisor seccomp kills it on qemu version."
The C version of virtiofsd was dropped but it still seems to be the only one capable of doing some things.

To reproduce:
boot guest from virtio-fs with rootflags=dax
on guest run:
`env -i -- firefox -headless`

Result if using qemu virtiofsd:
by cloud-hypervisor:
`Bad system call         (core dumped)`
with cloud-hypervisor --seccomp false the problem does not occur.

Result if using Rust virtiof

[2022-03-15 08:29] sboeuf commented on #3843
Can you share the command line you've been using for Cloud Hypervisor?
And the command line for virtiofsd-rs?

[2022-03-15 11:35] jackloomen commented on #3843
`virtiofsd --socket-path=/path/virtiofs_rootfs -o source=/path/rootfs -o cache=none`

`virtiofsd-rs --cache=none --socket-path=/path/virtiofs_rootfs --shared-dir=/path/rootfs`

[code]

[2022-03-15 13:50] sboeuf commented on #3843
The command lines look correct, except for `virtiofsd-rs`. Try `--cache=never` instead of `--cache=none`.

[2022-03-15 14:26] jackloomen commented on #3843
That was a mistake when composing the post, it was cache=never.

Please note that firefox executing in the guest triggers an unexpected syscall in the VMM which apparently violates seccomp. This does seem like an integration test oversight. Should rust virtiofsd reach parity with the C version, it may have the same result, right now it crashes.

[2022-03-15 15:13] jackloomen commented on #3843
[code]

[2022-03-15 15:27] rbradford commented on #3843
Feel free to try: https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3848

@sboeuf Any thoughts why this path is not being executed through our very comprehensive virtio-fs testing matrix?

[2022-03-15 15:43] jackloomen commented on #3843
--seccomp false removed and Firefox is running in both headless and graphical mode on the guest with that patch. No issues observed.

[2022-03-15 16:05] sboeuf commented on #3843
Well the problem comes from the fact that we don't have a reliable way of triggering the `FS_IO` request from the backend.
@stefanha @dagrh @rhvgoyal any idea how to trigger this request from running something in the guest?

[2022-03-17 16:06] sboeuf opened #3861 "vdpa: Use get_iova_range() once fixed from rust-vmm/vhost"
As soon as `rust-vmm/vhost` v0.4.0 will be released, we'll be able to use `get_iova_range()` from the `vdpa.rs` implementation.

[2022-03-17 16:10] sboeuf opened #3862 "scripts: Remove iproute2 install after we move the builders to 22.04"
Ubuntu 22.04 contains the `iproute2/vdpa` tool, therefore the script `prepare_vdpa.sh` should be updated after we move the Jenkins builders to rely on 22.04.

[2022-03-18 05:45] jackloomen commented on #3843
I came across another bug.

When using two virtiofsd(C) instances and two --fs tags everything appears to be functioning nominally until:

login as user @ /home/user
firefox -headless

[code]

first fs tag is mounted as rootfs on /
second fs tag is mounted on /home/user

**The above error does not occur when running firefox -headless is root @ /root**

Appears to be something wrong with how cloud

[2022-03-18 10:07] rbradford opened #3869 "Issue with multiple virtio-fs devices"
When using two virtiofsd(C) instances and two --fs tags everything appears to be functioning nominally until:

login as user @ /home/user
firefox -headless

[code]

first fs tag is mounted as rootfs on /
second fs tag is mounted on /home/user

**The above error does not occur when running firefox -headless as root @ /root  which is the first fs tag**

Appears to be something wrong with how cloud h

[2022-03-18 10:25] #3826 closed

[2022-03-18 12:50] sboeuf commented on #3809
The support for vDPA has been merged through https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3849.

Here is the list of things left to do:
- [ ] Write documentation
- [ ] Migration support
- [ ] vIOMMU support

[2022-03-18 13:07] jackloomen commented on #3869
[code]

[code]

guest init script:

`mount -t virtiofs -o dax second /home/user`

[2022-03-18 14:19] sboeuf commented on #3869
@jackloomen does it happen if you increase the cache_size to 8GiB for instance?

[2022-03-18 15:15] jackloomen commented on #3869
with both tags having cache_size=8G the same issue occurs.

[code]

[2022-03-18 15:16] sboeuf commented on #3869
Well on my side I'm having a very hard time getting `virtiofsd` (C) to work. It's always crashing, even when running everything as root (just to make sure I don't have permissions issues).
I'd actually rather try to build the latest version of `virtiofsd` (C) and make it work with CH before I go any further. My point is, some things might have been fixed since the version `qemu5.0-virtiofs-dax`.

[2022-03-18 16:06] sboeuf commented on #3869
Interestingly, the latest version of virtiofsd (C) (QEMU 7.0.0-rc0) works for me where the branch qemu5.0-virtiofs-dax wasn't working.

[2022-03-18 16:35] sboeuf commented on #3869
And for what it's worth, I can run Cloud Hypervisor exactly as you described (2 virtio-fs backends), the first one being the actual VM rootfs, and the second one being what can be found in /home/user, and nothing's failing for me, but I don't have firefox installed or any other program that might exercise the second virtio-fs backend.
Anyway I'll let you have a try with the latest QEMU version of

[2022-03-18 16:45] jackloomen commented on #3869
Where did you get QEMU 7.0.0-rc0? Is it virtio-fs-dev (https://gitlab.com/virtio-fs/qemu/-/tree/virtio-fs-dev)?
I doubt the rootfs matters, it was just alpine with firefox installed.

[2022-03-18 17:01] jackloomen commented on #3869
This was an extension of the previous virtiofs dax issue so it was not mentioned, but **this entire issue is with dax on and rootflag=dax mount -o dax.**

[2022-03-18 21:49] sboeuf commented on #3869
I was talking about the virtiofsd binary built from github.com/qemu/qemu.git

[2022-03-18 23:04] jackloomen commented on #3869
I just tried it. Same results as virtio-fs-dev.

without rootflags=dax it boots and seems to be working but I'm not sure. Whenever I try to cat a file I get: cat: file: Function not implemented. Seems broken.

And with rootflags=dax it does not boot at all.

[2022-03-19 04:10] wolfboxpen commented on #3826
I feel like there may be some lacking information.

When dax is enabled in the VMM and the guest, cache=auto/never/always becomes just lifetime control for metadata on the guest.
When cache=never and dax=off, mmap is no longer functional in the guest. Which can break the guest if it relies on booting from virtiofs (depending on rootfs, init scripts, started software etc.)

[2022-03-19 07:30] sboeuf commented on #3826
From my understanding, the ability to mmap is only related to the usage of DAX. The cache= option has nothing to do with this.
If you think the documentation is not complete enough, feel free to send a PR, and/or add a link to an existing virtio-fs documentation.

[2022-03-19 07:33] sboeuf commented on #3869
I'll do some more testing next week.

[2022-03-19 17:42] wolfboxpen commented on #3826
Try cache=none or cache=never (depending virtiofsd version), mount with no dax and attempt to use software which uses mmap. You will get an error.

It is not surprisingly because virtiofs suppresses page cache usage despite dax, and if dax isn't on then there is nothing to mmap.

[2022-03-22 10:44] rbradford opened #3879 "Improve test_config_validation()"
By adding `#[derive(PartialEq)]` to `ValidationError`, we can precisely assert on the error we are expecting, e.g. `assert_eq!(invalid_config.validate(), Err(ValidationError::OnIommuSegment(1)))`, which would be better?

_Originally posted by @likebreath in https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3870#discussion_r831454096_

[2022-03-22 13:34] likebreath commented on #3879
@rbradford Thank you for opening the issue. I can take this issue, if you haven't started.

[2022-03-23 12:46] sboeuf commented on #3869
I had a try with the `virtio-fs-dev` branch from https://gitlab.com/virtio-fs/qemu.git and when using DAX (that is using `rootflags=dax`) I get the same error as you:
[code]
This is explained by the changes in the vhost-user protocol regarding the definition of `VhostUserFSSlaveMsg` structure. I have some patches which are fixing this issue locally. The main part of the change has to happen in `ru

[2022-03-23 14:34] sboeuf commented on #3869
Ok and if you don't use DAX, things are working?

[2022-03-23 14:57] jackloomen commented on #3869
Without DAX I observed no issues, other than the guest's uncontrollable usage of page cache - translating to elevated VMM memory consumption. But that's a kernel problem.

[2022-03-23 15:01] sboeuf commented on #3869
Yes I understand the blocker here. Problem is, DAX isn't stable so you can't really assume it's okay to use it.

I can continue the debugging with the Rust version if you can send me the rootfs you're using. I'm really trying to use the same conditions to reproduce the issue.

[2022-03-23 15:14] jackloomen commented on #3869
Alpine rootfs.
apk add firefox
boot rootflags=dax
env -i -- firefox -headless

If you don't get virtiofsd(rust) to panic then I would very much want to know what configuration you are using. I tried 3 different rootfs' (glibc and musl) and all had the same result.

[2022-03-23 15:23] jackloomen commented on #3869
There's also:
https://gitlab.com/virtio-fs/virtiofsd/-/issues/39

Problem wasn't verified on qemu.

[2022-03-23 16:00] rbradford opened #3883 "DSDT contains memory related logic with hotplug_method=virtio-mem"
The DSDT logic shouldn't be included when running with `--memory hotplug_method=virtio-mem`. The challenge is that the GED device will still need to have an `MSCN` symbol available to it. This could be an empty function like `CSCN` is in the case of non-dynamic `CpuManager`

[2022-03-23 16:43] sboeuf commented on #3869
I've been able to reproduce the issue consistently with an alpine rootfs to which I added firefox. I get the exact same error.
I identified the problem, it's related to the address found in the VIRTIO descriptor. Whenever this address isn't referring to the guest memory, it should be handled with a special command `VHOST_USER_SLAVE_FS_IO` so that we ask the VMM to perform the memory access on beha

[2022-03-23 16:49] sboeuf commented on #3869
Let's follow up in there: https://gitlab.com/virtio-fs/virtiofsd/-/issues/41

[2022-03-24 09:09] sboeuf commented on #3883
I agree.

The alternative would be to generate the GED according to the `CpuManager` and `MemoryManager` being dynamic or not.

[2022-03-24 10:47] rbradford commented on #3883
I would love that but the `DeviceManager` does not know if the `CpuManager` or `MemoryManager` are dynamic and I think the added complexity is not worth it compared to having an empty function in the table.

[2022-03-24 10:51] sboeuf commented on #3883
I understand.

[2022-03-24 13:17] #3883 closed

[2022-03-24 15:16] sboeuf opened #3889 "Remove `dax` parameter for virtio-fs"
Since the DAX feature is not stable yet, we decided to remove it from Cloud Hypervisor. That means the `dax` option will be removed in 2 releases cycles.

[2022-03-24 18:32] praveen-pk opened #3890 "Create mmio hole for TPM TIS device in aarch64 memory layout"
**Describe the bug**
TPM TIS requires **0xfed40000-0xfed44fff** MMIO region. reference: https://qemu.readthedocs.io/en/latest/specs/tpm.html. What is the best way to address this requirement in aarch64 memory layout?

One option is to push out Device Area further out from Guest Ram Area. Currently Device Area starts right after Guest Ram following, https://github.com/praveen-pk/cloud-hypervisor/bl

[2022-03-25 06:24] michael2012z commented on #3890
Hi, @praveen-pk

AArch64 and X86 has different memory layout under the device area. For AArch64, the ram starts at 1G, and the device area follows the ram. So if the memory is 2G, the device area starts around 3G address. Could you increase the memory to let the device area reach the location you need?

Another thing to note is the start address of the device area on AArch64, in your test it is:
`

[2022-03-25 09:17] #3879 closed

[2022-03-25 09:47] sboeuf commented on #3495
@likebreath could you please document all your latest findings in here.

[2022-03-25 15:01] praveen-pk commented on #3890
@michael2012z unfortunately, my hardware configuration does not allow passing 3G memory to Guest. What is the downside of hardcoding the device start area to 100000000?
To be precise, if the guest memory is less than 3G, we can set the device start area to 100000000. If guest memory is >= 3G, we can let the device area start after the guest RAM.

[2022-03-25 22:21] likebreath commented on #3495
The sporadic failure turned out to be a result of systemd (services) hanging or crash as reported by the guest console log while rebooting (more precisely, either during the vm shutdown or during the vm boot after the vm shutdown). While the guest console reported different Systemd failures, the most common failure is `Failed to start Device-Map…r Multipath Device Controller`. (Looks somewhat simi

[2022-03-28 04:33] michael2012z commented on #3890
I don't think it's good idea to push `start_of_device_area` above a fixed address 0x1_0000_0000, because:
1. A gap is left if the ram is less than 3G. The gap needs to be taken care. That adds some complexity.
2. Your case seems a very particular one, because the device has to be somewhere. It seems not a very strong reason to change the generic logic of calculating `start_of_device_area`.

The ca

[2022-03-28 17:47] likebreath commented on #3495
@sboeuf Yes, I played with booting from the NVMe Device manually a few dozens of times, and it worked fine. I am creating a test for this scenario and will run it in an infinite loop to see how (un)stable it is. I will keep you posted here.

[2022-03-29 03:50] likebreath commented on #3495
@sboeuf Here is the `test_vfio_user_boot_from_nvme`  [[commit](https://github.com/likebreath/cloud-hypervisor/commit/ebf174a407a6d353d6f424b9dd249d30c38f3d3c)], which failed on both of my dev machine and a Azure VM (but in different ways).

Two failures from my dev machine were similar to what we observed before, e.g.  due to timeout from guest rebooting as a result of hanging systemd services in

[2022-03-29 04:36] likebreath opened #3912 "Guest reboot hangs when using Ubuntu 22.04 cloud image with hypervisor-fw"
**Describe the bug**
The VM hangs on guest rebooting if using Jammy (Ubuntu 22.04) cloud image with `hypervisor-fw`.

**To Reproduce**
Launch a VM with Jammy (Ubuntu 22.04) cloud image (l[ink](https://cloud-images.ubuntu.com/jammy/20220325/jammy-server-cloudimg-amd64.img)) and `hypervisor-fw`, and run command `$sudo reboot` few times in the guest.

**Version**

`cloud-hypervisor v22.0-127-g43179bb

[2022-03-29 04:40] likebreath commented on #3912
Using direct-kernel boot from our reference kernel works fine, e.g. launching CH with the following command-line:
[code]

[2022-03-29 11:47] liuw commented on #3890
The TPM device has to be in that location because its specification says so. We can move it to arbitrary address but that may cause other issues,

If TPM is to be officially supported by the project, users shouldn't have to play with `--memory` and hope things work by chance. That's prone to error if Cloud Hypervisor changes its internal at some point. When user specifies `--tpm`, Cloud Hypervisor

[2022-03-29 12:46] michael2012z commented on #3890
Is this change requirement (adjusting `start_of_device_area`) aarch64 specific or common to both architectures?

On X86, if the memory is less than 2G, is there a same problem?

[2022-03-29 13:02] liuw commented on #3890
I think both architectures will require some work. Things happen to work on x86.

[2022-03-29 13:19] michael2012z commented on #3890
If it's common, I suppose the potential adjustment could be placed around here (after calculating the hot-plug area): https://github.com/praveen-pk/cloud-hypervisor/blob/3a4e8ea4023bde86778483a33af480e8b41a7db3/vmm/src/memory_manager.rs#L1037

I did a quick try days ago. FDT went well. But the VM didn't boot successfully with EDK2, I didn't dig further. That's why I said it could impact a little m

[2022-03-29 13:28] rbradford commented on #3890
To be clear: like the IOAPIC this doesn't need to be in the device area it can be hardcoded.

[2022-03-29 13:31] rbradford commented on #3890
For aarch64 it might be easier to start the high ram at 4GiB vs 1GiB?

[2022-03-29 13:46] michael2012z commented on #3890
Starting from 4GiB is possible, but avoiding the whole 3G space before 4GiB seems a waste. I prefer to adjust the border.

[2022-03-29 13:53] michael2012z commented on #3890
@liuw I can try to work out a proposal and look into the EDK2 issue. Then let's continue the discussion with a PR.

Could you evaluate the feasibility of moving TPM somewhere under 1GiB as well?

[2022-03-29 14:05] liuw commented on #3890
Windows' TPM driver has a check for the location of the device. I think once that restriction is removed (plus another unrelated bug fix), arbitrary location should work. That's out of spec, but *shrugs*. It takes some time to make that change to the TPM driver and we also need buy-in from Windows' side.

Linux doesn't particularly care about the exact location.

Not sure what other operating syst

[2022-03-29 14:37] praveen-pk commented on #3890
Below are the memory maps from 2G and 4G VMs from x86_64 architecture:

[code]

[2022-03-29 17:56] rbradford commented on #3890
Well, if the spec says the address is fixed then there isn't much that can be done about that. It would be perfectly reasonable for the RAM to run from 1GiB to 0xfed40000 and then from 0xfee0000 to its size when more is needed. The device area doesn't need to be particularly big so you could place that from 0xfee0000 or end of ram onwards.

[2022-03-29 18:00] praveen-pk commented on #3890
Agreed, no need to make any changes to x86_64 mem layout. Above change is specific to aarch64.

[2022-03-30 06:31] michael2012z commented on #3890
@praveen-pk I created a PR for the layout change, can you try it: https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3920 ?

A hole was reserved before 4GiB, which covers the address range required by TPM.

Now arm64 shares the similar algorithm in handling the RAM regions, that's what @rbradford had described in comment https://github.com/cloud-hypervisor/cloud-hypervisor/issues/3890#issue

[2022-03-30 15:01] praveen-pk commented on #3890
@michael2012z thanks for driving this feature forward. I will give this PR a try and report back today.

[2022-03-30 15:18] #3002 closed

[2022-03-30 17:44] praveen-pk commented on #3890
@michael2012z after rebasing to the https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3920, I see the following memory layout:

[code]

In all these cases, I do not see any region overlaps that I intially reported.

[2022-03-30 22:15] michael2012z commented on #3890
Thank you for testing it. So, the new layout of the PR works with TPM as expected, right?

OK, I will continue the work. Now there is still a test case failure in migration scenario.

[2022-03-31 13:02] rbradford opened #3926 "LTS Release Proposal"
We're proposing to make 23.0 or 24.0 an LTS release. We're currently proposing to support the LTS release for 18 months from release.

The LTS would include security fixes for Cloud Hypervisor and any of its dependencies (crates that it uses.)

[2022-03-31 13:02] rbradford commented on #3926
I would like feedback from @cloud-hypervisor/cloud-hypervisor-maintainers  and the wider community if this is something that is desired or whether the scope needs to be different.

[2022-03-31 15:08] liuw commented on #3926
What is the cadence of picking an LTS release? I don't think maintaining too many LTS releases is economical. I do think having overlapping-in-time LTS releases are important.

[2022-03-31 15:18] rbradford commented on #3926
Great question. What about 1 per year? Which would give 6 months overlap.

[2022-03-31 17:05] likebreath commented on #3926
I wonder how do we regularly check security fixes for all our dependencies? Is there an "easy" way to do it automatically?

[2022-04-01 07:48] sboeuf commented on #3926
We need to define clearly what it means to pull security fixes for the dependencies. Are we gonna update the dependencies based on the patch version or the minor version? I assume we won't bump a dependency main version?
About how to track this I guess we can configure dependabot to report these things.

[2022-04-01 08:56] rbradford commented on #3926
Yeh using dependabot with the "security fixes" only option is the best plan. I think we'll just have to use the best version available to us. If a dependency doesn't backport to old versions then we might have to go forward. Fortunately we have good CI coverage.

[2022-04-01 12:07] liuw commented on #3926
Yes, time wise this sounds fine to me. One potential down side for fixed cadence is now people know which release is going to be an LTS there will be a tendency to rush things into those releases. There is no one best solution for managing LTS releases. I guess we can just go with this model for now. It can always be changed in the future.

A follow-up question is what is the support status for co

[2022-04-01 12:26] rbradford commented on #3926
Yes, that is definitely a risk. Hopefully that is not something that will come up too often.

That is a good point. There will inevitably be deprecations/removals of features across that period. I'm not sure trying to guarantee that you can live migration across 7 intermediate releases (assuming we stick with our current cadence) is really sustainable.

[2022-04-01 12:35] weltling commented on #3926
Based on the discussion till now, perhaps it's time to have a more precise definition of what is stability in the context of Cloud Hypervisor. Which concrete technical aspects are involved, etc.

Also given that we don't have a patch version in tags, there should be probably a concrete guidance to read the stability from the version string? I'd in general suggest to formalize these points and pres

[2022-04-01 12:44] rbradford commented on #3926
@weltling The README lists our current guarantees: https://github.com/cloud-hypervisor/cloud-hypervisor/#3-status

[2022-04-01 12:45] rbradford commented on #3926
What does this mean?

[2022-04-01 14:51] weltling commented on #3926
@rbradford oh, that's a good point on some technical stability details, thanks for pointing to that.

It also does some clarification on the version handling. For the versioning, I was referring to the prevalent semver approach where patch version would mean it's just a bugfix but minor would mean possibly a feature added. With just major and minor version, it's not immediately obvious what is to

[2022-04-04 17:17] liuw commented on #3926
Not Robert but I will try to answer some of the questions. These are my own opinions only.

These will be major releases.

It doesn't make sense in this context to talk about point releases, because point releases, unless under exceptional circumstances, should not add or remove features. I think this is the norm for upstream open source projects.

Major releases only.

No. Deprecations are neithe

[2022-04-04 20:20] weltling commented on #3926
Thanks for taking time, Wei. I'm basically on the same page in most case, touching a couple of things to clarify more or make a suggestion.

I don't a clear answer to this.

Perhaps having some pre-release cycle would add to predictability. Especially in LTS where the guarantees would be expected more strictly. Users can test and report issues before the final.

What is "BC breaches"?

Yeah, that

[2022-04-05 03:04] #3890 closed

[2022-04-05 05:54] likebreath commented on #3023
@rbradford @sboeuf  Based on VFIO USER spec, besides dirty page tracking over the guest RAM (for potential DMA operations from the device/server side), we will also need to migrate the [`device state`](https://github.com/nutanix/libvfio-user/blob/master/docs/vfio-user.rst#vfio-device-migration-info) which ideally need to be sent iteratively (like what we do for the dirty-page tracking over the gue

[2022-04-05 06:03] likebreath commented on #3023
The other general question I have is whether we will spawn a new vfio-user device as the destination device?

If my understanding is correct, the live-migration support of vhost-user assumes to reuse the same vhost-user device/backend. But from [vfio-user protocol](https://github.com/nutanix/libvfio-user/blob/master/docs/vfio-user.rst#vfio-device-migration-info) (and also its [sample client/server

[2022-04-05 09:25] tmakatos commented on #3023
FYI the existing migration protocol is being deprecated in Linux v5.18 and being replaced with a new migration API (migration v2), see https://github.com/nutanix/libvfio-user/issues/654#issuecomment-1063945892 for more details. We're adopting this change in vfio-user as well. The new migration API is far simpler than existing one. IIUC one notable difference is that copying device state can be don

[2022-04-05 10:34] liuw commented on #3926
I'm two minded here. Given the short regular release cycle, having RCs will either prolong the cycle or prematurely cut off feature acceptance. This is something the community needs to collectively decide.

I still don't understand what "BC breaches" is unfortunately.

How does your example break code compatibility?

If using a new KVM feature requires explicit enabling in Cloud Hypervisor, then i

[2022-04-05 11:59] sboeuf commented on #3023
@likebreath here are a few thoughts;

- I don't think we have to send iteratively the device state. Although the VFIO API provides some ways to iteratively retrieve the opaque blob of data from the device, the VMM can still decide how to send it to the destination VM. The same way we don't do pre-copy/post-copy in Cloud Hypervisor for the memory (while QEMU does), we don't have to implement a comp

[2022-04-05 12:07] sboeuf commented on #2251
Some good news! As mentioned [here](https://github.com/cloud-hypervisor/cloud-hypervisor/issues/3023#issuecomment-1088474272) and [here](https://github.com/nutanix/libvfio-user/issues/654#issuecomment-1063945892), the Linux VFIO migration API has been very recently (`v5.18-rc1`) updated to a V2, deprecating the old way (which was never implemented by any device driver).
This is good news because w

[2022-04-05 14:46] weltling commented on #3926
This was my exact question in the first post :) Terms like `compatibility between N and N+1`, `BC breach`, stability are probably talk about same, but seem not defined quite precisely for the Cloud Hypervisor context. Simplistically saying, a BC breach means some change in behavior or interface that is not compatible to previous versions of the same software.

Say when talking about a reusable lib

[2022-04-05 22:02] likebreath commented on #3023
@tmakatos Thank for providing the context around the VFIO v2 migration protocol. With an offline discussion with @sboeuf and @rbradford, we will start to implement the V2 protocol for both VFIO and VFIO user in Cloud Hypervisor. We are scoping the missing bits for supporting VFIO live-migration v2 in CH (#2251), and want to make sure we have the right abstractions to avoid redundant code paths bet

[2022-04-06 02:21] likebreath opened #3940 "Support ioeventfd with vfio-user devices"
The `VFIO_USER_DEVICE_GET_REGION_IO_FDS` API from vfio-user spec provides a faster way for the guest to notify/write to the device regions without needing to trigger VMX exit by using `ioeventfd` and `ioregionfd`. Similar to what we already have for virtio devices in Cloud Hypervisor, we can gain performance improvements by using `ioeventfd` with applicable vfio-user devices.

[2022-04-06 02:29] likebreath commented on #3940
@tmakatos @jlevon Do you know whether there are any available vfio-user device/server that implements the counterpart of `VFIO_USER_DEVICE_GET_REGION_IO_FDS`? IIUC, I don't think the latest SPDK/NVMe vfio-user  supports this feature (as I don't see the nvmf server code utilizes [`vfu_create_ioeventfd()`](https://github.com/nutanix/libvfio-user/blob/master/lib/libvfio-user.c#L467) from `libvfio-use

[2022-04-06 07:48] sboeuf opened #3941 "Fix and reenable aarch64_acpi::test_virtio_iommu integration test"
This test case must be investigated and fixed before to reenable it as it's failing due to the recent introduction of error being returned when the virtio-iommu isn't able to perform the address translation it's been asked to do.

[2022-04-06 10:35] rbradford commented on #3767
Closing due to inactivity. Please feel to reopen if you can answer @sboeuf's question.

[2022-04-06 10:35] #3767 closed

[2022-04-06 11:25] jlevon commented on #3940
@likebreath I'm afraid not. SPDK's use of vfio-user has no use for ioeventfd (since we need a payload), and we haven't yet had time to look at ioregionfd support, although we would like to.

So the only "consumer" right now is libvfio-user's own tests.

FWIW we are happy to consider API changes in this area if you find the need for your ioeventfd use case.

[2022-04-06 12:52] rbradford commented on #3940
@jlevon I guess without ioeventfd/ioregionfd the BARs for the NVMe device cannot be mapped into the guest address space as there would be no way to know if the NVMe queue needed a kick?

[2022-04-06 13:45] sboeuf commented on #3809
Giving some update about recent investigations and discovery about vDPA migration:

- `vhost-vdpa` doesn't support `VHOST_SET_LOG_BASE`, as there's currently no HW implementation allowing the dirty pages to be logged. There are some ideas about using the PF of the device to report these, or there might be some solution relying on PASID, but this requires recent IOMMU hardware, and the code isn't t

[2022-04-06 13:54] sboeuf commented on #2251
Just a note that as of today, the only NIC family supporting VFIO migration API is the `ConnectX-6 Dx`.
Also, we think it'd be safer to wait for a few months to let this new API be correctly tested by different stakeholders and see if other vendors include it in their drivers. Once this will be more mature, proven as being a foolproof API, and hopefully widely used in the industry, we should imple

[2022-04-06 14:14] sboeuf commented on #2251
Independently of how the VFIO migration API look like, some things can be tackled first:
- [ ] The logic present in `add_virtio_pci_device()` from `vmm/src/device_manager.rs` restoring the PCI segment, PCI b/d/f and PCI BAR address must be applied for both `VFIO` and `vfio-user` devices. We need to identify if some factorization can happen, meaning this logic could be pushed down to a PCI generic

[2022-04-06 14:17] sboeuf commented on #3494
@rbradford have you seen this one happening recently? I'm asking because I don't think I did, meaning we should simply close this issue.

[2022-04-06 14:30] rbradford commented on #3494
I think the test is disabled so that's why its not appearing.

[2022-04-06 14:38] sboeuf commented on #3494
🤦🤦🤦 Sorry I didn't realize that...

[2022-04-06 15:39] sboeuf commented on #3023
Before we move on with the implementation of the migration support for `vfio-user`, let's wait for a few weeks. This will allow the new VFIO migration API to land upstream (nothing's ever sure until `v5.18` is released). Let's also give some time to the `vfio-user` side of things to be updated and tested before we spend some time on it.
This will give us some time to take care of the things we're

[2022-04-07 10:47] rbradford opened #3949 "Add live migration/live upgrade compatibility test"
Boot a VM with the last released stable binary and then migrate it to the version under test. This will help us work towards supporting live upgrades between major releases.

This might need to be multiple tests in order to fully exercise all the functionality.

[2022-04-07 12:06] weltling commented on #3926
@rbradford thanks for going through this. I'd then start writing based on this discussion to have some release definition.

One question yet - for the current release cadence, it looks like there would be a major release every ~6 weeks, but i couldn't tell the cadence for point releases. Could you please clarify with regard to the current procedure?

Thanks

[2022-04-07 12:58] Lxiaoyouling opened #3950 "Why use unix domain sockets？"
Hello,

In live migration, I notice that cloud-hypervisor communicates through Unix Domain sockets, which is inconvenient for two host machines to communicate. I wonder why use unix domain sockets?

Looking forward to your reply!

[2022-04-07 18:26] likebreath commented on #3949
For the existing integration tests, they are all testing live-migration between the same CH version, covering NUMA, vhost-user (OVS-DPDK), and local-migration. Do you think it would be enough to have a similar set of compatibility tests? Anything more you  would like to cover?

[2022-04-08 11:13] rbradford commented on #3926
Great question. Currently there is no fixed cadence for point releases and they've been made when a critical bug has been fixed in the main branch and the patch backported. I would like to formalise it more.

[2022-04-09 02:46] bobooscar commented on #3212
what does "cloud oriented workload" mean please? why does that workload need no display? thanks!

[2022-04-09 03:21] bobooscar opened #3959 "what does "cloud workload" mean?"
I'm wondering what does "cloud workload" mean here, does it mean "workloads in the guest that runs on public cloud, but not private cloud",  and , the guest OS is not built by the tenant by the cloud provider? so, the cloud provider could just provide any kind of network, disk, cpu, memory for tenants, that meets their requirement, and ,  as the tenants do not care what kind of network/disk, they

[2022-04-11 09:08] rbradford opened #3962 "Relax Rust toolchain version after v23.0"
Once the v23.0 release is made and Rust v1.60 is released to stable we can revert the change in #3961.

[2022-04-12 05:51] likebreath commented on #3023
Besides the support of restoring PCI devices (e.g. region ranges, interrupts, etc.) being tracked [here](https://github.com/cloud-hypervisor/cloud-hypervisor/issues/2251#issuecomment-1090323607), here is a list of the required changes that are vfio-user specific (details from my [drafting commit](https://github.com/likebreath/cloud-hypervisor/commit/9c50287f5f2b55f7669dac701455eb1feb317653)):

###

[2022-04-12 09:14] rbradford opened #3968 "Deprecate mergable option from virtio-pmem"
This sets `MADV_MERGEABLE`` but this would never work as the `madvise` man page says "KSM merges only private anonymous pages". Since with virtio-pmem the memory is backed by a file it is not anonymous.

[2022-04-13 05:30] michael2012z commented on #3941
Update so far:
- After a bugfix in `virtio-iommu` GVA<-> GPA translation with https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3936/files , the test case for `IOMMU + ACPI` on AArch64 failed.
- The problem can be easily reproduced by appending `,iommu=on` in `--disk` parameter while booting from EDK2.
- A crash happened when EDK2 was booting. A GVA->GPA translation was called, but at the

[2022-04-13 10:13] sboeuf commented on #3023
@likebreath thanks for summarizing this. I've commented directly on your drafting commit since it was more convenient.
Overall looks good, but you must update your comments about the way we're gonna perform `state()`, `set_state()` and `transit_device_state()` as they will follow the updated spec here: https://github.com/tmakatos/muser/blob/migration-v2/docs/vfio-user.rst

[2022-04-13 20:21] likebreath commented on #3023
@sboeuf Thank you for the detailed comments. I will update the draft and my comments above based on the updated spec.

[2022-04-14 10:45] liuw opened #3980 "GDB support on ARM64 KVM"
The support for x86_64 was merged some time ago. There is a `Debuggable` trait. It is only implemented for x86_64.

My first thought on this is there is no functional `translate_gva` call on ARM64. I'm not sure if it should be implemented in kernel or in CH. Implementing a page walker is error-prone. Doing it in kernel benefits not just Cloud Hypervisor but other projects too. On the other hand, i

[2022-04-14 12:57] yangxile commented on #3980
CC @jongwu

[2022-04-17 03:38] michael2012z commented on #3941
I tested the same scenario (booting a guest with `virtio-iommu` from UEFI) on x86 with `rust-hypervisor-firmware` and on qemu (AArch64). The error was same in all the tests.

Cloud Hypervisor with `rust-hypervisor-firmware` on X86:
Same error was produced:
[code]

Qemu with `virtio-iommu-pci` on AArch64 complained the same thing and stopped:
[code]

Seemingly this is an invalid test scenario. Beca

[2022-04-18 03:51] michael2012z commented on #3941
There is a comment in Qemu about this:
[code]
It seems a restriction in kernel. So `virtio-iommu` + `firmware` + `AArch64` should be impossible.

[2022-04-18 06:14] michael2012z commented on #3941
Ah, there is more finding.

According to @jongwu 's test, `FW` + `virtio-iommu` on AArch64 seems possible on recent qemu. Will look into how it works.

[2022-04-19 04:44] likebreath commented on #3023
@sboeuf Just pushed a [new commit](https://github.com/likebreath/cloud-hypervisor/commit/4b6c61a4e8c850989da40de108c3cb2aff3dde1d) to the same [drafting branch](https://github.com/likebreath/cloud-hypervisor/commits/0411/draft_vfio_user_live_migration). Any additional comments if you have, please let me know.

With the dedicate APIs for reading/writing migration data from the updated v2 spec, the

[2022-04-19 06:04] michael2012z commented on #3941
A potential solution could be: bypass the GVA translation under some carefully-selected condition in `virtio-iommu`.
The condition can be: "Not any endpoint attached". This should happen while booting from FW.

@sboeuf What's your idea?

Here is a reference of how the same problem resolved in qemu: https://github.com/qemu/qemu/commit/448179e33ea850acaf4bd3c2410acc911080e40b

[2022-04-19 07:38] sboeuf opened #3987 "virtio-iommu: Implement bypass mode"
Assess how we could implement bypass mode in order to support virtio-iommu along with a firmware that doesn't have a virtio-iommu driver.
Look for `VIRTIO_IOMMU_F_BYPASS_CONFIG` in the virtio spec.

[2022-04-19 07:40] sboeuf commented on #3941
@michael2012z thanks for doing these investigations. I clearly understand the problem, and I think we might want to implement the `VIRTIO_IOMMU_F_BYPASS_CONFIG` feature as it would let us handle this situation (where the software doesn't have the driver to configure the `virtio-iommu`).
I don't want to introduce an extra parameter for the end user to play with the bypass feature, but we can use it

[2022-04-19 08:11] michael2012z commented on #3941
Sure, supporting `VIRTIO_IOMMU_F_BYPASS_CONFIG` is good. With it, we can resolve this issue in a more reasonable way.

[2022-04-20 12:53] rbradford opened #3995 "Prepare for supporting live upgrade across versions"
- [ ] Manually check data structures for migration are sufficient and flexible enough
- [x] Add integration test for testing upgrade across versions (#3949)

[2022-04-20 13:46] rbradford opened #3996 "Remove AMX feature gate"
Looks like the KVM AMX patches are merged in the upstream Linux tree so I think we can remove the feature gate. @bryteise WDYT?

[2022-04-20 14:03] sboeuf opened #3997 "Implement Snapshot for VfioCommon"
Independently of how the VFIO migration API look like, some things can be tackled first:
- [x] The logic present in `add_virtio_pci_device()` from `vmm/src/device_manager.rs` restoring the PCI segment, PCI b/d/f and PCI BAR address must be applied for both `VFIO` and `vfio-user` devices. We need to identify if some factorization can happen, meaning this logic could be pushed down to a PCI generic

[2022-04-21 03:36] dengxuehua opened #4001 "ch-socket resize --memory hangs when vm running with --memory hotplug_method=virtio-mem"
**Describe the bug**
The ch-socket hangs on executing resize --memory if vm using --memory hotplug_method=`virtio-mem`.

**To Reproduce**
Launch a VM with focal (Ubuntu 20.04) cloud image (l[ink](https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64.img)) , hypervisor-fw and --memory hotplug_method=virtio-mem.
Run command line  `./ch-remote --api-socket=/tmp/ch-socket resize --

[2022-04-21 06:48] syncopsta opened #4002 "Manipulating SMBIOS system-serial-number"
I would find it useful if you could change the system-serial-number via cloud-hypervisor.
The QEMU equivalent is the option `-smbios type=1,serial= `

Especially for the use of cloud-init could it be handy, so that an external meta-data service can be requested.

List with the mappings: https://gist.github.com/smoser/290f74c256c89cb3f3bd434a27b9f64c
Information about the Cloud-Init NoCloud-Net Dat

[2022-04-21 07:34] sboeuf commented on #4001
Well I think the reason it doesn't work for you is because you're using a guest kernel that's too old. virtio-mem support has been introduced in Linux 5.8, therefore it's not part of the guest you're running in your test.

[2022-04-21 07:43] sboeuf commented on #4002
@rbradford what do you think? We could use the platform option to add an extra parameter like this.

[2022-04-21 08:44] rbradford commented on #4002
Yes, adding it to `--platform` would be appropriate and the cloud-init use case seems reasonable.

[2022-04-21 09:00] dengxuehua commented on #4001
@sboeuf Thanks for your answer.

[2022-04-21 09:00] #4001 closed

[2022-04-21 15:17] sboeuf commented on #4002
@syncopsta we've merged the support for it. Please have a try using the latest `main` branch from Cloud Hypervisor.

[2022-04-25 19:46] iggy commented on #4002
If you ever want to expand the supported smbios fields, I found this useful table.

https://gist.github.com/smoser/290f74c256c89cb3f3bd434a27b9f64c

[2022-04-26 09:29] rbradford opened #4016 "Logic for enabling virtio-iommu is in the wrong place"
The logic for automatically enabling virtio-iommu is in the incorrect location. It is done as part of `VmConfig::parse` (https://github.com/cloud-hypervisor/cloud-hypervisor/blob/cb03540ffdd38d88d4430ad71885fa7d2f1ded77/vmm/src/config.rs#L2496) which is only applied to command line parsing. If the user uses the JSON API to create a VM they should also get automatic `virtio-iomm` enabling.

[2022-04-26 11:07] #3941 closed

[2022-04-26 11:07] #3987 closed

[2022-04-26 11:27] #4016 closed

[2022-04-26 16:18] likebreath opened #4018 "Support Sparse Regions for VFIO User (`VFIO_REGION_INFO_CAP_SPARSE_MMAP` capability)"
Quote from VFIO User Spec:

For the devices with sparse regions, ignoring the `VFIO_REGION_INFO_CAP_SPARSE_MMAP` capability and mapping the whole region with `VFIO_REGION_INFO_FLAG_MMAP` would make the device not functional (e.g. SPDK/NVMe device) no matter whether `ioeventfd` is used.

[2022-04-29 08:32] sboeuf opened #4024 "Ensure identifiers are unique"
There are two issues:
- When creating a VM with two devices with the same identifiers, the VM generates the error `AlreadyInUsePciDeviceSlot` which is a side effect of the fact we accepted two devices with non unique IDs.
- When hotplugging a device to a running VM, if the new device doesn't have a unique ID, we end up getting the following error `AlreadyInUsePciDeviceSlot`. Again, this is a side

[2022-04-29 10:23] xyz-li opened #4026 "cloud-hypervisor delete the file api-socket"
**Describe the bug**
Run command `cloud-hypervisor --api-socket /tmp/ch.sock`,  then run the command `cloud-hypervisor --api-socket /tmp/ch.sock` again. The second instance deletes the file `/tmp/ch.sock` blindly and we could not connect to the first instance now.
Is this a bug or does it work as designed?

**To Reproduce**
Run command `cloud-hypervisor --api-socket /tmp/ch.sock` twice.

[2022-04-29 10:28] rbradford commented on #4026
It's intentional that we cleanup files that we created. However it does sound like a bug if the cleanup is happening in the second process. It should just fail to start if the address is already in use.

[2022-04-29 17:40] #4026 closed

[2022-05-02 11:26] #4024 closed

[2022-05-02 12:25] sboeuf opened #4038 "vmm: Wait for completion of PCI device removal"
A race condition can happen if trying to unplug a device and plug a new device with the same identifier right after. This is due to the behavior of the `remove-device` request, as it's not waiting for the removal to be fully complete.
We must introduce a synchronization mechanism to avoid this behavior and prevent that kind of issue from happening.

Based on the feedback from @fidencio [here](http

[2022-05-02 21:50] rbradford commented on #4038
Sounds like you need to check identifiers in both the config and the `DeviceTree` to check that the same name isn't being used in a device that is removed from the config but that is still present and active because the guest hasn't yet done an eject or never will.

[2022-05-03 07:33] sboeuf commented on #4038
Yes I agree we can reinforce the check for the device identifier being unique, which will result in a more appropriate error for Kata Containers. But in the end, it's only with the `event-monitor` that this can be solved.

[2022-05-03 08:51] rbradford opened #4052 "Unable to add device with same id as once recently removed"
For the record, the way to reproduce the issue identified by @fidencio on Kata Containers is by running a VM, then add a disk with ch-remote:
[code]
and then perform an unplug directly followed by a new hotplug:
[code]
which result in the following error message:
[code]

Regarding the deadlock that can be introduced with this approach, I agree using the `event-monitor` is the best alternative as i

[2022-05-03 08:59] rbradford commented on #4052
Maybe I misunderstood. It looks like there are already sufficient device checks. (I tested with `acpi=off` as a proxy for avoiding having to race myself.)

It's good that we're successfully generating an error and the correct fix is for the user (in this case KC) to listen to the event (that needs to be added) when the device has been ejected.

[2022-05-03 08:59] #4052 closed

[2022-05-03 11:18] rbradford opened #4054 "Use `--event-monitor` in integration tests"
Use this to check when the VMM has completed asynchronous tasks e.g. the guest has completed the removal of a device.

[2022-05-03 16:05] #3146 closed

[2022-05-03 17:34] #3727 closed

[2022-05-04 11:53] #4018 closed

[2022-05-05 23:11] likebreath opened #4068 "Potential mmap leaks for vfio and vfio-user"
We can return prematurely from `map_mmio_regions()` (e.g. when a mmap call
failed for vfio or `create_user_memory_region()` failed for vfio-user)
without updating the `MmioRegion::user_memory_regions` with the
information of previous successful mmaps, which in turn would cause mmap
leaks particularly for the case of hotplug where the 'vmm' thread will
keep running.

Details from: https://github.co

[2022-05-06 01:16] lisalala opened #4070 "error when trigger kdump in qcow2 image"
in vm, trigger kdump by: echo c > /proc/sysrq/trigger
vm hang-task and got a log :cloud-hypervisor: 38.559998964s: <_disk0_q0> ERROR:virtio-devices/src/block.rs:288 -- Failed to process queue (submit): RequestExecuting(AsyncRead(ReadVectored(Os { code: 95, kind: Other, message: "Operation not supported" })))

when 'echo c' as above, callstack like this:

[code]

code:
[code]

**at the moment, self

[2022-05-06 06:57] #4068 closed

[2022-05-09 06:35] sboeuf commented on #3926
I agree it's a good place to start our first LTS. Especially since we shouldn't have any other deprecation in the pipe. And we got to start somewhere and try in order to assess if the LTS format we've described is viable.

[2022-05-09 10:49] liuw commented on #3926
+1

[2022-05-09 19:13] likebreath commented on #3926
I wonder what's the plan for supporting live-upgrade across different versions? Are we looking at across two stable releases or even across two LTS releases?

[2022-05-09 22:26] liuw opened #4079 "Unified binary for all hypervisors"
I want to revisit the approach Cloud Hypervisor is built. At the moment only KVM or MSHV can be enabled at one time. I think that's a limiting factor for our use cases.

Is the any concern for supporting a unified binary?

I understand the desire to keep the binary small, but we can still put things under feature gates (`kvm` or `mshv` or whatever else may come in the future) to keep the binary sm

[2022-05-10 03:08] michael2012z commented on #3593
@russell-islam I realized that what you asked could be something different from what I answered (about the Level triggered IRQ seen in `/proc/interrupts`).

Do you mean the legacy IRQ with `resampling`? Please see the related commits in this closed PR (https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3878) if you are still interested in this.

[2022-05-10 07:29] rbradford commented on #4079
I support this approach. I tried to prototype this a some time back and ran into difficulties with types that were redefinitions internal structures leaking across the hypervisor crate boundary.

[2022-05-10 10:19] liuw commented on #4079
Thanks for your support. ;-)

I will try to cobble together a prototype when I have some free cycles.

CC @russell-islam @praveen-pk

[2022-05-11 10:09] liuw commented on #4079
I think leaking dependency details is a bad practice. It makes `hypervisor` hard to be used independently.

I have not written any code, but potentially we have two ways to provide wrapper types.

[code]

[code]

Conceptually, the first approach uses KVM's X as the base structure and other hypervisors should translate to it. The second approach defines our own structure (although in practice it is

[2022-05-11 10:18] rbradford commented on #4079
I looked into this to. And I think that there are two approaches for two different situations.

1. In the case where we need to actually use the contents e.g. `StandardRegisters` outside the crate I think it makes sense to define our own struct that is hypervisor independent and then convert inside the hypervisor crate to the hypervisor specific version
2. For something where the contents are not

[2022-05-11 19:51] liuw commented on #4079
Aarch64 is using `kvm_bindings` outside of the `hypervisor` crate. Any opinions on if that needs changing? @michael2012z

[2022-05-12 02:06] michael2012z commented on #4079
Indeed `arch/src/aarch64` uses a lot of reexported things from `hypervisor`. I am happy to refactor it to align with other parts.

And to support more hypervisors in future, it's better to make `aarch64` independent from concrete hypervisor.

[2022-05-12 15:05] liuw commented on #4079
For Aarch64, `gicv3.rs` and `gicv3_its` code is enclosed in a `kvm` module. Perhaps it can be moved wholesale under `hypervisor`.

`dist_attr_access` in `dist_regs.rs` is not gated. I don't know what sort of abstraction inside `hypervisor` is right for it.

[2022-05-15 06:08] michael2012z commented on #4079
I am considering a way to refactor:

- Define a new trait `Gic` or `HypervisorGic` in `hypervisor/src/arch/aarch64`, which serves as the hypervisor-agnostic GIC interface. `HypervisorGic` is exported form `hypervisor` (mainly to `arch/src/aarch64/`).
- Move the kvm specific code in `arch/src/aarch64/gic/` to `hypervisor/src/kvm/aarch64/gic`. For example `KvmGicV3` will be here, and it implements `

[2022-05-15 14:51] liuw commented on #4079
Sounds good to me.

[2022-05-16 08:39] fengye87 opened #4096 "Instructions to build custom kernel modules?"
[Here](https://github.com/cloud-hypervisor/cloud-hypervisor#building-your-kernel) in the README doc, we can find detailed instructions about how to build custom kernel to use in direct kernel boot. However, it won't build corresponding kernel modules, which are required (in the rootfs image) if we would depend on any kernel module in the booted VM. Adding instructions about how to further build ke

[2022-05-16 09:07] sboeuf commented on #4096
@fengye87 good point. Do you think you can take care of it?

[2022-05-16 09:23] rbradford commented on #4096
This isn't necessary. Our kernel has nothing compiled as modules:

[code]

[2022-05-16 09:43] fengye87 commented on #4096
@rbradford I see. Then what's the recommended way to add additional kernel modules to the VM? By 1) adding them in the config and compile it into kernel, or 2) adding them as modules? FYI, the additional kernel modules I'm talking about here is ISO9660_FS and BRIDGE_NETFILTER. I'm actually trying to boot a K8s node using direct kernel boot and cloud-init here.

@sboeuf As much as I want to, I'm st

[2022-05-16 09:58] rbradford commented on #4096
@fengye87 Firstly for your use case have you considered Kata Containers? It already integrates between Cloud Hypervisor and k8s.

The kernel we provide is a reference (principally for testing). If you need extra functionality you can copy it and and modify it to your needs. I would recommend you build that functionality in as keeping modules in sync will be quite tedious.

[2022-05-16 10:48] fengye87 commented on #4096
@rbradford Kata Containers doesn't quite fit our use case, we want to run on any canonical K8s clusters.

I'll try including these modules in my kernel builds then, thank you for your advice.

[2022-05-16 12:33] liuw commented on #4079
On our side Dev Rajput @thesantatitan is going to look into this in the next 8 weeks. He is an intern who just started today.

Jinank @jinankjain will help him out.

[2022-05-16 12:40] michael2012z commented on #4079
I am going to begin the aarch64 part from next week. Let's keep communicating. :)

[2022-05-17 01:46] michael2012z opened #4103 "AArch64 CI stuck occasionally"
AArch64 CI may stuck occasionally.

When checking `docker ps`, some zombie integration works were seen.

This problem was seen before, but disappeared for months since updating to host kernel v5.16.

However the issue came back a week ago:

[code]

[2022-05-17 07:55] #4054 closed

[2022-05-17 23:05] sdake opened #4113 "Add CODEOWNERS files to the repository"
**Describe the bug**
Reviewers appear to have to be manually assigned in a review. This is fine for folks within the cloud-hypervisor organization. For those externally, and maybe even those internally to this organization, for reviewers to be automatically assigned.

I have used [CODEOWNERS](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-r

[2022-05-19 17:32] sdake opened #4121 "Open to the idea of a features list?"
Hi Gang,

First off, cloud-hypervisor is pretty awesome. Like many open source projects, the documentation could use a bit of a tuneup. The biggest impact feature I can think of that would help people get moving is, strangely, a feature list.

As my first foray into producing a useful contribution to this project, I'd like to do this basic feature list. I assembled this feature list for Istio: htt

[2022-05-19 19:04] iggy commented on #4121
Looks like a good addition. I'd personally put the definitions below the actual list, but I can see it both ways

[2022-05-19 19:25] sdake commented on #4121
@iggy right. When I did the original work, there were only a few definitions. Now there are like 20 :) - I think we could start smaller, and tune to our liking.

Cheers,
-steve

[2022-05-19 19:47] rbradford commented on #4121
@sdake Sounds good. Looking forward to your contribution!

[2022-05-23 14:52] fidencio commented on #3713
Differently than what I thought, we never ended up hitting this one.

So, let me close it.

[2022-05-23 16:35] #4096 closed

[2022-05-23 16:35] #2958 closed

[2022-05-23 16:36] #1125 closed

[2022-05-23 17:59] sdake commented on #4121
Hi @rbradford - I will be getting on this today and have a preliminary PR for review. today or tmr Thanks again for supporting this work as a reviewer. I know it may appear to be low value work. Believe me when I say it is super high value and helps steer people in the right direction on an evaluation of the projectr.

Cheers,
-steve

[2022-05-23 18:30] sdake commented on #3926
In order to have a precise definition of support *guarantees*, a list of `APIs` and their associated features must be produced. As part of the feature list, stealing from the cloud-native ecosystem for the cloud-hypervisor :), I participated n the development of this release and support model for  [Istio](https://istio.io) and think it can work pretty well, with the proper test and release (or jus

[2022-05-23 18:39] sdake commented on #4121
@weltling Would you be adversely affected if I worked to lift the unstable features and better define the stability guarantees from a few parts excellent release document in PR #3957.

I don't want to duplicate work, although I do want to formalize the feature list in this issue and precisely define the feature maturity as part of that list. I plan to do this as three PRs that can independently re

[2022-05-23 19:34] sdake opened #4132 "Open to unifying the limits documentation and precisely define the limits?"
**Describe the enhancement**
Is there interest in the following proposal? As part of defining the features by reading the source code in #4121 , I found a whole bunch of work in recording the defaults and limits. I am not sure this is well recorded already. If it is, PLMK.

Additioanlly I would sign myself up for the work. I do not know the syntax of Rust. I want to not only learn syntax, but the

[2022-05-23 19:54] sdake commented on #4121
I am not big on technical writing, but it must be done to learn the codebase and the project, so thank you in advance for tolerating my sub-par technical writing expertise.

As to not cross streams with the LTS proposal, here is the initial very very basic strawman proposal. I will produce a PR of this work as a starting point for review. I will call this file `docs/feature-states.md`. This file m

[2022-05-24 09:05] sboeuf opened #4136 "Live migration tests are flaky"
Even after the commit `f160572f9deed7735bb249c6a734c915e9bce432` (`virtio-devices, vmm: Optimised async virtio device activation`) has been reverted, we keep seeing some CI failures on different builds (PR and main). The failures are the following:
[code]

And here is one of the failure:
[code]

[2022-05-24 11:35] rbradford commented on #4121
@sdake You should also look at https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/docs/device_model.md for more inspiration (it's somewhat out of date though.)

[2022-05-24 12:56] rbradford commented on #3926
@sdake Cool, thanks for sharing your ideas.

[2022-05-24 14:38] sdake commented on #4121
@rbradford,

Thank you. I have read and read the docs directory as well as reading the src code, especially config.rs, I have plenty of notes, and working on organizing them into a PR, definitely today.

One thing that is undocumented, and I am not sure if it is intentional or not, are the perf and scale expected behaviors. I would have liked to see the performance (memory, CPU, network) with vhos

[2022-05-25 09:01] rbradford commented on #4121
@sdake The performance you get with vhost-user-net is highly dependent on how you configure that backend you talk to with it. DPDK is the most common one and has a huge number of options for configuring it including using userspace drivers for the network interface. As the VMM we don't really provide recommendations on how the customer can use the code.

[2022-05-25 11:49] sdake commented on #4121
@rbradford thanks, I will not add scale and perf to the feature list. Also thank you for the keyword `backend` - [so obvious](https://qemu.readthedocs.io/en/latest/interop/vhost-user.html#front-end-message-types). Still, and forever, learning.

Cheers,
-steve

[2022-05-26 12:24] rbradford opened #4148 "Bypass Jenkins on fuzz/Cargo.toml changes"
We already bypass Jenkins for PRs that exclusively change .md files. In order to conserve resources we should do the same with commits that only change the `Cargo.toml` file in the fuzz directory.

[2022-05-27 07:47] #3889 closed

[2022-05-28 18:40] weltling commented on #4121
@sdake thanks for looking into this effort. Yes, a reified commitment to stability was  one of the goals in the release doc discussion. With regard to the features also - connecting feature stability to the release cycle would be a promise definition to be given to the consumer.

With the table listing the stage terminology of dev, alpha, beta and so on - i would know it more related to the releas

[2022-05-29 18:22] eKKiM1 commented on #2343
Any progress on this issue?

Are (live) migrations supported with vTPM?

[2022-06-06 08:41] jinankjain commented on #4079
@MrXinWang I think this issue is wrongly closed. Could you please reopen it?

[2022-06-06 08:43] MrXinWang commented on #4079
@jinankjain Oh I guess when I merge the https://github.com/cloud-hypervisor/cloud-hypervisor/pull/4162, the "Partially fixes https://github.com/cloud-hypervisor/cloud-hypervisor/issues/4079 ." incorrectly closed this issue...

[2022-06-06 10:33] rbradford commented on #4079
Use "See: #<>" which won't trigger a close.

[2022-06-06 12:37] a74731248 opened #4170 "Why does the xcr0_mask's bit 15 is 1?"
The bit 15 in xfam if for CPUID(0xD, 0x1).ECX[15] in [this manu](https://www.intel.com/content/dam/develop/external/us/en/documents/intel-tdx-module-1.5-base-spec-348549001.pdf), that's mean this bit is for IA32_XSS MSR. I don't understand why this bit is 1 in xcr0_mask？
[code]

[2022-06-07 08:33] rbradford commented on #3213
Fixed by #4012

[2022-06-07 08:33] #3213 closed, assigned to nobody

[2022-06-10 14:21] sboeuf commented on #3023
Hi @tmakatos, I'm curious what's the status on the adoption of VFIO migration API v2 in vfio-user? I'm just trying to understand how far you are from merging the code on the spec side of things, so that we can plan on our side as well.

[2022-06-15 10:17] tmakatos commented on #3023
@sboeuf we haven't been working on this lately, will probably pick it up again sometime in the next few weeks, I'll keep you in the loop.

[2022-06-15 12:54] sboeuf commented on #3023
Sounds good, thanks for the update :+1:

[2022-06-15 13:45] sboeuf opened #4201 "Assess integration with KubeVirt"
After some research, here is a quick plan on how Cloud Hypervisor could be integrated with KubeVirt. This will be a prototype to prove it's feasible.

The right abstraction layer seems to be the `virt-launcher`, as it is spawned for each VM to be created. There are some good things from the __libvirt__ implementation that can be reused in order to avoid rewriting everything from scratch. In partic

[2022-06-16 08:58] yuchen-sun commented on #4201
👍
We are always looking for opportunities to add CH support to our Kubevirt cluster. We think CH is more presentational and better suited to our application.

[2022-06-16 09:37] sboeuf commented on #4201
Glad to hear that!

[2022-06-16 10:29] #1295 closed

[2022-06-16 13:54] sdake commented on #4201
@sboeuf qubevirt is one solution, however, I feel that we need a broader solution for managing a node with a boatload of `chv` running. The fundamental technical problem with qubevirt is that when Kubernetes runs on bare metal, and the bare metal has, for example, 2 terabytes of memory, Kubernetes has a published limit of 8 bits worth of pods (110 pods). And Kubernetes works much better with 5 bit

[2022-06-17 03:31] orangehaswing commented on #1729
qemu result：
29300kB -- [/home/sebastien/git_projects/virtio-fs/linux/vmlinux]
This is the memory of the kernel bin, should this part of memory be removed from the entire QEMU memory footprint?

[2022-06-17 07:21] sboeuf commented on #1729
Yes you're right, this shouldn't be part of the total overhead since this isn't related to QEMU. Meaning the total overhead is somewhere around `30MiB`.

[2022-06-17 07:46] sboeuf commented on #4201
Interesting feedback, very valuable. Have you been able to identify what's making k8s "implode" in such situation? Kubernetes is a big open source project and when used out of the box I don't think it meets production standards. A lot of companies rely on their engineers to overcome that kind of limitations, and they don't necessarily take the time to contribute back to the upstream k8s project.

[2022-06-17 14:12] rbradford opened #4210 "test_api_delete flaky"
This test is flaky.

[2022-06-17 16:03] rbradford commented on #4210
Should be resolved by #4211 as the direct kernel boot is much faster than using the hypervisor-fw.

[2022-06-17 16:03] #4210 closed

[2022-06-19 01:54] michael2012z commented on #3980
Another gap is in `gdbstub` crate, where the support of AArch64 is still missing. But it seems a small gap, we only need to add the definition of core registers and implement the `Arch` trait.

[2022-06-19 02:04] michael2012z commented on #3980
@liuw Is anybody working on this issue now? Recently I began to look into this topic. If nobody is on this yet, I will continue to try.

[2022-06-19 10:11] liuw commented on #3980
No one is looking into this yet. The team is occupied by another project. Thanks for looking into it.

[2022-06-25 03:33] michael2012z commented on #3980
Here comes the list of gaps to fill (also a plan) to support GDB on Arm64:
- AArch64 support in `gdbstub_arch`: Add the core registers definition and implement `gdbstub::arch::Arch`
- `kvm-ioctls` bugfix: The `target_arch` name for AArch64 need to be corrected for function `set_guest_debug`
- Break Points: On AArch64 only software break points are supported. `KVM_GUESTDBG_USE_HW_BP` flag for API `

[2022-06-25 17:47] dbargatz opened #4240 "Confusing emoji in device model documentation"
In the [Summary table of the device model documentation](https://github.com/cloud-hypervisor/cloud-hypervisor/blob/main/docs/device_model.md#summary), the Negative Squared Cross Mark emoji (❎) indicates that a device _does not_ support build/runtime configuration, or _is not_ enabled by default. Unfortunately, [many platforms render the Negative Squared Cross Mark emoji as a white X with a green b

[2022-06-26 18:28] sdake opened #4242 "Hypervisor Monitor / Node Monitor design"
CHV's (desired, IMO) model, as many know, is as follows:
- generate hypervisor
- generate 1 or more storage backends
- generate 1 or more network backends
- potentially restore any CPU and memory state
- bind the hypervisor, storage, and networking backends, with any storage or CPU state into a unified thing.

These unified things, which I will call a virtual environment, need to be managed (creat

[2022-06-27 10:24] #4240 closed

[2022-06-27 14:09] rbradford commented on #4242
The term "virtual environment" is already used by https://docs.python.org/3/tutorial/venv.html so I don't think that it a good name.

[2022-06-27 16:53] sdake commented on #4242
I reused this term from Istio; served as an environmental workgroup lead. The word is fairly nebulous but in short it means, in the context of Istio, any environment where Istio could run.

Open to a different name; I think the term virtual machine is a little outdated and clunky. What chv really does is run workloads on portable environments that are virtual.

But as you have implied naming is ha

[2022-06-28 13:33] pomoke opened #4248 "No terminal reset/status restore after error"
**Describe the bug**
When a console is attached to current tty,but VM failed to start,the tty is not reseted properly and exhibits strange behaviours.

**To Reproduce**
Steps to reproduce the behaviour:
[code]

**Version**

Output of `cloud-hypervisor --version`:

[code]

Did you build from source, if so build command line (e.g. features):
[code]

**VM configuration**

What command line did you ru

[2022-06-28 15:05] rbradford commented on #4248
@pomoke Thank you for opening a bug. I have pushed a fix to #4249

[2022-06-28 15:45] #4248 closed

[2022-06-28 15:57] rbradford opened #4250 "Add support to ch-remote for creating VM from config"
### Discussed in https://github.com/cloud-hypervisor/cloud-hypervisor/discussions/4238

<div type='discussions-op-text'>

<sup>Originally posted by **scuzhanglei** June 23, 2022</sup>
Now CLI only suport Create and boot a complete virtual machine by using the CLI with separated args,  it would be nice to also support this by a vmConfig file instead of args.</div>

[2022-06-30 10:53] weltling opened #4257 "Packaging, distro support and QA for existing RPM spec"
I'd like to suggest and discuss a possible process to handle the distro availability and accompanying topics concerning the RPM spec. Last time, when I went to contribute support for several things in the existing RPM spec, it turned out the spec is not actually used for builds by the cloud-hypervisor org. There was also a suggestion to possibly exclude the spec into a separate repository.

Some e

[2022-06-30 10:55] weltling commented on #4257
/cc @fidencio.

Thanks

[2022-06-30 13:45] rbradford commented on #4257
Seems like a great plan to me. I can create you a repository under the `cloud-hypervisor` organisation.

[2022-06-30 20:29] #4250 closed

[2022-06-30 21:19] weltling commented on #4257
Thanks for the check, Robert. Would it perhaps make sense to register Cloud Hypervisor to OBS? Then the package repository URLs would look like

<pre>
https://download.opensuse.org/repositories/home:/<b>cloud-hypervisor</b>/openSUSE_Tumbleweed/
</pre>

As that would be the only home project and the official location. Right now it's a subproject under my account there, thus the corresponding URL se

[2022-07-01 18:28] rbradford opened #4269 "cloud-hypervisor before VM is booted doesn't respond to SIGTERM/SIGINT"
This means it isn't easy to exit before the VM is booted. This can be easily seen by running the binary with only `--api-socket` and sending `SIGTERM` or `SIGINT`

[2022-07-02 07:07] rbradford commented on #4257
Yes, sounds good to me!

[2022-07-04 08:42] rbradford opened #4273 "Boot time regression on 5.18.8 ~80%"
With the switch to 5.18.8 boot time regressed by 83%.

[2022-07-05 10:57] rbradford commented on #4257
@weltling Good work. Let me know if you need me to take any action.

[2022-07-06 05:16] maydaycc opened #4285 "VM can't boot from spdk bdevs"
**Describe the bug**
I tried to start a VM from spdk bdev with rust-hypervisor-firmware, but the firmware reports can't find EFI partition.
This seems to be caused by the spdk vhost backend not knowing the correct queue length.
After modify the setup_vhost_user func as below，the bootloader can be executed successfully, but spdk vhost will crash after receive "VHOST_USER_RESET_OWNER" message.

[cod

[2022-07-06 09:56] liuw commented on #4285
The Windows image needs to have VirtIO drivers baked in. Stock Windows does not ship VirtIO drivers.

[2022-07-06 10:05] maydaycc commented on #4285
I'm sure the Windows image has virtio driver, I can boot it using--disk path_to_image_file.

[2022-07-06 12:53] sboeuf commented on #4285
@maydaycc I think I fixed your issue with the following PR: https://github.com/cloud-hypervisor/cloud-hypervisor/pull/4286
Please confirm it works on your side.

[2022-07-06 13:01] sboeuf commented on #4285
Just posting the list of commands I had to run in order to create a SPDK backend backed by a RAW image called `jammy-server-cloudimg.raw` on my system:
[code]
And here is the Cloud Hypervisor command I used to boot from this backend with the Rust Hypervisor Firmware:
[code]

[2022-07-07 09:07] maydaycc commented on #4285
@sboeuf

If I use hypervisor-fw boot Windows VM I will meet bluescreen problem and if I use CLOUDHV.fd  vring will stuck in disabled status until I killed  the cloud-hypervisor。

[2022-07-07 09:27] maydaycc commented on #4285
It seems that the image file is corrupt.

[2022-07-07 16:29] maydaycc commented on #4285
![spdk bdev](https://user-images.githubusercontent.com/26605513/177823917-b7543955-24fc-4d72-b14e-a1a6400faa6d.png)
@sboeuf @rbradford @liuw

[2022-07-07 16:47] liuw commented on #4285
Does this only happen on Windows?

[2022-07-08 10:46] maydaycc commented on #4285
QEMU is a little different. It can pass the MD5 verification test, but each time the NTFS file system is formatted, different free space can be obtained. For example, 100GB disk may only have 30GB free space for the first format, and 60GB for the second format.

[2022-07-08 11:03] maydaycc commented on #4285
![qemu-spdk](https://user-images.githubusercontent.com/26605513/177980136-77ca1e0d-40eb-421b-9542-057772f322c1.png)

[2022-07-08 11:04] maydaycc commented on #4285
![qemu-spdk-2](https://user-images.githubusercontent.com/26605513/177980346-97e7d743-622e-4b5f-ade6-8d9773cd72b6.png)

[2022-07-08 12:56] liuw commented on #4285
This is unfortunate. It seems that Windows QEMU is buggy in a different way.

I cannot say for sure if this is an issue in QEMU/CH or in the VirtIO driver for Windows. When I searched "windows guest spdk bdev disk", it showed me quite a issues. I'm no SPDK experts to discern if they are relevant.

At this point I think it requires hooking up debuggers to figure out what's wrong.

[2022-07-08 14:15] #4269 closed

[2022-07-08 15:45] rbradford commented on #4273
I identified the following kernel commit as one that impacts on the boot time (I see time to start init from 60ms to 100ms)

[code]

[2022-07-08 23:54] russell-islam commented on #3980
Seems like a good plan. Initially we could focus minimal implementation and we could improve gradually.

[2022-07-10 00:38] michael2012z commented on #3980
Thanks for reminding, I almost forgot to update the progress on this issue:
(I am working on prototype in my fork for this: https://github.com/michael2012z/cloud-hypervisor/tree/aarch64-gdb)
- **[Prototype ready]** AArch64 support in `gdbstub_arch`: Add the core registers definition and implement `gdbstub::arch::Arch`
- **[Upstreamed by @MrXinWang ]** `kvm-ioctls` bugfix: The `target_arch` name fo

[2022-07-11 06:12] bkircher commented on #4257
@weltling I could help with Fedora and possibly CentOS Stream. A cross-distribution spec file would be great.

For Fedora, I could start testing with a copr (https://copr.fedorainfracloud.org/) and when everything works start the review process to get it into the next Fedora release

[2022-07-12 11:16] weltling commented on #4257
Thanks, @bkircher, that's a great suggestion! I'll definitely ping you in this regard.

[2022-07-14 19:41] DennisHung opened #4314 "Unable to boot VM on ARM64 mounting filesystem through virtiofsd"
Hi – I am unable to boot a VM with Cloud-Hypervisor with the filesystem mounted by virtiofsd on an ARM64 device using EDK2 following the instructions at:

[cloud-hypervisor/arm64.md at main · cloud-hypervisor/cloud-hypervisor (github.com)](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fcloud-hypervisor%2Fcloud-hypervisor%2Fblob%2Fmain%2Fdocs%2Farm64.md&data=05%7C01%

[2022-07-14 23:38] liuw opened #4318 "Be more conservative in bumping MSRV"
MSRV was recently bumped from 1.56 to 1.60 due to `pnet`, but `pnet` is only a dev dependency used in tests.

I suggest if that happens we should stick to a lower version of the crate so that we don't have to bump MSRV. That seems to be a worthy cost to pay to ease the adoption of CH, because upgrading Rust toolchains in any production environment requires validation.

Thoughts?

CC @russell-islam

[2022-07-15 04:43] jinankjain commented on #4318
Shouldn't we be bit more proactive in testing Rust's latest stable versions? I mean this time it was test dependency but in future some major crate might decide to move to future stable versions. To make this process smooth may be we should start running the CI on latest stable version of Rust as well to catch the issues/regression in advance. And once have fair confidence in a new stable version

[2022-07-15 08:13] liuw commented on #4318
Testing is another story. Upstream CI does update its Rust compiler quite often. There are even beta compiler tests.

This is orthogonal to what the MSRV should be. 1.62 should compiles code that works with 1.56 just fine.

[2022-07-15 08:42] jongwu commented on #4314
Hi @DennisHung -, Good catch. I'm trying to debug this issue and will give some update later.

[2022-07-15 09:20] liuw opened #4319 "Passing data blob via SMBIOS type 11 OEM string"
Lennart (of systemd fame) reached out and told me about a scheme the systemd folks have been working on.

They have this concept of "credentials" in systemd http://systemd.io/CREDENTIALS/. They think that using SMBIOS type 11 OEM string to pass data to VM is superior to `fw_cfg` or other mechanisms (over the network, ephemeral disk, CD drive).

The systemd PR is here https://github.com/systemd/sys

[2022-07-15 10:03] rbradford commented on #4318
So in the dev-dependencies/pnet case I can see two paths forward to lowering the MSRV:

1. (My preference) remove the pnet dependency
2. Don't test the buildability of tests with MSRV - this seems like it would increase the complexity of our test matrix and let bad stuff in.

Long term, perhaps we could say that we try to limit MSRV bumps to once a year (perhaps when there is a new Rust edition ou

[2022-07-15 10:04] rbradford commented on #4319
@liuw There is some SMBIOS control through options on `--platform` so that would be the logical place I think.

[2022-07-15 10:30] liuw commented on #4318
I think 1 is also my preference.

I would avoid setting a fixed timeline for MSRV bump, rather, like you said, make it dependent on if there are features we want. Whatever bumps we do should be weighted carefully.

P.S. I've been waiting for async fn in trait to see what we can achieve with (at least partially) turn the I/O path into async -- this is a bold idea which warrants its own tracking iss

[2022-07-15 16:49] cryptoknight commented on #4319
Is this how QEMU secrets are passed?: https://www.qemu.org/docs/master/system/secrets.html

Having something analogous to that API would be nice.

[2022-07-15 17:07] liuw commented on #4319
I don't think so.

There are some examples in systemd's PR to show how it is used with QEMU.

[2022-07-15 23:19] DennisHung commented on #4314
@jongwu let me know if you have any findings or additional experiment you want me to try.

[2022-07-16 07:30] rbradford opened #4324 "test_vfio failing after Azure VM upgrade"
[code]

I think this is the same error that prevented us from moving to jammy: https://github.com/cloud-hypervisor/cloud-hypervisor/pull/4131